Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

💄 app: fix border radius tokens
  .changeset/strong-sloths-enjoy.md
  src/components/benefits/BenefitCard.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/card/CardDetails.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanActivity.tsx
  src/components/shared/Toast.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: surface lifi token errors
  .changeset/five-schools-go.md
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: scope bridge destinations to current chain
  .changeset/metal-suits-strive.md
  src/components/add-funds/Bridge.tsx
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: cache lifi tokens by chain in bridge sources
  .changeset/tame-gifts-float.md
  src/components/add-funds/Bridge.tsx
  src/components/shared/AssetLogo.tsx
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: refresh lifi balances after bridge
  .changeset/true-flies-battle.md
  src/components/add-funds/Bridge.tsx
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ server: install canonicalize
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement kyc data submiss
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/e2e.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add encrypted kyc submission
  cspell.json
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: update kyc status
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez

🦺 server: improve kyc application response validation
  server/api/kyc.ts
Owners: @nfmelendez

✨ server: improve nonce usage for encrypted kyc
  .changeset/cuddly-streets-like.md
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add role to organization database table
  .changeset/sharp-squids-push.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add kyc role to organizations
  .changeset/upset-seas-sink.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add kyc permissions requirement in organization guide
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

⚰️ server: drop kyc error in favor of service error
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @nfmelendez

🔒️ server: strip siwe from panda application
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @nfmelendez

🔥 server: drop header from encrypted kyc
  .changeset/calm-tigers-stop.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: use configured domain in kyc tests
  server/test/api/kyc.test.ts
Owners: @nfmelendez

🐛 server: allow separators in postal code
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @nfmelendez

🦺 server: enforce siwe domain on kyc application
  .changeset/sharp-hawks-guard.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @cruzdanilo, @nfmelendez

🚸 app: implement alchemy gas policy for bridge
  .changeset/polite-meteors-pump.md
  cspell.json
  src/components/add-funds/Bridge.tsx
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add benefits images
  .changeset/lemon-hornets-lie.md
  src/assets/images/airalo.webp
  src/assets/images/exa-logo.svg
  src/assets/images/exa-promo.svg
  src/assets/images/pax.webp
  src/assets/images/types.d.ts
  src/assets/images/visa.webp
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add 0% installments promo and redesign benefit cards
  .changeset/cool-badgers-yawn.md
  src/components/benefits/BenefitCard.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/home/CardStatus.tsx
  src/components/home/Home.tsx
  src/components/home/InstallmentsSheet.tsx
  src/components/home/PromoSheet.tsx
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/promo.ts
  src/utils/queryClient.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚑️ app: fix svg render on mobile
  .changeset/full-donuts-take.md
  src/components/benefits/BenefitsSection.tsx
  src/components/home/PromoSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚀 server: deploy new app version
  .changeset/huge-colts-hang.md
Owners: @cruzdanilo

🔖 release: server@0.2.94, mobile@1.2.9
  .changeset/full-donuts-take.md
  .changeset/huge-colts-hang.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🚸 app: filter unverified tokens from portfolio
  .changeset/fluffy-bobcats-rhyme.md
  src/components/add-funds/Bridge.tsx
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix bridge fee estimation
  .changeset/dark-yaks-care.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: batch fee token approval into bridge call
  .changeset/light-wings-trade.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚀 server: deploy new app version
  .changeset/huge-colts-hang.md
Owners: @cruzdanilo

🐛 server: fix multi-device passkey auth
  .changeset/brave-hounds-verify.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

⚰️ server: drop passkey counter plumbing
  server/api/auth/authentication.ts
  server/api/card.ts
  server/test/api/auth.test.ts
  server/test/api/card.test.ts
  server/utils/createCredential.ts
  server/utils/panda.ts
Owners: @nfmelendez

🗃️ server: drop passkey counter column
  .changeset/sharp-webs-eat.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: fix flaky panda setup
  server/test/hooks/panda.test.ts
Owners: @nfmelendez

⬆️ dependencies: upgrade vulnerable js-cookie
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔖 release: mobile@1.2.10, server@0.2.95
  .changeset/brave-hounds-verify.md
  .changeset/dark-yaks-care.md
  .changeset/fluffy-bobcats-rhyme.md
  .changeset/huge-colts-hang.md
  .changeset/light-wings-trade.md
  .changeset/sharp-webs-eat.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

⬆️ dependencies: upgrade vulnerable qs
  pnpm-lock.yaml
Owners: @cruzdanilo

🔊 server: log suspicious user
  .changeset/quiet-pandas-bark.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: inline card status
  server/utils/panda.ts
Owners: @nfmelendez

✨ server: return card id
  .changeset/wicked-lies-invent.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
