Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🔖 release: mobile@1.0.4, docs@0.1.0, server@0.1.8
  .changeset/afraid-papayas-heal.md
  .changeset/calm-dots-build.md
  .changeset/calm-lights-allow.md
  .changeset/calm-sloths-brush.md
  .changeset/cute-berries-smell.md
  .changeset/dark-bees-float.md
  .changeset/fifty-carrots-hammer.md
  .changeset/hip-bears-cry.md
  .changeset/loud-mammals-roll.md
  .changeset/silly-points-jump.md
  .changeset/tidy-shirts-rescue.md
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🔧 docs: make package private
  docs/package.json
Owners: @cruzdanilo

🔖 release: mobile@1.0.4, docs@0.1.0, server@0.1.8
  .changeset/afraid-papayas-heal.md
  .changeset/calm-dots-build.md
  .changeset/calm-lights-allow.md
  .changeset/calm-sloths-brush.md
  .changeset/cute-berries-smell.md
  .changeset/dark-bees-float.md
  .changeset/fifty-carrots-hammer.md
  .changeset/hip-bears-cry.md
  .changeset/loud-mammals-roll.md
  .changeset/silly-points-jump.md
  .changeset/tidy-shirts-rescue.md
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🦺 server: spec auth and validate responses
  .changeset/honest-taxes-open.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/passkey.ts
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove unnecessary authentication query
  server/api/auth/authentication.ts
  src/utils/server.ts
Owners: @nfmelendez, @dieguezguille, @franm91

📝 common: describe passkey metadata
  common/validation.ts
Owners: @cruzdanilo

🧱 docker: add app devtools argument
  Dockerfile
Owners: @cruzdanilo

🧱 docker: explicitly set environment arguments
  Dockerfile
Owners: @cruzdanilo

👷 github: pass app devtools argument
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

🥅 server: recover from missing sent transaction
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @nfmelendez

🐛 server: fix panda card name
  .changeset/chatty-nails-wonder.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: add proposal simulation hook
  .changeset/lovely-horses-dress.md
  src/utils/useSimulateProposal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: add rollover activity
  .changeset/free-boxes-doubt.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/anvil.ts
  server/test/api/activity.test.ts
  server/test/mocks/deployments.ts
  wagmi.config.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

♻️ server: filter repay caller locally
  server/api/activity.ts
Owners: @nfmelendez

✨ server: add liquidation activity
  .changeset/late-shoes-raise.md
  contracts/src/IExaAccount.sol
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/MockPriceFeed.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🔖 release: server@0.1.9
  .changeset/honest-taxes-open.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 docs: use default trailing slash setup
  .changeset/honest-badgers-drop.md
  docs/astro.config.ts
Owners: @cruzdanilo

📝 server: wrap all api validators with openapi
  server/api/activity.ts
  server/api/auth/authentication.ts
  server/api/card.ts
  server/api/kyc.ts
Owners: @nfmelendez

📝 server: organize and sort auth endpoints
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/index.ts
Owners: @nfmelendez

🦺 server: validate public key algorithm
  server/api/auth/registration.ts
Owners: @nfmelendez

📝 common: describe passkey metadata
  common/validation.ts
Owners: @cruzdanilo

📝 server: describe auth endpoints
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @nfmelendez

🚑 app: fix initial auth and re-auth
  .changeset/spicy-lemons-hug.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.0.5, server@0.1.9, docs@0.1.1
  .changeset/honest-badgers-drop.md
  .changeset/honest-taxes-open.md
  .changeset/spicy-lemons-hug.md
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🐛 app: fix upgrade condition for new accounts
  .changeset/true-humans-report.md
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 app: support bigint in query client hash function
  src/utils/queryClient.ts
Owners: @dieguezguille, @franm91

✨ app: add proposal simulation hook
  .changeset/lovely-horses-dress.md
  src/utils/useSimulateProposal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚑️ app: fix calculator input parsing
  .changeset/plenty-kiwis-help.md
  src/components/pay-mode/PaySelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: ignore simulation if account is not deployed
  src/utils/useSimulateProposal.ts
Owners: @dieguezguille, @franm91

🔨 wagmi: generate swapper address
  wagmi.config.ts
Owners: @cruzdanilo

♻️ app: use swapper from codegen
  src/components/pay-mode/Pay.tsx
  src/utils/lifi.ts
  src/utils/useSimulateProposal.ts
Owners: @dieguezguille, @franm91

🐛 app: fix animation props warning on web
  src/components/shared/AssetLogo.tsx
Owners: @dieguezguille, @franm91

💄 app: decrease preferred aspect ratio on web
  .changeset/fast-jars-wave.md
  src/app/+html.tsx
  src/utils/useAspectRatio.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚑 app: fix dynamic kyc template id
  .changeset/many-ears-bake.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: wait for card approval upon creation
  .changeset/open-trains-brush.md
  src/components/card/Card.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: improve activity amount display
  .changeset/grumpy-drinks-lose.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/CardActivity.tsx
  src/components/activity/details/PaymentDetails.tsx
  src/components/activity/details/PurchaseDetails.tsx
  src/components/shared/LatestActivity.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⬆️ dependencies: upgrade viem
  common/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ app: override block timestamp on proposal simulation
  .changeset/small-carpets-mix.md
  src/utils/useSimulateProposal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 server: fix old weth withdraws in the activity feed
  .changeset/nice-dodos-grab.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

🚧
  substreams/.cargo/config.toml
  substreams/.gitignore
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/abi/entrypoint.json
  substreams/abi/erc20.json
  substreams/buf.gen.yaml
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/rust-toolchain.toml
  substreams/rustfmt.toml
  substreams/src/abi/mod.rs
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
