Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

⬆️ dependencies: upgrade exactly protocol
  contracts/.gas-snapshot
  contracts/package.json
  contracts/remappings.txt
  contracts/test/mocks/Protocol.s.sol
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

🚀 contracts: deploy all contracts to base-sepolia
  contracts/.gas-snapshot
  contracts/broadcast/ExaPlugin.s.sol/84532/run-latest.json
  contracts/broadcast/ExaPreviewer.s.sol/84532/run-latest.json
  contracts/broadcast/IssuerChecker.s.sol/84532/run-latest.json
  contracts/broadcast/Mocks.s.sol/84532/run-latest.json
  contracts/broadcast/ProposalManager.s.sol/84532/run-latest.json
  contracts/broadcast/Refunder.s.sol/84532/run-latest.json
  contracts/deploy.json
Owners: @itofarina

🔧 common: setup alchemy for base-sepolia
  .changeset/light-otters-report.md
  common/alchemyAPIKey.ts
  common/alchemyGasPolicyId.ts
Owners: @cruzdanilo

🔧 server: setup alchemy for base networks
  .changeset/silent-walls-relax.md
  server/hooks/activity.ts
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: liquidate on multiple exchanges
  server/script/liquidator.ts
Owners: @nfmelendez

✨ app: implement lifi bridge
  .changeset/eager-parrots-make.md
  src/app/(main)/_layout.tsx
  src/app/(main)/add-funds/_layout.tsx
  src/app/(main)/add-funds/bridge.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AddCryptoButton.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/AddFundsOption.tsx
  src/components/add-funds/AssetSelectSheet.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/ChainLogo.tsx
  src/components/add-funds/TokenLogo.tsx
  src/components/home/HomeActions.tsx
  src/components/pay-mode/Pay.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/lifi.ts
  src/utils/wagmi/owner.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor send funds flow
  src/app/(main)/_layout.tsx
  src/app/(main)/send-funds/index.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Details.tsx
  src/components/send-funds/Qr.tsx
  src/components/send-funds/Receiver.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AmountSelector.tsx
  src/utils/queryClient.ts
Owners: @dieguezguille, @franm91

✨ app: enable send funds with qr code
  .changeset/spotty-spies-yawn.md
  src/components/send-funds/Receiver.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

👔 app: invert onboarding steps order
  .changeset/yummy-bobcats-send.md
  src/components/context/OnboardingProvider.tsx
  src/components/getting-started/GettingStarted.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor getting started state management
  src/app/_layout.tsx
  src/components/context/OnboardingProvider.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/utils/useOnboardingSteps.ts
Owners: @dieguezguille, @franm91

🩹 app: add missing enable condition for pending proposals
  .changeset/eager-places-report.md
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚨 app: fix tamagui warning
  src/components/add-funds/AssetSelectSheet.tsx
Owners: @dieguezguille, @franm91

🐛 app: avoid double navigation
  .changeset/shaggy-hoops-doubt.md
  src/components/auth/Auth.tsx
  src/components/auth/Passkeys.tsx
  src/utils/useAuth.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: read card limit from server
  .changeset/honest-days-lie.md
  src/components/card/Card.tsx
  src/components/card/SpendingLimit.tsx
  src/components/card/SpendingLimits.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: read pending bridge mutation state
  .changeset/tasty-lamps-attend.md
  src/components/activity/PendingProposals.tsx
  src/components/shared/ProfileHeader.tsx
  src/components/shared/ProposalBanner.tsx
  src/components/shared/TabBar.tsx
  src/utils/usePendingOperations.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.0.33
  .changeset/chatty-words-sit.md
  .changeset/eager-parrots-make.md
  .changeset/eager-places-report.md
  .changeset/honest-days-lie.md
  .changeset/rude-bushes-switch.md
  .changeset/shaggy-hoops-doubt.md
  .changeset/spotty-spies-yawn.md
  .changeset/tasty-lamps-attend.md
  .changeset/yummy-bobcats-send.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

🔖 release: mobile@1.0.33
  .changeset/chatty-words-sit.md
  .changeset/eager-parrots-make.md
  .changeset/eager-places-report.md
  .changeset/honest-days-lie.md
  .changeset/rude-bushes-switch.md
  .changeset/shaggy-hoops-doubt.md
  .changeset/spotty-spies-yawn.md
  .changeset/tasty-lamps-attend.md
  .changeset/yummy-bobcats-send.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

🎨 app: set owner config first chain
  src/utils/wagmi/owner.ts
Owners: @dieguezguille, @franm91

🚀 server: deploy new app version
  .changeset/thirty-horses-add.md
Owners: @cruzdanilo

🔖 release: server@0.2.32
  .changeset/thirty-horses-add.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🩹 server: add product id to card creation
  .changeset/curvy-bats-play.md
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.33
  .changeset/curvy-bats-play.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: document card api
  .changeset/six-ideas-go.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: improve api documentation
  .changeset/cute-rules-write.md
  docs/src/content/docs/index.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add cancel card
  .changeset/few-moles-push.md
  server/api/card.ts
  server/utils/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: add react pdf renderer
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: enable react tsx
  server/tsconfig.json
Owners: @nfmelendez

✨ server: add card statement
  .changeset/stale-owls-work.md
  server/api/activity.ts
  server/utils/Statement.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🩹 server: return correct card status
  .changeset/gold-ties-tan.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: add sandbox dedicated ips
  .changeset/long-nails-doubt.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🚧 ensure owner connection before bridge screen
  src/components/add-funds/AddFunds.tsx
Owners: @dieguezguille, @franm91

🚧 ensure connection before bridging
  src/components/add-funds/Bridge.tsx
Owners: @dieguezguille, @franm91

🚧 prompt for owner connection on bridge screen
  src/components/add-funds/Bridge.tsx
Owners: @dieguezguille, @franm91

➕ server: install better-auth
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: add webhook api
  .changeset/olive-onions-tan.md
  docs/astro.config.ts
  docs/src/content/docs/organization-authentication.md
  server/api/index.ts
  server/api/kyc.ts
  server/api/webhook.ts
  server/database/index.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/index.ts
  server/middleware/auth.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/database.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add encrypted kyc submission
  cspell.json
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
