Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

✨ server: improve nonce usage for encrypted kyc
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/database/schema.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: add i18n iso countries
  .changeset/funny-donkeys-crash.md
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add bridge id
  .changeset/fluffy-boxes-wear.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add configuration resources
  .changeset/cute-buttons-roll.md
  docs/astro.config.ts
  docs/src/content/docs/resources.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ app: implement lifi bridge
  .changeset/eager-parrots-make.md
  src/app/(main)/_layout.tsx
  src/app/(main)/add-funds/_layout.tsx
  src/app/(main)/add-funds/bridge.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AddCryptoButton.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/AddFundsOption.tsx
  src/components/add-funds/AssetSelectSheet.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/ChainLogo.tsx
  src/components/add-funds/TokenLogo.tsx
  src/components/home/HomeActions.tsx
  src/components/pay-mode/Pay.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/lifi.ts
  src/utils/wagmi/owner.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add walletconnect logo
  src/assets/images/walletconnect.svg
Owners: @dieguezguille, @franm91

✨ app: implement walletconnect
  .changeset/true-wolves-sink.md
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/AddFundsOption.tsx
  src/components/add-funds/Bridge.tsx
  src/components/home/HomeActions.tsx
  src/utils/wagmi/external.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: refactor send funds flow
  src/app/(main)/_layout.tsx
  src/app/(main)/send-funds/index.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Details.tsx
  src/components/send-funds/Qr.tsx
  src/components/send-funds/Receiver.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AmountSelector.tsx
  src/utils/queryClient.ts
Owners: @dieguezguille, @franm91

⚡️ app: improve layout navigation
  .changeset/bumpy-lizards-visit.md
  src/app/(auth)/_layout.tsx
  src/app/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: enable send funds with qr code
  src/components/send-funds/Receiver.tsx
Owners: @dieguezguille, @franm91

✨ server: add onramp
  .changeset/loose-seas-agree.md
  .do/app.yaml
  cspell.json
  server/api/index.ts
  server/api/onramp.ts
  server/hooks/manteca.ts
  server/index.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/utils/ramps/shared.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✨ server: improve validation error messages
  .changeset/thick-results-hide.md
  server/utils/validatorHook.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ server: upgrade vulnerable hono
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✅ server: fix nonce reset flaky test
  server/test/utils/keeper.test.ts
Owners: @nfmelendez

🔖 release: server@0.2.29
  .changeset/new-horses-trade.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⬇️ dependencies: downgrade node types and graphql
  .changeset/four-gifts-tickle.md
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔖 release: mobile@1.0.32
  .changeset/four-gifts-tickle.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

✨ app: implement weighted apr
  .changeset/rude-bushes-switch.md
  src/components/home/Home.tsx
  src/components/home/PortfolioSummary.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement partial repays
  .changeset/chatty-words-sit.md
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ app: add walletconnect dependencies
  babel.config.cjs
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ app: implement lifi bridge
  .changeset/eager-parrots-make.md
  src/app/(main)/_layout.tsx
  src/app/(main)/add-funds/_layout.tsx
  src/app/(main)/add-funds/bridge.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AddCryptoButton.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/AddFundsOption.tsx
  src/components/add-funds/AssetSelectSheet.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/ChainLogo.tsx
  src/components/add-funds/TokenLogo.tsx
  src/components/home/HomeActions.tsx
  src/components/pay-mode/Pay.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/lifi.ts
  src/utils/wagmi/owner.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add walletconnect logo
  src/assets/images/walletconnect.svg
Owners: @dieguezguille, @franm91

✨ app: implement walletconnect
  .changeset/true-wolves-sink.md
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/AddFundsOption.tsx
  src/components/add-funds/Bridge.tsx
  src/components/home/HomeActions.tsx
  src/utils/wagmi/external.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⚡️ app: improve layout navigation
  .changeset/bumpy-lizards-visit.md
  src/app/(auth)/_layout.tsx
  src/app/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: refactor send funds flow
  src/app/(main)/_layout.tsx
  src/app/(main)/send-funds/index.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Details.tsx
  src/components/send-funds/Qr.tsx
  src/components/send-funds/Receiver.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AmountSelector.tsx
  src/utils/queryClient.ts
Owners: @dieguezguille, @franm91

🚧 app: enable send funds with qr code
  src/components/send-funds/Receiver.tsx
Owners: @dieguezguille, @franm91

🔧 eas: setup beta build and submit profile
  eas.json
Owners: @cruzdanilo

💩🧪
  contracts/src/ExaPluginExtension.sol
  contracts/test/ExaPlugin.t.sol
Owners: @itofarina

🎨 contracts: sort repay callback data struct
  .changeset/vast-houses-shout.md
  contracts/.gas-snapshot
  contracts/src/ExaPluginExtension.sol
Owners: @cruzdanilo, @itofarina

🗃️ server: add bridge id
  .changeset/fluffy-boxes-wear.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: add i18n iso countries
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: integrate manteca and bridge onramp
  .changeset/loose-seas-agree.md
  .do/app.yaml
  cspell.json
  server/api/index.ts
  server/api/onramp.ts
  server/hooks/manteca.ts
  server/index.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/utils/ramps/shared.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🥅 server: improve validation error messages
  .changeset/thick-results-hide.md
  server/utils/validatorHook.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.30
  .changeset/fluffy-boxes-wear.md
  .changeset/loose-seas-agree.md
  .changeset/thick-results-hide.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ app: read card limit from server
  .changeset/honest-days-lie.md
  src/components/card/Card.tsx
  src/components/card/SpendingLimit.tsx
  src/components/card/SpendingLimits.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: add transaction receipt to webhook
  .changeset/quick-ants-write.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

🔨 server: add integration example
  server/script/example.ts
Owners: @nfmelendez

🔨 server: add encrypted kyc to example
  server/script/example.ts
Owners: @nfmelendez

🦺 server: validate document from inquiry
  .changeset/cute-loops-sip.md
  server/test/api/kyc.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.31
  .changeset/cute-loops-sip.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
