Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✨ server: add panda signature
  .changeset/quiet-tigers-sign.md
  .do/app.yaml
  server/api/card.ts
  server/hooks/panda.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/utils/panda.test.ts
  server/utils/panda.ts
  server/vitest.config.mts
  src/components/card/CardDetails.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

✨ server: add card provisioning
  .changeset/chilly-suns-dress.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: mobile@1.2.6, server@0.2.91
  .changeset/chilly-suns-dress.md
  .changeset/chubby-flowers-learn.md
  .changeset/fiery-parents-burn.md
  .changeset/quiet-tigers-sign.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

✨ app: add card freeze confirmation sheet
  .changeset/frank-snails-move.md
  .maestro/subflows/activateCard.yaml
  src/components/card/Card.tsx
  src/components/card/CardFreezeSheet.tsx
  src/i18n/es.json
  src/i18n/pt.json
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: fix bridge close button alignment
  .changeset/eleven-parrots-return.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: drop unfreeze card label
  .changeset/cool-rockets-raise.md
  .maestro/subflows/activateCard.yaml
  src/components/card/Card.tsx
  src/i18n/es.json
  src/i18n/pt.json
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: show frozen overlay on card
  .changeset/six-breads-shout.md
  src/components/card/exa-card/CardContents.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚨 app: fix lint warning in swaps
  src/components/swaps/Success.tsx
Owners: @dieguezguille, @franm91

✨ app: create shared switch component
  .changeset/spotty-rules-camp.md
  src/components/card/Card.tsx
  src/components/home/CardStatus.tsx
  src/components/shared/Switch.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add freeze controls to home card
  .changeset/social-icons-retire.md
  src/components/home/CardStatus.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: add haptic feedback to card actions
  .changeset/tangy-deer-design.md
  src/components/card/Card.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⬆️ dependencies: upgrade vulnerable ip-address
  pnpm-lock.yaml
Owners: @cruzdanilo

♻️ app: migrate remaining flows to send calls
  .changeset/loose-papers-take.md
  src/components/pay/Repay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: forward chain id in account client
  .changeset/cool-icons-grow.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: pass chain id to bridge calls
  .changeset/great-dryers-kick.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: preserve quoted amount on swap token flip
  .changeset/every-singers-create.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swaps query invalidation
  .changeset/cyan-flies-camp.md
  src/components/pay/Repay.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: use unified auth error classification
  .changeset/busy-guests-ring.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor auth cancellation handling
  src/components/add-funds/Bridge.tsx
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay/Repay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/swaps/Swaps.tsx
  src/utils/accountClient.ts
  src/utils/reportError.ts
  src/utils/server.ts
  src/utils/useAuth.ts
Owners: @dieguezguille, @franm91

♻️ app: decouple swap input state from route result
  .changeset/khaki-pens-post.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix pay simulation pending state
  .changeset/funny-aliens-mix.md
  src/components/pay/Repay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: align user cancellations to native behavior
  src/utils/accountClient.ts
  src/utils/reportError.ts
  src/utils/useAuth.ts
Owners: @dieguezguille, @franm91

🐛 app: preserve swap amounts on auth cancel
  .changeset/legal-eyes-clap.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: improve repay disabled button condition
  .changeset/clever-toes-beam.md
  src/components/pay/Repay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: pass explicit chain id to send calls hooks
  .changeset/humble-cities-drop.md
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay/Repay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/PluginUpgrade.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: pass explicit chain id to read hooks
  .changeset/wide-cats-hug.md
  src/components/card/Card.tsx
  src/components/defi/DeFi.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Amount.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay/OverduePayments.tsx
  src/components/pay/Pay.tsx
  src/components/pay/PaymentSheet.tsx
  src/components/pay/Repay.tsx
  src/components/pay/UpcomingPayments.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PluginUpgrade.tsx
  src/components/shared/Success.tsx
  src/components/swaps/Swaps.tsx
  src/utils/useMarkets.ts
  src/utils/usePendingOperations.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: allow provider access regardless of chain id
  .changeset/wide-laws-travel.md
  src/utils/alchemyConnector.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: walk cause chain when extracting error status
  .changeset/better-feet-arrive.md
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: drop unused lifi token helpers
  src/utils/lifi.ts
Owners: @dieguezguille, @franm91

🐛 app: namespace persisted storage by chain id
  .changeset/better-nights-brush.md
  src/utils/queryClient.ts
  src/utils/wagmi/exa.ts
  src/utils/wagmi/owner.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: recover funds from any network
  .changeset/tough-ducks-end.md
  src/components/add-funds/Bridge.tsx
  src/components/home/AssetList.tsx
  src/components/home/CollateralAssetsSheet.tsx
  src/components/home/ExternalAssets.tsx
  src/components/home/ExternalAssetsSheet.tsx
  src/components/home/Home.tsx
  src/components/home/Portfolio.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/home/UnsupportedNetworksSheet.tsx
  src/components/pay/Repay.tsx
  src/components/shared/AssetSelector.tsx
  src/components/swaps/Swaps.tsx
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/deployedOptions.ts
  src/utils/lifi.ts
  src/utils/useAsset.ts
  src/utils/usePortfolio.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor bridge sources with multi-chain balance fetching
  .changeset/fuzzy-icons-push.md
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: handle localized native auth errors
  .changeset/twelve-points-sniff.md
  src/components/add-funds/Bridge.tsx
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🧱 app: add cross-chain account client support
  .changeset/easy-rockets-reply.md
  src/utils/accountClient.ts
  src/utils/alchemyChains.ts
  src/utils/wagmi/exa.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: route cross-chain rpc through alchemy
  .changeset/calm-foxes-route.md
  src/utils/wagmi/exa.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: split portfolio pending states
  .changeset/smooth-plants-grab.md
  src/components/shared/AssetSelector.tsx
  src/utils/usePortfolio.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: avoid precision loss in external asset value
  .changeset/purple-hats-occur.md
  src/utils/usePortfolio.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: send assets from portfolio
  .changeset/olive-pandas-behave.md
  src/components/home/AssetList.tsx
  src/components/home/ExternalAssets.tsx
  src/components/send-funds/Receiver.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swap insufficient balance check
  .changeset/solid-snails-add.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: scope bridge destinations to current chain
  src/utils/lifi.ts
Owners: @dieguezguille, @franm91
