Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add merchant category code to webhooks
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add transaction receipt to webhook
  .changeset/quick-ants-write.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix webhook retries
  .changeset/long-moons-brake.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix user webhook routing
  .changeset/loud-shoes-visit.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: disable retries in custom transport
  .changeset/fuzzy-adults-tease.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: decouple swap input state from route result
  .changeset/khaki-pens-post.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swaps query invalidation
  .changeset/cyan-flies-camp.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ e2e: harden activate card flow navigation
  .maestro/subflows/activateCard.yaml
Owners: @cruzdanilo

♻️ app: pass explicit chain id to send calls hooks
  .changeset/humble-cities-drop.md
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay/Repay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/PluginUpgrade.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor auth cancellation handling
  src/components/add-funds/Bridge.tsx
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay/Repay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/swaps/Swaps.tsx
  src/utils/accountClient.ts
  src/utils/reportError.ts
  src/utils/server.ts
  src/utils/useAuth.ts
Owners: @dieguezguille, @franm91

🐛 app: pass chain id to bridge calls
  .changeset/great-dryers-kick.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: align user cancellations to native behavior
  src/utils/accountClient.ts
  src/utils/reportError.ts
Owners: @dieguezguille, @franm91

💄 app: restructure swap state screen layouts
  .changeset/bright-foxes-swim.md
  src/components/swaps/Failure.tsx
  src/components/swaps/Pending.tsx
  src/components/swaps/Success.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: pass explicit chain id to read hooks
  .changeset/wide-cats-hug.md
  src/components/card/Card.tsx
  src/components/defi/DeFi.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Amount.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay/OverduePayments.tsx
  src/components/pay/Pay.tsx
  src/components/pay/PaymentSheet.tsx
  src/components/pay/Repay.tsx
  src/components/pay/UpcomingPayments.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PluginUpgrade.tsx
  src/components/shared/Success.tsx
  src/components/swaps/Swaps.tsx
  src/utils/useMarkets.ts
  src/utils/usePendingOperations.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix pay simulation pending state
  .changeset/funny-aliens-mix.md
  src/components/pay/Repay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: improve repay disabled button condition
  .changeset/clever-toes-beam.md
  src/components/pay/Repay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: migrate remaining flows to send calls
  .changeset/loose-papers-take.md
  src/components/pay/Repay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: add card webhook routing
  server/hooks/panda.ts
Owners: @nfmelendez

🐛 server: fix webhook logging for text response
  .changeset/fifty-friends-bet.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix update card webhook schema
  .changeset/dry-peas-ring.md
  docs/src/content/docs/webhooks.md
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: verify member cannot access webhooks
  server/test/api/webhook.test.ts
Owners: @nfmelendez

📝 docs: fix webhook markdown from pr review feedback
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✅ server: scope simulate-contract assertions by proposal nonce
  .changeset/loud-houses-create.md
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

🚑️ app: prevent range error in asset amount formatting
  .changeset/dry-gnu-run.md
  src/components/home/AssetList.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚑️ app: prevent range error in asset amount formatting
  .changeset/dry-gnu-run.md
  src/components/home/AssetList.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.2.1
  .changeset/dry-gnu-run.md
  .changeset/loud-houses-create.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

🔨 contracts: avoid redundant stub deployments
  .changeset/bumpy-foxes-refuse.md
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @cruzdanilo, @itofarina

🔨 contracts: make redeployer target nonce inclusive
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔖 release: mobile@1.1.30
  .changeset/dry-gnu-run.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

🔨 contracts: parameterize create3 factory version in redeployer
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: deploy plugins in prepare and reuse in factory deployment
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: deterministically deploy plugins and factory in prepare
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🎨 contracts: rename run to proxy through in redeployer
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: extract deploy exa factories
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
Owners: @itofarina

🔨 contracts: avoid redeploying existing plugin dependencies
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: guard factory deploys against redundant upgrades
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: add safe propose script
  contracts/script/SafePropose.s.sol
Owners: @itofarina

⬆️ dependencies: upgrade vulnerable lodash
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ server: support card limit inquiry flow
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez
