Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🐛 server: fix patch response validation
  .changeset/tidy-worms-sin.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: set card art for sandbox
  .changeset/hungry-impalas-sing.md
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: improve weak pin error handling
  .changeset/wild-points-lose.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

📝 docs: improve create organization example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

📝 docs: add sandbox dedicated ips
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

📝 docs: add configuration resources
  .changeset/cute-buttons-roll.md
  docs/astro.config.ts
  docs/src/content/docs/resources.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🔧 wagmi: use exa factory v1.0 on base sepolia
  common/wagmi.config.ts
Owners: @cruzdanilo

🔧 wagmi: remove hardcoded exa factory for base sepolia
  common/wagmi.config.ts
Owners: @cruzdanilo

🔧 common: map base domains to panda certificates
  common/pandaCertificate.ts
Owners: @cruzdanilo

🥅 server: add expected to siwe statement error
  server/api/kyc.ts
Owners: @nfmelendez

✨ server: support factory selection in credential creation
  .changeset/brave-foxes-beam.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/test/api/auth.test.ts
  server/utils/createCredential.ts
  server/utils/validFactories.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix onesignal app resolution
  server/utils/onesignal.ts
Owners: @nfmelendez

🦺 server: make auth query param optional
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @nfmelendez

🐛 app: fix swaps query invalidation
  .changeset/cyan-flies-camp.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 server: set farcaster manifest signature for base
  server/index.ts
Owners: @nfmelendez

⚗️ dependencies: capture rejection cause in farcaster sdk
  src/utils/reportError.ts
Owners: @dieguezguille, @franm91

🔧 app: add base app id meta tag
  src/app/+html.tsx
Owners: @dieguezguille, @franm91

👷 github: set base workflow trigger to base branch
  .github/workflows/server-base.yaml
Owners: @cruzdanilo

➕ server: install gcp dependencies
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🚩 server: show declined transactions activity
  .changeset/small-bees-invite.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: retry trace on resource not found
  .changeset/bright-eagle-catch.md
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: use gcp kms for allower
  .changeset/lucky-jokes-change.md
  .do/app.yaml
  cspell.json
  server/hooks/activity.ts
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/anvil.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/keeper.ts
  server/test/utils/gcp.test.ts
  server/utils/gcp.ts
  server/utils/keeper.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✨ server: poke account after kyc
  .changeset/silly-yaks-divide.md
  server/hooks/persona.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add webhook api migration guide
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

♻️ server: retry poke calls on error
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
Owners: @nfmelendez

🚩 server: show declined transactions activity
  .changeset/small-bees-invite.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: normalize addresses
  .changeset/wise-steaks-stay.md
  src/components/add-funds/Bridge.tsx
  src/components/swaps/Swaps.tsx
  src/utils/lifi.ts
  src/utils/usePortfolio.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.2.11, server@0.2.97
  .changeset/brisk-otter-tag.md
  .changeset/calm-games-listen.md
  .changeset/cuddly-beds-stick.md
  .changeset/goofy-candles-move.md
  .changeset/swift-bridges-cross.md
  .changeset/tame-mirrors-brush.md
  .changeset/warm-words-eat.md
  .changeset/wary-falcon-guard.md
  .changeset/wise-steaks-stay.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🔒️ server: flag failed over captures as suspicious
  .changeset/brave-otters-flag.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🔒️ server: flag failed over captures as suspicious
  .changeset/brave-otters-flag.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📈 server: fix collect span label for debit
  .changeset/brave-otters-cheer.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade hono and better-auth
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

♻️ server: inline card status
  server/utils/panda.ts
Owners: @nfmelendez

📝 server: add create card docs
  .changeset/soft-eggs-count.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: return card id
  .changeset/wicked-lies-invent.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: set card art for sandbox
  .changeset/hungry-impalas-sing.md
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix patch response validation
  .changeset/tidy-worms-sin.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add sandbox dedicated ips
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🥅 server: improve weak pin error handling
  .changeset/wild-points-lose.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez
