Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

⚰️ server: remove unused panda detection
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/utils/panda.ts
Owners: @nfmelendez

👷 github: restrict build credential exposure
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-base.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-production.yaml
  .github/workflows/server-sandbox.yaml
  .github/workflows/substreams-build.yaml
Owners: @cruzdanilo

👷 github: drop manual dispatch triggers
  .github/workflows/substreams-build.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

👷 github: replace release pat with github app token
  .changeset/version.sh
  .github/workflows/version.yaml
Owners: @cruzdanilo

👷 github: upgrade all actions
  .github/workflows/docs.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/substreams-build.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
Owners: @cruzdanilo

🎉 infra: create pulumi project
  AGENTS.md
  cspell.json
  infra/Pulumi.yaml
  infra/eslint.config.mjs
  infra/package.json
  infra/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

🧱 infra: introduce shared module primitives
  .changeset/proud-states-fold.md
  cspell.json
  infra/index.ts
  infra/utils/modules.ts
  infra/utils/rejectSecrets.ts
Owners: @cruzdanilo

🧱 infra: setup meta infra for github automation
  .changeset/tender-geese-own.md
  .changeset/twenty-gifts-relax.md
  infra/Pulumi.meta.yaml
  infra/meta.ts
  infra/package.json
Owners: @cruzdanilo

✨ server: implement eip-7702 signing for gcp kms
  common/wagmi.config.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/wallet.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: automate panda refund withdrawal
  .changeset/olive-sheep-sink.md
  .changeset/short-radios-stand.md
  infra/utils/modules.ts
  server/hooks/panda.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/panda.ts
  server/test/utils/panda.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/refund.test.ts
  server/test/workers/worker.test.ts
  server/utils/panda.ts
  server/workers/refund/bin.ts
  server/workers/refund/job.ts
  server/workers/refund/queue.ts
  server/workers/refund/worker.ts
Owners: @cruzdanilo, @nfmelendez

👷 github: provision infra on server deploys
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

👷 github: match pulumi problems
  .github/matcher.json
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

🚀 infra: deploy testnet stacks
  infra/Pulumi.base-sepolia.yaml
  infra/Pulumi.sandbox.yaml
Owners: @cruzdanilo

✨ server: migrate webhook subscription to queue
  .changeset/large-candies-brake.md
  .changeset/plain-pumas-relax.md
  infra/Pulumi.base-sepolia.yaml
  infra/Pulumi.sandbox.yaml
  infra/utils/modules.ts
  server/api/index.ts
  server/test/api/api.test.ts
  server/test/api/auth.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/utils/alchemy.test.ts
  server/test/utils/createCredential.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/subscribe.test.ts
  server/utils/createCredential.ts
  server/workers/subscribe/bin.ts
  server/workers/subscribe/job.ts
  server/workers/subscribe/queue.ts
  server/workers/subscribe/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: process auto-credit in worker
  .changeset/afraid-mangos-follow.md
  .changeset/tender-foxes-feel.md
  infra/utils/modules.ts
  server/api/card.ts
  server/api/index.ts
  server/hooks/activity.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/test/api/api.test.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/credit.test.ts
  server/utils/panda.ts
  server/workers/credit/bin.ts
  server/workers/credit/job.ts
  server/workers/credit/queue.ts
  server/workers/credit/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: process poke in worker
  .changeset/bumpy-regions-read.md
  .changeset/proud-tools-sneeze.md
  infra/utils/modules.ts
  server/hooks/activity.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/poke.test.ts
  server/workers/credit/queue.ts
  server/workers/poke/bin.ts
  server/workers/poke/job.ts
  server/workers/poke/queue.ts
  server/workers/poke/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: automate firewall allow after kyc approval
  .changeset/blue-bottles-wave.md
  .changeset/free-lamps-pump.md
  infra/utils/modules.ts
  server/hooks/persona.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/deployments.ts
  server/test/workers/allow.test.ts
  server/test/workers/bin.test.ts
  server/workers/allow/bin.ts
  server/workers/allow/job.ts
  server/workers/allow/queue.ts
  server/workers/allow/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add runtime entrypoints for api and hooks
  .changeset/brown-ties-create.md
  .changeset/yellow-corners-bet.md
  infra/utils/modules.ts
  server/api/bin.ts
  server/hooks/bin/activity.ts
  server/hooks/bin/block.ts
  server/hooks/bin/bridge.ts
  server/hooks/bin/manteca.ts
  server/hooks/bin/panda.ts
  server/hooks/bin/persona.ts
  server/package.json
  server/test/api/bin.test.ts
  server/test/hooks/bin.test.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add whatsapp id column to credentials
  server/database/schema.ts
Owners: @nfmelendez

✨ server: add chat association endpoint
  .changeset/warm-otters-associate.md
  infra/utils/modules.ts
  server/api/bin.ts
  server/api/chat.ts
  server/api/index.ts
  server/index.ts
  server/script/openapi.ts
  server/test/api/api.test.ts
  server/test/api/chat.test.ts
  server/test/utils/chat.test.ts
  server/utils/chat.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade sentry
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

➕ server: add mastra dependencies
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🚧 server: add chat hook
  cspell.json
  infra/utils/modules.ts
  server/api/bin.ts
  server/api/chat.ts
  server/api/index.ts
  server/hooks/bin/chat.ts
  server/hooks/chat.ts
  server/index.ts
  server/instrument.cjs
  server/package.json
  server/script/openapi.ts
  server/test/api/api.test.ts
  server/test/api/bin.test.ts
  server/test/api/chat.test.ts
  server/test/evals/chat.eval.ts
  server/test/hooks/chat.test.ts
  server/test/hooks/hook.test.ts
  server/test/utils/assistant.test.ts
  server/test/utils/chat.test.ts
  server/utils/assistant.ts
  server/utils/chat.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🍱 app: add chat association assets
  src/assets/images/isotype.svg
  src/assets/images/whatsapp.svg
Owners: @dieguezguille, @franm91

🚧 app: associate account to whatsapp id
  cspell.json
  src/app/(main)/whatsapp.tsx
  src/components/whatsapp/Whatsapp.tsx
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⚗️ github: build base-sepolia from infra branch
  .github/workflows/server-base-sepolia.yaml
Owners: @cruzdanilo

✅ app: skip minification in build test
  package.json
Owners: @cruzdanilo

✅ server: reduce shared anvil setup contention
  server/test/hooks/panda.test.ts
Owners: @nfmelendez

✅ server: stabilize maturity suite teardown
  server/test/utils/maturity.test.ts
Owners: @nfmelendez

✅ server: await redis removals before test teardown
  server/test/hooks/block.test.ts
Owners: @nfmelendez

✅ server: stabilize refund notification error test
  server/test/hooks/panda.test.ts
Owners: @nfmelendez

✅ e2e: skip redundant scroll lookup
  .maestro/subflows/scrollTo.yaml
Owners: @cruzdanilo

✅ server: stabilize auto credit error coverage
  server/test/hooks/activity.test.ts
Owners: @nfmelendez

✅ server: harden keeper fault-tolerance test
  server/test/utils/keeper.test.ts
Owners: @nfmelendez

✅ server: await exact proposal nonce update in block test
  server/test/hooks/block.test.ts
Owners: @nfmelendez

✅ server: stabilize keeper recovery test
  server/test/utils/keeper.test.ts
Owners: @nfmelendez

✅ e2e: bypass proposal scheduler margin
  .maestro/src/script/hookProposals.ts
Owners: @cruzdanilo

✅ server: batch block hook proposal setup
  server/test/hooks/block.test.ts
Owners: @nfmelendez

✅ server: stabilize async tests
  server/test/hooks/activity.test.ts
  server/test/utils/maturity.test.ts
Owners: @nfmelendez

✅ server: stabilize proposal nonce tests
  server/test/hooks/block.test.ts
Owners: @nfmelendez
