Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🥅 server: catch invalid legal id during manteca onboarding
  .changeset/ripe-readers-repair.md
  server/api/ramp.ts
  server/test/api/ramp.test.ts
  server/test/utils/manteca.test.ts
  server/utils/ramps/manteca.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: mobile@1.1.11, server@0.2.61
  .changeset/bright-falcon-hunt.md
  .changeset/chatty-glasses-throw.md
  .changeset/honest-nails-relax.md
  .changeset/neat-eel-walk.md
  .changeset/ripe-readers-repair.md
  .changeset/silent-streets-jump.md
  .changeset/silent-trains-wear.md
  .changeset/warm-dogs-poke.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🧵 app: fix concurrent auth race condition
  .changeset/swift-falcon-dance.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ server: fix flaky nonce increment test isolation
  server/test/hooks/block.test.ts
Owners: @nfmelendez

✅ server: fix leaked fake timers in block weth test
  .changeset/five-adults-retire.md
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: fix replay test timing dependency
  server/test/hooks/panda.test.ts
Owners: @nfmelendez

🥅 server: fingerprint nonce-skip reverts in block hook
  .changeset/bright-snails-march.md
  server/hooks/block.ts
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: extract contract revert fingerprinting
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/utils/fingerprintRevert.test.ts
  server/utils/fingerprintRevert.ts
  server/utils/keeper.ts
Owners: @nfmelendez

🔖 release: mobile@1.1.12, server@0.2.62
  .changeset/bright-snails-march.md
  .changeset/five-adults-retire.md
  .changeset/swift-falcon-dance.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🚧 server: batch proposal execution
  server/hooks/block.ts
  server/test/hooks/block.test.ts
Owners: @nfmelendez

✅ server: wait for expected transfers instead of receipt count
  .changeset/clear-donkeys-grow.md
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: consolidate withdraw decoding in block tests
  server/test/hooks/block.test.ts
Owners: @nfmelendez

✨ server: allow account on firewall
  .changeset/every-cameras-trade.md
  server/hooks/persona.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add source database table
  server/database/schema.ts
Owners: @nfmelendez

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/e2e.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🥅 app: filter network failures in asset logo image handler
  .changeset/brave-eagle-filter.md
  src/components/shared/AssetLogo.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 server: resolve orphaned proposals on nonce-too-low revert
  .changeset/brave-foxes-camp.md
  server/hooks/block.ts
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable qs
  pnpm-lock.yaml
Owners: @cruzdanilo

♻️ server: consolidate withdraw decoding in block hook
  .changeset/puny-sides-like.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

➕ server: add react pdf renderer
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: enable react tsx
  server/tsconfig.json
Owners: @nfmelendez

✨ server: add card statement
  .changeset/stale-owls-work.md
  server/api/activity.ts
  server/test/api/activity.test.ts
  server/utils/Statement.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🐛 server: consume iterator once
  .changeset/upset-eels-ask.md
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

🩹 server: return correct card status
  .changeset/gold-ties-tan.md
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: add sandbox dedicated ips
  .changeset/long-nails-doubt.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

➕ server: install better-auth
  .changeset/pretty-chicken-hang.md
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🗃️ server: setup better-auth database tables
  .changeset/cool-snakes-reply.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add webhook api
  .changeset/olive-onions-tan.md
  docs/astro.config.ts
  docs/src/content/docs/organization-authentication.md
  server/api/index.ts
  server/api/kyc.ts
  server/api/webhook.ts
  server/database/index.ts
  server/hooks/panda.ts
  server/index.ts
  server/middleware/auth.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: install canonicalize
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: add encrypted kyc submission
  cspell.json
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: allow better auth users to change email
  .changeset/rare-pears-sort.md
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: update siwe authentication example
  .changeset/gentle-brooms-say.md
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: return card id
  .changeset/wicked-lies-invent.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: update kyc status code
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez

🐛 server: fix patch response validation
  .changeset/tidy-worms-sin.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: improve kyc application response validation
  server/api/kyc.ts
Owners: @nfmelendez

📝 docs: improve create organization example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
