Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

✨ server: add runtime entrypoints for api and hooks
  .changeset/brown-ties-create.md
  .changeset/yellow-corners-bet.md
  infra/utils/modules.ts
  server/api/bin.ts
  server/hooks/bin/activity.ts
  server/hooks/bin/block.ts
  server/hooks/bin/bridge.ts
  server/hooks/bin/manteca.ts
  server/hooks/bin/panda.ts
  server/hooks/bin/persona.ts
  server/package.json
  server/test/api/bin.test.ts
  server/test/hooks/bin.test.ts
Owners: @cruzdanilo, @nfmelendez

✅ e2e: reduce proposal wait time
  .maestro/subflows/tapWhileAria.yaml
Owners: @cruzdanilo

✨ app: add not found screen
  .changeset/tidy-pandas-shine.md
  src/app/+not-found.tsx
  src/components/shared/NotFound.tsx
  src/i18n/es.json
  src/i18n/pt.json
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: derive activity details from url
  .changeset/brave-moons-derive.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/activity/details/CardActivity.tsx
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/activity/details/TransactionDetails.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: surface activity fetch errors
  .changeset/swift-hounds-report.md
  src/components/activity/details/ActivityDetails.tsx
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: derive loan from url
  .changeset/olive-buttons-repeat.md
  src/components/loans/Amount.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/Installments.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/utils/Loan.ts
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ common: add credential salt contract
  .changeset/quick-koalas-thread.md
  common/accountInit.ts
  common/deriveAddress.ts
  common/validation.ts
Owners: @cruzdanilo

🗃️ server: add credential salt
  server/database/schema.ts
Owners: @nfmelendez

✨ server: add credential salt responses
  .changeset/neat-eggs-turn.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/card.ts
  server/api/kyc.ts
  server/api/passkey.ts
  server/hooks/activity.ts
  server/hooks/persona.ts
  server/test/api/card.test.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
  server/test/workers/allow.test.ts
  server/test/workers/poke.test.ts
  server/utils/createCredential.ts
  server/utils/panda.ts
  server/workers/allow/queue.ts
  server/workers/allow/worker.ts
  server/workers/poke/job.ts
  server/workers/poke/queue.ts
  server/workers/poke/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: use credential salt for derivation
  .changeset/fuzzy-cows-breathe.md
  src/utils/accountClient.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: add business onboarding applications
  .changeset/ten-memes-tease.md
  .do/app.yaml
  cspell.json
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/kyc.ts
  server/hooks/persona.ts
  server/test/api/auth.test.ts
  server/test/api/kyc.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/panda.ts
  server/test/utils/panda.test.ts
  server/test/utils/persona.test.ts
  server/utils/authChallenge.ts
  server/utils/createCredential.ts
  server/utils/panda.ts
  server/utils/persona.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add company identifier column
  server/database/schema.ts
Owners: @nfmelendez

✅ server: stabilize idle proposal recovery
  server/test/hooks/block.test.ts
Owners: @nfmelendez

✨ common: export app stack identifier
  .changeset/spicy-ideas-mix.md
  common/stack.js
Owners: @cruzdanilo

📈 server: use stack for sentry instrumentation
  .changeset/ten-planets-prove.md
  server/instrument.cjs
Owners: @cruzdanilo, @nfmelendez

🧱 server: use node entrypoint as docker argument
  server/Dockerfile
Owners: @nfmelendez

➕ server: add google cloud secret manager
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement google secret manager
  .changeset/bumpy-toes-jump.md
  server/test/utils/secret.test.ts
  server/utils/secret.ts
Owners: @cruzdanilo, @nfmelendez

🚚 server: rename keeper module to wallet
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/wallet.ts
Owners: @nfmelendez

➕ server: add google cloud kms dependencies
  cspell.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: create wallet client by account name
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/api/card.test.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/panda.ts
  server/utils/wallet.ts
Owners: @nfmelendez

✨ server: introduce shared worker primitives
  cspell.json
  server/index.ts
  server/package.json
  server/supervise.ts
  server/test/e2e.ts
  server/test/mocks/sentry.ts
  server/test/supervise.test.ts
  server/test/utils/maturity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/worker.test.ts
  server/tsconfig.json
  server/utils/maturity.ts
  server/utils/redis.ts
  server/workers/queue.ts
  server/workers/worker.ts
Owners: @cruzdanilo, @nfmelendez

⚰️ server: remove unused panda detection
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/utils/panda.ts
Owners: @nfmelendez

👷 github: restrict build credential exposure
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-base.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-production.yaml
  .github/workflows/server-sandbox.yaml
  .github/workflows/substreams-build.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

👷 github: drop manual dispatch triggers
  .github/workflows/substreams-build.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

👷 github: replace release pat with github app token
  .changeset/version.sh
  .github/workflows/version.yaml
Owners: @cruzdanilo

👷 github: upgrade all actions
  .github/workflows/docs.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/substreams-build.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
Owners: @cruzdanilo

🎉 infra: create pulumi project
  AGENTS.md
  cspell.json
  infra/Pulumi.yaml
  infra/eslint.config.mjs
  infra/package.json
  infra/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

🧱 infra: introduce shared module primitives
  .changeset/proud-states-fold.md
  cspell.json
  infra/index.ts
  infra/utils/modules.ts
  infra/utils/rejectSecrets.ts
Owners: @cruzdanilo

🧱 infra: setup meta infra for github automation
  .changeset/tender-geese-own.md
  .changeset/twenty-gifts-relax.md
  infra/Pulumi.meta.yaml
  infra/meta.ts
  infra/package.json
Owners: @cruzdanilo

✨ server: implement eip-7702 signing for gcp kms
  common/wagmi.config.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/wallet.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: automate panda refund withdrawal
  .changeset/olive-sheep-sink.md
  .changeset/short-radios-stand.md
  infra/utils/modules.ts
  server/hooks/panda.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/panda.ts
  server/test/utils/panda.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/refund.test.ts
  server/test/workers/worker.test.ts
  server/utils/panda.ts
  server/workers/refund/bin.ts
  server/workers/refund/job.ts
  server/workers/refund/queue.ts
  server/workers/refund/worker.ts
Owners: @cruzdanilo, @nfmelendez

👷 github: provision infra on server deploys
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

👷 github: match pulumi problems
  .github/matcher.json
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

🚀 infra: deploy testnet stacks
  infra/Pulumi.base-sepolia.yaml
  infra/Pulumi.sandbox.yaml
Owners: @cruzdanilo

✨ server: migrate webhook subscription to queue
  .changeset/large-candies-brake.md
  .changeset/plain-pumas-relax.md
  infra/Pulumi.base-sepolia.yaml
  infra/Pulumi.sandbox.yaml
  infra/utils/modules.ts
  server/api/index.ts
  server/test/api/api.test.ts
  server/test/api/auth.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/utils/alchemy.test.ts
  server/test/utils/createCredential.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/subscribe.test.ts
  server/utils/createCredential.ts
  server/workers/subscribe/bin.ts
  server/workers/subscribe/job.ts
  server/workers/subscribe/queue.ts
  server/workers/subscribe/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: process auto-credit in worker
  .changeset/afraid-mangos-follow.md
  .changeset/tender-foxes-feel.md
  infra/utils/modules.ts
  server/api/card.ts
  server/api/index.ts
  server/hooks/activity.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/test/api/api.test.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/credit.test.ts
  server/utils/panda.ts
  server/workers/credit/bin.ts
  server/workers/credit/job.ts
  server/workers/credit/queue.ts
  server/workers/credit/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: process poke in worker
  .changeset/bumpy-regions-read.md
  .changeset/proud-tools-sneeze.md
  infra/utils/modules.ts
  server/hooks/activity.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/poke.test.ts
  server/workers/credit/queue.ts
  server/workers/poke/bin.ts
  server/workers/poke/job.ts
  server/workers/poke/queue.ts
  server/workers/poke/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: automate firewall allow after kyc approval
  .changeset/blue-bottles-wave.md
  .changeset/free-lamps-pump.md
  infra/utils/modules.ts
  server/hooks/persona.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/deployments.ts
  server/test/workers/allow.test.ts
  server/test/workers/bin.test.ts
  server/workers/allow/bin.ts
  server/workers/allow/job.ts
  server/workers/allow/queue.ts
  server/workers/allow/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add runtime entrypoints for api and hooks
  .changeset/brown-ties-create.md
  .changeset/yellow-corners-bet.md
  infra/utils/modules.ts
  server/api/bin.ts
  server/hooks/bin/activity.ts
  server/hooks/bin/block.ts
  server/hooks/bin/bridge.ts
  server/hooks/bin/manteca.ts
  server/hooks/bin/panda.ts
  server/hooks/bin/persona.ts
  server/package.json
  server/test/api/bin.test.ts
  server/test/hooks/bin.test.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
