Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🥅 server: normalize contract reverts on sentry
  .changeset/mlpe-ukon-fdsy.md
  server/instrument.cjs
  server/utils/revertFingerprint.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: improve sentry grouping for external service failures
  .changeset/bright-falcon-glow.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/utils/manteca.test.ts
  server/test/utils/pax.test.ts
  server/utils/ServiceError.ts
  server/utils/alchemy.ts
  server/utils/panda.ts
  server/utils/pax.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/utils/sardine.ts
Owners: @cruzdanilo, @nfmelendez

♻️ app: unify kyc status data fetching
  server/api/kyc.ts
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/Home.tsx
  src/components/home/card-upgrade/VerifyIdentity.tsx
  src/utils/queryClient.ts
  src/utils/server.ts
  src/utils/useBeginKYC.ts
Owners: @nfmelendez, @dieguezguille, @franm91

🔖 release: server@0.2.70
  .changeset/famous-spiders-carry.md
  .changeset/mighty-readers-punch.md
  .changeset/stale-owls-work.md
  .changeset/tender-rules-worry.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: prefer same-line lint annotations
  .agents/rules/typescript.md
  AGENTS.md
Owners: @cruzdanilo

🧑‍💻 agents: guide cspell exception placement
  AGENTS.md
Owners: @cruzdanilo

👷 eas: skip remaining jobs on build failure
  .eas/workflows/local.yaml
  .eas/workflows/production.yaml
Owners: @cruzdanilo

🔨 contracts: retry foundry install on failure
  contracts/package.json
Owners: @itofarina

📌 dependencies: deduplicate viem collapsing zod mismatch
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚚 common: extract revert reason for cross-package reuse
  .changeset/raw-gnu-fly.md
  common/revertReason.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/utils/keeper.ts
  server/utils/revertFingerprint.ts
Owners: @cruzdanilo, @nfmelendez

🥅 app: distinguish contract reverts by route and reason
  .changeset/sour-rat-pet.md
  src/app/_layout.tsx
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: stabilize error fingerprints and titles
  .changeset/gold-emu-try.md
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 server: normalize contract reverts on sentry
  .changeset/mlpe-ukon-fdsy.md
  server/instrument.cjs
  server/utils/revertFingerprint.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: improve sentry grouping for external service failures
  .changeset/bright-falcon-glow.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/utils/ServiceError.test.ts
  server/test/utils/manteca.test.ts
  server/test/utils/pax.test.ts
  server/utils/ServiceError.ts
  server/utils/alchemy.ts
  server/utils/panda.ts
  server/utils/pax.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/utils/sardine.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: common@0.0.13, mobile@1.1.21, server@0.2.70
  .changeset/bright-falcon-glow.md
  .changeset/famous-spiders-carry.md
  .changeset/gold-emu-try.md
  .changeset/mighty-readers-punch.md
  .changeset/mlpe-ukon-fdsy.md
  .changeset/raw-gnu-fly.md
  .changeset/sour-rat-pet.md
  .changeset/stale-owls-work.md
  .changeset/tender-rules-worry.md
  .maestro/package.json
  CHANGELOG.md
  common/CHANGELOG.md
  common/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🥅 server: classify panda errors by name and status
  .changeset/xryv-lcxa-mode.md
  server/api/card.ts
  server/test/utils/panda.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: improve manteca error fingerprinting
  .changeset/warm-panda-drift.md
  server/test/utils/manteca.test.ts
  server/utils/ramps/manteca.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.71
  .changeset/warm-panda-drift.md
  .changeset/xryv-lcxa-mode.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🚧 server: update address subdivision field to be nullable
  server/utils/persona.ts
Owners: @nfmelendez

🐛 server: handle zero rate in panda activity response
  .changeset/vdun-bohw-qwdu.md
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

🔒️ server: activate report-only csp for frontend assets
  .changeset/new-owl-try.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.72
  .changeset/new-owl-try.md
  .changeset/vdun-bohw-qwdu.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🥅 app: refine known error classification granularity
  .changeset/bright-foxes-glow.md
  src/app/_layout.tsx
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: map web domains to sentry environments
  .changeset/soft-emu-run.md
  src/app/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔨 contracts: retry foundry install on transient failures
  contracts/package.json
Owners: @itofarina

🥅 server: handle webhook not ready error
  server/api/auth/authentication.ts
Owners: @nfmelendez

✨ server: add maturity check and worker
  .changeset/dull-candies-cheer.md
  server/index.ts
  server/queues/maturityQueue.ts
  server/test/queues/maturityQueue.test.ts
  server/test/utils/hasMaturity.test.ts
  server/utils/hasMaturity.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: split redis connections for bullmq compatibility
  .changeset/tidy-humans-train.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/test/api/auth.test.ts
  server/test/mocks/redis.ts
  server/utils/redis.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: add debug logging for webhook initialization
  .changeset/vast-geckos-punch.md
  server/hooks/activity.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add alchemy job queue infrastructure
  .changeset/plain-pumas-relax.md
  server/index.ts
  server/queues/alchemyQueue.ts
  server/test/api/auth.test.ts
  server/test/queues/alchemyQueue.test.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: modify sentry's mock file
  .changeset/silent-parks-flash.md
  server/test/mocks/sentry.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: migrate webhook subscription to queue
  .changeset/dark-regions-count.md
  server/api/auth/registration.ts
  server/test/mocks/alchemy.ts
  server/test/utils/createCredential.test.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🔒️ server: allow exactly images in csp
  .changeset/calm-wolves-rest.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: provision alchemy rpc urls across lifi chains
  .changeset/bright-llamas-provision.md
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💚 github: retry substreams tool downloads
  .github/workflows/test.yaml
Owners: @cruzdanilo

🥅 server: fingerprint service errors by name and message
  .changeset/bright-falcon-dance.md
  server/index.ts
  server/instrument.cjs
Owners: @cruzdanilo, @nfmelendez

🚑 server: fix zero-amount transfer detection
  .changeset/bright-falcon-leap.md
  .maestro/src/server.ts
  server/hooks/activity.ts
  server/test/hooks/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: rewrite contract error titles in all events
  .changeset/shy-parrot-glow.md
  server/instrument.cjs
Owners: @cruzdanilo, @nfmelendez

🔖 release: mobile@1.1.22, server@0.2.73
  .changeset/bright-falcon-leap.md
  .changeset/bright-foxes-glow.md
  .changeset/calm-wolves-rest.md
  .changeset/shy-parrot-glow.md
  .changeset/soft-emu-run.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

✨ server: allow account on firewall
  .changeset/every-cameras-trade.md
  server/hooks/persona.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
