Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🔨 contracts: scope build to required artifacts
  .changeset/rare-trams-add.md
  contracts/foundry.toml
  contracts/package.json
  contracts/test/support/Build.sol
Owners: @cruzdanilo, @itofarina

✨ server: add panda business onboarding
  .changeset/bright-otter-onboard.md
  cspell.json
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/kyc.ts
  server/hooks/panda.ts
  server/script/business-onboarding.ts
  server/test/api/kyc.test.ts
  server/test/utils/credentialContext.test.ts
  server/test/utils/panda.test.ts
  server/utils/createCredential.ts
  server/utils/credentialContext.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔧 contracts: slim foundry build profiles
  contracts/foundry.toml
  contracts/package.json
Owners: @itofarina

🔧 dependencies: ignore postcss vulnerability
  pnpm-workspace.yaml
Owners: @cruzdanilo

✅ contracts : make script helper bytecode explicit
  contracts/.gas-snapshot
  contracts/script/ExaAccountFactory.s.sol
  contracts/script/Redeployer.s.sol
Owners: @itofarina

✅ contracts: make script helper bytecode explicit
  contracts/.gas-snapshot
  contracts/script/ExaAccountFactory.s.sol
  contracts/script/Redeployer.s.sol
Owners: @itofarina

🚑 server: disable siwe registration on optimism
  .changeset/strict-shoes-fold.md
  server/test/api/auth.test.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.104
  .changeset/rare-trams-add.md
  .changeset/strict-shoes-fold.md
  .changeset/violet-regions-nail.md
  .changeset/wet-clocks-feel.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔨 substreams: scope protolint to proto directory
  substreams/package.json
Owners: @cruzdanilo

🔨 scripts: replace markdownlint cli interface
  .github/matcher.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔨 wagmi: add allowlist to codegen
  .changeset/clever-memes-do.md
  common/wagmi.config.ts
Owners: @cruzdanilo

✨ app: support swaps on base
  .changeset/sour-items-strive.md
  src/components/shared/FundingAlert.tsx
  src/components/swaps/Swaps.tsx
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: support exa on base
  .changeset/nice-moles-invent.md
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔨 wagmi: add exa token address to codegen
  common/wagmi.config.ts
Owners: @cruzdanilo

🍱 app: add visa card variant for base
  src/assets/images/visa-base.webp
Owners: @dieguezguille, @franm91

💄 app: theme visa benefit card for base
  src/components/benefits/BenefitsSection.tsx
Owners: @dieguezguille, @franm91

🐛 app: fix swap token selection
  .changeset/true-bottles-cough.md
  src/components/swaps/SelectorModal.tsx
  src/components/swaps/Swaps.tsx
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add base card svgs
  src/assets/images/card-bg-base.svg
  src/assets/images/card-signature-base.svg
Owners: @dieguezguille, @franm91

✨ app: add card limit kyc flow
  .changeset/wet-needles-call.md
  src/components/card/Card.tsx
  src/components/card/SpendingLimits.tsx
  src/components/home/Home.tsx
  src/components/shared/InfoAlert.tsx
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/persona.ts
  src/utils/server.ts
  src/utils/useCardLimit.ts
  src/utils/weeklySpend.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ common: add credential salt contract
  .changeset/quick-koalas-thread.md
  common/accountInit.ts
  common/deriveAddress.ts
  common/validation.ts
Owners: @cruzdanilo

🗃️ server: add credential salt
  server/database/schema.ts
Owners: @nfmelendez

✨ app: use credential salt for derivation
  .changeset/fuzzy-cows-breathe.md
  src/utils/accountClient.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: add credential salt responses
  .changeset/neat-eggs-turn.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/card.ts
  server/api/kyc.ts
  server/api/passkey.ts
  server/hooks/activity.ts
  server/test/api/auth.test.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/hooks/activity.test.ts
  server/utils/createCredential.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

➕ dependencies: add apple targets tooling
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🍱 app: add meawallet config assets
  eas.json
  src/assets/mea_config
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add wallet extension infrastructure
  app.config.ts
  package.json
  src/issuerNonUIExtension.ts
  src/modules/wallet-extension-storage/ios/WalletExtensionStorage.m
  src/modules/wallet-extension-storage/ios/WalletExtensionStorage.podspec
  src/targets/ExaWalletAuthExtension/ExaWalletAuthExtension.entitlements
  src/targets/ExaWalletAuthExtension/ExaWalletAuthExtension.swift
  src/targets/ExaWalletAuthExtension/Info.plist
  src/targets/ExaWalletAuthExtension/expo-target.config.js
  src/targets/ExaWalletExtension/ExaWalletExtension.entitlements
  src/targets/ExaWalletExtension/ExaWalletExtension.m
  src/targets/ExaWalletExtension/Info.plist
  src/targets/ExaWalletExtension/expo-target.config.js
  src/targets/ExaWalletExtension/pods.rb
  src/utils/walletExtensionStorage.ts
  tsconfig.json
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ dependencies: add meawallet mpp sdk
  .npmrc
  cspell.json
  package.json
  patches/@meawallet__react-native-mpp.patch
  pnpm-lock.yaml
Owners: @cruzdanilo

✅ server: test provisioning response
  server/test/api/card.test.ts
Owners: @nfmelendez

✨ app: add card wallet provisioning
  .changeset/gentle-cases-fold.md
  .maestro/subflows/activateCard.yaml
  src/components/card/Card.tsx
  src/components/card/CardDetailsSheet.tsx
  src/components/card/useWalletProvisioning.ts
  src/components/home/Home.tsx
  src/components/settings/Settings.tsx
  src/i18n/en.json
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/meaWallet.ts
  src/utils/queryClient.ts
  src/utils/reportError.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add google wallet assets
  src/assets/images/google-wallet-button-es.svg
  src/assets/images/google-wallet-button-pt.svg
  src/assets/images/google-wallet-button.svg
  src/assets/images/google-wallet-icon.svg
Owners: @dieguezguille, @franm91

✨ common: export app stack identifier
  .changeset/spicy-ideas-mix.md
  common/stack.js
Owners: @cruzdanilo

📈 server: use stack for sentry instrumentation
  .changeset/ten-planets-prove.md
  server/instrument.cjs
Owners: @cruzdanilo, @nfmelendez

🧱 server: use node entrypoint as docker argument
  server/Dockerfile
Owners: @nfmelendez

➕ server: add google cloud secret manager
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement google secret manager
  .changeset/bumpy-toes-jump.md
  server/test/utils/secret.test.ts
  server/utils/secret.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: migrate webhook subscription to queue
  .changeset/plain-pumas-relax.md
  server/hooks/activity.ts
  server/hooks/block.ts
  server/index.ts
  server/test/api/auth.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/mocks/alchemy.ts
  server/test/mocks/sentry.ts
  server/test/utils/alchemy.test.ts
  server/test/utils/createCredential.test.ts
  server/test/workers/subscribe.test.ts
  server/tsconfig.json
  server/utils/activityWebhook.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
  server/workers/subscribe/job.ts
  server/workers/subscribe/queue.ts
  server/workers/subscribe/worker.ts
Owners: @cruzdanilo, @nfmelendez

🎉 infra: create pulumi project
  AGENTS.md
  cspell.json
  infra/Pulumi.yaml
  infra/eslint.config.mjs
  infra/package.json
  infra/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

🔨 server: build worker entrypoints
  server/package.json
Owners: @nfmelendez

🧱 infra: setup subscribe queue worker
  .changeset/large-candies-brake.md
  infra/index.ts
Owners: @cruzdanilo

👷 github: restrict build credential exposure
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-base.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-production.yaml
  .github/workflows/server-sandbox.yaml
Owners: @cruzdanilo

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
