Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

♻️ app: replace user operations with eip-5792 calls
  .changeset/eleven-mangos-sing.md
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/Pay.tsx
  src/components/shared/PluginUpgrade.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: fix scroll view styling
  .changeset/forty-hornets-carry.md
  src/components/activity/Activity.tsx
  src/components/activity/ActivityItem.tsx
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/home/Portfolio.tsx
  src/components/loans/Loans.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/shared/LatestActivity.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: omit web only prop on native
  .changeset/dry-pants-wink.md
  src/components/shared/AssetLogo.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix forward ref in animated views
  .changeset/plain-tables-rule.md
  src/components/card/exa-card/ExaCard.tsx
  src/components/shared/AnimatedView.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: avoid native refresh call on web
  .changeset/gold-pugs-roll.md
  src/app/(main)/(home)/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix onesignal web import
  .changeset/free-moose-occur.md
  src/utils/onesignal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♿️ app: improve asset selector accessibility
  .changeset/modern-pens-take.md
  .maestro/subflows/hideDevtools.yaml
  .maestro/subflows/sendAsset.yaml
  .maestro/subflows/storeCoverage.yaml
  src/components/shared/AssetSelector.tsx
  src/components/shared/TabBar.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix asset selector logos
  .changeset/open-baths-sleep.md
  src/components/shared/AssetSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚨 app: fix deprecation warning
  src/components/shared/Blocky.tsx
Owners: @dieguezguille, @franm91

🔧 eslint: allow ref
  common/eslint/base.mjs
Owners: @cruzdanilo

🚨 app: fix eslint ref warnings
  src/components/add-funds/Bridge.tsx
  src/components/auth/Auth.tsx
  src/components/card/CardPIN.tsx
  src/components/send-funds/Qr.tsx
  src/components/swaps/Swaps.tsx
Owners: @dieguezguille, @franm91

🚚 app: rename qr component
  src/app/(main)/send-funds/qr.tsx
  src/components/send-funds/QR.tsx
Owners: @dieguezguille, @franm91

🚸 app: improve browser opening across platforms
  .changeset/metal-states-divide.md
  src/utils/openBrowser.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: remove connection indicator
  .changeset/wild-carrots-fold.md
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: switch chain on transfer
  .changeset/true-items-juggle.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: fix switch height
  .changeset/wacky-melons-decide.md
  src/components/card/Card.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: improve card pin component structure
  .changeset/famous-fans-cheat.md
  src/components/card/CardPIN.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: improve bridge component structure
  .changeset/five-friends-serve.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: update input props
  .changeset/common-plants-dig.md
  src/components/add-funds/AssetSelectSheet.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Receiver.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/send-funds/Receiver.tsx
  src/components/shared/AmountSelector.tsx
  src/components/shared/Input.tsx
  src/components/swaps/SelectorModal.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: simplify asset select sheet
  .changeset/sweet-words-attack.md
  src/components/add-funds/AssetSelectSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: improve repay amount selector
  .changeset/shaky-paws-end.md
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⚗️
  .eas/workflows/local.yaml
  .eas/workflows/production.yaml
  .maestro/flows/local.yaml
  package.json
Owners: @cruzdanilo

🧑‍💻 agents: setup maestro mcp
  .gemini/settings.json
  .mcp.json
Owners: @cruzdanilo

🎨 app: simplify asset select sheet
  src/components/add-funds/AssetSelectSheet.tsx
Owners: @dieguezguille, @franm91

🔥 app: remove connection indicator
  .changeset/wild-carrots-fold.md
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: update input properties
  src/components/add-funds/AssetSelectSheet.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Receiver.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/send-funds/Receiver.tsx
  src/components/shared/AmountSelector.tsx
  src/components/shared/Input.tsx
  src/components/swaps/SelectorModal.tsx
  src/components/swaps/TokenInput.tsx
Owners: @dieguezguille, @franm91

🐛 app: fix asset selector logos
  src/components/shared/AssetSelector.tsx
Owners: @dieguezguille, @franm91

💄 app: fix scroll view styling
  .changeset/forty-hornets-carry.md
  src/components/activity/Activity.tsx
  src/components/activity/ActivityItem.tsx
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/home/Portfolio.tsx
  src/components/loans/Loans.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/shared/LatestActivity.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🩹 app: avoid native refresh call on web
  src/app/(main)/(home)/_layout.tsx
Owners: @dieguezguille, @franm91

🚸 app: improve browser opening across platforms
  .changeset/metal-states-divide.md
  src/utils/openBrowser.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚚 app: rename qr component
  src/app/(main)/send-funds/qr.tsx
  src/components/send-funds/QR.tsx
Owners: @dieguezguille, @franm91

🔧 eslint: allow ref abbreviation
  common/eslint/base.mjs
Owners: @cruzdanilo

🐛 app: switch chain on transfer
  .changeset/true-items-juggle.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚨 app: fix deprecation warning
  src/components/shared/Blocky.tsx
Owners: @dieguezguille, @franm91

🎨 app: improve bridge component structure
  src/components/add-funds/Bridge.tsx
Owners: @dieguezguille, @franm91

♻️ app: replace user operations with eip-5792 calls
  .changeset/eleven-mangos-sing.md
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/Pay.tsx
  src/components/shared/PluginUpgrade.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: improve card pin component structure
  src/components/card/CardPIN.tsx
Owners: @dieguezguille, @franm91

🩹 app: omit web-only prop on native
  src/components/shared/AssetLogo.tsx
Owners: @dieguezguille, @franm91

🚨 app: fix eslint ref warnings
  src/components/add-funds/Bridge.tsx
  src/components/auth/Auth.tsx
  src/components/card/CardPIN.tsx
  src/components/send-funds/Qr.tsx
  src/components/shared/Text.tsx
  src/components/swaps/Swaps.tsx
Owners: @dieguezguille, @franm91

♿️ app: improve asset selector accessibility
  .changeset/modern-pens-take.md
  .maestro/subflows/hideDevtools.yaml
  .maestro/subflows/sendAsset.yaml
  .maestro/subflows/storeCoverage.yaml
  src/components/shared/AssetSelector.tsx
  src/components/shared/TabBar.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
