Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🚧 aave pools
  contracts/src/FlashloanAdapter.sol
  contracts/test/FlashloanAdapter.t.sol
Owners: @itofarina

✨ server: add webhook api
  .changeset/olive-onions-tan.md
  docs/astro.config.ts
  docs/src/content/docs/organization-authentication.md
  pnpm-lock.yaml
  server/api/index.ts
  server/api/kyc.ts
  server/api/webhook.ts
  server/database/index.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/index.ts
  server/middleware/auth.ts
  server/package.json
  server/test/api/kyc.test.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/database.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: auto-enable credit mode
  .changeset/curvy-crabs-buy.md
  server/api/card.ts
  server/hooks/activity.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: common@0.0.7, mobile@1.0.25, server@0.2.24
  .changeset/big-terms-show.md
  .changeset/curvy-crabs-buy.md
  .changeset/dull-melons-tickle.md
  .changeset/olive-socks-fix.md
  CHANGELOG.md
  common/CHANGELOG.md
  common/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🚧 app: implement bridge
  src/app/(main)/_layout.tsx
  src/app/(main)/add-funds/_layout.tsx
  src/app/(main)/add-funds/bridge.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AssetSelectSheet.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/ChainAvatar.tsx
  src/components/add-funds/TokenAvatar.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/injectedConnector.ts
  src/utils/lifi.ts
Owners: @dieguezguille, @franm91

💄 app: improve web app loading styles
  .changeset/major-lemons-check.md
  public/styles/aspect-ratio.css
  public/styles/layout.css
  public/styles/loader.css
  src/app/+html.tsx
  src/app/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧
  contracts/src/FlashloanAdapter.sol
  contracts/test/FlashloanAdapter.t.sol
Owners: @itofarina

🚧
  contracts/src/FlashloanAdapter.sol
  contracts/test/FlashloanAdapter.t.sol
Owners: @itofarina

✨ server: add webhook api
  .changeset/olive-onions-tan.md
  docs/astro.config.ts
  docs/src/content/docs/organization-authentication.md
  pnpm-lock.yaml
  server/api/index.ts
  server/api/kyc.ts
  server/api/webhook.ts
  server/database/index.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/index.ts
  server/middleware/auth.ts
  server/package.json
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/database.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade viem and wagmi
  .changeset/dark-falcons-own.md
  common/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
  src/utils/alchemyConnector.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

👔 app: disable to-amount swap input
  .changeset/rare-lions-retire.md
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚑 app: ignore health warnings for usdc swaps
  .changeset/wise-wolves-push.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: denominate calculator amounts in usdc
  .changeset/gentle-tigers-sneeze.md
  src/components/pay-mode/PaySelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: allow number grouping separators
  .changeset/cool-worms-march.md
  src/components/activity/PendingProposals.tsx
  src/components/home/AssetList.tsx
  src/components/pay-mode/Pay.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/AssetSelector.tsx
  src/components/swaps/SelectorModal.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: handle swap execution errors
  src/components/swaps/Swaps.tsx
Owners: @dieguezguille, @franm91

🧑‍💻 app: allow account impersonation for onchain reads
  .changeset/light-bags-cut.md
  src/components/activity/PendingProposals.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/card/Card.tsx
  src/components/card/exa-card/CardContents.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/home/Portfolio.tsx
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Amount.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/Installments.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/settings/Settings.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/PluginUpgrade.tsx
  src/components/shared/ProfileHeader.tsx
  src/components/shared/ProposalBanner.tsx
  src/components/shared/Success.tsx
  src/components/shared/TabBar.tsx
  src/components/swaps/Swaps.tsx
  src/utils/useAccount.ts
  src/utils/useAccountAssets.ts
  src/utils/useAsset.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 eslint: restrict wagmi account hook usage
  .eslintrc.cjs
Owners: @cruzdanilo

🩹 app: fix require cycle
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🔖 release: server@0.2.25, common@0.0.8, mobile@1.0.26
  .changeset/cool-worms-march.md
  .changeset/dark-falcons-own.md
  .changeset/gentle-tigers-sneeze.md
  .changeset/light-bags-cut.md
  .changeset/rare-lions-retire.md
  .changeset/wise-wolves-push.md
  CHANGELOG.md
  common/CHANGELOG.md
  common/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

✨ app: implement partial repays
  .changeset/chatty-words-sit.md
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement loans activity
  .changeset/rotten-candies-invent.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/activity/details/BorrowActivity.tsx
  src/components/activity/details/BorrowDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: improve web app loading styles
  .changeset/major-lemons-check.md
  public/styles/aspect-ratio.css
  public/styles/layout.css
  public/styles/loader.css
  src/app/+html.tsx
  src/app/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: update borrow activity ui
  .changeset/lazy-rules-write.md
  src/components/activity/details/BorrowActivity.tsx
  src/components/activity/details/BorrowDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: implement bridge
  src/app/(main)/_layout.tsx
  src/app/(main)/add-funds/_layout.tsx
  src/app/(main)/add-funds/bridge.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AssetSelectSheet.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/ChainLogo.tsx
  src/components/add-funds/TokenLogo.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/injectedConnector.ts
  src/utils/lifi.ts
Owners: @dieguezguille, @franm91

🚧 app: prefer layout effect
  src/app/(auth)/_layout.tsx
Owners: @dieguezguille, @franm91

🐛 app: fix qr code scanner address
  .changeset/public-suits-turn.md
  src/components/send-funds/Qr.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: add encrypted kyc submission
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

v3 adapter with unwrapping and debt
  contracts/src/FlashloanAdapter.sol
  contracts/test/FlashloanAdapter.t.sol
Owners: @itofarina

🔨 server: add encrypted kyc to example
  pnpm-lock.yaml
  server/package.json
  server/script/example.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add manteca onramp
  .changeset/loose-seas-agree.md
  .do/app.yaml
  cspell.json
  server/api/index.ts
  server/api/kyc.ts
  server/api/onramp.ts
  server/hooks/manteca.ts
  server/index.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/persona.ts
  server/utils/ramps/manteca.ts
  server/utils/ramps/shared.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: document card api
  .changeset/six-ideas-go.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: improve api documentation
  .changeset/cute-rules-write.md
  docs/src/content/docs/index.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add cancel card
  .changeset/few-moles-push.md
  server/api/card.ts
  server/utils/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: add react pdf renderer
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: enable react tsx
  server/tsconfig.json
Owners: @nfmelendez

✨ server: add card statement
  .changeset/stale-owls-work.md
  server/api/activity.ts
  server/utils/Statement.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🩹 server: return correct card status
  .changeset/gold-ties-tan.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
