Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🚧 helper script
  contracts/script/Ninja.s.sol
  contracts/src/Ninja.sol
  substreams/substreams.yaml.hbs
Owners: @itofarina, @cruzdanilo

🚧 fixed borrows
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 track market enters
  contracts/src/Ninja.sol
  server/database/schema.ts
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @itofarina, @nfmelendez, @cruzdanilo

🚧 borrow shares
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 substreams: store initialized accounts by factory
  server/database/schema.ts
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 collector set
  server/database/schema.ts
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 price tracking
  contracts/test/mocks/MockPriceFeed.sol
  cspell.json
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
Owners: @itofarina, @cruzdanilo

🚧 proposal manager set
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
Owners: @nfmelendez, @cruzdanilo

🚧 track delay set and target allowed events
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 track proposed event
  server/database/schema.ts
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 track missing plugin events
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
Owners: @nfmelendez, @cruzdanilo

🚧 track proposal nonce set
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
Owners: @nfmelendez, @cruzdanilo

🧑‍💻 vscode: recomended gemini cli extension
  .vscode/extensions.json
Owners: @cruzdanilo

🧑‍💻 gemini: improve context integration
  .gemini/settings.json
  .geminiignore
  .gitignore
  AGENTS.md
Owners: @cruzdanilo

➕ server: add jose
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔒 server: verify intercom identity
  .changeset/yellow-forks-rhyme.md
  .do/app.yaml
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/script/openapi.ts
  server/test/api/auth/authentication.test.ts
  server/test/utils/intercom.test.ts
  server/utils/intercom.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🔒️ app: implement intercom user token
  .changeset/curly-shoes-brake.md
  src/utils/server.ts
  src/utils/useIntercom.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ server: improve nonce reset test stability
  server/test/utils/keeper.test.ts
Owners: @nfmelendez

👥 cspell: add miguel
  cspell.json
Owners: @cruzdanilo

🧑‍💻 common: narrow down wagmi generate inputs
  common/package.json
Owners: @cruzdanilo

🧑‍💻 nx: exclude generated from default inputs
  nx.json
  package.json
Owners: @cruzdanilo

🔖 release: common@0.0.10, mobile@1.0.41, server@0.2.43
  .changeset/breezy-knives-begin.md
  .changeset/curly-shoes-brake.md
  .changeset/cute-rules-write.md
  .changeset/easy-things-start.md
  .changeset/eleven-baths-like.md
  .changeset/few-moles-push.md
  .changeset/forty-views-beam.md
  .changeset/free-colts-attend.md
  .changeset/fruity-olives-fail.md
  .changeset/large-humans-shine.md
  .changeset/light-otters-report.md
  .changeset/polite-animals-slide.md
  .changeset/poor-towns-roll.md
  .changeset/seven-coats-travel.md
  .changeset/seven-flowers-greet.md
  .changeset/silent-walls-relax.md
  .changeset/six-ideas-go.md
  .changeset/small-toys-crash.md
  .changeset/twelve-insects-rule.md
  .changeset/weak-bottles-allow.md
  .changeset/yellow-forks-rhyme.md
  .maestro/package.json
  CHANGELOG.md
  common/CHANGELOG.md
  common/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

⬆️ dependencies: upgrade nodejs
  .github/workflows/docs.yaml
  .github/workflows/mobile-beta.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  Dockerfile
  common/package.json
  eas.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 eas: setup beta build and submit profile
  eas.json
Owners: @cruzdanilo

🔧 eas: setup e2e build profile
  eas.json
Owners: @cruzdanilo

➕ app: install expo-image
  .ncurc.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

⚡️ app: implement asset logo caching
  .changeset/flat-books-mix.md
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/WeightedRate.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ e2e: setup production flow
  .maestro/flows/production.yaml
Owners: @cruzdanilo

👷 eas: setup e2e workflows
  .eas/workflows/local.yaml
  .eas/workflows/production.yaml
Owners: @cruzdanilo

🚧 expo
  .ncurc.json
  app.config.ts
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚧 expo cleanup
  .ncurc.json
  .npmrc
  package.json
  pnpm-lock.yaml
  src/components/card/CardBack.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 upgrades
  .ncurc.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚧 builds js
  .gemini/settings.json
  babel.config.cjs
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚧 upgrade tamagui
  .ncurc.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚧 remove many overrides, begin eslint
  docs/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🚧 eslint
  .maestro/eslint.config.mjs
  .maestro/package.json
  .ncurc.json
  common/eslint.config.mjs
  common/eslint/base.mjs
  common/eslint/node.mjs
  common/eslint/react.mjs
  common/package.json
  common/tsconfig.json
  common/validation.ts
  docs/eslint.config.mjs
  docs/package.json
  es.config.cjs
  nx.json
  package.json
  pnpm-lock.yaml
  server/api/activity.ts
  server/api/auth/registration.ts
  server/eslint.config.mjs
  server/hooks/block.ts
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/package.json
  server/test/api/activity.test.ts
  server/test/api/auth/authentication.test.ts
  server/test/e2e.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
  server/test/utils/validatorHook.test.ts
  server/tsconfig.json
  server/utils/alchemy.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

🚧
  eslint.config.mjs
Owners: @cruzdanilo

🚧 app: add initial ref value
  src/components/add-funds/Bridge.tsx
Owners: @dieguezguille, @franm91

🚧 app: fix deprecated reanimated function
  src/components/auth/Auth.tsx
Owners: @dieguezguille, @franm91

🚧 app: fix action button type
  src/components/shared/ActionButton.tsx
Owners: @dieguezguille, @franm91
