Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✨ server: add merchant category code to webhooks
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix webhook retries
  .changeset/long-moons-brake.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add transaction receipt to webhook
  .changeset/quick-ants-write.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix update card webhook schema
  .changeset/dry-peas-ring.md
  docs/src/content/docs/webhooks.md
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix user webhook routing
  .changeset/loud-shoes-visit.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add card webhook routing
  server/hooks/panda.ts
Owners: @nfmelendez

✅ server: verify member cannot access webhooks
  server/test/api/webhook.test.ts
Owners: @nfmelendez

📝 docs: fix webhook markdown from pr review feedback
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🐛 server: fix webhook logging for text response
  .changeset/fifty-friends-bet.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: send webhooks only to public destinations
  server/api/webhook.ts
  server/hooks/panda.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/test/utils/webhook.test.ts
  server/utils/webhook.ts
Owners: @nfmelendez

⬆️ dependencies: upgrade vulnerable vite and defu
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✅ e2e: stabilize activate card flow assertions
  .maestro/subflows/activateCard.yaml
Owners: @cruzdanilo

✨ server: support multiple cards in statement
  .changeset/soft-trains-dig.md
  server/api/activity.ts
  server/test/api/activity.test.ts
  server/test/utils/statement.test.ts
  server/utils/Statement.tsx
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade hono
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: forward exchange rate to webhooks
  .changeset/shy-foxes-trade.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🔊 server: fix multiline webhook log
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @nfmelendez

🩹 server: route paused and rejected bridge users to onboarding
  .changeset/bright-foxes-route.md
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: fix spending limit calculation
  .changeset/odd-clocks-stand.md
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.2.2, server@0.2.86
  .changeset/bright-foxes-route.md
  .changeset/bumpy-foxes-refuse.md
  .changeset/odd-clocks-stand.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

✨ app: add wallet provisioning
  .changeset/chilly-suns-dress.md
  .changeset/gentle-cases-fold.md
  .changeset/rich-months-double.md
  .npmrc
  app.config.ts
  babel.config.js
  common/eslint/base.mjs
  cspell.json
  package.json
  pnpm-lock.yaml
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
  server/utils/persona.ts
  src/assets/mea_config
  src/components/card/CardDetails.tsx
  src/components/card/WalletButtons.tsx
  src/components/card/WalletButtons.web.tsx
  src/components/card/useWalletProvisioning.ts
  src/utils/accountClient.ts
  src/utils/server.ts
  src/utils/wagmi/capabilities.ts
  src/utils/wagmi/exa.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

➕ server: install gcp dependencies
  cspell.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: setup gcp credentials and kms
  .changeset/solid-plums-post.md
  .do/app.yaml
  server/script/openapi.ts
  server/test/utils/gcp.test.ts
  server/utils/gcp.ts
  server/utils/keeper.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✨ server: allow accounts on firewall after kyc
  .changeset/lucky-jokes-change.md
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add sliding-window event evaluation
  .changeset/bright-owls-slide.md
  server/test/utils/windowRule.test.ts
  server/utils/windowRule.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add bridge fee window tracking
  .changeset/swift-foxes-track.md
  server/api/ramp.ts
  server/hooks/bridge.ts
  server/index.ts
  server/test/api/ramp.test.ts
  server/test/hooks/bridge.test.ts
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ server: update sandbox fingerprint
  server/utils/android/fingerprints.ts
Owners: @nfmelendez

✨ server: forward declined transaction webhook
  .changeset/bright-panda-decline.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add card limit case update
  .changeset/clear-cobras-sip.md
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
  server/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: install canonicalize
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: forward declined transaction webhook
  .changeset/bright-panda-decline.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/e2e.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

➕ dependencies: add meawallet mpp sdk
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ app: create icon button component
  .changeset/petite-taxes-do.md
  src/components/shared/IconButton.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: add wallet provisioning endpoint
  .changeset/chilly-suns-dress.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🍱 app: add meawallet config assets
  .changeset/rich-months-double.md
  src/assets/mea_config
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add native wallet provisioning
  .changeset/gentle-cases-fold.md
  app.config.ts
  cspell.json
  src/components/card/CardDetails.tsx
  src/components/card/WalletButtons.tsx
  src/components/card/WalletButtons.web.tsx
  src/components/card/useWalletProvisioning.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add google wallet button
  src/assets/images/google-wallet-button.svg
Owners: @dieguezguille, @franm91

➕ global: add meawallet private registry credentials
  .npmrc
Owners: @cruzdanilo

🩹 eslint: fix plugin re-registration conflict
  common/eslint/base.mjs
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚚 global: change babel config extension
  babel.config.js
Owners: @cruzdanilo
