Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

✨ common: export app stack identifier
  .changeset/spicy-ideas-mix.md
  common/stack.js
Owners: @cruzdanilo

📈 server: use stack for sentry instrumentation
  .changeset/ten-planets-prove.md
  server/instrument.cjs
Owners: @cruzdanilo, @nfmelendez

🧱 server: use node entrypoint as docker argument
  server/Dockerfile
Owners: @nfmelendez

➕ server: add google cloud secret manager
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement google secret manager
  .changeset/bumpy-toes-jump.md
  server/test/utils/secret.test.ts
  server/utils/secret.ts
Owners: @cruzdanilo, @nfmelendez

🚚 server: rename keeper module to wallet
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/wallet.ts
Owners: @nfmelendez

➕ server: add google cloud kms dependencies
  cspell.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: create wallet client by account name
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/api/card.test.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/wallet.ts
Owners: @nfmelendez

✨ server: introduce shared worker primitives
  cspell.json
  server/index.ts
  server/package.json
  server/supervise.ts
  server/test/e2e.ts
  server/test/mocks/sentry.ts
  server/test/supervise.test.ts
  server/test/utils/maturity.test.ts
  server/tsconfig.json
  server/utils/maturity.ts
  server/utils/redis.ts
  server/workers/queue.ts
  server/workers/worker.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: prevent flaky orphan adoption assertion
  server/test/api/card.test.ts
Owners: @nfmelendez

✨ server: add friendly decline reasons
  .changeset/tall-geese-share.md
  server/api/activity.ts
  server/hooks/panda.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/test/api/activity.test.ts
  server/test/hooks/panda.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: add declined reason translations
  .changeset/calm-wolves-translate.md
  src/i18n/es.json
  src/i18n/pt.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix webauthn gas estimation
  .changeset/khaki-ravens-dream.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

👷 github: restrict build credential exposure
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-base.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-production.yaml
  .github/workflows/server-sandbox.yaml
Owners: @cruzdanilo

👷 github: drop manual dispatch triggers
  .github/workflows/substreams-build.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

👷 github: replace release pat with github app token
  .changeset/version.sh
  .github/workflows/version.yaml
Owners: @cruzdanilo

🧱 infra: setup refund queue worker
  .changeset/chubby-papayas-visit.md
  infra/index.ts
Owners: @cruzdanilo

🎉 infra: create pulumi project
  AGENTS.md
  cspell.json
  infra/Pulumi.yaml
  infra/eslint.config.mjs
  infra/package.json
  infra/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

👷 github: provision infra on server deploys
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

🧱 infra: setup meta infra for github automation
  .changeset/tender-geese-own.md
  cspell.json
  infra/Pulumi.meta.yaml
  infra/index.ts
  infra/meta.ts
  infra/package.json
  infra/utils/rejectSecrets.ts
  infra/utils/secrets.ts
Owners: @cruzdanilo

🧱 infra: use crema for auto-scaling workers
  .changeset/purple-points-wink.md
  cspell.json
  infra/index.ts
  infra/meta.ts
  infra/utils/secrets.ts
Owners: @cruzdanilo

🚀 infra: deploy base-sepolia stack
  infra/Pulumi.base-sepolia.yaml
Owners: @cruzdanilo

⚰️ server: remove unused panda detection
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/utils/panda.ts
Owners: @nfmelendez

⬆️ dependencies: upgrade nx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

📈 app: add wallet eligibility tracking
  src/components/card/useWalletProvisioning.ts
Owners: @dieguezguille, @franm91

✨ common: export app stack identifier
  .changeset/spicy-ideas-mix.md
  common/stack.js
Owners: @cruzdanilo

📈 server: use stack for sentry instrumentation
  .changeset/ten-planets-prove.md
  server/instrument.cjs
Owners: @cruzdanilo, @nfmelendez

🧱 server: use node entrypoint as docker argument
  server/Dockerfile
Owners: @nfmelendez

➕ server: add google cloud secret manager
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement google secret manager
  .changeset/bumpy-toes-jump.md
  server/test/utils/secret.test.ts
  server/utils/secret.ts
Owners: @cruzdanilo, @nfmelendez

🚚 server: rename keeper module to wallet
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/wallet.ts
Owners: @nfmelendez

➕ server: add google cloud kms dependencies
  cspell.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: create wallet client by account name
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/api/card.test.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/wallet.ts
Owners: @nfmelendez

✨ server: introduce shared worker primitives
  cspell.json
  server/index.ts
  server/package.json
  server/supervise.ts
  server/test/e2e.ts
  server/test/mocks/sentry.ts
  server/test/supervise.test.ts
  server/test/utils/maturity.test.ts
  server/tsconfig.json
  server/utils/maturity.ts
  server/utils/redis.ts
  server/workers/queue.ts
  server/workers/worker.ts
Owners: @cruzdanilo, @nfmelendez

👷 github: restrict build credential exposure
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-base.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-production.yaml
  .github/workflows/server-sandbox.yaml
Owners: @cruzdanilo

👷 github: drop manual dispatch triggers
  .github/workflows/substreams-build.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

👷 github: replace release pat with github app token
  .changeset/version.sh
  .github/workflows/version.yaml
Owners: @cruzdanilo

🎉 infra: create pulumi project
  AGENTS.md
  cspell.json
  infra/Pulumi.yaml
  infra/eslint.config.mjs
  infra/package.json
  infra/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

🧱 infra: introduce shared worker primitives
  cspell.json
  infra/index.ts
  infra/utils/rejectSecrets.ts
  infra/utils/resources.ts
Owners: @cruzdanilo

🧱 infra: setup meta infra for github automation
  .changeset/tender-geese-own.md
  .changeset/twenty-gifts-relax.md
  infra/Pulumi.meta.yaml
  infra/meta.ts
  infra/package.json
Owners: @cruzdanilo

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
