Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✨ server: allow better auth users to change email
  .changeset/rare-pears-sort.md
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: update siwe authentication example
  .changeset/gentle-brooms-say.md
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: return card id
  .changeset/wicked-lies-invent.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: update kyc status code
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez

🦺 server: improve kyc application response validation
  server/api/kyc.ts
Owners: @nfmelendez

🐛 server: fix patch response validation
  .changeset/tidy-worms-sin.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: improve nonce usage for encrypted kyc
  .changeset/cuddly-streets-like.md
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add transaction receipt to webhook
  .changeset/quick-ants-write.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add configuration resources
  .changeset/cute-buttons-roll.md
  docs/astro.config.ts
  docs/src/content/docs/resources.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

📝 docs: improve create organization example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: add merchant category code to webhooks
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add role to organization database table
  .changeset/sharp-squids-push.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add kyc role to organizations
  .changeset/upset-seas-sink.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

🛂 server: add auth trusted origins
  server/utils/auth.ts
Owners: @nfmelendez

🐛 server: fix webhook retries
  .changeset/long-moons-brake.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix user webhook routing
  .changeset/loud-shoes-visit.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: add create card docs
  .changeset/soft-eggs-count.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

🔧 wagmi: use exa factory v1.0 on base sepolia
  common/wagmi.config.ts
Owners: @cruzdanilo

🦺 server: standardize card status
  .changeset/fresh-kings-buy.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: improve weak pin error handling
  .changeset/wild-points-lose.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: set card art for sandbox
  .changeset/hungry-impalas-sing.md
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix update card webhook schema
  .changeset/dry-peas-ring.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove redundant type check
  .changeset/fast-trees-prove.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🗑️ server: deprecate passkey metadata api
  .changeset/giant-hats-count.md
  server/api/index.ts
  server/api/passkey.ts
Owners: @cruzdanilo, @nfmelendez

⚡️ app: cache credential in query client
  .changeset/wide-brooms-heal.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: handle error when reporting to sentry
  .changeset/pink-moles-camp.md
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⚡️ app: cache credential in query client
  .changeset/wide-brooms-heal.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🗑️ server: deprecate passkey metadata api
  .changeset/giant-hats-count.md
  server/api/index.ts
  server/api/passkey.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add source database table
  server/database/schema.ts
Owners: @nfmelendez

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/e2e.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: allow account on firewall
  .changeset/every-cameras-trade.md
  server/hooks/persona.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add card statement
  .changeset/stale-owls-work.md
  server/api/activity.ts
  server/utils/Statement.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

➕ server: add react pdf renderer
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: enable react tsx
  server/tsconfig.json
Owners: @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🐛 server: consume iterator once
  .changeset/upset-eels-ask.md
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: setup better-auth database tables
  .changeset/cool-snakes-reply.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: install better-auth
  .changeset/pretty-chicken-hang.md
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez
