Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🔨 contracts: read exa address from deployment
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/HypEXA.t.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: hardcode exa bridge role proposal salt
  contracts/.gas-snapshot
  contracts/script/HypEXA.s.sol
  contracts/test/HypEXA.t.sol
Owners: @itofarina

🔨 contracts: setup new deployer address
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/script/Redeployer.s.sol
  contracts/test/HypEXA.t.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

⬆️ dependencies: upgrade bullmq
  .changeset/clean-bears-upgrade.md
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: add debt maturity reminders
  .changeset/dull-candies-cheer.md
  cspell.json
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/test/utils/maturity.test.ts
  server/utils/maturity.ts
  server/utils/onesignal.ts
Owners: @cruzdanilo, @nfmelendez

🔨 contracts: execute exa bridge role proposal
  .changeset/old-papers-accept.md
  contracts/.gas-snapshot
  contracts/script/HypEXA.s.sol
  contracts/test/HypEXA.t.sol
Owners: @cruzdanilo, @itofarina

✨ server: add ios wallet extension provisioning
  .changeset/brave-otters-serve.md
  .do/app.yaml
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/card.ts
  server/script/openapi.ts
  server/test/api/auth.test.ts
  server/test/api/card.test.ts
  server/utils/walletExtension.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✨ app: send client platform header
  .changeset/clever-ravens-send.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

👔 app: extend installments benefit
  .changeset/little-moles-guess.md
  src/utils/promo.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: prompt bridge future requirements on account details
  .changeset/brave-otters-gather.md
  src/components/add-funds/Ramp.tsx
  src/i18n/es.json
  src/i18n/pt.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: server@0.2.100, mobile@1.2.14
  .changeset/beige-sails-worry.md
  .changeset/brave-otters-gather.md
  .changeset/brave-otters-serve.md
  .changeset/clever-ravens-send.md
  .changeset/little-moles-guess.md
  .changeset/old-papers-accept.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🍱 app: add base card svgs
  src/assets/images/card-bg-base.svg
  src/assets/images/card-signature-base.svg
Owners: @dieguezguille, @franm91

🐛 app: fix swap token selection
  .changeset/true-bottles-cough.md
  src/components/swaps/SelectorModal.tsx
  src/components/swaps/Swaps.tsx
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: surface crypto on-ramp sunset in add funds
  .changeset/happy-pans-taste.md
  src/components/add-funds/AddFunds.tsx
  src/i18n/es.json
  src/i18n/pt.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 server: set farcaster manifest signature for base
  server/index.ts
Owners: @nfmelendez

➕ server: install gcp dependencies
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: poke account after kyc
  .changeset/silly-yaks-divide.md
  server/hooks/persona.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: use gcp kms for allower
  .changeset/lucky-jokes-change.md
  .do/app.yaml
  cspell.json
  server/hooks/activity.ts
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/anvil.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/keeper.ts
  server/test/utils/gcp.test.ts
  server/utils/gcp.ts
  server/utils/keeper.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🥅 server: retry trace on resource not found
  .changeset/bright-eagle-catch.md
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: retry poke calls on error
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
Owners: @nfmelendez

📝 docs: add webhook api migration guide
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🚩 server: show declined transactions activity
  .changeset/small-bees-invite.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: source supported assets from markets
  .changeset/swift-otters-jump.md
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/utils/useMarkets.ts
  src/utils/usePortfolio.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: remove qr payments slide from auth carousel
  .changeset/strong-vans-build.md
  src/components/auth/Auth.tsx
  src/i18n/es.json
  src/i18n/pt.json
Owners: @cruzdanilo, @dieguezguille, @franm91

💬 app: update auth carousel copy
  .changeset/little-loops-shop.md
  src/components/auth/Auth.tsx
  src/i18n/es.json
  src/i18n/pt.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swap token selection
  .changeset/true-bottles-cough.md
  src/components/swaps/SelectorModal.tsx
  src/components/swaps/Swaps.tsx
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add base card svgs
  src/assets/images/card-bg-base.svg
  src/assets/images/card-signature-base.svg
Owners: @dieguezguille, @franm91

🍱 app: add visa card variant for base
  src/assets/images/visa-base.webp
Owners: @dieguezguille, @franm91

💄 app: theme visa benefit card for base
  src/components/benefits/BenefitsSection.tsx
Owners: @dieguezguille, @franm91

🔖 release: mobile@1.2.15
  .changeset/happy-pans-taste.md
  .changeset/little-loops-shop.md
  .changeset/strong-vans-build.md
  .changeset/swift-otters-jump.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

✨ server: drop crypto currencies for new customers
  .changeset/lucky-otters-drop.md
  server/test/api/ramp.test.ts
  server/test/hooks/bridge.test.ts
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove crypto ramp and liquidation addresses
  .changeset/brave-melons-burn.md
  server/api/ramp.ts
  server/test/api/ramp.test.ts
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: handle incomplete bridge endorsements
  .changeset/quiet-otters-onboard.md
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

➕ app: install iso-3166 library
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚧
  app.config.ts
  package.json
  pnpm-lock.yaml
  src/components/activity/Activity.tsx
  src/components/activity/StatementSheet.tsx
  src/utils/server.ts
  src/utils/statement.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ dependencies: add meawallet mpp sdk
  .npmrc
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🍱 app: add meawallet config assets
  .changeset/rich-months-double.md
  eas.json
  src/assets/mea_config
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add google wallet assets
  src/assets/images/google-wallet-button-es.svg
  src/assets/images/google-wallet-button-pt.svg
  src/assets/images/google-wallet-button.svg
  src/assets/images/google-wallet-icon.svg
Owners: @dieguezguille, @franm91

➕ dependencies: add apple targets tooling
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🍱 app: add wallet card artwork
  src/assets/images/card-signature.png
Owners: @dieguezguille, @franm91
