Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

📝 docs: improve create organization example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

📝 docs: add configuration resources
  .changeset/cute-buttons-roll.md
  docs/astro.config.ts
  docs/src/content/docs/resources.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

🔧 wagmi: remove hardcoded exa factory for base sepolia
  common/wagmi.config.ts
Owners: @cruzdanilo

🥅 server: add expected to siwe statement error
  server/api/kyc.ts
Owners: @nfmelendez

🔧 common: map base domains to panda certificates
  common/pandaCertificate.ts
Owners: @cruzdanilo

🦺 server: make auth query param optional
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @nfmelendez

🔧 wagmi: use exa factory v1.0 on base sepolia
  common/wagmi.config.ts
Owners: @cruzdanilo

✨ server: support factory selection in credential creation
  .changeset/brave-foxes-beam.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/test/api/auth.test.ts
  server/utils/createCredential.ts
  server/utils/validFactories.ts
Owners: @cruzdanilo, @nfmelendez

👷 github: set base workflow trigger to base branch
  .github/workflows/server-base.yaml
Owners: @cruzdanilo

🔧 app: add base app id meta tag
  src/app/+html.tsx
Owners: @dieguezguille, @franm91

🔧 server: set farcaster manifest signature for base
  server/index.ts
Owners: @nfmelendez

🐛 server: fix onesignal app resolution
  server/utils/onesignal.ts
Owners: @nfmelendez

🐛 app: fix swaps query invalidation
  .changeset/cyan-flies-camp.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⚗️ dependencies: capture rejection cause in farcaster sdk
  src/utils/reportError.ts
Owners: @dieguezguille, @franm91

👔 app: update benefits
  .changeset/big-worms-remain.md
  .maestro/subflows/assertBenefits.yaml
  src/components/benefits/BenefitSheet.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/home/InstallmentsSheet.tsx
  src/components/home/PromoSheet.tsx
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/promo.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ server: install gcp dependencies
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: poke account after kyc
  .changeset/silly-yaks-divide.md
  server/hooks/persona.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: retry poke calls on error
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
Owners: @nfmelendez

✨ server: use gcp kms for allower
  .changeset/lucky-jokes-change.md
  .do/app.yaml
  cspell.json
  server/hooks/activity.ts
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/anvil.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/keeper.ts
  server/test/utils/gcp.test.ts
  server/utils/gcp.ts
  server/utils/keeper.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🥅 server: retry trace on resource not found
  .changeset/bright-eagle-catch.md
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add webhook api migration guide
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🚩 server: show declined transactions activity
  .changeset/small-bees-invite.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

🔒️ server: restrict bridge ramp to enabled users
  .changeset/bridge-enable-flag.md
  server/api/ramp.ts
  server/test/api/ramp.test.ts
  server/test/utils/bridge.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.98, mobile@1.2.12
  .changeset/big-worms-remain.md
  .changeset/brave-otters-flag.md
  .changeset/bridge-enable-flag.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🚧 contracts: update protocol dependency
  contracts/package.json
  contracts/remappings.txt
  package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

✅ contracts: update redeployer test with latest exa
  contracts/.gas-snapshot
  contracts/test/Redeployer.t.sol
Owners: @itofarina

➕ contracts: add hyperlane dependency
  contracts/package.json
  contracts/remappings.txt
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

🔨 contracts: add hyperlane router deployment
  .changeset/beige-sails-worry.md
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/script/Redeployer.s.sol
  contracts/test/HypEXA.t.sol
  cspell.json
Owners: @cruzdanilo, @itofarina

✅ contracts: add polygon hyperlane bridge test
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/test/HypEXA.t.sol
Owners: @itofarina

🔨 contracts: use exactly as exa default admin
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/HypEXA.t.sol
Owners: @itofarina

🔨 contracts: split hyperlane router ownership and upgrader
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/script/Redeployer.s.sol
  contracts/test/HypEXA.t.sol
Owners: @itofarina

🔧 contracts: add propose bridge role to router on redeployer
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/HypEXA.t.sol
Owners: @itofarina

🔥 contracts: drop upgrade exa function from redeployer
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/HypEXA.t.sol
Owners: @itofarina

🔨 contracts: deploy hyperlane router with pausable aggregations
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/script/Redeployer.s.sol
  contracts/test/HypEXA.t.sol
Owners: @itofarina

⬆️ app: upgrade to expo 56
  .changeset/loud-deserts-grin.md
  app.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/utils/completeOnboarding.ts
  tsconfig.json
Owners: @cruzdanilo, @dieguezguille, @franm91

⬆️ app: upgrade tamagui to v2
  .changeset/quick-pandas-cheer.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/card/exa-card/CardContents.tsx
  src/components/home/CardStatus.tsx
  src/components/home/ExternalAssets.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/InstallmentsSheet.tsx
  src/components/home/Portfolio.tsx
  src/components/shared/AddressDialog.tsx
  src/components/shared/AmountSelector.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/ErrorDialog.tsx
  src/components/shared/IconButton.tsx
  src/components/shared/Input.tsx
  src/components/shared/ModalSheet.tsx
  src/components/shared/Switch.tsx
  src/components/shared/Toast.tsx
  tamagui.config.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 app: disable expo dev client on e2e
  app.config.ts
  fingerprint.config.cjs
Owners: @cruzdanilo

🚧 pnpm
  .eas/workflows/local.yaml
  .eas/workflows/production.yaml
  eas.json
  package.json
  pnpm-workspace.yaml
  server/Dockerfile
Owners: @cruzdanilo, @nfmelendez

✨ server: return card id
  .changeset/wicked-lies-invent.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
Owners: @cruzdanilo, @nfmelendez
