Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

⚡️ app: implement asset logo caching
  .changeset/flat-books-mix.md
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/WeightedRate.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ app: install appkit dependencies
  .ncurc
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ app: implement appkit
  .changeset/beige-tables-deny.md
  src/app/_layout.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/Bridge.tsx
  src/utils/appkit.ts
  src/utils/wagmi/external.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⚗️ enable native wallet detection
  app.config.ts
  src/android.js
  tsconfig.json
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ app: install expo-localization
  .ncurc
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔧 app: add expo-localization plugin
  .changeset/sixty-llamas-write.md
  app.config.ts
Owners: @cruzdanilo

✨ app: configure language detector
  .changeset/fruity-dingos-behave.md
  src/app/_layout.tsx
  src/utils/languageDetector.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 cspell: ignore i18n
  cspell.json
Owners: @cruzdanilo

🌐 app: add spanish translation
  .changeset/young-items-happen.md
  src/app/_layout.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 eas: setup beta build and submit profile
  eas.json
Owners: @cruzdanilo

🌐 server: retrieve country code
  .changeset/weak-donuts-jump.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @cruzdanilo, @nfmelendez

🚧 improvements
  server/hooks/manteca.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
Owners: @nfmelendez

🚧
  src/app/(main)/_layout.tsx
  src/app/(main)/add-funds/onramp-onboarding.tsx
  src/app/(main)/add-funds/ramp-details.tsx
  src/app/(main)/add-funds/verification-status.tsx
  src/assets/images/face-id.svg
  src/components/add-funds/AddFiatButton.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/LinkSheet.tsx
  src/components/add-funds/OnRampOnBoarding.tsx
  src/components/add-funds/RampDetails.tsx
  src/components/add-funds/VerificationStatus.tsx
  src/components/home/HomeActions.tsx
  src/utils/persona.ts
  src/utils/server.ts
  src/utils/useOnRampProviders.ts
Owners: @dieguezguille, @franm91

🌐 app: add spanish translation
  .changeset/young-items-happen.md
  src/app/_layout.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: remove explore defi banner from home screen
  src/components/home/Home.tsx
Owners: @dieguezguille, @franm91

🚧 app: disable webauthn on base
  src/components/auth/Auth.tsx
  src/components/shared/ConnectSheet.tsx
  src/utils/useAuth.ts
Owners: @dieguezguille, @franm91

🚧 app: update default opt-in state
  src/components/defi/ConnectionSheet.tsx
Owners: @dieguezguille, @franm91

🚧 app: fix ssr build
  src/utils/appkit.ts
Owners: @dieguezguille, @franm91

🚧 app: improve home loading ux
  src/components/card/Card.tsx
  src/components/home/CardStatus.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/home/HomePortfolioSkeleton.tsx
  src/components/home/HomeSkeleton.tsx
  src/components/home/Portfolio.tsx
  src/components/home/PortfolioSummary.tsx
  src/utils/queryClient.ts
Owners: @dieguezguille, @franm91

✨ server: allow address to firewall
  server/hooks/persona.ts
  wagmi.config.ts
Owners: @nfmelendez, @cruzdanilo

⬆️ dependencies: upgrade exactly protocol
  contracts/.gas-snapshot
  contracts/package.json
  contracts/remappings.txt
  contracts/script/ExaPlugin.s.sol
  contracts/test/ExaAccountFactory.t.sol
  contracts/test/ExaPlugin.t.sol
  contracts/test/ExaPreviewer.t.sol
  contracts/test/mocks/BobExecute.s.sol
  contracts/test/mocks/Protocol.s.sol
  cspell.json
  package.json
  pnpm-lock.yaml
  server/test/anvil.ts
  wagmi.config.ts
Owners: @itofarina, @cruzdanilo, @nfmelendez

✅ server: fix anvil script deployment loading
  server/test/anvil.ts
Owners: @nfmelendez

🔧 contracts: setup forge lint
  contracts/foundry.toml
  contracts/script/Base.s.sol
Owners: @itofarina

⬆️ contracts: upgrade solhint
  contracts/package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

🔧 contracts: disable some new solhint rules
  contracts/.solhint.json
  contracts/test/.solhint.json
Owners: @itofarina

🚨 contracts: annotate expected solhint findings
  contracts/script/ExaAccountFactory.s.sol
  contracts/src/ExaPlugin.sol
  contracts/src/IssuerChecker.sol
  contracts/src/ProposalManager.sol
  contracts/test/mocks/MockSwapper.sol
  contracts/test/mocks/MockVelodromeFactory.sol
Owners: @itofarina

🚀 contracts: deploy all contracts to base-sepolia
  contracts/.gas-snapshot
  contracts/broadcast/ExaPlugin.s.sol/84532/run-latest.json
  contracts/broadcast/ExaPreviewer.s.sol/84532/run-latest.json
  contracts/broadcast/IssuerChecker.s.sol/84532/run-latest.json
  contracts/broadcast/Mocks.s.sol/84532/run-latest.json
  contracts/broadcast/ProposalManager.s.sol/84532/run-latest.json
  contracts/broadcast/Refunder.s.sol/84532/run-latest.json
  contracts/deploy.json
Owners: @itofarina

🤡 contracts: deploy firewall with mock protocol
  contracts/.gas-snapshot
  contracts/remappings.txt
  contracts/test/mocks/Protocol.s.sol
  server/test/anvil.ts
  server/test/mocks/deployments.ts
Owners: @itofarina, @nfmelendez

🔨 contracts: use new flashloan adapter and debt roller
  contracts/.gas-snapshot
  contracts/script/ExaPlugin.s.sol
  contracts/script/ProposalManager.s.sol
Owners: @itofarina

🔨 wagmi: codegen firewall and balancer as optional
  wagmi.config.ts
Owners: @cruzdanilo

👽 app: handle undefined balancer vault
  src/components/pay-mode/Pay.tsx
Owners: @dieguezguille, @franm91

⬆️ docs: upgrade dependencies
  docs/package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

⬆️ dependencies: upgrade webauthn owner plugin
  contracts/package.json
  pnpm-lock.yaml
  server/package.json
Owners: @itofarina, @cruzdanilo, @nfmelendez

🔖 contracts: bump plugin minor version
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
Owners: @itofarina

🔧 contracts: set base admin
  contracts/.gas-snapshot
  contracts/deploy.json
Owners: @itofarina

🔧 contracts: set base issuer
  contracts/deploy.json
Owners: @itofarina

🔧 contracts: set base asset allowlist
  contracts/.gas-snapshot
  contracts/deploy.json
  cspell.json
Owners: @itofarina, @cruzdanilo

🔥 contracts: drop unneeded changeset
  .changeset/vast-houses-shout.md
Owners: @cruzdanilo

🔧 contracts: set base collector
  contracts/.gas-snapshot
  contracts/deploy.json
Owners: @itofarina

🚀 contracts: deploy all contracts to base
  .changeset/gold-dingos-lead.md
  contracts/broadcast/ExaPlugin.s.sol/8453/run-latest.json
  contracts/broadcast/ExaPreviewer.s.sol/8453/run-latest.json
  contracts/broadcast/IssuerChecker.s.sol/8453/run-latest.json
  contracts/broadcast/ProposalManager.s.sol/8453/run-latest.json
  contracts/broadcast/Refunder.s.sol/8453/run-latest.json
Owners: @cruzdanilo, @itofarina
