Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🚧 server: kyc account migration
  server/script/kyc-migration.ts
  server/utils/persona.ts
  server/utils/validatorHook.ts
Owners: @nfmelendez

🔖 release: server@0.2.45, mobile@1.0.43
  .changeset/five-bobcats-turn.md
  .changeset/silent-poets-wonder.md
  .changeset/smart-nails-clap.md
  .changeset/tough-seals-jog.md
  .changeset/wet-games-relate.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🩹 server: close database pool on teardown
  .changeset/pink-plums-sit.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: improve anvil logging
  server/test/anvil.ts
Owners: @nfmelendez

✅ server: move auth test
  server/test/api/auth.test.ts
Owners: @nfmelendez

✅ server: use database transactions in panda test
  server/test/hooks/panda.test.ts
Owners: @nfmelendez

🎨 server: simplify drizzle instance
  server/database/index.ts
Owners: @nfmelendez

🔨 server: generate database schema sql script
  server/package.json
Owners: @nfmelendez

♻️ server: kyc refactor
  .changeset/common-carrots-think.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/test/utils/persona.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/utils/ramps/shared.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: support Pax's assistance
  .changeset/slick-hairs-relax.md
  .changeset/tame-times-warn.md
  .do/app.yaml
  server/api/index.ts
  server/api/pax.ts
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/api/pax.test.ts
  server/test/hooks/persona.test.ts
  server/test/utils/deriveAssociateId.test.ts
  server/test/utils/pax.test.ts
  server/utils/deriveAssociateId.ts
  server/utils/pax.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✨ server: add queue on user creation
  .changeset/short-cars-return.md
  server/queues/alchemyQueue.ts
  server/queues/constants.ts
  server/script/openapi.ts
  server/test/queues/alchemyQueue.test.ts
  server/test/utils/createCredential.test.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🔧
  server/api/pax.ts
  server/test/api/pax.test.ts
Owners: @nfmelendez

✅ server: always use exa send in tests
  server/test/api/card.test.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/panda.test.ts
Owners: @nfmelendez

⬆️ dependencies: upgrade vulnerable qs
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

✅ server: read proposal interval from deploy json
  server/test/hooks/block.test.ts
Owners: @nfmelendez

🤡 server: mock card test keeper
  server/test/api/card.test.ts
Owners: @nfmelendez

✅ server: enforce e2e graceful shutdown
  server/script/e2e.ts
  server/test/e2e.ts
Owners: @nfmelendez

✅ server: batch activity test inserts
  server/test/api/activity.test.ts
Owners: @nfmelendez

✅ server: fix keeper test timeout
  server/test/utils/keeper.test.ts
Owners: @nfmelendez

✅ server: use single postgres instance for test
  .changeset/ready-experts-fly.md
  package.json
  patches/embedded-postgres.patch
  pnpm-lock.yaml
  server/package.json
  server/test/api/activity.test.ts
  server/test/api/auth.test.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/database.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/database.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🐛 app: handle intercom login errors
  .changeset/cold-planes-stop.md
  src/utils/intercom.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚑️ server: run risk assessment in the background
  .changeset/tricky-plums-fail.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.46
  .changeset/pink-plums-sit.md
  .changeset/ready-experts-fly.md
  .changeset/tricky-plums-fail.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 contracts: set coverage and snapshot outputs
  contracts/package.json
Owners: @itofarina

✨ server: support Pax's assistance
  .changeset/slick-hairs-relax.md
  .changeset/tame-times-warn.md
  .do/app.yaml
  server/api/index.ts
  server/api/pax.ts
  server/hooks/persona.ts
  server/script/backfillPax.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/pax.test.ts
  server/test/hooks/persona.test.ts
  server/test/script/backfillPax.test.ts
  server/test/utils/deriveAssociateId.test.ts
  server/test/utils/pax.test.ts
  server/utils/deriveAssociateId.ts
  server/utils/pax.ts
  server/utils/paxAssociateIdSecret.ts
  server/utils/persona.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✨️ server: add activity and push notification on card decline
  .changeset/honest-peas-stand.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: update pax integration
  .do/app.yaml
  server/api/index.ts
  server/hooks/persona.ts
  server/script/backfillPax.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/pax.test.ts
  server/test/hooks/persona.test.ts
  server/test/script/backfillPax.test.ts
  server/test/utils/deriveAssociateId.test.ts
  server/utils/deriveAssociateId.ts
  server/utils/pax.ts
  server/utils/paxAssociateIdSecret.ts
  server/utils/persona.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✨ app: add benefits section
  .changeset/chubby-comics-mix.md
  package.json
  pnpm-lock.yaml
  src/assets/images/airalo.svg
  src/assets/images/pax.svg
  src/assets/images/visa.svg
  src/components/benefits/BenefitCard.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/home/Home.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: support Pax's assistance
  .changeset/slick-hairs-relax.md
  .changeset/tame-times-warn.md
  .do/app.yaml
  server/api/index.ts
  server/api/pax.ts
  server/hooks/persona.ts
  server/script/backfillPax.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/pax.test.ts
  server/test/hooks/persona.test.ts
  server/test/script/backfillPax.test.ts
  server/test/utils/deriveAssociateId.test.ts
  server/test/utils/pax.test.ts
  server/utils/deriveAssociateId.ts
  server/utils/pax.ts
  server/utils/paxAssociateIdSecret.ts
  server/utils/persona.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✨ app: add benefits section
  .changeset/chubby-comics-mix.md
  package.json
  pnpm-lock.yaml
  src/assets/images/airalo.svg
  src/assets/images/pax.svg
  src/assets/images/visa.svg
  src/components/benefits/BenefitCard.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/home/Home.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔨 contracts: add init previewer
  contracts/src/InitPreviewer.sol
Owners: @itofarina

🔨server: ignore non-rain and platinum users
  server/script/backfillPax.ts
  server/test/script/backfillPax.test.ts
Owners: @nfmelendez

✨ server: support pax's assistance
  .changeset/tame-times-warn.md
  .do/app.yaml
  server/api/index.ts
  server/api/kyc.ts
  server/api/pax.ts
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/pax.test.ts
  server/test/hooks/persona.test.ts
  server/test/utils/pax.test.ts
  server/utils/pax.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🔨server: add pax backfill script
  server/script/backfillPax.ts
  server/test/script/backfillPax.test.ts
Owners: @nfmelendez

✨ server: add queue on user creation
  .changeset/short-cars-return.md
  server/queues/alchemyQueue.ts
  server/queues/constants.ts
  server/script/openapi.ts
  server/test/queues/alchemyQueue.test.ts
  server/test/utils/createCredential.test.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: fix keeper test race condition
  server/test/utils/keeper.test.ts
Owners: @nfmelendez

✅ e2e: add new required persona fields
  .maestro/src/server.ts
Owners: @cruzdanilo

🎉 substreams: create substreams project
  .github/workflows/test.yaml
  .vscode/extensions.json
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  substreams/.cargo/config.toml
  substreams/.gitignore
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/buf.gen.yaml
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/rust-toolchain.toml
  substreams/rustfmt.toml
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

👷 github: match rust problems
  .github/matcher.json
  cspell.json
Owners: @cruzdanilo

🤡 contracts: deploy more mock accounts
  contracts/test/mocks/BobExecute.s.sol
  server/test/anvil.ts
Owners: @itofarina, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
