Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

♻️ app: convert browser util into regular function
  src/components/activity/details/OperationDetails.tsx
  src/components/activity/details/TransactionDetails.tsx
  src/components/add-funds/Bridge.tsx
  src/components/card/Card.tsx
  src/components/defi/AboutDefiSheet.tsx
  src/components/defi/DeFi.tsx
  src/components/home/HomeDisclaimer.tsx
  src/components/home/Portfolio.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/shared/Error.tsx
  src/components/shared/TransactionDetails.tsx
  src/components/swaps/Swaps.tsx
  src/utils/intercom.ts
  src/utils/openBrowser.ts
  src/utils/useOpenBrowser.ts
Owners: @dieguezguille, @franm91

🐛 server: consume iterator once
  .changeset/upset-eels-ask.md
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

✨️ server: add activity and push notification on card decline
  .changeset/honest-peas-stand.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix update card webhook schema
  .changeset/dry-peas-ring.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: use injected account factory in tests
  .changeset/loud-apples-double.md
  server/test/api/auth.test.ts
  server/test/api/card.test.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/deployments.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: kyc refactor
  .changeset/common-carrots-think.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/test/mocks/deployments.ts
  server/test/utils/persona.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/utils/ramps/shared.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: extract panda schema
  .changeset/shaggy-bugs-live.md
  server/hooks/persona.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add document account update
  .changeset/fuzzy-wasps-run.md
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
  server/test/utils/persona.test.ts
  server/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: use injected account factory in tests
  server/test/api/auth.test.ts
  server/test/api/card.test.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/deployments.ts
Owners: @nfmelendez

✨ app: add benefits section
  .changeset/chubby-comics-mix.md
  cspell.json
  package.json
  pnpm-lock.yaml
  src/assets/images/airalo.svg
  src/assets/images/pax.svg
  src/assets/images/visa.svg
  src/components/benefits/BenefitCard.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/home/Home.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⬆️ dependencies: upgrade vulnerable mcp sdk
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🎉 substreams: create substreams project
  .github/workflows/test.yaml
  .vscode/extensions.json
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  substreams/.cargo/config.toml
  substreams/.gitignore
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/buf.gen.yaml
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/rust-toolchain.toml
  substreams/rustfmt.toml
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

👷 github: match rust problems
  .github/matcher.json
  cspell.json
Owners: @cruzdanilo

🤡 contracts: deploy more mock accounts
  contracts/test/mocks/BobExecute.s.sol
  server/test/anvil.ts
Owners: @itofarina, @nfmelendez

✨ substreams: map exa accounts
  .changeset/breezy-planes-repeat.md
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

🔧 substreams: setup live networks
  substreams/substreams.yaml
Owners: @cruzdanilo

✨ substreams: store exa accounts
  .changeset/rare-readers-tell.md
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

✨ substreams: map exa plugins
  .changeset/red-toys-pump.md
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

🗃️ server: add substreams database schema
  server/database/schema.ts
  server/drizzle.config.ts
Owners: @nfmelendez

✨ substreams: insert exa plugins into database
  .changeset/violet-poems-heal.md
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

✅ server: integrate substreams into test
  pnpm-lock.yaml
  server/package.json
  server/script/firehose.ts
  server/test/database.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: log e2e errors
  server/test/e2e.ts
Owners: @nfmelendez

🚚 server: move dockerfile to server
  .github/workflows/server-build.yaml
  server/Dockerfile
Owners: @cruzdanilo, @nfmelendez

🧱 substreams: setup docker build
  .dockerignore
  substreams/Dockerfile
Owners: @cruzdanilo

👷 github: build substreams
  .github/workflows/substreams-build.yaml
Owners: @cruzdanilo

🔧 nx: set dependent tasks output files
  common/package.json
  docs/package.json
  server/package.json
  substreams/package.json
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade nodejs
  .github/workflows/docs.yaml
  .github/workflows/mobile-beta.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  common/package.json
  eas.json
  package.json
  pnpm-lock.yaml
  server/Dockerfile
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 app: setup environment variables in fingerprint
  app.config.ts
  fingerprint.config.cjs
Owners: @cruzdanilo

🔧 eas: setup beta build and submit profile
  eas.json
Owners: @cruzdanilo

🔧 eas: setup e2e build profile
  eas.json
Owners: @cruzdanilo

➕ app: install expo-image
  .ncurc.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

⚡️ app: implement asset logo caching
  .changeset/flat-books-mix.md
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/WeightedRate.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔨 e2e: setup root development target
  .maestro/esbuild.config.cjs
  .maestro/package.json
  package.json
Owners: @cruzdanilo

✅ e2e: setup production flow
  .maestro/flows/production.yaml
Owners: @cruzdanilo

👷 eas: setup e2e workflows
  .eas/workflows/local.yaml
  .eas/workflows/production.yaml
Owners: @cruzdanilo

🚧 app: send calls
  src/utils/accountClient.ts
Owners: @dieguezguille, @franm91

🚧 app: prefer send calls
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/Pay.tsx
  src/components/shared/PluginUpgrade.tsx
Owners: @dieguezguille, @franm91

💄 app: fix scroll view styling
  .changeset/forty-hornets-carry.md
  src/components/activity/Activity.tsx
  src/components/activity/ActivityItem.tsx
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/home/Portfolio.tsx
  src/components/loans/Loans.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/shared/LatestActivity.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: omit web only prop on native
  .changeset/dry-pants-wink.md
  src/components/shared/AssetLogo.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix forward ref in animated views
  .changeset/plain-tables-rule.md
  src/components/card/exa-card/ExaCard.tsx
  src/components/shared/AnimatedView.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
