Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🔧 app: update farcaster sharing manifest
  .changeset/dark-spoons-poke.md
  src/app/+html.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 server: improve weak pin error handling
  .changeset/wild-points-lose.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ app: connect owner config on init
  src/app/_layout.tsx
Owners: @dieguezguille, @franm91

🔧 app: update opengraph meta tag
  .changeset/petite-forks-stare.md
  src/app/+html.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix owner config reconnection
  .changeset/angry-mugs-see.md
  src/app/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: server@0.2.41, mobile@1.0.39
  .changeset/angry-mugs-see.md
  .changeset/dark-spoons-poke.md
  .changeset/petite-forks-stare.md
  .changeset/real-insects-stay.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: document card api
  .changeset/six-ideas-go.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: improve api documentation
  .changeset/cute-rules-write.md
  docs/src/content/docs/index.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add cancel card
  .changeset/few-moles-push.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: add react pdf renderer
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: add card statement
  .changeset/stale-owls-work.md
  server/api/activity.ts
  server/utils/Statement.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🔧 server: enable react tsx
  server/tsconfig.json
Owners: @nfmelendez

🩹 server: return correct card status
  .changeset/gold-ties-tan.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: add sandbox dedicated ips
  .changeset/long-nails-doubt.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add webhook api
  .changeset/olive-onions-tan.md
  docs/astro.config.ts
  docs/src/content/docs/organization-authentication.md
  server/api/index.ts
  server/api/kyc.ts
  server/api/webhook.ts
  server/database/index.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/index.ts
  server/middleware/auth.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/database.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: install better-auth
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: allow better auth users to change email
  server/utils/auth.ts
Owners: @nfmelendez

✨ server: add encrypted kyc submission
  cspell.json
  docs/src/content/docs/organization-authentication.md
  pnpm-lock.yaml
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

📝 docs: update siwe authentication example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: return card id
  .changeset/wicked-lies-invent.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: update kyc status code
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez

🔧 common: setup alchemy for base networks
  .changeset/light-otters-report.md
  common/alchemyAPIKey.ts
  common/alchemyGasPolicyId.ts
Owners: @cruzdanilo

🐛 server: fix patch response validation
  .changeset/tidy-worms-sin.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: setup alchemy for base networks
  .changeset/silent-walls-relax.md
  server/hooks/activity.ts
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: create alchemy's block hook automatically
  .changeset/weak-bottles-allow.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: setup sentry for base networks
  server/instrument.cjs
Owners: @nfmelendez

♻️ server: extract alchemy api headers
  server/hooks/block.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @nfmelendez

⚡️ server: skip empty alchemy blocks
  .changeset/easy-things-start.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: extract alchemy webhook finder
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

🐛 server: prevent array overlap errors when no hashes
  .changeset/wise-knives-glow.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: extract alchemy webhook creator
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

✨ server: create alchemy's activity hook automatically
  .changeset/polite-animals-slide.md
  server/hooks/activity.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: improve kyc application response validation
  server/api/kyc.ts
Owners: @nfmelendez

📝 docs: improve create organization example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: improve nonce usage for encrypted kyc
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/database/schema.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add configuration resources
  .changeset/cute-buttons-roll.md
  docs/astro.config.ts
  docs/src/content/docs/resources.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo
