Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🐛 server: fix patch response validation
  .changeset/tidy-worms-sin.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: set card art for sandbox
  .changeset/hungry-impalas-sing.md
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: add create card docs
  .changeset/soft-eggs-count.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: improve weak pin error handling
  .changeset/wild-points-lose.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add sandbox dedicated ips
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

📝 docs: add configuration resources
  .changeset/cute-buttons-roll.md
  docs/astro.config.ts
  docs/src/content/docs/resources.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

📝 docs: improve create organization example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

🔧 common: map base domains to panda certificates
  common/pandaCertificate.ts
Owners: @cruzdanilo

🔧 wagmi: use exa factory v1.0 on base sepolia
  common/wagmi.config.ts
Owners: @cruzdanilo

🥅 server: add expected to siwe statement error
  server/api/kyc.ts
Owners: @nfmelendez

🔧 wagmi: remove hardcoded exa factory for base sepolia
  common/wagmi.config.ts
Owners: @cruzdanilo

✨ server: support factory selection in credential creation
  .changeset/brave-foxes-beam.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/test/api/auth.test.ts
  server/utils/createCredential.ts
  server/utils/validFactories.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: set farcaster manifest signature for base
  server/index.ts
Owners: @nfmelendez

🐛 server: fix onesignal app resolution
  server/utils/onesignal.ts
Owners: @nfmelendez

🦺 server: make auth query param optional
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @nfmelendez

👷 github: set base workflow trigger to base branch
  .github/workflows/server-base.yaml
Owners: @cruzdanilo

⚗️ dependencies: capture rejection cause in farcaster sdk
  src/utils/reportError.ts
Owners: @dieguezguille, @franm91

🐛 app: fix swaps query invalidation
  .changeset/cyan-flies-camp.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 app: add base app id meta tag
  src/app/+html.tsx
Owners: @dieguezguille, @franm91

➕ server: install gcp dependencies
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable tmp
  pnpm-lock.yaml
Owners: @cruzdanilo

🔖 release: server@0.2.96
  .changeset/quiet-pandas-bark.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: poke account after kyc
  .changeset/silly-yaks-divide.md
  server/hooks/persona.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add rejection code to authorization declines
  .changeset/brisk-otter-tag.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

💄 app: align back button in activity details
  .changeset/tame-mirrors-brush.md
  src/components/activity/details/ActivityDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: prefer regular font in portfolio value
  .changeset/calm-games-listen.md
  src/components/home/Portfolio.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: use gcp kms for allower
  .changeset/lucky-jokes-change.md
  .do/app.yaml
  cspell.json
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/anvil.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/keeper.ts
  server/test/utils/gcp.test.ts
  server/utils/gcp.ts
  server/utils/keeper.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🥅 server: retry trace on resource not found
  .changeset/bright-eagle-catch.md
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: retry poke calls on error
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
Owners: @nfmelendez

🌐 app: localize country names in card activity
  .changeset/goofy-candles-move.md
  src/components/activity/ActivityItem.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🩹 app: fix premature copy toast
  .changeset/cuddly-beds-stick.md
  src/components/activity/details/OperationDetails.tsx
  src/components/activity/details/PurchaseDetails.tsx
  src/components/activity/details/TransactionDetails.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/card/CardDetails.tsx
  src/components/send-funds/Contact.tsx
  src/components/settings/Settings.tsx
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: display activity entry for declined card purchases
  .changeset/warm-words-eat.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/activity/details/DeclinedActivity.tsx
  src/components/card/Card.tsx
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/isProcessing.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ dependencies: add meawallet mpp sdk
  .npmrc
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔒️ server: restrict bridge access by country
  .changeset/wary-falcon-guard.md
  server/api/ramp.ts
  server/test/api/ramp.test.ts
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: migrate webhook subscription to queue
  .changeset/plain-pumas-relax.md
  server/hooks/activity.ts
  server/index.ts
  server/test/api/auth.test.ts
  server/test/hooks/activity.test.ts
  server/test/mocks/alchemy.ts
  server/test/mocks/sentry.ts
  server/test/utils/alchemy.test.ts
  server/test/utils/createCredential.test.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add bridge offramp
  .changeset/swift-bridges-cross.md
  server/api/ramp.ts
  server/hooks/bridge.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/test/api/ramp.test.ts
  server/test/hooks/bridge.test.ts
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: inline card status
  server/utils/panda.ts
Owners: @nfmelendez

✨ server: return card id
  .changeset/wicked-lies-invent.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: add create card docs
  .changeset/soft-eggs-count.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez
