Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

⚗️ server: update sandbox fingerprint
  server/utils/android/fingerprints.ts
Owners: @nfmelendez

✨ server: add maturity check and worker
  .changeset/dull-candies-cheer.md
  app.config.ts
  cspell.json
  package.json
  pnpm-lock.yaml
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/i18n.test.ts
  server/test/utils/maturity.test.ts
  server/utils/maturity.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: filter notifications to known tokens only
  .changeset/sharp-sails-guess.md
  cspell.json
  server/hooks/activity.ts
  server/test/hooks/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: add missing stellar memo deposit field
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @nfmelendez

✨ app: add stellar memo
  .changeset/fluffy-cameras-rush.md
  src/components/add-funds/AddCrypto.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⬆️ docs: upgrade astro
  docs/package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🐛 server: fix stellar memo deposit field
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @nfmelendez

➕ server: add i18next
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🌐 server: translate notifications to spanish and portuguese
  .changeset/thin-bananas-arrive.md
  server/api/card.ts
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/bridge.ts
  server/hooks/manteca.ts
  server/hooks/panda.ts
  server/i18n/en.json
  server/i18n/es.json
  server/i18n/index.ts
  server/i18n/pt.json
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/bridge.test.ts
  server/test/hooks/manteca.test.ts
  server/test/hooks/panda.test.ts
  server/test/utils/i18n.test.ts
  server/tsconfig.json
Owners: @cruzdanilo, @nfmelendez

✅ server: update contract call for user funds
  server/test/hooks/panda.test.ts
Owners: @nfmelendez

🥅 server: improve activity api error context
  .changeset/happy-insects-decide.md
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add authorization declined handler
  .changeset/yummy-lands-end.md
  server/api/activity.ts
  server/hooks/panda.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/test/api/activity.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🦖 server: filter out declined items
  server/api/activity.ts
Owners: @nfmelendez

🔨 contracts: support op-bnb
  contracts/.gas-snapshot
  contracts/foundry.toml
  contracts/test/Fork.t.sol
Owners: @itofarina

🔧 contracts: setup initial allowlist for additional networks
  contracts/.gas-snapshot
  contracts/deploy.json
Owners: @itofarina

🔧 contracts: add arbitrum chain config
  contracts/foundry.toml
Owners: @itofarina

🔧 contracts: add bnb smart chain config
  contracts/foundry.toml
Owners: @itofarina

🔨 contracts: add safe propose script
  contracts/script/SafePropose.s.sol
Owners: @itofarina

⬆️ dependencies: upgrade vulnerable xmldom
  pnpm-lock.yaml
Owners: @cruzdanilo

🔧 dependencies: suppress moderate uuid advisory
  package.json
Owners: @cruzdanilo

🔖 release: server@0.2.89
  .changeset/happy-insects-decide.md
  .changeset/new-koi-curl.md
  .changeset/qyul-qxpu-ikas.md
  .changeset/thin-bananas-arrive.md
  .changeset/yummy-lands-end.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: drop sentry rules
  AGENTS.md
Owners: @cruzdanilo

✅ server: scope sentry assertions by proposal nonce
  server/test/hooks/block.test.ts
Owners: @nfmelendez

🧑‍💻 agents: escalate mcp failures to user
  AGENTS.md
Owners: @cruzdanilo

⬆️ dependencies: upgrade vulnerable postcss
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚧 contracts: update protocol dependency
  contracts/package.json
  contracts/remappings.txt
  package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

✅ contracts: update redeployer test with latest exa
  contracts/.gas-snapshot
  contracts/test/Redeployer.t.sol
Owners: @itofarina

✨ server: add maturity check and worker
  .changeset/dull-candies-cheer.md
  cspell.json
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/test/utils/maturity.test.ts
  server/utils/maturity.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: filter notifications to known tokens only
  .changeset/sharp-sails-guess.md
  cspell.json
  server/hooks/activity.ts
  server/test/hooks/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

🤡 server: update sentry mock
  server/test/mocks/sentry.ts
Owners: @nfmelendez

🤡 server: extend alchemy webhook mock
  server/test/mocks/alchemy.ts
Owners: @nfmelendez

✨ server: migrate webhook subscription to queue
  .changeset/plain-pumas-relax.md
  cspell.json
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/index.ts
  server/test/api/auth.test.ts
  server/test/hooks/activity.test.ts
  server/test/mocks/alchemy.ts
  server/test/mocks/redis.ts
  server/test/utils/createCredential.test.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ server: add debug logging for webhook init
  server/hooks/activity.ts
Owners: @nfmelendez

🐛 app: avoid chain mismatch on bridge transfer
  .changeset/sour-items-enjoy.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: forward declined transaction webhook
  .changeset/bright-panda-decline.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

➕ contracts: add hyperlane dependency
  contracts/package.json
  contracts/remappings.txt
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

🔨 contracts: add hyperlane router deployment
  .changeset/beige-sails-worry.md
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/script/Redeployer.s.sol
  contracts/test/HypEXA.t.sol
  cspell.json
Owners: @cruzdanilo, @itofarina

✅ contracts: add polygon hyperlane bridge test
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/test/HypEXA.t.sol
Owners: @itofarina

🔨 contracts: split hyperlane router ownership and upgrader
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/script/Redeployer.s.sol
  contracts/test/HypEXA.t.sol
Owners: @itofarina

🔧 contracts: add propose bridge role to router on redeployer
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/HypEXA.t.sol
Owners: @itofarina
