Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🥅 server: recover from missing sent transaction
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @nfmelendez

🐛 server: fix panda card name
  .changeset/chatty-nails-wonder.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add rollover activity
  .changeset/free-boxes-doubt.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/anvil.ts
  server/test/api/activity.test.ts
  server/test/mocks/deployments.ts
  wagmi.config.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

♻️ server: filter repay caller locally
  server/api/activity.ts
Owners: @nfmelendez

✨ server: add liquidation activity
  .changeset/late-shoes-raise.md
  contracts/src/IExaAccount.sol
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/MockPriceFeed.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

♻️ app: refactor pay screen, simulate proposal execution
  src/components/pay-mode/AssetSelectionSheet.tsx
  src/components/pay-mode/Failure.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/Pending.tsx
  src/components/pay-mode/Success.tsx
  src/components/roll-debt/RollDebt.tsx
Owners: @dieguezguille, @franm91

🚸 app: tweak repay and swap slippage
  .changeset/gentle-singers-refuse.md
  src/components/pay-mode/Pay.tsx
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ server: always return objects, improve status codes
  .changeset/silver-coins-dance.md
  server/api/activity.ts
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/card.ts
  server/api/kyc.ts
  server/api/passkey.ts
  server/hooks/cryptomate.ts
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/index.ts
  server/middleware/auth.ts
  server/test/api/activity.test.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/auth.ts
  server/utils/alchemy.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ app: mitigate ref warnings on web
  src/components/activity/Activity.tsx
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/pay-mode/PayMode.tsx
Owners: @dieguezguille, @franm91

🚧 server: set card pin
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @nfmelendez

🚧 app: card pin
  src/components/card/CardDetails.tsx
  src/utils/panda.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🧑‍💻 app: ignore empty devtools environment variable
  src/app/_layout.tsx
Owners: @dieguezguille, @franm91

🚧 app: implement sign-in with ethereum
  src/components/onboarding/Passkeys.tsx
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🚧 server: signature script
  cspell.json
  server/script/signature.ts
Owners: @cruzdanilo, @nfmelendez

🏷️ common: declare domain type
  .changeset/lazy-tips-like.md
  common/domain.d.ts
Owners: @cruzdanilo

🔧 server: setup api lib build
  .changeset/shaky-items-care.md
  pnpm-lock.yaml
  server/api/auth/registration.ts
  server/package.json
  server/tsconfig.lib.json
  server/utils/decodePublicKey.ts
Owners: @cruzdanilo, @nfmelendez

🎉 sdk: create exa sdk project
  .eslintrc.cjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sdk/package.json
  sdk/src/index.ts
  sdk/tsconfig.json
  sdk/tsconfig.node.json
  sdk/vite.config.ts
Owners: @cruzdanilo

🚧 sdk
  common/package.json
  package.json
  pnpm-lock.yaml
  sdk/package.json
  sdk/vite.config.ts
  src/components/activity/details/CardActivity.tsx
  src/components/activity/details/OperationDetails.tsx
  src/components/activity/details/PaymentDetails.tsx
  src/components/activity/details/PurchaseDetails.tsx
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/activity/details/TransactionDetails.tsx
  src/utils/server.ts
  tsconfig.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧
  .gitignore
  nx.json
  package.json
  pnpm-lock.yaml
  sdk/package.json
  server/api/card.ts
  server/api/kyc.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: handle transaction trace error
  .changeset/bright-jobs-smoke.md
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: fix plugin upgrade display condition
  .changeset/some-nails-unite.md
  src/components/shared/PluginUpgrade.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: open web kyc in current window
  .changeset/honest-clocks-fly.md
  src/utils/persona.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔒️ server: use panda authorization timestamp when available
  .changeset/heavy-walls-burn.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: display native toast on card details
  .changeset/silly-pianos-ask.md
  src/components/card/CardDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.0.10, server@0.1.12
  .changeset/bright-jobs-smoke.md
  .changeset/empty-ends-mix.md
  .changeset/fluffy-windows-sort.md
  .changeset/heavy-lions-work.md
  .changeset/heavy-walls-burn.md
  .changeset/honest-clocks-fly.md
  .changeset/sharp-pears-crash.md
  .changeset/silly-pianos-ask.md
  .changeset/some-nails-unite.md
  .changeset/tame-bikes-sort.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

📸 contracts: update gas snapshot for foundry v1.2
  contracts/.gas-snapshot
Owners: @itofarina

📈 server: ensure ignored error is sent within span
  .changeset/odd-donuts-remain.md
  server/hooks/activity.ts
  server/hooks/block.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

🚧
  substreams/.cargo/config.toml
  substreams/.gitignore
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/abi/entrypoint.json
  substreams/abi/erc20.json
  substreams/buf.gen.yaml
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/rust-toolchain.toml
  substreams/rustfmt.toml
  substreams/src/abi/mod.rs
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

🚧
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/abi/market.json
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/src/abi/mod.rs
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

drop network definition
  substreams/substreams.yaml
Owners: @cruzdanilo

🚧
  cspell.json
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/proto/exa.proto
  substreams/schema.sql
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

🚧 lifi
  substreams/abi/lifi.json
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/schema.sql
  substreams/src/abi/mod.rs
  substreams/src/lib.rs
Owners: @cruzdanilo

🚧 substreams.yaml
  substreams/substreams.yaml
Owners: @cruzdanilo

🚧 db_out module
  substreams/proto/exa.proto
  substreams/src/lib.rs
Owners: @cruzdanilo

⬆️ dependencies: upgrade exactly protocol
  contracts/.gas-snapshot
  contracts/package.json
  package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

🔧 eslint: prefer string templates
  .eslintrc.cjs
Owners: @cruzdanilo

🚨 app: prefer string templates
  src/components/pay-mode/PaySelector.tsx
Owners: @dieguezguille, @franm91

🐛 app: fix rollover maturity
  .changeset/chatty-carrots-beam.md
  src/components/roll-debt/RollDebt.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💬 app: change purchase simulator copy
  .changeset/afraid-rules-retire.md
  src/components/pay-mode/PaySelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧
  substreams/src/lib.rs
Owners: @cruzdanilo
