Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🐛 server: make card creation idempotent
  .changeset/swift-pandas-reconcile.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/utils/panda.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add panda subtenant support
  cspell.json
  server/script/create-panda-subtenant.ts
  server/test/utils/panda.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: improve create organization example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

📝 docs: add configuration resources
  .changeset/cute-buttons-roll.md
  docs/astro.config.ts
  docs/src/content/docs/resources.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🍱 app: add meawallet config assets
  .changeset/rich-months-double.md
  eas.json
  src/assets/mea_config
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add wallet provisioning
  .changeset/gentle-cases-fold.md
  .maestro/subflows/activateCard.yaml
  app.config.ts
  cspell.json
  src/components/card/Card.tsx
  src/components/card/CardDetails.tsx
  src/i18n/en.json
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/reportError.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⚗️ app: wallet provisioning logging
  patches/@meawallet__react-native-mpp.patch
  pnpm-lock.yaml
Owners: @cruzdanilo

💩 app: patch meawallet podspec
  app.config.ts
  package.json
  patches/@meawallet__react-native-mpp.patch
Owners: @cruzdanilo

🩹 eslint: fix plugin re-registration conflict
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔧 wagmi: resolve base sepolia factory
  common/wagmi.config.ts
Owners: @cruzdanilo

🔧 common: map base domains to panda certificates
  common/pandaCertificate.ts
Owners: @cruzdanilo

➕ common: add ox directly
  common/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

✨ common: add base builder code and attribution data
  .changeset/true-wasps-learn.md
  common/attribution.ts
Owners: @cruzdanilo

✨ server: implement transaction attribution
  .changeset/public-dryers-change.md
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: implement transaction attribution
  .changeset/loud-rabbits-melt.md
  src/utils/accountClient.ts
  src/utils/e2e.ts
  src/utils/wagmi/exa.ts
  src/utils/wagmi/owner.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 server: add expected to siwe statement error
  .changeset/proud-spies-argue.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @cruzdanilo, @nfmelendez

🔧 app: add base app id meta tag
  src/app/+html.tsx
Owners: @dieguezguille, @franm91

👷 github: set base workflow trigger to base branch
  .github/workflows/server-base.yaml
Owners: @cruzdanilo

🦺 server: make auth query param optional
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @nfmelendez

✨ server: support factory selection in credential creation
  .changeset/brave-foxes-beam.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/test/api/auth.test.ts
  server/utils/createCredential.ts
  server/utils/validFactories.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix onesignal app resolution
  server/utils/onesignal.ts
Owners: @nfmelendez

🔧 contracts: allowlist wbtc on secondary networks
  contracts/deploy.json
Owners: @itofarina

🐛 server: make card creation idempotent
  .changeset/swift-pandas-reconcile.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/utils/panda.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: make card creation idempotent
  .changeset/swift-pandas-reconcile.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/utils/panda.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔨 contracts: rename hyperlane aggregation factory keys
  contracts/deploy.json
  contracts/script/HypEXA.s.sol
  contracts/test/HypEXA.t.sol
Owners: @itofarina

🔧 contracts: allowlist wbtc on secondary networks
  contracts/.gas-snapshot
  contracts/deploy.json
Owners: @itofarina

🐛 server: fix bridge schema for non-us external accounts
  .changeset/brave-heron-waves.md
  server/test/api/ramp.test.ts
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add future kyc link to bridge provider
  .changeset/swift-otters-prepare.md
  server/api/ramp.ts
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: common@0.0.15, mobile@1.2.13, docs@0.1.5, server@0.2.99
  .changeset/brave-foxes-beam.md
  .changeset/cute-buttons-roll.md
  .changeset/hungry-impalas-sing.md
  .changeset/loud-rabbits-melt.md
  .changeset/proud-spies-argue.md
  .changeset/public-dryers-change.md
  .changeset/soft-eggs-count.md
  .changeset/swift-pandas-reconcile.md
  .changeset/true-wasps-learn.md
  .changeset/wicked-lies-invent.md
  .changeset/wild-points-lose.md
  .maestro/package.json
  CHANGELOG.md
  common/CHANGELOG.md
  common/package.json
  docs/CHANGELOG.md
  docs/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

➕ server: install gcp dependencies
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: poke account after kyc
  .changeset/silly-yaks-divide.md
  server/hooks/persona.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: set farcaster manifest signature for base
  server/index.ts
Owners: @nfmelendez

✨ server: use gcp kms for allower
  .changeset/lucky-jokes-change.md
  .do/app.yaml
  cspell.json
  server/hooks/activity.ts
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/anvil.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/keeper.ts
  server/test/utils/gcp.test.ts
  server/utils/gcp.ts
  server/utils/keeper.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🥅 server: retry trace on resource not found
  .changeset/bright-eagle-catch.md
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: retry poke calls on error
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
Owners: @nfmelendez

📝 docs: add webhook api migration guide
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🚩 server: show declined transactions activity
  .changeset/small-bees-invite.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: add base collab art
  .changeset/swift-melons-collab.md
  common/panda.ts
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add maturity check and worker
  .changeset/dull-candies-cheer.md
  cspell.json
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/test/utils/maturity.test.ts
  server/utils/maturity.ts
Owners: @cruzdanilo, @nfmelendez
