Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🐛 server: consume iterator once
  .changeset/upset-eels-ask.md
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: test card statement rendering
  server/test/utils/statement.test.ts
Owners: @nfmelendez

⬆️ dependencies: upgrade vulnerable markdown-it
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🥅 app: fingerprint passkey errors by message, drop expected ones
  .changeset/nrts-fppm-tpur.md
  src/app/_layout.tsx
  src/utils/accountClient.ts
  src/utils/reportError.ts
  src/utils/server.ts
  src/utils/useAuth.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ app: install pix qr code library
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚧 app: pix qr code
  src/components/add-funds/Ramp.tsx
Owners: @dieguezguille, @franm91

🔖 release: mobile@1.1.14, server@0.2.64
  .changeset/brave-falcon-catch.md
  .changeset/bright-foxes-race.md
  .changeset/nrts-fppm-tpur.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🌐 app: adjust translations
  .changeset/many-balloons-bake.md
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: refine benefits carousel
  .changeset/lazy-planes-dance.md
  src/components/benefits/BenefitCard.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: update tab bar ui
  .changeset/cold-poems-end.md
  src/app/(main)/(home)/_layout.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: adjust tamagui tokens
  .changeset/clear-trains-move.md
  tamagui.config.ts
Owners: @cruzdanilo

💄 app: add vertical frame to styled button
  .changeset/salty-fans-mate.md
  src/components/shared/StyledButton.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: unify add funds gap value
  .changeset/spicy-dragons-raise.md
  src/components/add-funds/AddFunds.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: replace fonts
  .changeset/little-hoops-train.md
  app.config.ts
  cspell.json
  src/app/_layout.tsx
  src/assets/fonts/BDOGrotesk-DemiBold.otf
  src/assets/fonts/BDOGrotesk-Regular.otf
  src/assets/fonts/IBMPlexMono-Medm.otf
  src/assets/fonts/SplineSans-Regular.otf
  src/assets/fonts/SplineSans-SemiBold.otf
  src/components/add-funds/AddCrypto.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/card/CardDetails.tsx
  src/components/card/CardPIN.tsx
  src/components/home/Portfolio.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Contact.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/ProfileHeader.tsx
  src/components/shared/Text.tsx
  src/components/shared/TransactionDetails.tsx
  src/components/swaps/TokenInput.tsx
  tamagui.config.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restyle action buttons
  .changeset/easy-snails-brake.md
  src/components/home/HomeActions.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add installments calculator
  .changeset/purple-lizards-run.md
  src/app/(main)/calculator.tsx
  src/components/home/InstallmentsSheet.tsx
  src/components/pay-mode/InstallmentsCalculator.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add home card images
  src/assets/images/card-bg.svg
  src/assets/images/exa.svg
Owners: @dieguezguille, @franm91

💫 app: unify animation parameters
  .changeset/soft-beans-grow.md
  src/components/auth/Auth.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/card/Card.tsx
  src/components/card/exa-card/CardContents.tsx
  src/components/home/CardStatus.tsx
  src/components/home/GettingStarted.tsx
  src/components/shared/ModalSheet.tsx
  tamagui.config.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement new pay screen
  .changeset/green-weeks-care.md
  .maestro/subflows/activateCard.yaml
  src/app/(main)/(home)/_layout.tsx
  src/app/(main)/(home)/pay-mode.tsx
  src/app/(main)/(home)/pay.tsx
  src/app/(main)/calculator.tsx
  src/app/(main)/pay/index.tsx
  src/app/(main)/repay/_layout.tsx
  src/app/(main)/repay/index.tsx
  src/components/home/Home.tsx
  src/components/loans/Loans.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/PaymentsActions.tsx
  src/components/pay/AssetSelectionSheet.tsx
  src/components/pay/Empty.tsx
  src/components/pay/InstallmentsCalculator.tsx
  src/components/pay/ManualRepaymentSheet.tsx
  src/components/pay/OverduePayments.tsx
  src/components/pay/Pay.tsx
  src/components/pay/PaymentSheet.tsx
  src/components/pay/Repay.tsx
  src/components/pay/RepayAmountSelector.tsx
  src/components/pay/UpcomingPayments.tsx
  src/components/shared/InfoSheet.tsx
  src/i18n/en.json
  src/i18n/es.json
  src/utils/useTabPress.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: apply tamagui spacing tokens
  .changeset/khaki-queens-smash.md
  src/components/activity/Activity.tsx
  src/components/activity/PendingProposals.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/Onboard.tsx
  src/components/add-funds/Ramp.tsx
  src/components/add-funds/Status.tsx
  src/components/card/Card.tsx
  src/components/card/SpendingLimit.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardStatus.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/Portfolio.tsx
  src/components/loans/Amount.tsx
  src/components/loans/Asset.tsx
  src/components/loans/Installments.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/pay-mode/PaymentsActions.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Receiver.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/LiquidationAlert.tsx
  src/components/shared/ProfileHeader.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restyle overdue and upcoming payments
  .changeset/shiny-badgers-sleep.md
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restyle card status component
  .changeset/curly-waves-yell.md
  .maestro/flows/local.yaml
  .maestro/subflows/activateCard.yaml
  .maestro/subflows/readHome.yaml
  .maestro/subflows/repay.yaml
  .maestro/subflows/rollover.yaml
  .maestro/subflows/verifyIdentity.yaml
  src/components/home/CardLimits.tsx
  src/components/home/CardStatus.tsx
  src/components/home/CreditLimitSheet.tsx
  src/components/home/Home.tsx
  src/components/home/InstallmentsSheet.tsx
  src/components/home/InstallmentsSpotlight.tsx
  src/components/home/PayModeSheet.tsx
  src/components/home/SpendingLimitSheet.tsx
  src/components/home/SpendingLimitsSheet.tsx
  src/i18n/es.json
  src/utils/queryClient.ts
  src/utils/useInstallmentRates.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: unify card mode mutation
  .changeset/jolly-radios-poke.md
  src/components/home/Home.tsx
  src/components/pay-mode/PaySelector.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix protocol asset logos
  .changeset/quick-mangos-rescue.md
  src/components/shared/AssetSelector.tsx
  src/utils/usePortfolio.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restyle portfolio summary
  .changeset/spicy-doodles-give.md
  .maestro/subflows/copyAria.yaml
  .maestro/subflows/dismissNotifications.yaml
  .maestro/subflows/readPortfolio.yaml
  src/components/add-funds/AddFundsOption.tsx
  src/components/home/Home.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/shared/Amount.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🔒️ server: prevent challenge replay on failed auth
  .changeset/calm-wolves-hunt.md
  server/api/auth/authentication.ts
  server/test/api/auth.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: support factory selection in credential creation
  .changeset/brave-foxes-beam.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/test/api/auth.test.ts
  server/test/api/registration.test.ts
  server/utils/createCredential.ts
  server/utils/validFactories.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: poke account after kyc
  .changeset/silly-yaks-divide.md
  server/hooks/activity.ts
  server/hooks/persona.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: install gcp dependencies
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: use gcp kms for allower
  .changeset/lucky-jokes-change.md
  .do/app.yaml
  cspell.json
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
  server/test/utils/allower.test.ts
  server/test/utils/gcp.test.ts
  server/utils/allower.ts
  server/utils/baseExtender.ts
  server/utils/gcp.ts
  server/utils/keeper.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: enforce signed commits in commit skill
  .agents/skills/commit/SKILL.md
  cspell.json
Owners: @cruzdanilo

🔒️ server: prevent challenge replay on failed auth
  .changeset/calm-wolves-hunt.md
  cspell.json
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/test/api/auth.test.ts
  server/test/api/registration.test.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: harden siwe no-credential error handling
  .changeset/clear-guests-end.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/test/api/auth.test.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: handle terminal withdraw reverts
  .changeset/steady-otter-handle.md
  server/hooks/block.ts
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: improve commit skill staging with coherence analysis
  .agents/skills/commit/SKILL.md
Owners: @cruzdanilo

🔨 server: harden test setup with proper cleanup and log output
  .changeset/smooth-boxes-sip.md
  .eas/workflows/local.yaml
  .github/workflows/test.yaml
  server/test/database.ts
  server/test/spotlight.ts
Owners: @cruzdanilo, @nfmelendez

💚 github: prevent silent maestro install failures
  .github/workflows/test.yaml
Owners: @cruzdanilo

✅ server: prevent cross test receipt race failures
  server/test/hooks/activity.test.ts
Owners: @nfmelendez

✅ server: scope proposal wait to expected nonces
  server/test/hooks/block.test.ts
Owners: @nfmelendez

🧑‍💻 agents: require explicit event ids in sentry queries
  AGENTS.md
Owners: @cruzdanilo
