Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

⬆️ dependencies: upgrade hono and other vulnerables
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

✅ server: handle firehose startup dependency on merged blocks
  server/test/database.ts
Owners: @nfmelendez

✅ server: silence expected api errors
  .changeset/purple-ways-attack.md
  server/test/api/card.test.ts
  server/test/api/ramp.test.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable devalue
  pnpm-lock.yaml
Owners: @cruzdanilo

🐛 app: pass chain id to bridge calls
  .changeset/great-dryers-kick.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restructure swap state screen layouts
  .changeset/bright-foxes-swim.md
  src/components/swaps/Failure.tsx
  src/components/swaps/Pending.tsx
  src/components/swaps/Success.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix bridge simulation falling back to default account
  .changeset/gold-cow-eat.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swaps query invalidation
  .changeset/cyan-flies-camp.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: forward chain id in account client
  .changeset/cool-icons-grow.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: migrate remaining flows to send calls
  .changeset/loose-papers-take.md
  src/components/pay-mode/Pay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: add bottom padding to swaps screen on web
  .changeset/open-beds-stand.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: fix repay amount selector font style
  .changeset/jolly-teeth-flow.md
  src/components/pay-mode/RepayAmountSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix owner wallet detection in siwe auth
  .changeset/curly-pumas-jam.md
  src/utils/useAuth.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: pass explicit chain id to read hooks
  .changeset/wide-cats-hug.md
  src/components/card/Card.tsx
  src/components/card/exa-card/CardContents.tsx
  src/components/defi/DeFi.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/home/Portfolio.tsx
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Amount.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Loans.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PluginUpgrade.tsx
  src/components/shared/Success.tsx
  src/components/swaps/Swaps.tsx
  src/utils/useAsset.ts
  src/utils/usePendingOperations.ts
  src/utils/usePortfolio.ts
  src/utils/useSimulateProposal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix pay simulation pending state
  .changeset/funny-aliens-mix.md
  src/components/pay-mode/Pay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: pass explicit chain id to send calls hooks
  .changeset/humble-cities-drop.md
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/Pay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/PluginUpgrade.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚨 app: resolve eslint warnings in config files
  fingerprint.config.cjs
  tamagui.config.ts
Owners: @cruzdanilo

🔧 nx: lint root config files
  package.json
Owners: @cruzdanilo

🔖 release: server@0.2.81
  .changeset/legal-eggs-hunt.md
  .changeset/purple-ways-attack.md
  .changeset/red-cases-know.md
  .changeset/thin-pumas-brush.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🗃️ server: setup better auth database tables
  server/database/schema.ts
Owners: @nfmelendez

➕ server: install better auth
  .changeset/pretty-chicken-hang.md
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🛂 server: setup better auth
  .changeset/rare-pears-sort.md
  docs/astro.config.ts
  docs/src/content/docs/organization-authentication.md
  server/api/index.ts
  server/database/index.ts
  server/index.ts
  server/middleware/auth.ts
  server/script/openapi.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable flatted
  pnpm-lock.yaml
Owners: @cruzdanilo

🔧 cspell: match spanish i18n files in any directory
  cspell.json
Owners: @cruzdanilo

➕ server: add redis-memory-server
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🧱 server: skip redis install on docker
  server/Dockerfile
Owners: @nfmelendez

✅ server: add redis memory server
  server/test/redis.ts
  server/vitest.config.mts
Owners: @nfmelendez

✅ server: replace redis mock with in-memory redis in tests
  .changeset/wise-sites-add.md
  server/test/api/auth.test.ts
  server/test/e2e.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/redis.ts
Owners: @cruzdanilo, @nfmelendez

➖ server: remove ioredis-mock dependency
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: split redis connections for bullmq compatibility
  server/utils/redis.ts
Owners: @nfmelendez

🩹 server: close redis connections on shutdown
  .changeset/red-rat-pet.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable undici and yauzl
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

💄 app: add vertical frame to styled button
  .changeset/salty-fans-mate.md
  src/components/shared/StyledButton.tsx
  tamagui.config.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: replace fonts
  .changeset/little-hoops-train.md
  app.config.ts
  cspell.json
  src/app/_layout.tsx
  src/assets/fonts/BDOGrotesk-DemiBold.otf
  src/assets/fonts/BDOGrotesk-Regular.otf
  src/assets/fonts/IBMPlexMono-Medm.otf
  src/assets/fonts/SplineSans-Regular.otf
  src/assets/fonts/SplineSans-SemiBold.otf
  src/components/add-funds/AddCrypto.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/card/CardDetails.tsx
  src/components/card/CardPIN.tsx
  src/components/home/Portfolio.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Contact.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Input.tsx
  src/components/shared/ProfileHeader.tsx
  src/components/shared/Text.tsx
  src/components/shared/TransactionDetails.tsx
  src/components/swaps/TokenInput.tsx
  tamagui.config.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: adjust tamagui tokens
  .changeset/clear-trains-move.md
  tamagui.config.ts
Owners: @cruzdanilo

💄 app: apply tamagui spacing tokens
  .changeset/khaki-queens-smash.md
  src/components/activity/Activity.tsx
  src/components/activity/PendingProposals.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/Onboard.tsx
  src/components/add-funds/Ramp.tsx
  src/components/add-funds/Status.tsx
  src/components/card/Card.tsx
  src/components/card/SpendingLimit.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/AssetList.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/Portfolio.tsx
  src/components/loans/Amount.tsx
  src/components/loans/Asset.tsx
  src/components/loans/Installments.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/pay-mode/PaymentsActions.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Receiver.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/LiquidationAlert.tsx
  src/components/shared/ProfileHeader.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💫 app: unify animation parameters
  .changeset/soft-beans-grow.md
  src/components/auth/Auth.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/card/Card.tsx
  src/components/card/exa-card/CardContents.tsx
  src/components/home/CardStatus.tsx
  src/components/home/GettingStarted.tsx
  src/components/shared/ModalSheet.tsx
  tamagui.config.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: refine benefits carousel
  .changeset/lazy-planes-dance.md
  .maestro/flows/local.yaml
  .maestro/subflows/readBenefits.yaml
  src/components/benefits/BenefitCard.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/home/Home.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restyle portfolio summary
  .changeset/spicy-doodles-give.md
  .maestro/subflows/borrow.yaml
  .maestro/subflows/copyAria.yaml
  .maestro/subflows/dismissNotifications.yaml
  .maestro/subflows/readPortfolio.yaml
  src/components/add-funds/AddFundsOption.tsx
  src/components/home/Home.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/shared/Amount.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restyle action buttons
  .changeset/easy-snails-brake.md
  src/components/home/HomeActions.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91
