Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🥅 server: improve weak pin error handling
  .changeset/wild-points-lose.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove redundant type check
  server/hooks/panda.ts
Owners: @nfmelendez

🐛 server: fix panda sandbox url check
  server/utils/panda.ts
Owners: @nfmelendez

⚗️ app: statement signature
  src/utils/server.ts
Owners: @dieguezguille, @franm91

feat: Add source and card type to segment tracking events and introduce related utility functions.
  server/api/card.ts
  server/hooks/panda.ts
  server/test/utils/getCardType.test.ts
  server/utils/getCardType.ts
  server/utils/getSourceName.ts
  server/utils/segment.ts
Owners: @nfmelendez

🗃️ add organization relationship to credentials and vice-versa
  server/database/schema.ts
Owners: @nfmelendez

🚧 remove many overrides, begin eslint
  docs/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🚧 eslint
  .maestro/eslint.config.mjs
  .maestro/package.json
  .ncurc.json
  common/eslint.config.mjs
  common/eslint/base.mjs
  common/eslint/node.mjs
  common/eslint/react.mjs
  common/package.json
  common/tsconfig.json
  common/validation.ts
  docs/eslint.config.mjs
  docs/package.json
  es.config.cjs
  nx.json
  package.json
  pnpm-lock.yaml
  server/api/activity.ts
  server/api/auth/registration.ts
  server/eslint.config.mjs
  server/hooks/block.ts
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/package.json
  server/test/api/activity.test.ts
  server/test/api/auth/authentication.test.ts
  server/test/e2e.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
  server/test/utils/validatorHook.test.ts
  server/tsconfig.json
  server/utils/alchemy.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

🚧 eslint
  .maestro/eslint.config.mjs
  .maestro/package.json
  common/eslint.config.mjs
  common/eslint/base.mjs
  common/eslint/react.mjs
  common/onesignalAppId.ts
  common/package.json
  common/pandaCertificate.ts
  contracts/package.json
  docs/eslint.config.mjs
  docs/package.json
  eslint.config.mjs
  nx.json
  package.json
  pnpm-lock.yaml
  server/eslint.config.mjs
  server/index.ts
  server/package.json
  server/test/expect.ts
  server/test/mocks/database.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🚧 app: open browser
  src/components/activity/details/OperationDetails.tsx
  src/components/activity/details/TransactionDetails.tsx
  src/components/add-funds/Bridge.tsx
  src/components/card/Card.tsx
  src/components/defi/AboutDefiSheet.tsx
  src/components/defi/DeFi.tsx
  src/components/home/HomeDisclaimer.tsx
  src/components/home/Portfolio.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/shared/Error.tsx
  src/components/shared/TransactionDetails.tsx
  src/components/swaps/Swaps.tsx
  src/utils/openBrowser.ts
  src/utils/useOpenBrowser.ts
Owners: @dieguezguille, @franm91

🚧 app: eslint autofix
  app.config.ts
  src/components/activity/ActivityItem.tsx
  src/components/home/card-upgrade/ActivateCard.tsx
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/shared/StyledButton.tsx
  src/components/shared/Text.tsx
  src/components/shared/TransactionDetails.tsx
  src/utils/onesignal.ts
  src/utils/panda.ts
  src/utils/polyfill.ts
  src/utils/useAccount.ts
  src/utils/useIntercom.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 eslint: custom string plugin
  common/eslint/base.mjs
Owners: @cruzdanilo

🚧 eslint string autofix
  src/components/activity/PendingProposals.tsx
  src/components/auth/Auth.tsx
  src/components/card/exa-card/CardContents.tsx
  src/components/home/AssetList.tsx
  src/components/home/Home.tsx
  src/components/loans/Loans.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/shared/AmountSelector.tsx
  src/components/shared/Spinner.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/e2e.ts
  src/utils/lifi.ts
Owners: @dieguezguille, @franm91

🚧 app: eslint manual fixes
  src/components/activity/details/CardActivity.tsx
  src/components/activity/details/OperationDetails.tsx
  src/components/activity/details/PaymentDetails.tsx
  src/components/activity/details/PurchaseDetails.tsx
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/add-funds/Bridge.tsx
  src/components/home/AssetList.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/utils/lifi.ts
  src/utils/useAccountAssets.ts
Owners: @dieguezguille, @franm91

🚧 eslint: security
  common/eslint/node.mjs
  common/package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

⬆️ server: upgrade sentry
  .changeset/strong-bananas-cry.md
  pnpm-lock.yaml
  server/package.json
  server/test/mocks/sentry.ts
Owners: @cruzdanilo, @nfmelendez

👷 nx: setup prepare script dependencies
  common/package.json
  common/wagmi.config.ts
  contracts/package.json
  nx.json
  package.json
  server/package.json
Owners: @cruzdanilo, @itofarina, @nfmelendez

🔨 e2e: allow custom owner mnemonic
  .maestro/flows/local.yaml
  .maestro/src/script/getAccount.ts
  .maestro/subflows/sendAsset.yaml
  .maestro/subflows/signIn.yaml
  .maestro/subflows/verifyIdentity.yaml
  server/test/anvil.ts
  src/utils/e2e.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

📝 server: document card api
  .changeset/six-ideas-go.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: improve api documentation
  .changeset/cute-rules-write.md
  docs/src/content/docs/index.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/script/openapi.ts
Owners: @cruzdanilo, @nfmelendez

📝 add cancel card documentation
  .changeset/few-moles-push.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 gemini: setup rules and mcp
  .gemini/AGENTS.md
  .gemini/settings.json
Owners: @cruzdanilo

🧑‍💻 nx: setup nx cloud
  nx.json
Owners: @cruzdanilo

👷 github: setup nx cloud
  .github/workflows/docs.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

✅ server: fix flaky timeout test
  server/test/hooks/activity.test.ts
Owners: @nfmelendez

👷 github: split server build and deploy
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-sandbox.yaml
Owners: @cruzdanilo

👷 github: deploy sandbox server to base
  .github/workflows/server-base.yaml
Owners: @cruzdanilo

⚰️ server: drop legacy persona variable
  .do/app.yaml
  server/script/openapi.ts
  server/utils/persona.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🧱 digitalocean: render app template
  .do/app.yaml
  .do/render.js
Owners: @cruzdanilo

👷 github: improve eslint matcher ansi code handling
  .github/matcher.json
Owners: @cruzdanilo

🔨 nx: set test target dependencies
  package.json
Owners: @cruzdanilo

⬆️ dependencies: upgrade drizzle kit
  .changeset/breezy-knives-begin.md
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: add panda base collector
  server/utils/panda.ts
Owners: @nfmelendez

🛂 app: disable webauthn on base
  src/components/auth/Auth.tsx
  src/components/shared/ConnectSheet.tsx
  src/utils/useAuth.ts
Owners: @dieguezguille, @franm91

🔨 e2e: setup target for development in production
  .maestro/package.json
Owners: @cruzdanilo

🧱 docker: disable nx daemon
  Dockerfile
Owners: @cruzdanilo

👷 github: remove unnecessary nx arguments
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

🧑‍💻 vscode: recomended gemini cli extension
  .vscode/extensions.json
Owners: @cruzdanilo

🧑‍💻 gemini: improve context integration
  .gemini/settings.json
  .geminiignore
  .gitignore
  AGENTS.md
Owners: @cruzdanilo

➕ server: add jose
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
