Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🔥 app: drop unused tab bar component
  .changeset/eighty-sloths-shout.md
  src/components/shared/TabBar.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: use expo router ui tabs
  .changeset/shaggy-cars-like.md
  src/app/(main)/(home)/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: dismiss flows when finished
  .changeset/fresh-tires-itch.md
  src/components/add-funds/Bridge.tsx
  src/components/loans/Review.tsx
  src/components/send-funds/Amount.tsx
  src/components/swaps/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

➖ app: uninstall @react-navigation/bottom-tabs
  .ncurc.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔥 app: drop unused tab bar component
  src/components/shared/TabBar.tsx
Owners: @dieguezguille, @franm91

👷 eas: improve job dependency graph
  .eas/workflows/local.yaml
Owners: @cruzdanilo

✅ app: fix onesignal on e2e
  .changeset/silent-eyes-beg.md
  src/utils/onesignal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🤡 server: mock missing persona call
  .changeset/wise-cities-jam.md
  server/test/hooks/persona.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: fix tab screen scrolling on web
  .changeset/new-pots-shave.md
  src/app/(main)/(home)/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix missing asset logos on bridge
  .changeset/tiny-facts-taste.md
  src/components/add-funds/AssetSelectSheet.tsx
  src/components/add-funds/Bridge.tsx
  src/components/shared/AssetLogo.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: improve chain logo display
  .changeset/olive-eggs-share.md
  src/components/add-funds/AddFunds.tsx
  src/components/shared/ChainLogo.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: fix missing tamagui input styles
  .changeset/chilly-islands-leave.md
  src/components/loans/AmountSelector.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/send-funds/Receiver.tsx
  src/components/shared/AmountSelector.tsx
  src/components/shared/Input.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⚡️ app: optimize asset logo component
  .changeset/fancy-ends-tan.md
  src/components/shared/AssetLogo.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: poke account after kyc
  .changeset/silly-yaks-divide.md
  server/hooks/activity.ts
  server/hooks/persona.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
  server/utils/persona.ts
  src/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🚧 server: use gcp kms for allower
  .changeset/lucky-jokes-change.md
  .do/app.yaml
  cspell.json
  pnpm-lock.yaml
  server/.gitignore
  server/hooks/persona.ts
  server/index.ts
  server/package.json
  server/test/hooks/persona.test.ts
  server/test/utils/allower.test.ts
  server/test/utils/gcp.test.ts
  server/utils/allower.ts
  server/utils/gcp.ts
  server/utils/keeper.ts
  server/utils/persona.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🚸 app: navigate successful operations to activity
  .changeset/real-fans-tan.md
  .maestro/flows/local.yaml
  .maestro/subflows/sendAsset.yaml
  src/components/add-funds/Bridge.tsx
  src/components/loans/Review.tsx
  src/components/send-funds/Amount.tsx
  src/components/swaps/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: validate id document photos for manteca
  .changeset/gentle-streets-attack.md
  server/test/utils/manteca.test.ts
  server/test/utils/persona.test.ts
  server/utils/persona.ts
  server/utils/ramps/manteca.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: enable react tsx
  server/tsconfig.json
Owners: @nfmelendez

🐛 server: fix webhook retries
  .changeset/long-moons-brake.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: add panda merchant category code
  .changeset/quiet-bars-walk.md
Owners: @cruzdanilo

➕ server: add react pdf renderer
  server/package.json
Owners: @nfmelendez

🥅 server: improve weak pin error handling
  .changeset/wild-points-lose.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: consume iterator once
  .changeset/upset-eels-ask.md
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add webhook api
  .changeset/olive-onions-tan.md
  docs/astro.config.ts
  docs/src/content/docs/organization-authentication.md
  server/api/index.ts
  server/api/kyc.ts
  server/api/webhook.ts
  server/database/index.ts
  server/hooks/panda.ts
  server/index.ts
  server/middleware/auth.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: prevent array overlap errors when no hashes
  .changeset/wise-knives-glow.md
Owners: @cruzdanilo

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

🐛 server: use view in statement
  server/utils/Statement.tsx
Owners: @nfmelendez

✨ server: allow better auth users to change email
  server/utils/auth.ts
Owners: @nfmelendez

📝 docs: add configuration resources
  .changeset/cute-buttons-roll.md
  docs/astro.config.ts
  docs/src/content/docs/resources.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

⚗️ wagmi: use exa factory v1.0 on base sepolia
  common/wagmi.config.ts
Owners: @cruzdanilo

✨ server: add encrypted kyc submission
  cspell.json
  docs/src/content/docs/organization-authentication.md
  package.json
  pnpm-lock.yaml
  server/api/kyc.ts
  server/package.json
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add role to organization database table
  .changeset/sharp-squids-push.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: assess transaction risk
  .changeset/wet-games-relate.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add transaction receipt to webhook
  .changeset/quick-ants-write.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: install better-auth
  server/package.json
Owners: @nfmelendez

✨ server: add merchant category code to webhooks
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: improve kyc application response validation
  server/api/kyc.ts
Owners: @nfmelendez

🗃️ server: setup better-auth database tables
  .changeset/cool-snakes-reply.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: update kyc status code
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
