Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🐛 app: remove modal presentation on loan flow
  .changeset/tough-ducks-draw.md
  src/app/(app)/loan/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add loans svg
  .changeset/fluffy-eyes-heal.md
  src/assets/images/loans.svg
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: update amount component styles
  .changeset/ninety-papers-follow.md
  src/components/send-funds/Amount.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: drop unused progress components
  .changeset/all-lies-lay.md
  src/components/pay-mode/Failure.tsx
  src/components/pay-mode/Pending.tsx
  src/components/pay-mode/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix value change function on asset selector
  .changeset/loose-keys-happen.md
  src/components/shared/AssetSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement loans
  .changeset/ripe-cities-count.md
  src/app/(app)/(home)/_layout.tsx
  src/app/(app)/(home)/loans.tsx
  src/app/(app)/(home)/more.tsx
  src/app/(app)/loan/_layout.tsx
  src/app/(app)/loan/amount.tsx
  src/app/(app)/loan/index.tsx
  src/app/(app)/loan/installments.tsx
  src/app/(app)/loan/maturity.tsx
  src/app/(app)/loan/receiver.tsx
  src/app/(app)/loan/review.tsx
  src/components/loans/Amount.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/GetALoan.tsx
  src/components/loans/Installments.tsx
  src/components/loans/LoanActivity.tsx
  src/components/loans/Loans.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/more/More.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/TabBar.tsx
  src/components/shared/TransactionDetails.tsx
  src/i18n/en.json
  src/utils/queryClient.ts
  src/utils/useAsset.ts
  src/utils/useInstallments.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🧑‍💻 app: add log out button in dev mode
  .changeset/silly-bees-agree.md
  src/components/settings/Settings.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: unify screen header icon colors
  .changeset/tangy-adults-do.md
  src/components/card/Card.tsx
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: improve pending proposals back action
  .changeset/two-roses-love.md
  src/components/activity/PendingProposals.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: improve danger button variant
  .changeset/brave-cycles-happen.md
  src/components/shared/Button.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ common: add decode borrow at maturity
  .changeset/flat-pears-decide.md
  common/ProposalType.ts
Owners: @cruzdanilo

🐛 app: fix proposal banner cursor
  .changeset/loud-peaches-take.md
  src/components/shared/ProposalBanner.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: link intercom article
  .changeset/ten-owls-worry.md
  src/components/send-funds/Address.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: prefer shared progress components
  .changeset/tough-roses-dance.md
  src/components/pay-mode/Pay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor pending proposals
  .changeset/open-baths-warn.md
  src/components/activity/PendingProposals.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: prefer market constant
  .changeset/brown-seals-grow.md
  src/components/roll-debt/RollDebt.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add upcoming payments to loans screen
  .changeset/green-bananas-cover.md
  src/components/loans/Loans.tsx
  src/components/pay-mode/UpcomingPayments.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix logout function
  .changeset/poor-swans-add.md
  src/components/settings/Settings.tsx
  src/utils/useIntercom.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement new home design
  .changeset/six-bananas-run.md
  src/components/home/CardLimits.tsx
  src/components/home/CardStatus.tsx
  src/components/home/ExploreLoans.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/more/More.tsx
  src/i18n/en.json
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: prefer color scheme hook
  .changeset/smart-poems-hammer.md
  src/components/card/CardDetails.tsx
  src/components/card/CardPIN.tsx
  src/components/context/ThemeProvider.tsx
  src/components/home/AssetList.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/InstallmentSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor skeleton theme
  .changeset/fine-eyes-create.md
  src/components/card/CardDetails.tsx
  src/components/card/CardPIN.tsx
  src/components/home/AssetList.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/Skeleton.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 swaps
  src/app/(app)/swaps/index.tsx
  src/components/home/HomeActions.tsx
  src/components/swaps/Failure.tsx
  src/components/swaps/Pending.tsx
  src/components/swaps/SelectorModal.tsx
  src/components/swaps/Success.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/lifi.ts
  src/utils/useAccountAssets.ts
Owners: @dieguezguille, @franm91

🚑️ server: set cookie only for new users
  .changeset/purple-bikes-fall.md
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.3
  .changeset/purple-bikes-fall.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove duplicated merchant data
  .changeset/angry-goats-fly.md
  server/api/activity.ts
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove wrong health check
  .changeset/cold-worlds-cough.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: handle transaction complete event
  .changeset/plain-bushes-battle.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add settlement to card activity
  .changeset/weak-hounds-arrive.md
  server/api/activity.ts
  server/test/api/activity.test.ts
  src/components/activity/details/PurchaseDetails.tsx
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🧑‍💻 app: add log out button in dev mode
  .changeset/silly-bees-agree.md
  src/components/settings/Settings.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix operations display in activity details
  .changeset/honest-roses-tease.md
  src/components/activity/details/CardActivity.tsx
  src/components/activity/details/PurchaseDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix processing state colors for payments
  .changeset/shiny-pandas-run.md
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/UpcomingPayments.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix proposal banner cursor
  .changeset/loud-peaches-take.md
  src/components/shared/ProposalBanner.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: improve empty requests component
  .changeset/mean-tools-obey.md
  src/components/activity/PendingProposals.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: unify screen header icon colors
  .changeset/tangy-adults-do.md
  src/components/card/Card.tsx
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: update amount component styles
  .changeset/ninety-papers-follow.md
  src/components/send-funds/Amount.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: link intercom article
  .changeset/ten-owls-worry.md
  src/components/send-funds/Address.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ common: add decode borrow at maturity
  .changeset/flat-pears-decide.md
  common/ProposalType.ts
Owners: @cruzdanilo

♻️ app: refactor pending proposals
  .changeset/open-baths-warn.md
  src/components/activity/PendingProposals.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: extract shared progress screens
  .changeset/tough-monkeys-invent.md
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: prefer shared progress components
  .changeset/tough-roses-dance.md
  src/components/pay-mode/Pay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
