Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

👷 eas: switch to new codecov uploader
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🙈 global: ignore zip files
  .gitignore
Owners: @cruzdanilo

👷 github: upload expo build artifact
  .github/workflows/mobile-expo.yaml
Owners: @cruzdanilo

✨ server: add pax for platinum to signature card upgrades
  .changeset/wise-comics-know.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/mocks/pax.ts
  server/utils/pax.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: allow account on firewall
  .changeset/every-cameras-trade.md
  server/hooks/persona.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: fix defi buttons ux
  .changeset/social-buckets-feel.md
  src/components/defi/DeFi.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix payment sheet
  .changeset/nice-seals-shake.md
  src/components/home/Home.tsx
  src/components/loans/Loans.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaymentSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: recompose payment modal
  .changeset/bold-laws-pay.md
  src/components/home/Home.tsx
  src/components/loans/Loans.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/pay-mode/UpcomingPayments.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🧑‍💻 agents: update nx rules
  AGENTS.md
Owners: @cruzdanilo

🧑‍💻 agents: setup codex mcp servers
  .codex/config.toml
Owners: @cruzdanilo

🔖 release: mobile@1.1.6, server@0.2.55
  .changeset/better-bobcats-stay.md
  .changeset/bold-laws-pay.md
  .changeset/brave-flies-clap.md
  .changeset/calm-dogs-glow.md
  .changeset/chatty-regions-smoke.md
  .changeset/common-drinks-grow.md
  .changeset/dry-pumas-jog.md
  .changeset/fancy-oranges-sniff.md
  .changeset/hot-buckets-peel.md
  .changeset/itchy-nights-give.md
  .changeset/kind-yaks-jump.md
  .changeset/many-kids-push.md
  .changeset/nice-seals-shake.md
  .changeset/social-buckets-feel.md
  .changeset/swift-cats-roll.md
  .changeset/tender-sloths-judge.md
  .changeset/wise-comics-know.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

⬆️ dependencies: upgrade vulnerable mcp sdk
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚸 app: navigate successful repay to activity
  .changeset/gentle-ducks-repay.md
  src/components/pay-mode/Pay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔨 contracts: allow optional chain id
  contracts/.gas-snapshot
  contracts/test/Fork.t.sol
Owners: @itofarina

✨ contracts: add serial proxier script
  .changeset/sparkly-socks-grin.md
  contracts/.gas-snapshot
  contracts/script/SerialProxier.s.sol
  contracts/test/SerialProxier.t.sol
  cspell.json
Owners: @cruzdanilo, @itofarina

🔧 contracts: setup ethereum for foundry
  contracts/.gas-snapshot
  contracts/foundry.toml
  contracts/test/Fork.t.sol
Owners: @itofarina

🔧 contracts: use production accounts as default
  contracts/.gas-snapshot
  contracts/deploy.json
Owners: @itofarina

👷 github: set missing rpc urls
  .github/workflows/test.yaml
Owners: @cruzdanilo

✅ contracts: exa account recovery on polygon
  contracts/.gas-snapshot
  contracts/foundry.toml
  contracts/test/SerialProxier.t.sol
Owners: @itofarina

🔨 contracts: read allowlist from config on serial proxier
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/script/SerialProxier.s.sol
  contracts/test/SerialProxier.t.sol
Owners: @itofarina

🐛 app: pad repay assets to avoid dust
  .changeset/fair-cooks-hammer.md
  src/components/pay-mode/Pay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ e2e: test max repay flow
  .maestro/flows/local.yaml
  .maestro/subflows/repay.yaml
Owners: @cruzdanilo

🔧 codecov: fix app component paths
  .github/codecov.yaml
Owners: @cruzdanilo

♿️ app: add aria accessibility to repay slider
  .changeset/wild-sloths-smile.md
  src/components/pay-mode/RepayAmountSelector.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ e2e: test partial repay flow
  .maestro/flows/local.yaml
  .maestro/subflows/repay.yaml
  .maestro/subflows/rollover.yaml
Owners: @cruzdanilo

🥅 app: handle error when reporting to sentry
  .changeset/pink-moles-camp.md
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/e2e.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add source database table
  server/database/schema.ts
Owners: @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: consume iterator once
  .changeset/upset-eels-ask.md
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add card statement
  .changeset/stale-owls-work.md
  server/api/activity.ts
  server/utils/Statement.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🔧 server: enable react tsx
  server/tsconfig.json
Owners: @nfmelendez

🩹 server: return correct card status
  .changeset/gold-ties-tan.md
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

➕ server: add react pdf renderer
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: add webhook api
  .changeset/olive-onions-tan.md
  docs/astro.config.ts
  docs/src/content/docs/organization-authentication.md
  server/api/index.ts
  server/api/kyc.ts
  server/api/webhook.ts
  server/database/index.ts
  server/hooks/panda.ts
  server/index.ts
  server/middleware/auth.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: install better-auth
  .changeset/pretty-chicken-hang.md
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

📝 server: add sandbox dedicated ips
  .changeset/long-nails-doubt.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🗃️ server: setup better-auth database tables
  .changeset/cool-snakes-reply.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add encrypted kyc submission
  cspell.json
  docs/src/content/docs/organization-authentication.md
  package.json
  pnpm-lock.yaml
  server/api/kyc.ts
  server/package.json
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
