Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🔖 release: server@0.2.79
  .changeset/bumpy-deer-lead.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🚑 app: hotfix show only manteca ramp
  .changeset/salty-bears-fly.md
  src/components/add-funds/AddFunds.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.1.26
  .changeset/salty-bears-fly.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

⬆️ dependencies: upgrade hono
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✅ server: isolate refunder funding per test
  .changeset/fancy-buses-roll.md
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable libraries
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

💄 app: unify add funds gap value
  .changeset/spicy-dragons-raise.md
  src/components/add-funds/AddFunds.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🩹 app: guard against invalid markets
  .changeset/slow-jeans-call.md
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/UpcomingPayments.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🩹 app: add missing flex props
  .changeset/dull-items-press.md
  src/components/defi/ConnectionSheet.tsx
  src/components/defi/DeFi.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix protocol asset logos
  .changeset/quick-mangos-rescue.md
  src/components/shared/AssetSelector.tsx
  src/utils/usePortfolio.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🌐 app: capitalize spanish translations
  .changeset/easy-parts-poke.md
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

♿️ app: prefer aria label on close button
  .changeset/lemon-pots-film.md
  src/components/swaps/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: drop redundant dimensions props
  .changeset/warm-parrots-write.md
  src/components/pay-mode/Empty.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: drop redundant account parameter from portfolio hook
  .changeset/green-nights-pay.md
  src/components/home/Home.tsx
  src/components/home/Portfolio.tsx
  src/components/pay-mode/Pay.tsx
  src/components/shared/AssetSelector.tsx
  src/utils/usePortfolio.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚩 server: restrict miniapp discovery to base
  .changeset/brave-doors-glow.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: mobile@1.1.27, server@0.2.80
  .changeset/brave-doors-glow.md
  .changeset/dull-items-press.md
  .changeset/easy-parts-poke.md
  .changeset/fancy-buses-roll.md
  .changeset/green-nights-pay.md
  .changeset/lemon-pots-film.md
  .changeset/quick-mangos-rescue.md
  .changeset/slow-jeans-call.md
  .changeset/spicy-dragons-raise.md
  .changeset/warm-parrots-write.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🔧 server: update manteca usd deposit details
  .changeset/legal-eggs-hunt.md
  server/test/api/ramp.test.ts
  server/test/utils/manteca.test.ts
  server/utils/ramps/manteca.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: set farcaster manifest signature for base
  server/index.ts
Owners: @nfmelendez

🗃️ server: add bridge id index to credentials
  .changeset/red-cases-know.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: handle bridge webhook events
  .changeset/thin-pumas-brush.md
  .do/app.yaml
  server/hooks/bridge.ts
  server/hooks/manteca.ts
  server/index.ts
  server/test/hooks/bridge.test.ts
  server/test/hooks/manteca.test.ts
  server/utils/ramps/bridge.ts
  server/utils/segment.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🥅 app: surface bridge failures in sentry
  src/components/add-funds/Bridge.tsx
Owners: @dieguezguille, @franm91

⚗️ dependencies: capture rejection cause in farcaster sdk
  package.json
  patches/@farcaster__miniapp-sdk.patch
  pnpm-lock.yaml
  src/utils/accountClient.ts
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix bridge simulation falling back to default account
  .changeset/gold-cow-eat.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix bridge simulation falling back to default account
  .changeset/gold-cow-eat.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: extract capabilities config
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/Pay.tsx
  src/components/shared/PluginUpgrade.tsx
  src/utils/accountClient.ts
  src/utils/wagmi/exa.ts
Owners: @dieguezguille, @franm91

🔧 app: disable paymaster service on base
  src/utils/wagmi/exa.ts
Owners: @dieguezguille, @franm91

⚗️ dependencies: capture rejection cause in farcaster sdk
  package.json
  patches/@farcaster__miniapp-sdk.patch
  pnpm-lock.yaml
  src/utils/accountClient.ts
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: handle declined transactions
  .changeset/five-points-beam.md
  .changeset/late-dingos-sit.md
  .changeset/stale-bottles-sink.md
  .changeset/wet-donkeys-shine.md
  .changeset/yummy-lands-end.md
  server/api/activity.ts
  server/hooks/panda.ts
  server/test/api/activity.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🌐 server: add spanish translations push notifications
  server/api/card.ts
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/manteca.ts
  server/hooks/panda.ts
  server/test/hooks/block.test.ts
Owners: @nfmelendez

💄 app: fix repay amount selector font style
  .changeset/jolly-teeth-flow.md
  src/components/pay-mode/RepayAmountSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: add bottom padding to swaps screen on web
  .changeset/open-beds-stand.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix owner wallet detection in siwe auth
  .changeset/curly-pumas-jam.md
  src/utils/useAuth.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: forward chain id in account client
  .changeset/cool-icons-grow.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: migrate remaining flows to send calls
  .changeset/loose-papers-take.md
  src/components/pay-mode/Pay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restructure swap state screen layouts
  .changeset/bright-foxes-swim.md
  src/components/swaps/Failure.tsx
  src/components/swaps/Pending.tsx
  src/components/swaps/Success.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: pass chain id to bridge calls
  .changeset/great-dryers-kick.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swaps query invalidation
  .changeset/cyan-flies-camp.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: pass explicit chain id to read hooks
  .changeset/wide-cats-hug.md
  src/components/card/Card.tsx
  src/components/card/exa-card/CardContents.tsx
  src/components/defi/DeFi.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/home/Portfolio.tsx
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Amount.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Loans.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PluginUpgrade.tsx
  src/components/swaps/Swaps.tsx
  src/utils/useAsset.ts
  src/utils/usePendingOperations.ts
  src/utils/usePortfolio.ts
  src/utils/useSimulateProposal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

👷 github: set base workflow trigger to base branch
  .github/workflows/server-base.yaml
Owners: @cruzdanilo

🔧 app: add base app id meta tag
  src/app/+html.tsx
Owners: @dieguezguille, @franm91
