Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

💄 app: improve portfolio component styles
  .changeset/flat-adults-rule.md
  src/components/home/PortfolioSummary.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: server@0.1.10, mobile@1.0.6
  .changeset/fast-jars-wave.md
  .changeset/flat-adults-rule.md
  .changeset/grumpy-drinks-lose.md
  .changeset/lovely-horses-dress.md
  .changeset/many-ears-bake.md
  .changeset/nice-dodos-grab.md
  .changeset/open-trains-brush.md
  .changeset/plenty-kiwis-help.md
  .changeset/small-carpets-mix.md
  .changeset/true-humans-report.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

➕ app: install i18n dependencies
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🌐 app: configure react-i18next
  src/app/_layout.tsx
  src/i18n/en.json
Owners: @dieguezguille, @franm91

💬 app: fix selected installments plural
  .changeset/clear-camels-wink.md
  src/components/home/CardLimits.tsx
  src/i18n/en.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🦺 common: add validation error messages
  common/validation.ts
Owners: @cruzdanilo

🧱 docker: add app devtools argument
  Dockerfile
Owners: @cruzdanilo

👷 github: pass app devtools argument
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

🧑‍💻 app: import production query devtools
  src/app/_layout.tsx
Owners: @dieguezguille, @franm91

✨ app: add app upgrade dialog
  .changeset/open-crabs-begin.md
  src/app/(app)/(home)/_layout.tsx
  src/components/shared/UpgradeAppDialog.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/abi/market.json
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/src/abi/mod.rs
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

💄 app: fix web background color in asset selector
  .changeset/icy-ducks-tell.md
  src/components/shared/AssetSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 eslint: restrict api unofficial status codes
  .eslintrc.cjs
Owners: @cruzdanilo

🎨 server: improve panda body parsing
  server/hooks/panda.ts
Owners: @nfmelendez

👽 app: handle api error objects
  src/utils/server.ts
Owners: @dieguezguille, @franm91

👽 app: drop reliance on status codes
  src/components/card/Card.tsx
  src/components/home/card-upgrade/ActivateCard.tsx
  src/components/onboarding/Passkeys.tsx
Owners: @dieguezguille, @franm91

🚚 server: move address derivation to common
  .changeset/happy-moons-enjoy.md
  common/deriveAddress.ts
  server/api/auth/registration.ts
  server/test/api/activity.test.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/cryptomate.test.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
Owners: @cruzdanilo, @nfmelendez

📈 app: set credential id for intercom user
  .changeset/salty-shoes-exist.md
  src/app/(app)/(home)/_layout.tsx
  src/utils/useIntercom.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

📈 server: add auth payloads to sentry context
  .changeset/swift-ads-refuse.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @cruzdanilo, @nfmelendez

🚑 app: fix falsy values render errors
  .changeset/shaggy-oranges-behave.md
  src/components/activity/ActivityItem.tsx
  src/components/send-funds/Contact.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: simplify kyc template id
  .changeset/itchy-carrots-cross.md
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/Home.tsx
  src/components/home/card-upgrade/VerifyIdentity.tsx
  src/utils/persona.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add plugin upgrade banner on card screen
  .changeset/fine-hoops-attend.md
  src/components/card/Card.tsx
  src/components/shared/PluginUpgrade.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚑 app: reset migration query on sheet close
  .changeset/swift-donkeys-bow.md
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix migration banner display condition
  .changeset/brown-towns-sip.md
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: check for updates on app activation
  .changeset/pretty-oranges-drive.md
  src/app/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: server@0.1.11, common@0.0.4, mobile@1.0.7
  .changeset/brown-towns-sip.md
  .changeset/clear-camels-wink.md
  .changeset/fine-hoops-attend.md
  .changeset/happy-moons-enjoy.md
  .changeset/icy-ducks-tell.md
  .changeset/itchy-carrots-cross.md
  .changeset/pretty-oranges-drive.md
  .changeset/salty-shoes-exist.md
  .changeset/shaggy-oranges-behave.md
  .changeset/swift-ads-refuse.md
  .changeset/swift-donkeys-bow.md
  CHANGELOG.md
  common/CHANGELOG.md
  common/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

✨ server: implement sign-in with ethereum
  .changeset/wild-cobras-cross.md
  cspell.json
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/utils/decodePublicKey.ts
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

✨ server: auto register on siwe authentication
  .changeset/modern-teeth-glow.md
  common/deriveAddress.ts
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: normalize auth responses
  .changeset/happy-guests-push.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @cruzdanilo, @nfmelendez

🛂 server: allow api calls from any origin
  .changeset/eighty-moles-yawn.md
  server/api/index.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: validate card session id
  .changeset/loud-mice-cry.md
  server/api/card.ts
  server/test/api/card.test.ts
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🥅 server: recover from missing sent transaction
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @nfmelendez

🐛 server: fix panda card name
  .changeset/chatty-nails-wonder.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add rollover activity
  .changeset/free-boxes-doubt.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/anvil.ts
  server/test/api/activity.test.ts
  server/test/mocks/deployments.ts
  wagmi.config.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

♻️ server: filter repay caller locally
  server/api/activity.ts
Owners: @nfmelendez

✨ server: add liquidation activity
  .changeset/late-shoes-raise.md
  contracts/src/IExaAccount.sol
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/MockPriceFeed.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

♻️ app: refactor pay screen, simulate proposal execution
  src/components/pay-mode/AssetSelectionSheet.tsx
  src/components/pay-mode/Failure.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/Pending.tsx
  src/components/pay-mode/Success.tsx
  src/components/roll-debt/RollDebt.tsx
Owners: @dieguezguille, @franm91

🚸 app: tweak repay and swap slippage
  .changeset/gentle-singers-refuse.md
  src/components/pay-mode/Pay.tsx
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ server: always return objects, improve status codes
  .changeset/silver-coins-dance.md
  server/api/activity.ts
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/card.ts
  server/api/kyc.ts
  server/api/passkey.ts
  server/hooks/cryptomate.ts
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/index.ts
  server/middleware/auth.ts
  server/test/api/activity.test.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/auth.ts
  server/utils/alchemy.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ app: mitigate ref warnings on web
  src/components/activity/Activity.tsx
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/pay-mode/PayMode.tsx
Owners: @dieguezguille, @franm91

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
