Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🔧 contracts: setup anvil for foundry
  contracts/.gas-snapshot
  contracts/foundry.toml
Owners: @itofarina

🔨 contracts: handle proposal delay per chain
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/script/ProposalManager.s.sol
  server/test/anvil.ts
  server/test/hooks/panda.test.ts
  server/utils/panda.ts
Owners: @itofarina, @nfmelendez

🤡 contracts: implement and deploy mock paymater
  contracts/.gas-snapshot
  contracts/test/mocks/Account.s.sol
  contracts/test/mocks/MockPaymaster.sol
Owners: @itofarina

🧑‍💻 app: handle alchemy vars for anvil
  common/alchemyAPIKey.ts
  common/alchemyGasPolicyId.ts
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⬆️ server: upgrade tsx
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⬇️ dependencies: downgrade unicorn-magic
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔨 wagmi: import json abis
  common/wagmi.config.ts
Owners: @cruzdanilo

🔨 wagmi: support anvil codegen
  common/package.json
  common/wagmi.config.ts
  server/test/anvil.ts
Owners: @cruzdanilo, @nfmelendez

🤡 wagmi: codegen mock token
  common/wagmi.config.ts
Owners: @cruzdanilo

🔨 scripts: improve github environment conditions
  package.json
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 app: unify svgo config
  svgo.config.mjs
  svgr.config.mjs
Owners: @cruzdanilo

🔧 eslint: allow void usage
  .eslintrc.cjs
Owners: @cruzdanilo

👷 github: add codecov report metadata
  .github/workflows/test.yaml
Owners: @cruzdanilo

🔧 ncu: add json extension to config
  .ncurc.json
Owners: @cruzdanilo

🔨 eas: simplify success script
  package.json
Owners: @cruzdanilo

🤡 app: mock siwe owner for e2e
  src/app/_layout.tsx
  src/utils/e2e.ts
  src/utils/onesignal.ts
  src/utils/persona.ts
  src/utils/queryClient.ts
Owners: @dieguezguille, @franm91

🤡 app: mock user operation sending for e2e
  src/utils/accountClient.ts
Owners: @dieguezguille, @franm91

➕ app: install istanbul babel plugin
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔧 babel: setup istanbul plugin
  .gitignore
  babel.config.cjs
  src/components/auth/Auth.tsx
  src/components/auth/ListItem.tsx
  src/components/auth/Pagination.tsx
  src/components/card/exa-card/CardContents.tsx
  src/components/shared/Spinner.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: ignore expected card api error
  src/components/card/Card.tsx
  src/components/card/CardDetails.tsx
  src/components/card/CardPIN.tsx
  src/components/card/exa-card/ExaCard.tsx
  src/components/home/CardLimits.tsx
  src/components/home/Home.tsx
  src/components/pay-mode/PaySelector.tsx
  src/utils/server.ts
Owners: @dieguezguille, @franm91

♿️ app: add accessibility label to some icon buttons
  .changeset/free-colts-attend.md
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Receiver.tsx
  src/components/settings/Settings.tsx
  src/components/shared/ProfileHeader.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎉 e2e: create maestro project
  .maestro/.gitignore
  .maestro/config.yaml
  .maestro/flows/local.yaml
  .maestro/package.json
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

🔧 eslint: setup maestro project
  .eslintrc.cjs
Owners: @cruzdanilo

🔨 e2e: setup build system
  .maestro/esbuild.config.cjs
  .maestro/maestro.d.ts
  .maestro/package.json
  .maestro/src/polyfill.ts
  .maestro/src/script/approveKYC.ts
  .maestro/tsconfig.json
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔨 e2e: setup development scripts
  .maestro/package.json
  cspell.json
  package.json
Owners: @cruzdanilo

🧑‍💻 e2e: hide expo devtools
  .maestro/flows/local.yaml
  .maestro/subflows/hideDevtools.yaml
Owners: @cruzdanilo

✅ server: run inside vitest for e2e mode
  pnpm-lock.yaml
  server/.gitignore
  server/index.ts
  server/package.json
  server/script/e2e.ts
  server/test/anvil.ts
  server/test/e2e.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✅ e2e: implement sign-in flow
  .maestro/flows/local.yaml
  .maestro/subflows/signIn.yaml
Owners: @cruzdanilo

✅ e2e: read portfolio value from home screen
  .maestro/flows/local.yaml
  .maestro/subflows/readPortfolio.yaml
Owners: @cruzdanilo

✅ e2e: implement anvil balance setter
  .maestro/src/anvil.ts
  .maestro/src/script/setBalance.ts
  .maestro/src/server.ts
Owners: @cruzdanilo

✅ e2e: mint usdc to test account
  .maestro/flows/local.yaml
  .maestro/src/anvil.ts
  .maestro/src/script/mint.ts
Owners: @cruzdanilo

✅ e2e: implement flow for sending assets
  .maestro/flows/local.yaml
  .maestro/src/script/hookProposals.ts
  .maestro/src/server.ts
  .maestro/subflows/sendAsset.yaml
Owners: @cruzdanilo

✅ e2e: implement kyc flow
  .maestro/flows/local.yaml
  .maestro/src/script/approveKYC.ts
  .maestro/src/server.ts
  .maestro/subflows/verifyIdentity.yaml
Owners: @cruzdanilo

🤡 contracts: deal eth from test account
  contracts/test/mocks/Bob.s.sol
Owners: @itofarina

🐛 app: fix card upgrade banner render condition
  .changeset/small-toys-crash.md
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swap failure close button behavior
  .changeset/twelve-insects-rule.md
  src/components/swaps/Failure.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix send funds close button behavior
  .changeset/seven-flowers-greet.md
  .maestro/subflows/sendAsset.yaml
  src/components/send-funds/Amount.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🧑‍💻 e2e: use environment variable for development check
  .maestro/subflows/hideDevtools.yaml
Owners: @cruzdanilo

🔨 e2e: extract frontend coverage
  .maestro/flows/local.yaml
  .maestro/subflows/storeCoverage.yaml
  server/test/e2e.ts
  src/components/settings/Settings.tsx
  src/utils/e2e.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🚸 app: remember notifications dismissal
  .changeset/eleven-baths-like.md
  .maestro/flows/local.yaml
  common/onesignalAppId.ts
  src/app/(main)/(home)/_layout.tsx
  src/utils/onesignal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
