Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✨ substreams: map exa accounts
  .changeset/breezy-planes-repeat.md
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

🔧 substreams: setup live networks
  substreams/substreams.yaml
Owners: @cruzdanilo

✨ substreams: store exa accounts
  .changeset/rare-readers-tell.md
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

✨ substreams: map exa plugins
  .changeset/red-toys-pump.md
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

🗃️ server: add substreams database schema
  server/database/schema.ts
  server/drizzle.config.ts
Owners: @nfmelendez

✨ substreams: insert exa plugins into database
  .changeset/violet-poems-heal.md
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

✅ server: integrate substreams into test
  pnpm-lock.yaml
  server/package.json
  server/script/firehose.ts
  server/test/database.ts
Owners: @cruzdanilo, @nfmelendez

🚚 server: move dockerfile to server
  .github/workflows/server-build.yaml
  server/Dockerfile
Owners: @cruzdanilo, @nfmelendez

🧱 substreams: setup docker build
  .dockerignore
  substreams/Dockerfile
Owners: @cruzdanilo

👷 github: build substreams
  .github/workflows/substreams-build.yaml
Owners: @cruzdanilo

⬆️ dependencies: upgrade nodejs
  .github/workflows/docs.yaml
  .github/workflows/mobile-beta.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  common/package.json
  eas.json
  package.json
  pnpm-lock.yaml
  server/Dockerfile
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 eas: setup beta build and submit profile
  eas.json
Owners: @cruzdanilo

🔧 eas: setup e2e build profile
  eas.json
Owners: @cruzdanilo

➕ app: install expo-image
  .ncurc.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

⚡️ app: implement asset logo caching
  .changeset/flat-books-mix.md
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/WeightedRate.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔨 e2e: setup root development target
  .maestro/esbuild.config.cjs
  .maestro/package.json
  package.json
Owners: @cruzdanilo

✅ e2e: setup production flow
  .maestro/flows/production.yaml
Owners: @cruzdanilo

👷 eas: setup e2e workflows
  .eas/workflows/local.yaml
  .eas/workflows/production.yaml
Owners: @cruzdanilo

🚧 app: send calls
  src/utils/accountClient.ts
Owners: @dieguezguille, @franm91

🚧 app: prefer send calls
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/Pay.tsx
  src/components/shared/PluginUpgrade.tsx
Owners: @dieguezguille, @franm91

💄 app: fix scroll view styling
  .changeset/forty-hornets-carry.md
  src/components/activity/Activity.tsx
  src/components/activity/ActivityItem.tsx
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/home/Portfolio.tsx
  src/components/loans/Loans.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/shared/LatestActivity.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: omit web only prop on native
  .changeset/dry-pants-wink.md
  src/components/shared/AssetLogo.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix forward ref in animated views
  .changeset/plain-tables-rule.md
  src/components/card/exa-card/ExaCard.tsx
  src/components/shared/AnimatedView.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: avoid native refresh call on web
  .changeset/gold-pugs-roll.md
  src/app/(main)/(home)/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix onesignal web import
  .changeset/free-moose-occur.md
  src/utils/onesignal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♿️ app: improve asset selector accessibility
  .changeset/modern-pens-take.md
  .maestro/subflows/hideDevtools.yaml
  .maestro/subflows/sendAsset.yaml
  .maestro/subflows/storeCoverage.yaml
  src/components/shared/AssetSelector.tsx
  src/components/shared/TabBar.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 substreams
  .do/app.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/substreams-build.yaml
  .github/workflows/substreams-deploy.yaml
  .github/workflows/substreams-production.yaml
  .github/workflows/substreams-sandbox.yaml
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: handle intercom login errors
  .changeset/cold-planes-stop.md
  src/utils/intercom.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.0.44
  .changeset/cold-planes-stop.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

✨ server: support pax's assistance
  .changeset/tame-times-warn.md
  .do/app.yaml
  server/api/index.ts
  server/api/kyc.ts
  server/api/pax.ts
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/pax.test.ts
  server/test/utils/pax.test.ts
  server/test/utils/persona.test.ts
  server/utils/pax.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/vitest.config.mts
  src/components/benefits/BenefitsSection.tsx
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

✨ app: add benefits section
  .changeset/chubby-comics-mix.md
  package.json
  pnpm-lock.yaml
  src/assets/images/airalo.svg
  src/assets/images/pax.svg
  src/assets/images/visa.svg
  src/components/benefits/BenefitCard.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/home/Home.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: include installments fee in payment details
  .changeset/big-carrots-design.md
  src/components/activity/details/PaymentDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 server: destructure event data
  server/api/activity.ts
Owners: @nfmelendez

👷 github: extract server sourcemaps from docker build
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

♻️ server: kyc refactor
  .changeset/common-carrots-think.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/test/utils/persona.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/utils/ramps/shared.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: extract panda schema
  .changeset/shaggy-bugs-live.md
  server/hooks/persona.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add document account update
  .changeset/fuzzy-wasps-run.md
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
  server/test/utils/persona.test.ts
  server/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez

🚧 server: kyc account migration
  server/script/kyc-migration.ts
  server/utils/persona.ts
  server/utils/validatorHook.ts
Owners: @nfmelendez

✅ server: fix keeper test race condition
  server/test/utils/keeper.test.ts
Owners: @nfmelendez

✨ server: add queue on user creation
  .changeset/short-cars-return.md
  server/queues/alchemyQueue.ts
  server/queues/constants.ts
  server/script/openapi.ts
  server/test/queues/alchemyQueue.test.ts
  server/test/utils/createCredential.test.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez
