Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🔒 server: verify intercom identity
  .changeset/yellow-forks-rhyme.md
  .do/app.yaml
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/script/openapi.ts
  server/test/api/auth/authentication.test.ts
  server/test/utils/intercom.test.ts
  server/utils/intercom.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✅ server: improve nonce reset test stability
  server/test/utils/keeper.test.ts
Owners: @nfmelendez

👥 cspell: add miguel
  cspell.json
Owners: @cruzdanilo

🧑‍💻 common: narrow down wagmi generate inputs
  common/package.json
Owners: @cruzdanilo

🧑‍💻 nx: exclude generated from default inputs
  nx.json
  package.json
Owners: @cruzdanilo

🐛 server: skip notification for market shares
  .changeset/vast-grapes-smell.md
  server/hooks/activity.ts
  server/test/hooks/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

🧵 server: fix proposal scheduling race condition
  .changeset/chilly-moles-flow.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

🔒 app: implement intercom user token
  .changeset/free-rooms-remain.md
  src/app/(main)/_layout.tsx
  src/utils/intercom.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💬 app: remove asterisks
  .changeset/open-mangos-teach.md
  src/components/card/Card.tsx
  src/components/pay-mode/PaySelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: rename onesignal import
  src/components/settings/Settings.tsx
Owners: @dieguezguille, @franm91

♻️ app: refactor intercom
  .changeset/smart-boxes-heal.md
  src/app/(main)/(home)/_layout.tsx
  src/app/(main)/_layout.tsx
  src/components/activity/PendingProposals.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/activity/details/PaymentDetails.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/card/Card.tsx
  src/components/card/CardDisclaimer.tsx
  src/components/card/SpendingLimits.tsx
  src/components/card/VerificationFailure.tsx
  src/components/defi/IntroSheet.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/HomeDisclaimer.tsx
  src/components/home/Portfolio.tsx
  src/components/home/SpendingLimitsSheet.tsx
  src/components/home/card-upgrade/ActivateCard.tsx
  src/components/loans/Amount.tsx
  src/components/loans/Asset.tsx
  src/components/loans/Installments.tsx
  src/components/loans/Loans.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/send-funds/Receiver.tsx
  src/components/settings/Settings.tsx
  src/components/shared/LiquidationAlert.tsx
  src/components/swaps/Swaps.tsx
  src/utils/intercom.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: change card buttons order
  .changeset/silly-turkeys-invent.md
  src/components/card/Card.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 nx: fix test inputs
  nx.json
Owners: @cruzdanilo

🔖 release: common@0.0.10, mobile@1.0.41, server@0.2.43
  .changeset/breezy-knives-begin.md
  .changeset/chilly-moles-flow.md
  .changeset/cute-rules-write.md
  .changeset/easy-things-start.md
  .changeset/eleven-baths-like.md
  .changeset/few-moles-push.md
  .changeset/forty-views-beam.md
  .changeset/free-colts-attend.md
  .changeset/free-rooms-remain.md
  .changeset/fruity-olives-fail.md
  .changeset/large-humans-shine.md
  .changeset/light-otters-report.md
  .changeset/open-mangos-teach.md
  .changeset/polite-animals-slide.md
  .changeset/poor-towns-roll.md
  .changeset/seven-coats-travel.md
  .changeset/seven-flowers-greet.md
  .changeset/silent-walls-relax.md
  .changeset/silly-turkeys-invent.md
  .changeset/six-ideas-go.md
  .changeset/small-toys-crash.md
  .changeset/smart-boxes-heal.md
  .changeset/strong-bananas-cry.md
  .changeset/twelve-insects-rule.md
  .changeset/vast-grapes-smell.md
  .changeset/weak-bottles-allow.md
  .changeset/yellow-forks-rhyme.md
  .maestro/package.json
  CHANGELOG.md
  common/CHANGELOG.md
  common/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

⬆️ dependencies: upgrade nodejs
  .github/workflows/docs.yaml
  .github/workflows/mobile-beta.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  Dockerfile
  common/package.json
  eas.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 eas: setup beta build and submit profile
  eas.json
Owners: @cruzdanilo

🔧 eas: setup e2e build profile
  eas.json
Owners: @cruzdanilo

➕ app: install expo-image
  .ncurc.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

⚡️ app: implement asset logo caching
  .changeset/flat-books-mix.md
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/WeightedRate.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ e2e: setup production flow
  .maestro/flows/production.yaml
Owners: @cruzdanilo

👷 eas: setup e2e workflows
  .eas/workflows/local.yaml
  .eas/workflows/production.yaml
Owners: @cruzdanilo

✨ server: allow account on firewall
  server/hooks/persona.ts
Owners: @nfmelendez

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

➕ server: add react pdf renderer
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: enable react tsx
  server/tsconfig.json
Owners: @nfmelendez

✨ server: add card statement
  .changeset/stale-owls-work.md
  server/api/activity.ts
  server/utils/Statement.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🩹 server: return correct card status
  .changeset/gold-ties-tan.md
  server/api/card.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: add sandbox dedicated ips
  .changeset/long-nails-doubt.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🦺 server: add panda merchant category code
  .changeset/quiet-bars-walk.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: install better-auth
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🗃️ server: setup better-auth database tables
  .changeset/cool-snakes-reply.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add webhook api
  .changeset/olive-onions-tan.md
  docs/astro.config.ts
  docs/src/content/docs/organization-authentication.md
  server/api/index.ts
  server/api/kyc.ts
  server/api/webhook.ts
  server/database/index.ts
  server/hooks/panda.ts
  server/index.ts
  server/middleware/auth.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/database.ts
  server/utils/auth.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✨ server: add encrypted kyc submission
  cspell.json
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: allow better auth users to change email
  server/utils/auth.ts
Owners: @nfmelendez

📝 docs: update siwe authentication example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: return card id
  .changeset/wicked-lies-invent.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: update kyc status code
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez
