Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

💩 app: patch meawallet podspec
  app.config.ts
  patches/@meawallet__react-native-mpp.patch
Owners: @cruzdanilo

✨ server: support card limit inquiry flow
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez

✨ server: add card limit support to persona
  server/test/hooks/persona.test.ts
  server/test/utils/persona.test.ts
  server/utils/persona.ts
Owners: @nfmelendez

✨ app: add card limit kyc flow
  src/components/card/SpendingLimits.tsx
  src/utils/persona.ts
Owners: @dieguezguille, @franm91

⬆️ dependencies: upgrade vulnerable axios
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

✨ server: add kyc link allowlist for bridge onboarding
  .changeset/bright-owls-glow.md
  server/api/ramp.ts
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add encrypted kyc submission
  cspell.json
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: update kyc status code
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez

🦺 server: improve kyc application response validation
  server/api/kyc.ts
Owners: @nfmelendez

✨ server: improve nonce usage for encrypted kyc
  .changeset/cuddly-streets-like.md
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add role to organization database table
  .changeset/sharp-squids-push.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add kyc permissions requirement in organization guide
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: add kyc role to organizations
  .changeset/upset-seas-sink.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

⚰️ server: drop kyc error in favor of service error
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @nfmelendez

🔒️ server: strip siwe from panda application
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @nfmelendez

✨ app: enable kyc onboarding from add-funds
  .changeset/stale-teams-say.md
  cspell.json
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/AddFundsOption.tsx
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/persona.ts
  src/utils/useBeginKYC.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restructure swap state screen layouts
  .changeset/bright-foxes-swim.md
  src/components/swaps/Failure.tsx
  src/components/swaps/Pending.tsx
  src/components/swaps/Success.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor auth cancellation handling
  src/components/add-funds/Bridge.tsx
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay/Repay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/swaps/Swaps.tsx
  src/utils/accountClient.ts
  src/utils/reportError.ts
  src/utils/server.ts
  src/utils/useAuth.ts
Owners: @dieguezguille, @franm91

🐛 app: improve repay disabled button condition
  .changeset/clever-toes-beam.md
  src/components/pay/Repay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swaps query invalidation
  .changeset/cyan-flies-camp.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: pass explicit chain id to send calls hooks
  .changeset/humble-cities-drop.md
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay/Repay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/PluginUpgrade.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: forward chain id in account client
  .changeset/cool-icons-grow.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix pay simulation pending state
  .changeset/funny-aliens-mix.md
  src/components/pay/Repay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: migrate remaining flows to send calls
  .changeset/loose-papers-take.md
  src/components/pay/Repay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: pass explicit chain id to read hooks
  .changeset/wide-cats-hug.md
  src/components/card/Card.tsx
  src/components/defi/DeFi.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Amount.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay/OverduePayments.tsx
  src/components/pay/Pay.tsx
  src/components/pay/PaymentSheet.tsx
  src/components/pay/Repay.tsx
  src/components/pay/UpcomingPayments.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PluginUpgrade.tsx
  src/components/shared/Success.tsx
  src/components/swaps/Swaps.tsx
  src/utils/useMarkets.ts
  src/utils/usePendingOperations.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: disable retries in custom transport
  .changeset/fuzzy-adults-tease.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: align user cancellations to native behavior
  src/utils/accountClient.ts
  src/utils/reportError.ts
Owners: @dieguezguille, @franm91

🐛 app: pass chain id to bridge calls
  .changeset/great-dryers-kick.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: decouple swap input state from route result
  .changeset/khaki-pens-post.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: enable kyc onboarding from add-funds
  .changeset/stale-teams-say.md
  cspell.json
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/AddFundsOption.tsx
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/card-upgrade/VerifyIdentity.tsx
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/persona.ts
  src/utils/useBeginKYC.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.2.3
  .changeset/stale-teams-say.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

🚀 server: deploy new app version
  .changeset/huge-colts-hang.md
Owners: @cruzdanilo

🔖 release: server@0.2.87
  .changeset/huge-colts-hang.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable follow-redirects
  pnpm-lock.yaml
Owners: @cruzdanilo

➕ app: install comlink
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ app: expose address and card status to miniapp host
  .changeset/small-swans-find.md
  src/app/(auth)/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: create icon button component
  .changeset/petite-taxes-do.md
  src/app/+html.tsx
  src/components/shared/IconButton.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚀 server: deploy new app version
  .changeset/huge-colts-hang.md
Owners: @cruzdanilo

🔖 release: server@0.2.88, mobile@1.2.4
  .changeset/four-colts-rhyme.md
  .changeset/huge-colts-hang.md
  .changeset/petite-taxes-do.md
  .changeset/small-swans-find.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🗃️ server: setup better auth database tables
  server/database/schema.ts
Owners: @nfmelendez
