Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🤡 server: close mock database after all tests
  server/test/mocks/database.ts
Owners: @nfmelendez

⬆️ server: upgrade sentry
  pnpm-lock.yaml
  server/package.json
  server/test/mocks/sentry.ts
Owners: @cruzdanilo, @nfmelendez

👷 nx: setup prepare script dependencies
  common/package.json
  common/wagmi.config.ts
  contracts/package.json
  nx.json
  package.json
  server/package.json
Owners: @cruzdanilo, @itofarina, @nfmelendez

🔨 e2e: allow custom owner mnemonic
  .maestro/flows/local.yaml
  .maestro/src/script/getAccount.ts
  .maestro/subflows/sendAsset.yaml
  .maestro/subflows/signIn.yaml
  .maestro/subflows/verifyIdentity.yaml
  server/test/anvil.ts
  src/utils/e2e.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

📝 server: document card api
  .changeset/six-ideas-go.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: improve api documentation
  .changeset/cute-rules-write.md
  docs/src/content/docs/index.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/script/openapi.ts
Owners: @cruzdanilo, @nfmelendez

📝 add cancel card documentation
  .changeset/few-moles-push.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 gemini: setup rules and mcp
  .gemini/AGENTS.md
  .gemini/settings.json
Owners: @cruzdanilo

🧑‍💻 nx: setup nx cloud
  nx.json
Owners: @cruzdanilo

👷 github: setup nx cloud
  .github/workflows/docs.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

✅ server: fix flaky timeout test
  server/test/hooks/activity.test.ts
Owners: @nfmelendez

👷 github: split server build and deploy
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-sandbox.yaml
Owners: @cruzdanilo

👷 github: deploy sandbox server to base
  .github/workflows/server-base.yaml
Owners: @cruzdanilo

⚰️ server: drop legacy persona variable
  .do/app.yaml
  server/script/openapi.ts
  server/utils/persona.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🧱 digitalocean: render app template
  .do/app.yaml
  .do/render.js
Owners: @cruzdanilo

👷 github: improve eslint matcher ansi code handling
  .github/matcher.json
Owners: @cruzdanilo

🔨 nx: set test target dependencies
  package.json
Owners: @cruzdanilo

⬆️ dependencies: upgrade drizzle kit
  .changeset/breezy-knives-begin.md
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: add panda base collector
  server/utils/panda.ts
Owners: @nfmelendez

🛂 app: disable webauthn on base
  src/components/auth/Auth.tsx
  src/components/shared/ConnectSheet.tsx
  src/utils/useAuth.ts
Owners: @dieguezguille, @franm91

🔨 e2e: setup target for development in production
  .maestro/package.json
Owners: @cruzdanilo

🧱 docker: disable nx daemon
  Dockerfile
Owners: @cruzdanilo

👷 github: remove unnecessary nx arguments
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

🎉 substreams: create substreams project
  .changeset/giant-flowers-like.md
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  substreams/.cargo/config.toml
  substreams/.gitignore
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/buf.gen.yaml
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/rust-toolchain.toml
  substreams/rustfmt.toml
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

🔨 server: generate database schema sql script
  server/package.json
Owners: @nfmelendez

➕ substreams: install handlebars
  package.json
  pnpm-lock.yaml
  substreams/package.json
Owners: @cruzdanilo

➕ substreams: install typescript
  pnpm-lock.yaml
  substreams/package.json
Owners: @cruzdanilo

🔧 substreams: setup typescript
  substreams/tsconfig.json
Owners: @cruzdanilo

🔧 eslint: setup substreams
  .eslintrc.cjs
Owners: @cruzdanilo

🔨 substreams: generate manifest on prepare
  substreams/package.json
Owners: @cruzdanilo

🔨 substreams: build before testing
  substreams/package.json
Owners: @cruzdanilo

👷 github: install substreams cli for test
  .github/workflows/test.yaml
Owners: @cruzdanilo

🔨 substreams: generate manifest from template
  substreams/.gitignore
  substreams/substreams.ts
  substreams/substreams.yaml.hbs
Owners: @cruzdanilo

🔨 substreams: generate abi for lifi event
  substreams/build.rs
Owners: @cruzdanilo

🚚 server: move dockerfile to server
  .github/workflows/server-build.yaml
  server/Dockerfile
Owners: @cruzdanilo, @nfmelendez

👷 github: match rust problems
  .github/matcher.json
  cspell.json
Owners: @cruzdanilo

🚧 substreams: swaps and sink
  server/database/schema.ts
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 substreams: contracts, github, docker, digitalocean, sql
  .do/app.yaml
  .dockerignore
  .github/workflows/substreams-deploy.yaml
  .github/workflows/substreams-production.yaml
  .github/workflows/substreams-sandbox.yaml
  cspell.json
  pnpm-lock.yaml
  server/database/schema.ts
  substreams/.gitignore
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/Dockerfile
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/rustfmt.toml
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @cruzdanilo, @nfmelendez

🚧 substreams: market updates
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 substreams: market state
  .do/app.yaml
  .github/workflows/substreams-deploy.yaml
  .github/workflows/substreams-sandbox.yaml
  cspell.json
  server/database/schema.ts
  server/drizzle.config.ts
  substreams/Dockerfile
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @cruzdanilo, @nfmelendez
