Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🍱 app: add home card images
  src/assets/images/card-bg.svg
  src/assets/images/exa.svg
Owners: @dieguezguille, @franm91

💄 app: restyle card status component
  .changeset/curly-waves-yell.md
  .maestro/flows/local.yaml
  .maestro/subflows/activateCard.yaml
  .maestro/subflows/readHome.yaml
  .maestro/subflows/repay.yaml
  .maestro/subflows/rollover.yaml
  .maestro/subflows/scrollTo.yaml
  src/components/benefits/BenefitSheet.tsx
  src/components/home/CardLimits.tsx
  src/components/home/CardStatus.tsx
  src/components/home/CreditLimitSheet.tsx
  src/components/home/Home.tsx
  src/components/home/InstallmentsSheet.tsx
  src/components/home/InstallmentsSpotlight.tsx
  src/components/home/PayModeSheet.tsx
  src/components/home/Portfolio.tsx
  src/components/home/SpendingLimitSheet.tsx
  src/components/home/SpendingLimitsSheet.tsx
  src/i18n/es.json
  src/utils/queryClient.ts
  src/utils/useInstallmentRates.ts
  src/utils/useInstallments.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: adjust scroll view gaps
  .changeset/giant-parrots-enter.md
  src/components/card/Card.tsx
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restructure sheets layout
  .changeset/frank-schools-clap.md
  .maestro/subflows/activateCard.yaml
  src/components/defi/ConnectionSheet.tsx
  src/components/defi/IntroSheet.tsx
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: unify card mode mutation
  .changeset/jolly-radios-poke.md
  src/components/home/Home.tsx
  src/components/pay-mode/PaySelector.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: update tab bar ui
  .changeset/cold-poems-end.md
  src/app/(main)/(home)/_layout.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add installments calculator
  .changeset/purple-lizards-run.md
  .maestro/subflows/activateCard.yaml
  src/app/(main)/calculator.tsx
  src/components/home/Home.tsx
  src/components/home/InstallmentsSheet.tsx
  src/components/pay-mode/Calculator.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restyle overdue and upcoming payments
  .changeset/shiny-badgers-sleep.md
  .maestro/subflows/repay.yaml
  .maestro/subflows/rollover.yaml
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement new pay screen
  .changeset/green-weeks-care.md
  .maestro/flows/local.yaml
  .maestro/subflows/readPayments.yaml
  .maestro/subflows/repay.yaml
  .maestro/subflows/rollover.yaml
  src/app/(main)/(home)/pay-mode.tsx
  src/app/(main)/calculator.tsx
  src/app/(main)/pay/index.tsx
  src/components/home/Home.tsx
  src/components/loans/Loans.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/pay-mode/PaymentsActions.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/pay/AssetSelectionSheet.tsx
  src/components/pay/Calculator.tsx
  src/components/pay/Empty.tsx
  src/components/pay/ManualRepaymentSheet.tsx
  src/components/pay/OverduePayments.tsx
  src/components/pay/Pay.tsx
  src/components/pay/PaymentSheet.tsx
  src/components/pay/Repay.tsx
  src/components/pay/RepayAmountSelector.tsx
  src/components/pay/RolloverIntroSheet.tsx
  src/components/pay/UpcomingPayments.tsx
  src/components/shared/InfoSheet.tsx
  src/i18n/en.json
  src/i18n/es.json
  src/utils/usePendingOperations.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: polish contact list layout
  .changeset/bright-pandas-polish.md
  src/components/send-funds/Contact.tsx
  src/components/send-funds/Receiver.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: display card details in home screen
  .changeset/sunny-wolves-warn.md
  src/components/home/CardStatus.tsx
  src/components/home/Home.tsx
  src/components/loans/Loans.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 app: include expo config in fingerprint
  fingerprint.config.cjs
Owners: @cruzdanilo

➕ app: install react native webview
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

➕ app: install portuguese spell dictionary
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔧 cspell: setup portuguese check
  cspell.json
Owners: @cruzdanilo

♻️ app: extract date locale resolution
  src/components/pay/Pay.tsx
  src/components/pay/PaymentSheet.tsx
  src/i18n/index.ts
Owners: @dieguezguille, @franm91

⚰️ app: remove unused spanish translations
  src/i18n/es.json
Owners: @dieguezguille, @franm91

💬 app: use typographic apostrophes and quotes
  .changeset/fine-papayas-worry.md
  .maestro/subflows/activateCard.yaml
  src/components/add-funds/KYC.tsx
  src/components/add-funds/Status.tsx
  src/components/auth/PasskeysAbout.tsx
  src/components/home/CreditLimitSheet.tsx
  src/components/home/Home.tsx
  src/components/home/SpendingLimitSheet.tsx
  src/components/home/VisaSignatureSheet.tsx
  src/components/loans/Amount.tsx
  src/components/loans/LoanActivity.tsx
  src/components/pay/Empty.tsx
  src/components/pay/RolloverIntroSheet.tsx
  src/components/pay/UpcomingPayments.tsx
  src/components/send-funds/Contact.tsx
  src/components/send-funds/QR.tsx
  src/components/shared/Error.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

💬 app: consolidate camera and location permission text
  .changeset/brave-foxes-rush.md
  app.config.ts
Owners: @cruzdanilo

💬 app: consolidate card issuer disclaimer text
  src/components/card/Card.tsx
  src/components/card/CardDisclaimer.tsx
  src/components/home/card-upgrade/ActivateCard.tsx
  src/i18n/es.json
Owners: @dieguezguille, @franm91

🎨 app: sort i18n keys alphabetically
  src/i18n/en.json
  src/i18n/es.json
Owners: @dieguezguille, @franm91

🙈 global: ignore i18n sort noise in blame
  .git-blame-ignore-revs
Owners: @cruzdanilo

🌐 app: add missing weekly qualifier in spanish spending limit
  .changeset/free-meals-sip.md
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🌐 app: add missing spanish payment unavailable translation
  .changeset/sixty-bottles-burn.md
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🌐 app: translate camera and location permissions to spanish
  .changeset/clean-ducks-swim.md
  src/i18n/native/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🌐 app: add portuguese translations
  .changeset/long-rocks-rhyme.md
  src/app/_layout.tsx
  src/i18n/index.ts
  src/i18n/native/pt.json
  src/i18n/pt.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🌐 app: setup native locales
  .changeset/curvy-insects-sin.md
  app.config.ts
Owners: @cruzdanilo

👷 github: match maestro e2e failures
  .github/matcher.json
Owners: @cruzdanilo

👷 github: register matcher in e2e job
  .github/workflows/test.yaml
Owners: @cruzdanilo

👷 github: match maestro e2e failures
  .github/matcher.json
Owners: @cruzdanilo

👷 github: register matcher in e2e job
  .github/workflows/test.yaml
Owners: @cruzdanilo

🦺 server: return ok for non-processed persona templates
  .changeset/spotty-tigers-tease.md
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: require identity-validation completion for ramp tracking
  .changeset/ready-groups-beam.md
  server/hooks/manteca.ts
  server/test/hooks/manteca.test.ts
  server/utils/ramps/manteca.ts
Owners: @cruzdanilo, @nfmelendez

🚩 server: restrict miniapp discovery to base
  .changeset/brave-doors-glow.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable h3
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ server: add bank beneficiary address to deposit details
  .changeset/cohk-ogyn-nhcy.md
  server/api/ramp.ts
  server/test/api/ramp.test.ts
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: omit subdivision for non-us onboarding
  .changeset/bright-eagle-swim.md
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add account creation queue
  .changeset/plain-pumas-relax.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/hooks/activity.ts
  server/index.ts
  server/test/api/auth.test.ts
  server/test/hooks/activity.test.ts
  server/test/mocks/alchemy.ts
  server/test/mocks/redis.ts
  server/test/mocks/sentry.ts
  server/test/utils/createCredential.test.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
  server/utils/redis.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add maturity check and worker
  .changeset/dull-candies-cheer.md
  server/index.ts
  server/test/utils/maturity.test.ts
  server/utils/maturity.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable flatted
  pnpm-lock.yaml
Owners: @cruzdanilo

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
