Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

⚗️ app: debug base app
  src/app/+html.tsx
  src/utils/accountClient.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🔖 release: server@0.2.35, common@0.0.9, mobile@1.0.35
  .changeset/all-sloths-rush.md
  .changeset/five-jeans-live.md
  .changeset/full-dolls-vanish.md
  .changeset/pink-peas-go.md
  .changeset/silly-days-dance.md
  .changeset/slimy-jeans-shop.md
  .changeset/soft-eggs-count.md
  .changeset/tough-falcons-allow.md
  .changeset/weak-donuts-jump.md
  CHANGELOG.md
  common/CHANGELOG.md
  common/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🚧 adapt
  .maestro/flows/firstLoad.yaml
  .maestro/flows/signIn.yaml
  package.json
  src/app/_layout.tsx
  src/utils/queryClient.ts
  src/utils/test.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 setup
  .maestro/config.yaml
  .maestro/flows/firstLoad.yaml
  .maestro/flows/signIn.yaml
  package.json
Owners: @cruzdanilo

🩹 server: remove field from current government id
  .changeset/small-tools-begin.md
  server/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.36
  .changeset/small-tools-begin.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🚑 app: prevent wrong address display
  .changeset/violet-ideas-fly.md
  src/utils/useAccount.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚑 app: prevent wrong address display
  .changeset/violet-ideas-fly.md
  src/utils/useAccount.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚀 server: deploy new app version
  .changeset/nine-crabs-think.md
Owners: @cruzdanilo

🔖 release: mobile@1.0.36, server@0.2.37
  .changeset/nine-crabs-think.md
  .changeset/violet-ideas-fly.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🚑 wagmi: use exa factory v1.0 on optimism
  .changeset/icy-spiders-learn.md
  wagmi.config.ts
Owners: @cruzdanilo

🔖 release: server@0.2.38, mobile@1.0.37
  .changeset/icy-spiders-learn.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

⚡️ app: improve virtualized flat list usage
  .changeset/honest-pandas-admire.md
  src/components/activity/Activity.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 eas: setup beta build and submit profile
  eas.json
Owners: @cruzdanilo

➕ app: add walletconnect dependencies
  babel.config.cjs
  common/package.json
  cspell.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🍱 app: add walletconnect logo
  src/assets/images/walletconnect.svg
Owners: @dieguezguille, @franm91

✨ app: implement walletconnect
  .changeset/true-wolves-sink.md
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/AddFundsOption.tsx
  src/components/add-funds/Bridge.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/HomeActions.tsx
  src/utils/wagmi/external.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ app: install expo-image
  .ncurc
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

⚡️ app: implement asset logo caching
  .changeset/flat-books-mix.md
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/WeightedRate.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ app: install appkit dependencies
  .ncurc
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ app: implement appkit
  .changeset/beige-tables-deny.md
  src/app/_layout.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/Bridge.tsx
  src/utils/appkit.ts
  src/utils/wagmi/external.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⚗️ enable native wallet detection
  app.config.ts
  src/android.js
  tsconfig.json
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ app: install expo-localization
  .ncurc
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔧 app: add expo-localization plugin
  .changeset/sixty-llamas-write.md
  app.config.ts
Owners: @cruzdanilo

✨ app: configure language detector
  .changeset/fruity-dingos-behave.md
  src/app/_layout.tsx
  src/utils/languageDetector.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 cspell: ignore i18n
  cspell.json
Owners: @cruzdanilo

🌐 app: add spanish translation
  .changeset/young-items-happen.md
  src/app/_layout.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

⬆️ dependencies: upgrade drizzle kit
  .changeset/breezy-knives-begin.md
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🤡 app: disable lifi initialization for testnets
  src/app/_layout.tsx
Owners: @dieguezguille, @franm91

🥅 app: handle bad auth data
  .changeset/yummy-nights-rescue.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚑 wagmi: use exa factory v1.0 on optimism
  .changeset/icy-spiders-learn.md
  wagmi.config.ts
Owners: @cruzdanilo

📈 server: track ramps onboarding
  .changeset/seven-badgers-throw.md
  server/api/onramp.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix webhook retries
  .changeset/long-moons-brake.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ wagmi: use exa factory v1.0 on base sepolia
  wagmi.config.ts
Owners: @cruzdanilo

🍱 app: update icon and splash screen assets
  src/assets/favicon.png
  src/assets/icon-adaptive.png
  src/assets/icon.png
  src/assets/notifications_default.png
  src/assets/notifications_default_large.png
  src/assets/splash-dark.png
  src/assets/splash-dark@1.5x.png
  src/assets/splash-dark@2x.png
  src/assets/splash-dark@3x.png
  src/assets/splash-dark@4x.png
  src/assets/splash.png
  src/assets/splash@1.5x.png
  src/assets/splash@2x.png
  src/assets/splash@3x.png
  src/assets/splash@4x.png
Owners: @dieguezguille, @franm91

🔧 app: remove redundant asset configs
  app.config.ts
Owners: @cruzdanilo

🔧 server: update manifest icons
  .changeset/twenty-beans-peel.md
  public/manifest.json
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: standardize card status
  .changeset/fresh-kings-buy.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔧 common: setup alchemy for base networks
  .changeset/light-otters-report.md
  common/alchemyAPIKey.ts
  common/alchemyGasPolicyId.ts
Owners: @cruzdanilo

🔧 server: setup alchemy for base networks
  .changeset/silent-walls-relax.md
  server/hooks/activity.ts
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @cruzdanilo, @nfmelendez
