Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✨ app: update borrow activity ui
  .changeset/lazy-rules-write.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/BorrowActivity.tsx
  src/components/activity/details/BorrowDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💩 app: bump dev version
  package.json
Owners: @cruzdanilo

📈 server: track funded account and rejected tx
  .changeset/some-regions-decide.md
  server/hooks/activity.ts
  server/hooks/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

🚧 substreams: store initialized accounts by factory
  server/database/schema.ts
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 collector set
  server/database/schema.ts
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🔒️ server: constant-time signature verification
  .changeset/seven-hoops-happen.md
  server/test/utils/verifySignature.test.ts
  server/utils/alchemy.ts
  server/utils/panda.ts
  server/utils/verifySignature.ts
Owners: @cruzdanilo, @nfmelendez

🚑 server: skip none proposals
  .changeset/fast-pandas-sing.md
  server/hooks/block.ts
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

📈 server: track merchant data
  .changeset/soft-ducks-feel.md
  server/hooks/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

⚰️ server: remove cryptomate
  .changeset/sour-berries-cry.md
  .do/app.yaml
  server/api/card.ts
  server/hooks/cryptomate.ts
  server/index.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/hooks/cryptomate.test.ts
  server/utils/cryptomate.ts
  server/utils/segment.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

➖ server: remove unused dependencies
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

📈 server: track funded account and rejected tx
  .changeset/some-regions-decide.md
  server/hooks/activity.ts
  server/hooks/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

📈 server: track card mode
  .changeset/public-shrimps-refuse.md
  server/hooks/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

🥅 app: handle optional activity fields
  .changeset/tasty-heads-swim.md
  src/components/activity/ActivityItem.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ server: extract validator hook
  .changeset/weak-knives-jam.md
  server/api/activity.ts
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/card.ts
  server/api/kyc.ts
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/test/api/activity.test.ts
  server/test/hooks/persona.test.ts
  server/test/utils/validatorHook.test.ts
  server/utils/alchemy.ts
  server/utils/validatorHook.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: allow error suppression by query
  .changeset/fine-olives-laugh.md
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: filter out reports of expected errors
  .changeset/quick-rings-press.md
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/Home.tsx
  src/components/home/card-upgrade/VerifyIdentity.tsx
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix flex layout
  .changeset/four-moles-agree.md
  src/components/add-funds/AddCrypto.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚨 app: add forward ref to text component
  src/components/shared/Text.tsx
Owners: @dieguezguille, @franm91

💄 app: improve portfolio asset columns on web
  .changeset/thin-dots-smoke.md
  src/components/home/AssetList.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add exa token to lifi response
  .changeset/stale-geckos-study.md
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💬 app: update meta description
  .changeset/great-turtles-eat.md
  src/app/(app)/(home)/_layout.tsx
  src/app/+html.tsx
  src/app/onboarding/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.0.17, server@0.2.7
  .changeset/bright-pugs-repeat.md
  .changeset/fast-pandas-sing.md
  .changeset/fine-olives-laugh.md
  .changeset/four-moles-agree.md
  .changeset/great-turtles-eat.md
  .changeset/public-shrimps-refuse.md
  .changeset/quick-rings-press.md
  .changeset/seven-hoops-happen.md
  .changeset/soft-ducks-feel.md
  .changeset/some-regions-decide.md
  .changeset/sour-berries-cry.md
  .changeset/stale-geckos-study.md
  .changeset/tasty-heads-swim.md
  .changeset/thin-dots-smoke.md
  .changeset/weak-knives-jam.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

✨ server: include borrows in activity endpoint
  .changeset/pretty-chairs-jog.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

✨ server: add swaps activity endpoint
  .changeset/slimy-toys-fix.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/anvil.ts
  server/test/api/activity.test.ts
  server/test/mocks/deployments.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🎨 server: improve borrows activity payload
  .changeset/twelve-clowns-bow.md
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: group same asset deposits within block range
  .changeset/light-mice-sell.md
  contracts/test/mocks/Bob.s.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🧑‍💻 common: wrap lifi get tokens function
  common/lifiTokens.ts
Owners: @cruzdanilo

🔒️ server: update rpc client auth
  .changeset/fuzzy-eels-doubt.md
  server/test/mocks/keeper.ts
  server/utils/ensClient.ts
  server/utils/keeper.ts
  server/utils/publicClient.ts
  server/utils/traceClient.ts
  src/utils/publicClient.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

📈 server: track updated declined tx
  .changeset/nasty-nails-fix.md
  server/hooks/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

🚧 server: include tokens information on swap activity
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @nfmelendez

✨ app: enable logout button in production
  .changeset/good-schools-smash.md
  src/components/settings/Settings.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 server: signature script
  cspell.json
  server/script/signature.ts
Owners: @cruzdanilo, @nfmelendez

🚧 app: implement sign-in with ethereum
  src/components/onboarding/Passkeys.tsx
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🚑 server: reject on bad panda
  .changeset/public-groups-throw.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.8
  .changeset/public-groups-throw.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⚗️ debug version code
  .github/workflows/mobile-expo.yaml
  .github/workflows/mobile-production.yaml
  docs/package.json
  package.json
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🥅 app: handle associated domain error on ios
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
  src/components/shared/ErrorDialog.tsx
Owners: @dieguezguille, @franm91

✨ app: enable logout button in production
  .changeset/good-schools-smash.md
  src/components/settings/Settings.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

📈 server: track updated declined tx
  .changeset/nasty-nails-fix.md
  server/hooks/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable libraries
  contracts/.gas-snapshot
  contracts/package.json
  package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo
