Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🧑‍💻 agents: document cast usage for onchain debugging
  AGENTS.md
Owners: @cruzdanilo

🧑‍💻 agents: add spotlight mcp server and directive
  .codex/config.toml
  .gemini/settings.json
  .mcp.json
  AGENTS.md
Owners: @cruzdanilo

🧑‍💻 agents: emphasize aesthetics, ban snake case
  AGENTS.md
Owners: @cruzdanilo

🧑‍💻 agents: favor single words as aesthetics convention
  AGENTS.md
Owners: @cruzdanilo

🔖 release: server@0.2.65
  .changeset/calm-wolves-hunt.md
  .changeset/clear-guests-end.md
  .changeset/smooth-boxes-sip.md
  .changeset/steady-otter-handle.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: unify command references around nx
  .agents/rules/app.md
  .agents/rules/contracts.md
  .agents/rules/docs.md
  .agents/rules/server.md
  AGENTS.md
Owners: @cruzdanilo

🔖 release: server@0.2.65
  .changeset/calm-wolves-hunt.md
  .changeset/clear-guests-end.md
  .changeset/smooth-boxes-sip.md
  .changeset/steady-otter-handle.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⬆️ contracts: upgrade foundry to v1.5.1
  .github/workflows/docs.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  README.md
  contracts/.gas-snapshot
  contracts/foundry.toml
  contracts/package.json
  contracts/script/Base.s.sol
  contracts/script/ExaAccountFactory.s.sol
  contracts/src/ExaPlugin.sol
  contracts/src/ExaPreviewer.sol
  contracts/src/IssuerChecker.sol
  contracts/test/ExaPlugin.t.sol
  contracts/test/Fork.t.sol
  contracts/test/Refunder.t.sol
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  contracts/test/mocks/MockSwapper.sol
  server/Dockerfile
  server/test/anvil.ts
  substreams/Dockerfile
Owners: @cruzdanilo, @itofarina, @nfmelendez

✅ server: scope withdraw capture checks by nonce
  server/hooks/block.ts
  server/test/hooks/block.test.ts
Owners: @nfmelendez

✅ server: scope proposal capture checks by nonce
  .changeset/cozy-badgers-allow.md
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

✅ e2e: harden animation guards in repay and rollover flows
  .maestro/subflows/repay.yaml
  .maestro/subflows/rollover.yaml
Owners: @cruzdanilo

🚑️ app: fix missing slippage on repay max amount
  .changeset/brave-falcon-swim.md
  src/components/pay-mode/Pay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 server: fingerprint api errors by response message
  .changeset/twenty-bananas-cheer.md
  server/index.ts
  server/test/utils/manteca.test.ts
  server/utils/ramps/manteca.ts
  server/utils/sardine.ts
Owners: @cruzdanilo, @nfmelendez

🥅 app: globally suppress expected kyc api errors
  .changeset/quiet-owls-rest.md
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: suppress network failure errors in error reporter
  .changeset/shy-foxes-glow.md
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: server@0.2.66, mobile@1.1.15
  .changeset/brave-falcon-swim.md
  .changeset/cozy-badgers-allow.md
  .changeset/quiet-owls-rest.md
  .changeset/shy-foxes-glow.md
  .changeset/twenty-bananas-cheer.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🥅 app: fingerprint api errors with status
  .changeset/quiet-otters-track.md
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 server: group api errors by specific reason
  .changeset/lucky-wolves-balance.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: suppress no-balance until retries exhaust
  .changeset/brisk-otter-filter.md
  server/hooks/activity.ts
  server/test/hooks/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: split timeout boundary and flow coverage in panda tests
  .changeset/tired-states-stop.md
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: relax word-splitting rule to hyphen-joined prose
  .agents/skills/commit/SKILL.md
Owners: @cruzdanilo

👷 github: restrict sentry release step to production builds
  .github/workflows/mobile-expo.yaml
  .github/workflows/server-build.yaml
  package.json
Owners: @cruzdanilo

🔖 release: mobile@1.1.16, server@0.2.67
  .changeset/brisk-otter-filter.md
  .changeset/lucky-wolves-balance.md
  .changeset/quiet-otters-track.md
  .changeset/tired-states-stop.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🧑‍💻 agents: consolidate inlining and abstraction guidance
  AGENTS.md
Owners: @cruzdanilo

🥅 server: handle legacy withdraw validation revert
  .changeset/calm-otter-guard.md
  server/hooks/block.ts
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: clarify scope requirement in commit skill
  .agents/skills/commit/SKILL.md
Owners: @cruzdanilo

🧑‍💻 agents: add coverage and assertion guidelines for server
  .agents/rules/server.md
Owners: @cruzdanilo

🔥 server: remove legacy card response fields
  .changeset/shy-areas-flash.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

🎨 server: compact card api schema formatting
  server/api/card.ts
Owners: @nfmelendez

🥅 server: handle no panda user on card endpoint
  .changeset/calm-otter-map.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔧 dependencies: suppress moderate ajv redos advisory
  package.json
Owners: @cruzdanilo

♻️ server: extract revert reason into shared utility
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/hooks/block.test.ts
  server/test/utils/revertFingerprint.test.ts
  server/utils/fingerprintRevert.ts
  server/utils/keeper.ts
  server/utils/revertFingerprint.ts
  server/utils/revertReason.ts
Owners: @nfmelendez

📈 server: improve panda settlement failure telemetry
  .changeset/swift-otter-report.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

📈 server: improve panda refund failure telemetry
  .changeset/gentle-lions-shout.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.68
  .changeset/calm-otter-guard.md
  .changeset/calm-otter-map.md
  .changeset/gentle-lions-shout.md
  .changeset/shy-areas-flash.md
  .changeset/swift-otter-report.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade viem and wagmi
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

♻️ app: replace proposal simulation with simulate blocks
  .changeset/tidy-geese-batch.md
  src/utils/useSimulateProposal.ts
  src/utils/wagmi/useSimulateBlocks.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: fingerprint network errors
  .changeset/bright-foxes-glow.md
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: suppress expected network errors
  .changeset/loose-geckos-change.md
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: handle biometric check before passkey fallback
  .changeset/bright-dogs-handle.md
  src/utils/reportError.ts
  src/utils/useAuth.ts
Owners: @cruzdanilo, @dieguezguille, @franm91
