Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

💄 app: fix swaps screen styles
  .changeset/khaki-bears-jog.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: remove redundant props from layouts
  src/app/(app)/_layout.tsx
  src/app/(app)/activity-details/_layout.tsx
  src/app/(app)/add-funds/_layout.tsx
  src/app/(app)/getting-started/_layout.tsx
  src/app/(app)/loan/_layout.tsx
  src/app/(app)/pay/_layout.tsx
  src/app/(app)/roll-debt/_layout.tsx
  src/app/(app)/send-funds/_layout.tsx
  src/app/_layout.tsx
  src/app/onboarding/_layout.tsx
Owners: @dieguezguille, @franm91

📱 app: improve web media queries
  .changeset/giant-facts-beam.md
  src/app/+html.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: open persona kyc in a new tab
  .changeset/clean-parrots-walk.md
  src/utils/persona.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚚 app: rename auth components
  src/app/(auth)/(passkeys)/about.tsx
  src/app/(auth)/(passkeys)/passkeys.tsx
  src/app/(auth)/index.tsx
  src/app/(auth)/success.tsx
  src/components/auth/Auth.tsx
  src/components/auth/ListItem.tsx
  src/components/auth/Pagination.tsx
  src/components/auth/Passkeys.tsx
  src/components/auth/PasskeysAbout.tsx
  src/components/auth/Success.tsx
  src/components/onboarding/Onboarding.tsx
Owners: @dieguezguille, @franm91

⚰️ app: remove unnecessary import
  src/utils/queryClient.ts
Owners: @dieguezguille, @franm91

🎨 app: prefer mini app query on auth layout
  .changeset/cruel-fans-enter.md
  src/app/(auth)/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: allow client redirect uri
  .changeset/sixty-bottles-build.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: detect embedding context
  .changeset/two-doors-cry.md
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: improve auth flow when embedded
  .changeset/gold-rats-jump.md
  src/components/auth/Auth.tsx
  src/components/auth/Passkeys.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

📈 server: fix sentry operation and set declined description
  .changeset/eighty-cars-enter.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ server: encryption poc
  server/script/encrypt.ts
Owners: @nfmelendez

🔨 server: add integration example
  server/script/example.ts
Owners: @nfmelendez

⬆️ dependencies: upgrade vulnerable vite
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

⬆️ dependencies: upgrade hono packages
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade valibot json schema converter
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

💬 app: add title and description to package
  package.json
Owners: @cruzdanilo

💬 app: read html metadata from package
  src/app/+html.tsx
Owners: @dieguezguille, @franm91

🎨 app: improve embedding context detection
  src/components/auth/Auth.tsx
  src/utils/queryClient.ts
Owners: @dieguezguille, @franm91

✨ app: detect farcaster web embedding
  src/utils/queryClient.ts
Owners: @dieguezguille, @franm91

✨ server: setup farcaster manifest
  server/index.ts
Owners: @nfmelendez

✨ app: set kyc redirect based on embedding context
  .changeset/icy-items-sing.md
  src/utils/persona.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

👷 github: disable eas auto-submit
  .github/workflows/mobile-expo.yaml
Owners: @cruzdanilo

🐛 app: fix copy address modal close
  .changeset/hungry-rivers-deny.md
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🛂 server: setup csrf protection
  .changeset/gold-comics-learn.md
  server/api/index.ts
Owners: @cruzdanilo, @nfmelendez

🛂 server: setup frontend secure headers
  .changeset/puny-oranges-travel.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: document card api
  .changeset/six-ideas-go.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: improve api documentation
  .changeset/cute-rules-write.md
  docs/src/content/docs/index.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add cancel card
  .changeset/few-moles-push.md
  server/api/card.ts
  server/utils/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: add react pdf renderer
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: enable react tsx
  server/tsconfig.json
Owners: @nfmelendez

✨ server: add card statement
  .changeset/stale-owls-work.md
  server/api/activity.ts
  server/utils/Statement.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🩹 server: return correct card status
  .changeset/gold-ties-tan.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: add sandbox dedicated ips
  .changeset/long-nails-doubt.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🛂 server: partition auth cookie
  .changeset/easy-dogs-press.md
  server/api/auth/authentication.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

📈 app: set injected account context
  src/utils/injectedConnector.ts
Owners: @dieguezguille, @franm91

🚧
  server/database/schema.ts
Owners: @nfmelendez
