Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🔧 server: setup sentry for base networks
  server/instrument.cjs
Owners: @nfmelendez

✨ server: create alchemy's block hook automatically
  .changeset/weak-bottles-allow.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

⚡️ server: skip empty alchemy blocks
  .changeset/easy-things-start.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: extract alchemy api headers
  server/hooks/block.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @nfmelendez

♻️ server: extract alchemy webhook finder
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

♻️ server: extract alchemy webhook creator
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

✨ server: create alchemy's activity hook automatically
  .changeset/polite-animals-slide.md
  server/hooks/activity.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade viem
  common/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable valibot and node-forge
  common/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🚧 server: retrieve session token in manteca inquiry
  server/utils/persona.ts
  server/utils/ramps/manteca.ts
  server/utils/ramps/shared.ts
Owners: @nfmelendez

✨ server: create signature card
  .changeset/soft-eggs-count.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

🚧 server: allow to submit a new identity id
  server/utils/persona.ts
  server/utils/ramps/manteca.ts
Owners: @nfmelendez

🚧
  src/app/(main)/_layout.tsx
  src/app/(main)/add-funds/onramp-onboarding.tsx
  src/app/(main)/add-funds/ramp-details.tsx
  src/app/(main)/add-funds/verification-status.tsx
  src/assets/images/face-id.svg
  src/components/add-funds/AddFiatButton.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/LinkSheet.tsx
  src/components/add-funds/OnRampOnBoarding.tsx
  src/components/add-funds/RampDetails.tsx
  src/components/add-funds/VerificationStatus.tsx
  src/components/home/HomeActions.tsx
  src/utils/persona.ts
  src/utils/server.ts
  src/utils/useOnRampProviders.ts
Owners: @dieguezguille, @franm91

🔨 global: setup orchestration with nx
  .cursor/rules/nx.mdc
  .github/workflows/docs.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  .gitignore
  Dockerfile
  common/package.json
  contracts/package.json
  docs/package.json
  mcp.json
  nx.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @itofarina, @nfmelendez

feat(nx-cloud): setup nx cloud workspace
  nx.json
Owners: @cruzdanilo

🩹 app: disable lifi initialization for testnets and ssr
  src/app/_layout.tsx
Owners: @dieguezguille, @franm91

🥅 app: handle bad auth data
  .changeset/yummy-nights-rescue.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 common: setup alchemy for base networks
  .changeset/light-otters-report.md
  common/alchemyAPIKey.ts
  common/alchemyGasPolicyId.ts
Owners: @cruzdanilo

🔧 server: setup alchemy for base networks
  .changeset/silent-walls-relax.md
  server/hooks/activity.ts
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: setup sentry for base networks
  server/instrument.cjs
Owners: @nfmelendez

✨ server: create alchemy's block hook automatically
  .changeset/weak-bottles-allow.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

⚡️ server: skip empty alchemy blocks
  .changeset/easy-things-start.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: extract alchemy api headers
  server/hooks/block.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @nfmelendez

♻️ server: extract alchemy webhook finder
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

♻️ server: extract alchemy webhook creator
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

✨ server: create alchemy's activity hook automatically
  .changeset/polite-animals-slide.md
  server/hooks/activity.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade viem
  common/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable valibot and node-forge
  common/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔨 global: setup orchestration with nx
  .cursor/rules/nx.mdc
  .github/workflows/docs.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  .gitignore
  Dockerfile
  common/package.json
  contracts/package.json
  docs/package.json
  mcp.json
  nx.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @itofarina, @nfmelendez

🍱 app: add visa signature migration assets
  src/assets/images/card-signature.svg
  src/assets/images/exa-logo-signature.svg
  src/assets/images/platinum-full.svg
  src/assets/images/signature-banner.png
  src/assets/images/signature-full.svg
  src/assets/images/visa-logo-signature.svg
Owners: @dieguezguille, @franm91

🐛 app: fix available balance text wrap
  .changeset/chatty-camels-leave.md
  src/components/card/exa-card/CardContents.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 cspell: add ellipsize
  cspell.json
Owners: @cruzdanilo

✨ app: implement visa signature migration
  .changeset/shaky-taxes-drop.md
  src/components/card/CardDetails.tsx
  src/components/card/exa-card/CardContents.tsx
  src/components/card/exa-card/ExaCard.tsx
  src/components/home/CardStatus.tsx
  src/components/home/Home.tsx
  src/components/home/VisaSignatureBanner.tsx
  src/components/home/VisaSignatureSheet.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix persisting spending limits skeleton
  .changeset/angry-hoops-slide.md
  src/components/card/Card.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🩹 app: disable lifi initialization for testnets and ssr
  src/app/_layout.tsx
Owners: @dieguezguille, @franm91

🥅 app: handle bad auth data
  .changeset/yummy-nights-rescue.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⬆️ dependencies: upgrade viem
  common/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable valibot and node-forge
  common/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 common: setup alchemy for base networks
  .changeset/light-otters-report.md
  common/alchemyAPIKey.ts
  common/alchemyGasPolicyId.ts
Owners: @cruzdanilo

🔧 server: setup alchemy for base networks
  .changeset/silent-walls-relax.md
  server/hooks/activity.ts
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
