Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🚀 infra: deploy testnet stacks
  infra/Pulumi.base-sepolia.yaml
  infra/Pulumi.sandbox.yaml
Owners: @cruzdanilo

🚀 infra: deploy production stacks
  .changeset/fair-baths-stop.md
  .changeset/short-pears-visit.md
  infra/Pulumi.base.yaml
  infra/Pulumi.production.yaml
Owners: @cruzdanilo

🔧 changeset: drop duplicate
  .changeset/twenty-gifts-relax.md
Owners: @cruzdanilo

👷 github: fix github-api release integration
  .github/workflows/test.yaml
  .github/workflows/version.yaml
Owners: @cruzdanilo

👷 eas: associate codecov uploads with pull requests
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🦺 server: require keeper role on refund startup
  server/test/e2e.ts
  server/test/workers/refund.test.ts
  server/workers/refund/worker.ts
Owners: @nfmelendez

✅ e2e: optimize web scroll lookup
  .changeset/swift-otters-scroll.md
  .maestro/subflows/assertHome.yaml
  .maestro/subflows/scrollTo.yaml
Owners: @cruzdanilo

👷 eas: preserve pull request context in codecov
  .eas/workflows/local.yaml
Owners: @cruzdanilo

✨ server: add hook worker
  .changeset/brave-otter-deliver.md
  infra/utils/modules.ts
  server/hooks/panda.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/panda.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/hook.test.ts
  server/test/workers/refund.test.ts
  server/workers/hook/bin.ts
  server/workers/hook/job.ts
  server/workers/hook/queue.ts
  server/workers/hook/worker.ts
  server/workers/refund/worker.ts
Owners: @cruzdanilo, @nfmelendez

👷 eas: fix codecov branch attribution
  .eas/workflows/local.yaml
Owners: @cruzdanilo

✨ app: persist intercom session until auth expiry
  .changeset/brave-otters-listen.md
  src/utils/intercom.ts
  src/utils/queryClient.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: open support from any route
  .changeset/olive-jokes-attend.md
  src/app/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

👷 github: deploy base-sepolia from same name branch
  .github/workflows/server-base-sepolia.yaml
Owners: @cruzdanilo

📈 server: identify hook traces by cloud run service
  .changeset/public-vans-shine.md
  server/instrument.cjs
  server/test/instrument.test.ts
Owners: @cruzdanilo, @nfmelendez

🔧 infra: set production domain
  infra/Pulumi.production.yaml
Owners: @cruzdanilo

🔧 app: verify domains with meta
  .changeset/tiny-moons-create.md
  src/app/+html.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⬆️ dependencies: upgrade sentry
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🩹 server: expose sentry config
  .changeset/gold-mirrors-drive.md
  server/instrument.cjs
Owners: @cruzdanilo, @nfmelendez

👷 github: pass sentry token to server deploys
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-base.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-production.yaml
  .github/workflows/server-sandbox.yaml
Owners: @cruzdanilo

🧱 infra: route crema through production vpc
  .changeset/mighty-terms-sneeze.md
  infra/index.ts
Owners: @cruzdanilo

🔧 nx: reduce install overhead with a unified prepare run
  .changeset/humble-bushes-move.md
  .maestro/package.json
  common/package.json
  docs/package.json
  nx.json
  package.json
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✅ e2e: prevent clipped pay mode taps
  .changeset/some-peaches-turn.md
  .maestro/subflows/activateCard.yaml
  .maestro/subflows/scrollTo.yaml
Owners: @cruzdanilo

🔧 server: build entrypoints for api and hooks
  .changeset/nice-days-deny.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 nx: optimize e2e build caching
  .maestro/package.json
Owners: @cruzdanilo

🔧 nx: refine cache invalidation inputs
  .maestro/package.json
  contracts/package.json
Owners: @cruzdanilo, @itofarina

✨ server: migrate webhook subscription to queue
  .changeset/large-candies-brake.md
  .changeset/plain-pumas-relax.md
  infra/Pulumi.base-sepolia.yaml
  infra/Pulumi.base.yaml
  infra/Pulumi.production.yaml
  infra/Pulumi.sandbox.yaml
  infra/utils/modules.ts
  server/api/index.ts
  server/index.ts
  server/script/openapi.ts
  server/test/api/auth.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/utils/alchemy.test.ts
  server/test/utils/createCredential.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/subscribe.test.ts
  server/utils/createCredential.ts
  server/workers/subscribe/bin.ts
  server/workers/subscribe/job.ts
  server/workers/subscribe/queue.ts
  server/workers/subscribe/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: implement multi-chain activity subscriptions
  .changeset/tall-facts-chew.md
  .maestro/src/server.ts
  infra/Pulumi.base-sepolia.yaml
  infra/Pulumi.base.yaml
  infra/Pulumi.production.yaml
  infra/Pulumi.sandbox.yaml
  infra/utils/modules.ts
  server/hooks/activity.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/mocks/alchemy.ts
  server/test/utils/alchemy.test.ts
  server/test/utils/verifySignature.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/subscribe.test.ts
  server/utils/activityWebhook.ts
  server/utils/alchemy.ts
  server/utils/verifySignature.ts
  server/vitest.config.mts
  server/workers/subscribe/bin.ts
  server/workers/subscribe/queue.ts
  server/workers/subscribe/worker.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: add mastra dependencies
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement chat hook and worker
  .changeset/chubby-melons-look.md
  .changeset/lucky-parrots-chat.md
  infra/Pulumi.base-sepolia.yaml
  infra/Pulumi.production.yaml
  infra/Pulumi.sandbox.yaml
  infra/utils/modules.ts
  server/hooks/bin/chat.ts
  server/hooks/chat.ts
  server/instrument.cjs
  server/package.json
  server/test/hooks/bin.test.ts
  server/test/hooks/chat.test.ts
  server/test/hooks/hook.test.ts
  server/test/utils/whatsapp.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/chat.eval.ts
  server/test/workers/chat.test.ts
  server/utils/whatsapp.ts
  server/vitest.config.mts
  server/workers/chat/bin.ts
  server/workers/chat/job.ts
  server/workers/chat/queue.ts
  server/workers/chat/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: process auto-credit in worker
  .changeset/afraid-mangos-follow.md
  .changeset/tender-foxes-feel.md
  infra/utils/modules.ts
  server/api/card.ts
  server/api/index.ts
  server/hooks/activity.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/credit.test.ts
  server/utils/panda.ts
  server/workers/credit/bin.ts
  server/workers/credit/job.ts
  server/workers/credit/queue.ts
  server/workers/credit/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: process poke in worker
  .changeset/bumpy-regions-read.md
  .changeset/proud-tools-sneeze.md
  infra/Pulumi.base.yaml
  infra/Pulumi.production.yaml
  infra/utils/modules.ts
  server/hooks/activity.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/poke.test.ts
  server/workers/credit/queue.ts
  server/workers/poke/bin.ts
  server/workers/poke/job.ts
  server/workers/poke/queue.ts
  server/workers/poke/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: automate firewall allow after kyc approval
  .changeset/blue-bottles-wave.md
  .changeset/free-lamps-pump.md
  infra/utils/modules.ts
  server/hooks/persona.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/deployments.ts
  server/test/workers/allow.test.ts
  server/test/workers/bin.test.ts
  server/workers/allow/bin.ts
  server/workers/allow/job.ts
  server/workers/allow/queue.ts
  server/workers/allow/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add runtime entrypoints for api and hooks
  .changeset/brown-ties-create.md
  .changeset/yellow-corners-bet.md
  infra/utils/modules.ts
  server/api/bin.ts
  server/hooks/bin/activity.ts
  server/hooks/bin/block.ts
  server/hooks/bin/bridge.ts
  server/hooks/bin/manteca.ts
  server/hooks/bin/panda.ts
  server/hooks/bin/persona.ts
  server/test/api/bin.test.ts
  server/test/hooks/bin.test.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add whatsapp id column to credentials
  server/database/schema.ts
Owners: @nfmelendez

✨ server: add chat association endpoint
  .changeset/warm-otters-associate.md
  infra/utils/modules.ts
  server/api/bin.ts
  server/api/chat.ts
  server/api/index.ts
  server/index.ts
  server/script/openapi.ts
  server/test/api/api.test.ts
  server/test/api/bin.test.ts
  server/test/api/chat.test.ts
  server/test/utils/chat.test.ts
  server/utils/chat.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🚧 server: add chat hook
  infra/utils/modules.ts
  server/api/bin.ts
  server/api/chat.ts
  server/api/index.ts
  server/hooks/chat.ts
  server/index.ts
  server/script/openapi.ts
  server/test/api/bin.test.ts
  server/test/api/chat.test.ts
  server/test/hooks/chat.test.ts
  server/test/utils/chat.test.ts
  server/test/utils/whatsapp.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/chat.eval.ts
  server/test/workers/chat.test.ts
  server/utils/chat.ts
  server/utils/whatsapp.ts
  server/vitest.config.mts
  server/workers/chat/bin.ts
  server/workers/chat/job.ts
  server/workers/chat/worker.ts
Owners: @cruzdanilo, @nfmelendez

🍱 app: add chat association assets
  src/assets/images/isotype.svg
  src/assets/images/whatsapp.svg
Owners: @dieguezguille, @franm91

🚧 app: associate account to whatsapp id
  cspell.json
  src/app/(main)/whatsapp.tsx
  src/components/whatsapp/Whatsapp.tsx
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: add account statement
  .changeset/fine-houses-invite.md
  server/api/activity.ts
  server/test/api/activity.test.ts
  server/test/utils/account-statement.test.ts
  server/utils/AccountStatement.tsx
  server/utils/Statement.tsx
Owners: @cruzdanilo, @nfmelendez

🩹 server: distinguish queue redis connections
  .changeset/gentle-paths-tap.md
  server/index.ts
  server/test/workers/hook.test.ts
  server/test/workers/refund.test.ts
  server/workers/hook/queue.ts
  server/workers/queue.ts
  server/workers/refund/queue.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
