Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🔨 substreams: generate abi for lifi event
  substreams/build.rs
Owners: @cruzdanilo

🔨 substreams: build before testing
  substreams/package.json
Owners: @cruzdanilo

👷 github: install substreams cli for test
  .github/workflows/test.yaml
Owners: @cruzdanilo

🚚 server: move dockerfile to server
  .github/workflows/server-deploy.yaml
  server/Dockerfile
Owners: @cruzdanilo, @nfmelendez

🥅 server: recover from missing sent transaction
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @nfmelendez

⚗️ app: mitigate ref warnings on web
  src/components/activity/Activity.tsx
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/pay-mode/PayMode.tsx
Owners: @dieguezguille, @franm91

✨ server: add rollover activity
  .changeset/free-boxes-doubt.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/anvil.ts
  server/test/api/activity.test.ts
  server/test/mocks/deployments.ts
  wagmi.config.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

♻️ server: filter repay caller locally
  server/api/activity.ts
Owners: @nfmelendez

✨ server: add liquidation activity
  .changeset/late-shoes-raise.md
  contracts/src/IExaAccount.sol
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/MockPriceFeed.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🎨 server: extract borrow activity and export type
  server/api/activity.ts
Owners: @nfmelendez

✨ app: implement rollover activity
  .changeset/slimy-lies-hunt.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/activity/details/RolloverActivity.tsx
  src/components/activity/details/RolloverDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🧑‍💻 app: add log out button in dev mode
  .changeset/silly-bees-agree.md
  src/components/settings/Settings.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 server: remove duplicated merchant data
  .changeset/angry-goats-fly.md
  server/api/activity.ts
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove wrong health check
  .changeset/cold-worlds-cough.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add settlement to card activity
  .changeset/weak-hounds-arrive.md
  server/api/activity.ts
  server/test/api/activity.test.ts
  src/components/activity/details/PurchaseDetails.tsx
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

👷 github: match rust problems
  .github/matcher.json
  cspell.json
Owners: @cruzdanilo

✨ server: handle transaction complete event
  .changeset/plain-bushes-battle.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

🚧 substreams: swaps and sink
  server/database/schema.ts
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 substreams: market updates
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 substreams: contracts, github, docker, digitalocean, sql
  .cursor/rules/style.mdc
  .do/app.yaml
  .dockerignore
  .github/workflows/substreams-deploy.yaml
  .github/workflows/substreams-production.yaml
  .github/workflows/substreams-sandbox.yaml
  cspell.json
  package.json
  pnpm-lock.yaml
  server/database/schema.ts
  substreams/.gitignore
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/Dockerfile
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/rustfmt.toml
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @cruzdanilo, @nfmelendez

🚧 substreams: market state
  .do/app.yaml
  .github/workflows/server-sandbox.yaml
  .github/workflows/substreams-deploy.yaml
  .github/workflows/substreams-sandbox.yaml
  cspell.json
  server/database/schema.ts
  server/drizzle.config.ts
  substreams/Dockerfile
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @cruzdanilo, @nfmelendez

🐛 app: fix operations display in activity details
  .changeset/honest-roses-tease.md
  src/components/activity/details/CardActivity.tsx
  src/components/activity/details/PurchaseDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 borrow shares
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🐛 app: fix processing state colors for payments
  .changeset/shiny-pandas-run.md
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/UpcomingPayments.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix proposal banner cursor
  .changeset/loud-peaches-take.md
  src/components/shared/ProposalBanner.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: improve empty requests component
  .changeset/mean-tools-obey.md
  src/components/activity/PendingProposals.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add lifi api key
  .changeset/fancy-chairs-heal.md
  src/app/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor pending proposals
  .changeset/open-baths-warn.md
  src/components/activity/PendingProposals.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ common: add decode borrow at maturity
  .changeset/flat-pears-decide.md
  common/ProposalType.ts
Owners: @cruzdanilo

💄 app: unify screen header icon colors
  .changeset/tangy-adults-do.md
  src/components/card/Card.tsx
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: extract shared progress screens
  .changeset/tough-monkeys-invent.md
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: prefer shared progress components
  .changeset/tough-roses-dance.md
  src/components/pay-mode/Pay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: drop unused progress components
  .changeset/all-lies-lay.md
  src/components/pay-mode/Failure.tsx
  src/components/pay-mode/Pending.tsx
  src/components/pay-mode/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add loans svg
  .changeset/fluffy-eyes-heal.md
  src/assets/images/loans.svg
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 loans
  .changeset/open-paths-reply.md
  src/app/(app)/(home)/_layout.tsx
  src/app/(app)/(home)/loans.tsx
  src/app/(app)/(home)/more.tsx
  src/app/(app)/loan/_layout.tsx
  src/app/(app)/loan/amount.tsx
  src/app/(app)/loan/index.tsx
  src/app/(app)/loan/installments.tsx
  src/app/(app)/loan/maturity.tsx
  src/app/(app)/loan/receiver.tsx
  src/app/(app)/loan/review.tsx
  src/components/loans/Amount.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/GetALoan.tsx
  src/components/loans/Installments.tsx
  src/components/loans/LoanActivity.tsx
  src/components/loans/Loans.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/more/More.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/TabBar.tsx
  src/components/shared/TransactionDetails.tsx
  src/i18n/en.json
  src/utils/queryClient.ts
  src/utils/useAsset.ts
  src/utils/useInstallments.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 fixed borrows
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 helper script
  contracts/script/Ninja.s.sol
  contracts/src/Ninja.sol
  substreams/substreams.yaml.hbs
Owners: @itofarina, @cruzdanilo

♻️ app: refactor pending proposals
  .changeset/open-baths-warn.md
  src/components/activity/PendingProposals.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: extract shared progress screens
  .changeset/tough-monkeys-invent.md
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add lifi api key
  .changeset/fancy-chairs-heal.md
  src/app/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91
