Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🙈 global: ignore performance tooling files
  .gitignore
Owners: @cruzdanilo

🚧 improvements
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
Owners: @nfmelendez

🔧 contracts: setup forge lint
  contracts/foundry.toml
  contracts/script/Base.s.sol
Owners: @itofarina

✨ app: enable send funds with qr code
  .changeset/spotty-spies-yawn.md
  src/components/send-funds/Receiver.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🩹 app: add missing enable condition for pending proposals
  .changeset/eager-places-report.md
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚨 app: fix tamagui warning
  .changeset/busy-towns-tell.md
  src/components/add-funds/AssetSelectSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add walletconnect logo
  src/assets/images/walletconnect.svg
Owners: @dieguezguille, @franm91

✨ app: implement walletconnect
  .changeset/true-wolves-sink.md
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/AddFundsOption.tsx
  src/components/add-funds/Bridge.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/HomeActions.tsx
  src/utils/wagmi/external.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement lifi bridge
  .changeset/eager-parrots-make.md
  src/app/(main)/_layout.tsx
  src/app/(main)/add-funds/_layout.tsx
  src/app/(main)/add-funds/bridge.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AddCryptoButton.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/AddFundsOption.tsx
  src/components/add-funds/AssetSelectSheet.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/ChainLogo.tsx
  src/components/add-funds/TokenLogo.tsx
  src/components/home/HomeActions.tsx
  src/components/pay-mode/Pay.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/lifi.ts
  src/utils/wagmi/owner.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ app: add walletconnect dependencies
  babel.config.cjs
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

♻️ app: refactor send funds flow
  .changeset/sharp-kings-post.md
  src/app/(main)/_layout.tsx
  src/app/(main)/send-funds/index.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Details.tsx
  src/components/send-funds/Qr.tsx
  src/components/send-funds/Receiver.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AmountSelector.tsx
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: read pending bridge mutation state
  .changeset/tasty-lamps-attend.md
  src/components/activity/PendingProposals.tsx
  src/components/shared/ProfileHeader.tsx
  src/components/shared/ProposalBanner.tsx
  src/components/shared/TabBar.tsx
  src/utils/usePendingOperations.ts
  src/utils/wagmi/external.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

👔 app: invert onboarding steps order
  .changeset/yummy-bobcats-send.md
  src/components/context/OnboardingProvider.tsx
  src/components/getting-started/GettingStarted.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor getting started state management
  .changeset/deep-colts-feel.md
  src/app/_layout.tsx
  src/components/context/OnboardingProvider.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/utils/useOnboardingSteps.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 eas: setup beta build and submit profile
  eas.json
Owners: @cruzdanilo

✨ app: implement weighted apr
  .changeset/rude-bushes-switch.md
  src/components/home/Home.tsx
  src/components/home/Portfolio.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/shared/WeightedRate.tsx
  src/utils/usePortfolio.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement partial repays
  .changeset/chatty-words-sit.md
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💬 app: adjust tooltip text
  src/components/add-funds/AddFunds.tsx
Owners: @dieguezguille, @franm91

🐛 app: avoid double navigation
  .changeset/shaggy-hoops-doubt.md
  src/components/auth/Auth.tsx
  src/components/auth/Passkeys.tsx
  src/utils/useAuth.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: read card limit from server
  .changeset/honest-days-lie.md
  src/components/card/Card.tsx
  src/components/card/SpendingLimit.tsx
  src/components/card/SpendingLimits.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 enable native wallet detection
  app.config.ts
  queries.js
Owners: @cruzdanilo

➕ app: install appkit dependencies
  .ncurc
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚧 configure appkit
  src/app/_layout.tsx
  src/utils/appkit.ts
Owners: @dieguezguille, @franm91

🚧 implement appkit
  src/app/_layout.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/Bridge.tsx
  src/utils/appkit.ts
  src/utils/wagmi/external.ts
Owners: @dieguezguille, @franm91

🚧 improve virtualized flatlist usage
  src/components/activity/Activity.tsx
Owners: @dieguezguille, @franm91

🚧 use themed skeleton
  src/components/card/Card.tsx
Owners: @dieguezguille, @franm91

✨ contracts: implement liquidator contract
  .changeset/giant-flies-strive.md
  contracts/.gas-snapshot
  contracts/src/Liquidator.sol
  contracts/test/Liquidator.t.sol
Owners: @cruzdanilo, @itofarina

🔨 contracts: rename swapper account
  contracts/deploy.json
  contracts/script/ExaPlugin.s.sol
  contracts/script/ProposalManager.s.sol
  contracts/test/ExaPlugin.t.sol
  contracts/test/ExaPreviewer.t.sol
  wagmi.config.ts
Owners: @itofarina, @cruzdanilo

🔨 contracts: deploy liquidator
  contracts/.gas-snapshot
  contracts/.gitignore
  contracts/deploy.json
  contracts/script/Liquidator.s.sol
  contracts/test/Liquidator.t.sol
Owners: @itofarina

🔨 contracts: initialize uniswap pools for mock assets
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/test/mocks/Pools.s.sol
Owners: @itofarina

🔨 wagmi: codegen block numbers
  wagmi.config.ts
Owners: @cruzdanilo

🔨 wagmi: codegen liquidator as optional
  wagmi.config.ts
Owners: @cruzdanilo

⬆️ server: upgrade simplewebauthn, depend on pg types
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: setup api lib build
  server/package.json
  server/tsconfig.lib.json
Owners: @nfmelendez

🔨 scripts: build server on root prepare
  .github/workflows/server-deploy.yaml
  Dockerfile
  package.json
Owners: @cruzdanilo

🔧 server: setup liquidator build
  server/package.json
Owners: @nfmelendez

🔨 server: build clean dist
  server/package.json
Owners: @nfmelendez

➕ server: install clinic tool
  cspell.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement liquidator script
  .changeset/spotty-lizards-type.md
  contracts/script/Liquidator.s.sol
  cspell.json
  server/script/liquidator.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🚀 contracts: deploy liquidator to op-sepolia
  contracts/broadcast/Liquidator.s.sol/11155420/run-latest.json
Owners: @itofarina
