Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

✨ server: migrate webhook subscription to queue
  .changeset/plain-pumas-relax.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/index.ts
  server/test/api/auth.test.ts
  server/test/hooks/activity.test.ts
  server/test/mocks/alchemy.ts
  server/test/mocks/redis.ts
  server/test/utils/createCredential.test.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🤡 server: extend alchemy webhook mock
  server/test/mocks/alchemy.ts
Owners: @nfmelendez

⚗️ server: add debug logging for webhook init
  server/hooks/activity.ts
Owners: @nfmelendez

⬆️ dependencies: upgrade vulnerable node-forge
  pnpm-lock.yaml
Owners: @cruzdanilo

➕ server: install gcp dependencies
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: poke account after kyc
  .changeset/silly-yaks-divide.md
  server/hooks/activity.ts
  server/hooks/persona.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: use gcp kms for allower
  .changeset/lucky-jokes-change.md
  .do/app.yaml
  cspell.json
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/accounts.ts
  server/test/utils/accounts.test.ts
  server/test/utils/gcp.test.ts
  server/utils/accounts.ts
  server/utils/gcp.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🚚 server: rename keeper module to accounts
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/accounts.ts
  server/test/utils/accounts.test.ts
  server/utils/accounts.ts
Owners: @nfmelendez

♻️ server: retry poke calls on error
  server/utils/accounts.ts
Owners: @nfmelendez

✨ server: add issuer account to kms
  .changeset/tough-beans-help.md
  .do/app.yaml
  server/script/openapi.ts
  server/test/mocks/accounts.ts
  server/utils/accounts.ts
  server/utils/panda.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

💄 app: fix legacy button press style
  .changeset/yellow-impalas-rule.md
  src/components/shared/Button.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix owner wallet detection in siwe auth
  .changeset/curly-pumas-jam.md
  src/utils/useAuth.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ e2e: ensure scroll start position in activate card flow
  .maestro/subflows/activateCard.yaml
Owners: @cruzdanilo

💄 app: normalize vertical padding in payment sheets
  .changeset/clear-hands-ask.md
  src/components/home/InstallmentsSheet.tsx
  src/components/pay/ManualRepaymentSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: add bottom padding to swaps screen on web
  .changeset/open-beds-stand.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: fix repay amount selector font style
  .changeset/jolly-teeth-flow.md
  src/components/pay/RepayAmountSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix bridge simulation falling back to default account
  .changeset/gold-cow-eat.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: adopt styled button for outlined usages
  src/components/auth/PasskeysAbout.tsx
  src/components/loans/Asset.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/QR.tsx
  src/components/send-funds/Receiver.tsx
  src/components/shared/Button.tsx
  src/components/shared/ConnectSheet.tsx
  src/components/swaps/SelectorModal.tsx
Owners: @dieguezguille, @franm91

🗃️ server: add unique constraint to bridge id
  server/database/schema.ts
Owners: @nfmelendez

🥅 server: add bridge credential fallback and retry on timeout
  .changeset/twco-dcxi-kedl.md
  server/hooks/bridge.ts
  server/test/api/ramp.test.ts
  server/test/hooks/bridge.test.ts
  server/test/utils/bridge.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

🔨 contracts: avoid redundant stub deployments
  .changeset/bumpy-foxes-refuse.md
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @cruzdanilo, @itofarina

🔨 contracts: make redeployer target nonce inclusive
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: deploy plugins in prepare and reuse in factory deployment
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: deterministically deploy plugins and factory in prepare
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: parameterize create3 factory version in redeployer
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

♻️ contracts: rename run to serial proxies in redeployer
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: guard factory deploys against redundant upgrades
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: extract deploy exa factories
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
Owners: @itofarina

🔨 contracts: avoid redeploying existing plugin dependencies
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🩹 app: fix legacy read contract query error
  .changeset/sour-words-happen.md
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: server@0.2.84, mobile@1.1.29
  .changeset/bold-ram-dig.md
  .changeset/calm-foxes-tick.md
  .changeset/clear-hands-ask.md
  .changeset/curly-pumas-jam.md
  .changeset/gold-cow-eat.md
  .changeset/jolly-teeth-flow.md
  .changeset/open-beds-stand.md
  .changeset/sour-words-happen.md
  .changeset/tidy-geese-batch.md
  .changeset/twco-dcxi-kedl.md
  .changeset/warm-eagles-glow.md
  .changeset/yellow-impalas-rule.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🔧 app: include expo config in fingerprint
  fingerprint.config.cjs
Owners: @cruzdanilo

✨ server: add sliding-window event evaluation
  .changeset/bright-owls-slide.md
  server/test/utils/windowRule.test.ts
  server/utils/windowRule.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: forward chain id in account client
  .changeset/cool-icons-grow.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: disable retries in custom transport
  .changeset/fuzzy-adults-tease.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ app: install react native webview
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

➕ app: install portuguese spell dictionary
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔧 cspell: setup portuguese check
  cspell.json
Owners: @cruzdanilo

♻️ app: extract date locale resolution
  src/components/pay/Pay.tsx
  src/components/pay/PaymentSheet.tsx
  src/i18n/index.ts
Owners: @dieguezguille, @franm91

⚰️ app: remove unused spanish translations
  src/i18n/es.json
Owners: @dieguezguille, @franm91

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
