Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✨ server: add encrypted kyc submission
  cspell.json
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: allow better auth users to change email
  server/utils/auth.ts
Owners: @nfmelendez

📝 docs: update siwe authentication example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: return card id
  .changeset/wicked-lies-invent.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: update kyc status code
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez

🐛 server: fix patch response validation
  .changeset/tidy-worms-sin.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade exactly protocol
  contracts/.gas-snapshot
  contracts/package.json
  contracts/remappings.txt
  contracts/test/mocks/Protocol.s.sol
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

🚀 contracts: deploy all contracts to base-sepolia
  contracts/.gas-snapshot
  contracts/broadcast/ExaPlugin.s.sol/84532/run-latest.json
  contracts/broadcast/ExaPreviewer.s.sol/84532/run-latest.json
  contracts/broadcast/IssuerChecker.s.sol/84532/run-latest.json
  contracts/broadcast/Mocks.s.sol/84532/run-latest.json
  contracts/broadcast/ProposalManager.s.sol/84532/run-latest.json
  contracts/broadcast/Refunder.s.sol/84532/run-latest.json
  contracts/deploy.json
Owners: @itofarina

👷 github: deploy sandbox server to base-sepolia
  .github/workflows/server-sandbox.yaml
Owners: @cruzdanilo

🔧 common: setup alchemy for base-sepolia
  .changeset/light-otters-report.md
  common/alchemyAPIKey.ts
  common/alchemyGasPolicyId.ts
Owners: @cruzdanilo

🔧 server: setup alchemy for base networks
  .changeset/silent-walls-relax.md
  server/hooks/activity.ts
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: create alchemy's block hook automatically
  .changeset/weak-bottles-allow.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

⚡️ server: skip empty alchemy blocks
  .changeset/easy-things-start.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: extract alchemy api headers
  server/hooks/block.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @nfmelendez

♻️ server: extract alchemy webhook finder
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

♻️ server: extract alchemy webhook creator
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

✨ server: create alchemy's activity hook automatically
  .changeset/polite-animals-slide.md
  server/hooks/activity.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: prevent array overlap errors when no hashes
  .changeset/wise-knives-glow.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: setup sentry for base networks
  server/instrument.cjs
Owners: @nfmelendez

🧱 digitalocean: update databases
  .do/app.yaml
  cspell.json
Owners: @cruzdanilo

🧱 digitalocean: set dedicated ip
  .do/app.yaml
Owners: @cruzdanilo

🧱 digitalocean: drop legacy environment variable
  .do/app.yaml
Owners: @cruzdanilo

🧱 digitalocean: update environment injection, fix ambiguity
  .do/app.yaml
Owners: @cruzdanilo

✅ server: drop legacy test variable
  server/vitest.config.mts
Owners: @nfmelendez

🚑 app: fix web kyc redirect
  .changeset/puny-dancers-itch.md
  src/utils/persona.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🧑‍💻 app: abstract testnet checks
  src/utils/lifi.ts
  src/utils/useAccountAssets.ts
Owners: @dieguezguille, @franm91

💄 app: add network reminder to copy address modal
  .changeset/late-experts-repeat.md
  src/components/shared/CopyAddressSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🩹 app: drop maturity check in borrow query
  .changeset/deep-needles-think.md
  src/components/loans/LoanSummary.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix camera view lifecycle
  .changeset/all-feet-obey.md
  src/components/send-funds/Qr.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⚡️ app: set kyc status query defaults
  .changeset/gentle-boats-wait.md
  src/components/home/Home.tsx
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⬆️ server: upgrade dependencies
  package.json
  pnpm-lock.yaml
  server/package.json
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add manteca onramp
  .changeset/loose-seas-agree.md
  .do/app.yaml
  cspell.json
  server/api/index.ts
  server/api/kyc.ts
  server/api/onramp.ts
  server/hooks/manteca.ts
  server/index.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/persona.ts
  server/utils/ramps/manteca.ts
  server/utils/ramps/shared.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: document card api
  .changeset/six-ideas-go.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: improve api documentation
  .changeset/cute-rules-write.md
  docs/src/content/docs/index.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add cancel card
  .changeset/few-moles-push.md
  server/api/card.ts
  server/utils/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: add react pdf renderer
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez
