Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

📝 docs: add configuration resources
  .changeset/cute-buttons-roll.md
  docs/astro.config.ts
  docs/src/content/docs/resources.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add transaction receipt to webhook
  .changeset/quick-ants-write.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add merchant category code to webhooks
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add kyc role to organizations
  .changeset/upset-seas-sink.md
  server/api/kyc.ts
  server/database/schema.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: allow account on firewall
  server/hooks/persona.ts
Owners: @nfmelendez

🔧 server: add panda base collector
  server/utils/panda.ts
Owners: @nfmelendez

⚰️ server: drop legacy persona variable
  .do/app.yaml
  server/script/openapi.ts
  server/utils/persona.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🛂 app: disable webauthn on base
  src/components/auth/Auth.tsx
  src/components/shared/ConnectSheet.tsx
  src/utils/useAuth.ts
Owners: @dieguezguille, @franm91

✨ server: add sardine
  .changeset/forty-ads-lie.md
  .do/app.yaml
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/sardine.ts
  server/utils/sardine.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🦺 server: add panda merchant category code
  .changeset/quiet-bars-walk.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔧 common: add panda constants
  .changeset/full-dolls-vanish.md
  common/panda.ts
Owners: @cruzdanilo

🗃️ server: add card product id
  .changeset/neat-cooks-admire.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

👷 github: split server build and deploy
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-sandbox.yaml
Owners: @cruzdanilo

👷 github: deploy sandbox server to base
  .github/workflows/server-base.yaml
Owners: @cruzdanilo

🧱 digitalocean: render app template
  .do/app.yaml
  .do/render.js
  .gitignore
  cspell.json
Owners: @cruzdanilo

🔧 server: add panda base collector
  server/utils/panda.ts
Owners: @nfmelendez

🗃️ server: add card product id
  .changeset/neat-cooks-admire.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

🔧 common: add panda constants
  .changeset/full-dolls-vanish.md
  common/panda.ts
Owners: @cruzdanilo

👷 github: split server build and deploy
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-sandbox.yaml
Owners: @cruzdanilo

⚰️ server: drop legacy persona variable
  .do/app.yaml
  server/script/openapi.ts
  server/utils/persona.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🦺 server: add panda merchant category code
  .changeset/quiet-bars-walk.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🛂 app: disable webauthn on base
  src/components/auth/Auth.tsx
  src/components/shared/ConnectSheet.tsx
  src/utils/useAuth.ts
Owners: @dieguezguille, @franm91

🛂 server: add auth trusted origins
  server/utils/auth.ts
Owners: @nfmelendez

🧱 digitalocean: render app template
  .do/app.yaml
  .do/render.js
  .gitignore
  cspell.json
Owners: @cruzdanilo

👷 github: deploy sandbox server to base
  .github/workflows/server-base.yaml
Owners: @cruzdanilo

🙈 global: ignore local yaml files
  .gitignore
  cspell.json
Owners: @cruzdanilo

⬆️ dependencies: upgrade vulnerable astro and glob
  docs/package.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔧 contracts: set new base collector
  contracts/deploy.json
Owners: @itofarina

🔖 release: plugin@1.1.0
  .changeset/curly-clubs-knock.md
  .changeset/fine-meals-change.md
  .changeset/fuzzy-guests-share.md
  .changeset/gold-dingos-lead.md
  .changeset/loud-garlics-laugh.md
  .changeset/nine-queens-give.md
  .changeset/ripe-apes-take.md
  .changeset/ripe-shoes-stay.md
  .changeset/silver-mails-speak.md
  .changeset/ten-weeks-speak.md
  .changeset/twelve-peas-mate.md
  contracts/CHANGELOG.md
  contracts/package.json
Owners: @cruzdanilo, @itofarina

🥅 app: prevent report of expected auth errors
  .changeset/slimy-jeans-shop.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: remove explore defi banner from home screen
  .changeset/five-jeans-live.md
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: update default opt-in state
  .changeset/all-sloths-rush.md
  src/components/defi/ConnectionSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🏷️ common: add panda constants
  .changeset/full-dolls-vanish.md
  common/panda.ts
Owners: @cruzdanilo

🗃️ server: add product id to card table
  .changeset/tough-falcons-allow.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: create signature card
  .changeset/soft-eggs-count.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: use current government id
  .changeset/silly-days-dance.md
  server/hooks/manteca.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
Owners: @cruzdanilo, @nfmelendez

🌐 server: retrieve country code
  .changeset/weak-donuts-jump.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @cruzdanilo, @nfmelendez

🚧
  src/app/(main)/_layout.tsx
  src/app/(main)/add-funds/onramp-onboarding.tsx
  src/app/(main)/add-funds/ramp-details.tsx
  src/app/(main)/add-funds/verification-status.tsx
  src/assets/images/face-id.svg
  src/components/add-funds/AddFiatButton.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/LinkSheet.tsx
  src/components/add-funds/OnRampOnBoarding.tsx
  src/components/add-funds/RampDetails.tsx
  src/components/add-funds/VerificationStatus.tsx
  src/components/home/HomeActions.tsx
  src/utils/persona.ts
  src/utils/server.ts
  src/utils/useOnRampProviders.ts
Owners: @dieguezguille, @franm91

✨ server: implement card cancellation
  .changeset/few-moles-push.md‎
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

📈 server: add http code for replay
  .changeset/pink-peas-go.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
