Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🔥 server: remove duplicated merchant data
  .changeset/angry-goats-fly.md
  server/api/activity.ts
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove wrong health check
  .changeset/cold-worlds-cough.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: handle transaction complete event
  .changeset/plain-bushes-battle.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add settlement to card activity
  .changeset/weak-hounds-arrive.md
  server/api/activity.ts
  server/test/api/activity.test.ts
  src/components/activity/details/PurchaseDetails.tsx
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🔨 server: generate database schema sql script
  server/package.json
Owners: @nfmelendez

✨ server: add rollover activity
  .changeset/free-boxes-doubt.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/anvil.ts
  server/test/api/activity.test.ts
  server/test/mocks/deployments.ts
  wagmi.config.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

♻️ server: filter repay caller locally
  server/api/activity.ts
Owners: @nfmelendez

✨ server: add liquidation activity
  .changeset/late-shoes-raise.md
  contracts/src/IExaAccount.sol
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/MockPriceFeed.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🎨 server: extract borrow activity and export type
  server/api/activity.ts
Owners: @nfmelendez

✨ app: implement rollover activity
  .changeset/slimy-lies-hunt.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/activity/details/RolloverActivity.tsx
  src/components/activity/details/RolloverDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

👷 github: match rust problems
  .github/matcher.json
  cspell.json
Owners: @cruzdanilo

🔧 vscode: add recomended extensions
  .gitignore
  .vscode/extensions.json
Owners: @cruzdanilo

🔨 scripts: spell-check cursor rules
  package.json
Owners: @cruzdanilo

🔨 scripts: lint cursor rules and mdx
  package.json
Owners: @cruzdanilo

🚧 cursor: rules
  .changeset/curly-monkeys-remain.md
  .cursor/rules/app.mdc
  .cursor/rules/contracts.mdc
  .cursor/rules/dev.mdc
  .cursor/rules/docs.mdc
  .cursor/rules/git.mdc
  .cursor/rules/markdown.mdc
  .cursor/rules/server.mdc
  .cursor/rules/style.mdc
  cspell.json
Owners: @cruzdanilo

🚧 server: add failed proposal trace
  .changeset/cute-cooks-boil.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

🚧 server: fault tolerance
  server/utils/keeper.ts
Owners: @nfmelendez

⚗️ server: add debug endpoint for skipping nonces
  common/package.json
  package.json
  patches/viem@2.31.4.patch
  pnpm-lock.yaml
  server/api/index.ts
  server/package.json
  server/script/openapi.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 vscode: add recomended extensions
  .gitignore
  .vscode/extensions.json
Owners: @cruzdanilo

🔨 scripts: spell-check cursor rules
  package.json
Owners: @cruzdanilo

🔨 scripts: lint cursor rules and mdx
  package.json
Owners: @cruzdanilo

🧑‍💻 cursor: setup initial rules
  .cursor/rules/app.mdc
  .cursor/rules/contracts.mdc
  .cursor/rules/dev.mdc
  .cursor/rules/docs.mdc
  .cursor/rules/git.mdc
  .cursor/rules/markdown.mdc
  .cursor/rules/server.mdc
  .cursor/rules/style.mdc
  cspell.json
Owners: @cruzdanilo

🔥 server: remove duplicated merchant data
  .changeset/angry-goats-fly.md
  server/api/activity.ts
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove wrong health check
  .changeset/cold-worlds-cough.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: handle transaction complete event
  .changeset/plain-bushes-battle.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add settlement to card activity
  .changeset/weak-hounds-arrive.md
  server/api/activity.ts
  server/test/api/activity.test.ts
  src/components/activity/details/PurchaseDetails.tsx
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🔨 server: generate database schema sql script
  server/package.json
Owners: @nfmelendez

✨ server: add rollover activity
  .changeset/free-boxes-doubt.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/anvil.ts
  server/test/api/activity.test.ts
  server/test/mocks/deployments.ts
  wagmi.config.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

♻️ server: filter repay caller locally
  server/api/activity.ts
Owners: @nfmelendez

✨ server: add liquidation activity
  .changeset/late-shoes-raise.md
  contracts/src/IExaAccount.sol
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/MockPriceFeed.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🎨 server: extract borrow activity and export type
  server/api/activity.ts
Owners: @nfmelendez

✨ app: implement rollover activity
  .changeset/slimy-lies-hunt.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/activity/details/RolloverActivity.tsx
  src/components/activity/details/RolloverDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

👷 github: match rust problems
  .github/matcher.json
  cspell.json
Owners: @cruzdanilo

🚧 server: add failed proposal trace
  .changeset/cute-cooks-boil.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

🚧 server: fault tolerance
  server/utils/keeper.ts
Owners: @nfmelendez

⚗️ server: add debug endpoint for skipping nonces
  common/package.json
  package.json
  patches/viem@2.31.4.patch
  pnpm-lock.yaml
  server/api/index.ts
  server/package.json
  server/script/openapi.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove wrong health check
  .changeset/cold-worlds-cough.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: handle transaction complete event
  .changeset/plain-bushes-battle.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove duplicated merchant data
  .changeset/angry-goats-fly.md
  server/api/activity.ts
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add settlement to card activity
  .changeset/weak-hounds-arrive.md
  server/api/activity.ts
  server/test/api/activity.test.ts
  src/components/activity/details/PurchaseDetails.tsx
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91
