Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🔥 app: drop unused progress components
  .changeset/all-lies-lay.md
  src/components/pay-mode/Failure.tsx
  src/components/pay-mode/Pending.tsx
  src/components/pay-mode/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add services svgs
  .changeset/bumpy-eagles-stand.md
  src/assets/images/exactly.svg
  src/assets/images/lifi.svg
Owners: @cruzdanilo, @dieguezguille, @franm91

💬 app: update disclaimers
  .changeset/shiny-games-walk.md
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/home/HomeDisclaimer.tsx
  src/components/home/Portfolio.tsx
  src/components/loans/Loans.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/swaps/Swaps.tsx
  src/utils/useIntercom.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add lifi api key
  src/app/_layout.tsx
Owners: @dieguezguille, @franm91

✨ app: update send funds ui
  .changeset/open-sheep-brush.md
  src/components/send-funds/Address.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Failure.tsx
  src/components/send-funds/Pending.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/send-funds/Success.tsx
  src/components/shared/TransactionDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix flex layout
  .changeset/four-moles-agree.md
  src/components/add-funds/AddCrypto.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: remove modal presentation on loan flow
  .changeset/tough-ducks-draw.md
  src/app/(app)/loan/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swap asset logo border radius
  .changeset/sweet-monkeys-double.md
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add upcoming payments to loans screen
  .changeset/green-bananas-cover.md
  src/components/loans/Loans.tsx
  src/components/pay-mode/UpcomingPayments.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: unify asset logo
  .changeset/beige-monkeys-rescue.md
  src/components/home/AssetList.tsx
  src/components/send-funds/Failure.tsx
  src/components/send-funds/Pending.tsx
  src/components/send-funds/Review.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/send-funds/Success.tsx
  src/components/send-funds/Values.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swap screen layout
  .changeset/chubby-lemons-rush.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: create styled button
  .changeset/bright-parks-move.md
  src/components/shared/StyledButton.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add loans banner svg
  .changeset/eighty-bars-sin.md
  src/assets/images/loans-banner.svg
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: improve repay screen
  .changeset/three-banks-fail.md
  src/components/pay-mode/Pay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor loan review screen
  .changeset/cruel-pugs-wink.md
  src/components/loans/Review.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: include borrows in activity endpoint
  .changeset/pretty-chairs-jog.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

♻️ app: extract shared progress screens
  .changeset/tough-monkeys-invent.md
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix loans button color
  .changeset/tall-bees-dream.md
  src/components/loans/CreditLine.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement swaps
  .changeset/nasty-dots-say.md
  src/app/(app)/swaps/index.tsx
  src/components/home/HomeActions.tsx
  src/components/swaps/Failure.tsx
  src/components/swaps/Pending.tsx
  src/components/swaps/SelectorModal.tsx
  src/components/swaps/Success.tsx
  src/components/swaps/SwapDetails.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/lifi.ts
  src/utils/useAccountAssets.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix progress screens scroll on web
  .changeset/shaky-ducks-jump.md
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: create gradient scrollview component
  .changeset/legal-fans-stop.md
  src/components/shared/GradientScrollView.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement loans
  .changeset/ripe-cities-count.md
  src/app/(app)/(home)/_layout.tsx
  src/app/(app)/(home)/loans.tsx
  src/app/(app)/(home)/more.tsx
  src/app/(app)/loan/_layout.tsx
  src/app/(app)/loan/amount.tsx
  src/app/(app)/loan/index.tsx
  src/app/(app)/loan/installments.tsx
  src/app/(app)/loan/maturity.tsx
  src/app/(app)/loan/receiver.tsx
  src/app/(app)/loan/review.tsx
  src/components/loans/Amount.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/Installments.tsx
  src/components/loans/LoanActivity.tsx
  src/components/loans/Loans.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/more/More.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/TabBar.tsx
  src/components/shared/TransactionDetails.tsx
  src/i18n/en.json
  src/utils/queryClient.ts
  src/utils/useAsset.ts
  src/utils/useInstallments.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement loans activity
  .changeset/rotten-candies-invent.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/activity/details/BorrowActivity.tsx
  src/components/activity/details/BorrowDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement defi screen
  .changeset/young-sloths-trade.md
  src/app/(app)/(home)/_layout.tsx
  src/app/(app)/(home)/defi.tsx
  src/components/defi/ConnectionSheet.tsx
  src/components/defi/DeFi.tsx
  src/components/defi/DisconnectSheet.tsx
  src/components/defi/IntroSheet.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/more/More.tsx
  src/components/shared/TabBar.tsx
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ app: install expo-localization
  .ncurc
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚧 app: configure language detector
  src/app/_layout.tsx
  src/utils/languageDetector.ts
Owners: @dieguezguille, @franm91

🔧 app: add expo-localization plugin
  .changeset/sixty-llamas-write.md
  app.config.ts
Owners: @cruzdanilo

🚧 app: add spanish translation file
  src/i18n/es.json
Owners: @dieguezguille, @franm91

🚧 app: add translation hooks
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/CardLimits.tsx
  src/components/home/ExploreLoans.tsx
  src/components/home/HomeActions.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Address.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Qr.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/settings/Settings.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/LatestActivity.tsx
  src/components/swaps/SwapDetails.tsx
  src/components/swaps/Swaps.tsx
Owners: @dieguezguille, @franm91

✨ app: implement defi screen
  .changeset/young-sloths-trade.md
  src/app/(app)/(home)/_layout.tsx
  src/app/(app)/(home)/defi.tsx
  src/components/defi/ConnectionSheet.tsx
  src/components/defi/DeFi.tsx
  src/components/defi/DisconnectSheet.tsx
  src/components/defi/IntroSheet.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/more/More.tsx
  src/components/shared/TabBar.tsx
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: update loans ui
  .changeset/clean-eels-join.md
  .changeset/shaggy-webs-send.md
  src/components/card/Card.tsx
  src/components/card/CardDisclaimer.tsx
  src/components/home/ExploreLoans.tsx
  src/components/home/HomeActions.tsx
  src/components/home/card-upgrade/ActivateCard.tsx
  src/components/loans/Amount.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/Installments.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Loans.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/shared/InstallmentSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: include borrows in activity endpoint
  .changeset/pretty-chairs-jog.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

✨ server: add swaps activity endpoint
  .changeset/slimy-toys-fix.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/anvil.ts
  server/test/api/activity.test.ts
  server/test/mocks/deployments.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🎨 server: improve borrows activity payload
  .changeset/twelve-clowns-bow.md
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: group same asset deposits within block range
  .changeset/light-mice-sell.md
  contracts/test/mocks/Bob.s.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🚧 upgrade
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  .ncurc
  .npmrc
  Dockerfile
  app.config.ts
  babel.config.cjs
  common/package.json
  contracts/.gas-snapshot
  contracts/.solhint.json
  contracts/package.json
  cspell.json
  docs/package.json
  eas.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @itofarina, @nfmelendez

🚧 server: add failed proposal trace
  .changeset/cute-cooks-boil.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

🚧 server: fault tolerance
  server/utils/keeper.ts
Owners: @nfmelendez

⚗️ server: add debug endpoint for skipping nonces
  common/package.json
  package.json
  patches/viem@2.31.4.patch
  pnpm-lock.yaml
  server/api/index.ts
  server/package.json
  server/script/openapi.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: use created details for activity
  .changeset/bright-pugs-repeat.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez
