Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

📝 server: add sandbox dedicated ips
  .changeset/long-nails-doubt.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

⚗️ app: debug injected account mismatch
  src/utils/injectedConnector.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

⚗️ app: allow multiple kyc attempts
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/card-upgrade/VerifyIdentity.tsx
  src/utils/server.ts
Owners: @nfmelendez, @dieguezguille, @franm91

🚧 test nonce skipping
  server/test/utils/keeper.test.ts
  server/utils/publicClient.ts
Owners: @nfmelendez

🚧 app: install react-native-qrcode-styled
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚧 app: implement address qr code
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/QrCodeSheet.tsx
Owners: @dieguezguille, @franm91

🚧 app: implement svg blockie
  src/components/shared/Blockie.tsx
  src/components/shared/ProfileHeader.tsx
Owners: @dieguezguille, @franm91

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: allow better auth users to change email
  server/utils/auth.ts
Owners: @nfmelendez

✨ server: add encrypted kyc submission
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add webhook api
  .changeset/olive-onions-tan.md
  docs/astro.config.ts
  docs/src/content/docs/organization-authentication.md
  pnpm-lock.yaml
  server/api/index.ts
  server/api/kyc.ts
  server/api/webhook.ts
  server/database/index.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/index.ts
  server/middleware/auth.ts
  server/package.json
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/database.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: fix pnpm lock
  pnpm-lock.yaml
Owners: @cruzdanilo

📝 docs: update siwe authentication example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

📝 server: update kyc status code
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez

✨ server: return card id
  .changeset/wicked-lies-invent.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: implement lifi bridge
  .changeset/eager-parrots-make.md
  src/app/(main)/_layout.tsx
  src/app/(main)/add-funds/_layout.tsx
  src/app/(main)/add-funds/bridge.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AddCryptoButton.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/AddFundsOption.tsx
  src/components/add-funds/AssetSelectSheet.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/ChainLogo.tsx
  src/components/add-funds/TokenLogo.tsx
  src/components/home/HomeActions.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/injectedConnector.ts
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: prefer layout effect
  .changeset/bumpy-lizards-visit.md
  src/app/(auth)/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: update auth buttons styles
  .changeset/eleven-tigers-smash.md
  src/components/auth/Auth.tsx
  src/components/shared/StyledButton.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⚰️ app: drop unused card component
  .changeset/angry-mirrors-dig.md
  src/components/card/CardBack.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: add component skeletons
  src/components/home/CardLimits.tsx
  src/components/home/CardStatus.tsx
  src/components/home/Home.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/shared/LatestActivity.tsx
Owners: @dieguezguille, @franm91

💄 app: improve web app loading styles
  .changeset/major-lemons-check.md
  public/styles/aspect-ratio.css
  public/styles/layout.css
  public/styles/loader.css
  src/app/+html.tsx
  src/app/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: refactor card details query
  src/components/card/Card.tsx
  src/components/card/CardPIN.tsx
  src/components/card/Details.tsx
  src/components/card/Disclaimer.tsx
  src/components/card/exa-card/ExaCard.tsx
  src/components/home/CardLimits.tsx
  src/components/home/CardStatus.tsx
  src/components/home/card-upgrade/ActivateCard.tsx
  src/components/pay-mode/PaySelector.tsx
  src/utils/card.ts
  src/utils/queryClient.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

✨ app: handle uknown miniapp hosts
  .changeset/gold-moose-fail.md
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⬆️ docs: upgrade vulnerable astro
  docs/package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🐛 app: fix qr code scanner address
  .changeset/public-suits-turn.md
  src/components/send-funds/Qr.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: handle unknown miniapp hosts
  .changeset/gold-moose-fail.md
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 eas: setup staging profile, update submit config
  eas.json
Owners: @cruzdanilo

🎨 app: prefer layout effect
  .changeset/bumpy-lizards-visit.md
  src/app/(auth)/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: update auth buttons styles
  .changeset/eleven-tigers-smash.md
  src/components/auth/Auth.tsx
  src/components/shared/StyledButton.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: improve web app loading styles
  .changeset/major-lemons-check.md
  src/app/+html.tsx
  src/app/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: use redirect url from miniapp context
  .changeset/slow-impalas-move.md
  src/utils/persona.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

👔 contracts: allow repays for any market
  .changeset/silver-mails-speak.md
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/src/ExaPluginExtension.sol
  contracts/test/ExaPlugin.t.sol
Owners: @cruzdanilo, @itofarina

👔 contracts: allow roll debts for any market
  .changeset/loud-garlics-laugh.md
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/test/ExaPlugin.t.sol
  contracts/test/mocks/Protocol.s.sol
Owners: @cruzdanilo, @itofarina

🩹 contracts: prevent invalid market out on cross repay
  .changeset/curly-clubs-knock.md
  contracts/.gas-snapshot
  contracts/src/ProposalManager.sol
  contracts/test/ExaPlugin.t.sol
Owners: @cruzdanilo, @itofarina

✨ contracts: add flashloan adapter
  .changeset/chatty-terms-win.md
  contracts/.gas-snapshot
  contracts/src/FlashloanAdapter.sol
  contracts/test/FlashloanAdapter.t.sol
Owners: @cruzdanilo, @itofarina

🤡 contracts: add mock flash loaner
  contracts/test/mocks/MockFlashLoaner.sol
Owners: @itofarina

🩹 contracts: contemplate flashloan fees on repays
  .changeset/nine-queens-give.md
  contracts/.gas-snapshot
  contracts/src/ExaPluginExtension.sol
  contracts/test/ExaPlugin.t.sol
Owners: @cruzdanilo, @itofarina

✅ contracts: test cross-repay with flashloaner fees
  contracts/.gas-snapshot
  contracts/test/ExaPlugin.t.sol
Owners: @itofarina

✨ contracts: add debt roller
  .changeset/orange-knives-chew.md
  contracts/.gas-snapshot
  contracts/src/DebtRoller.sol
  contracts/test/ExaPlugin.t.sol
Owners: @cruzdanilo, @itofarina

🔧 eas: setup beta profile
  eas.json
Owners: @cruzdanilo

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
