Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🔧 server: setup sentry for base networks
  server/instrument.cjs
Owners: @nfmelendez

✨ server: create alchemy's block hook automatically
  .changeset/weak-bottles-allow.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

⚡️ server: skip empty alchemy blocks
  .changeset/easy-things-start.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: extract alchemy api headers
  server/hooks/block.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @nfmelendez

♻️ server: extract alchemy webhook finder
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

♻️ server: extract alchemy webhook creator
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

✨ server: create alchemy's activity hook automatically
  .changeset/polite-animals-slide.md
  server/hooks/activity.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🍱 app: add visa signature migration assets
  src/assets/images/card-signature.svg
  src/assets/images/exa-logo-signature.svg
  src/assets/images/platinum-full.svg
  src/assets/images/signature-banner.png
  src/assets/images/signature-full.svg
  src/assets/images/visa-logo-signature.svg
Owners: @dieguezguille, @franm91

✨ app: implement visa signature migration
  .changeset/shaky-taxes-drop.md
  src/components/card/CardDetails.tsx
  src/components/card/exa-card/CardContents.tsx
  src/components/card/exa-card/ExaCard.tsx
  src/components/home/CardStatus.tsx
  src/components/home/Home.tsx
  src/components/home/VisaSignatureBanner.tsx
  src/components/home/VisaSignatureSheet.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix available balance text wrap
  .changeset/chatty-camels-leave.md
  cspell.json
  src/components/card/exa-card/CardContents.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix persisting spending limits skeleton
  .changeset/angry-hoops-slide.md
  src/components/card/Card.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔨 app: setup svgr and custom svg transformer
  .svgrrc.yaml
  cspell.json
  metro.config.cjs
  package.json
  pnpm-lock.yaml
  svg.config.mjs
  svgo.config.mjs
Owners: @cruzdanilo

🔖 release: mobile@1.0.38
  .changeset/honest-pandas-admire.md
  .changeset/yummy-nights-rescue.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

🔨 global: setup orchestration with nx
  .cursor/rules/nx.mdc
  .github/workflows/docs.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  .gitignore
  Dockerfile
  common/package.json
  contracts/package.json
  docs/package.json
  mcp.json
  nx.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @itofarina, @nfmelendez

🚧 app: improve home loading ux
  src/components/card/Card.tsx
  src/components/home/CardStatus.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/home/HomePortfolioSkeleton.tsx
  src/components/home/HomeSkeleton.tsx
  src/components/home/Portfolio.tsx
  src/components/home/PortfolioSummary.tsx
  src/utils/queryClient.ts
Owners: @dieguezguille, @franm91

🚧 app: update default opt-in state
  src/components/defi/ConnectionSheet.tsx
Owners: @dieguezguille, @franm91

🚧 app: remove explore defi banner from home screen
  src/components/home/Home.tsx
Owners: @dieguezguille, @franm91

🍱 app: update icon and splash screen assets
  .changeset/empty-dogs-allow.md
  src/assets/favicon.png
  src/assets/icon-adaptive.png
  src/assets/icon.png
  src/assets/notifications_default.png
  src/assets/notifications_default_large.png
  src/assets/splash-dark.png
  src/assets/splash-dark@1.5x.png
  src/assets/splash-dark@2x.png
  src/assets/splash-dark@3x.png
  src/assets/splash-dark@4x.png
  src/assets/splash.png
  src/assets/splash@1.5x.png
  src/assets/splash@2x.png
  src/assets/splash@3x.png
  src/assets/splash@4x.png
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 app: remove redundant asset configs
  app.config.ts
Owners: @cruzdanilo

🔧 server: update app manifest icons
  .changeset/twenty-beans-peel.md
  public/manifest.json
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🔨 app: setup svgr and custom svg transformer
  .svgrrc.yaml
  cspell.json
  metro.config.cjs
  package.json
  pnpm-lock.yaml
  svg.config.mjs
  svgo.config.mjs
Owners: @cruzdanilo

🚧 app: fix appkit ssr initialization
  src/utils/appkit.ts
Owners: @dieguezguille, @franm91

🚧 app: reconnect on owner disconnection
  src/components/add-funds/Bridge.tsx
Owners: @dieguezguille, @franm91

🚧 app: ensure owner connection before bridge screen
  src/components/add-funds/AddFunds.tsx
Owners: @dieguezguille, @franm91

🚧 app: disable webauthn on base
  src/components/auth/Auth.tsx
  src/components/shared/ConnectSheet.tsx
  src/utils/useAuth.ts
Owners: @dieguezguille, @franm91

🚧 app: rename account to exa account
  src/components/add-funds/Bridge.tsx
Owners: @dieguezguille, @franm91

🍱 app: add visa signature migration assets
  src/assets/images/card-signature.svg
  src/assets/images/exa-logo-signature.svg
  src/assets/images/signature-full.svg
  src/assets/images/visa-logo-signature.svg
Owners: @dieguezguille, @franm91

✨ app: implement visa signature migration
  .changeset/shaky-taxes-drop.md
  src/components/card/CardDetails.tsx
  src/components/card/exa-card/CardContents.tsx
  src/components/card/exa-card/ExaCard.tsx
  src/components/home/CardStatus.tsx
  src/components/home/Home.tsx
  src/components/home/VisaSignatureBanner.tsx
  src/components/home/VisaSignatureSheet.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix available balance text wrap
  .changeset/chatty-camels-leave.md
  cspell.json
  src/components/card/exa-card/CardContents.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix persisting spending limits skeleton
  .changeset/angry-hoops-slide.md
  src/components/card/Card.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: server@0.2.39, mobile@1.0.38
  .changeset/angry-hoops-slide.md
  .changeset/chatty-camels-leave.md
  .changeset/empty-dogs-allow.md
  .changeset/honest-pandas-admire.md
  .changeset/shaky-taxes-drop.md
  .changeset/twenty-beans-peel.md
  .changeset/yummy-nights-rescue.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

⏪️ app: revert svgr and custom svg transformer
  .changeset/blue-owls-search.md
  .svgrrc.yaml
  cspell.json
  metro.config.cjs
  package.json
  pnpm-lock.yaml
  svg.config.mjs
  svgo.config.mjs
Owners: @cruzdanilo

🔖 release: server@0.2.40
  .changeset/blue-owls-search.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable library
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

feat: Implement Intercom Identity Verification by generating and consuming JWTs during authentication.
  .changeset/yellow-forks-rhyme.md
  pnpm-lock.yaml
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/package.json
  server/test/api/auth/authentication.test.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✨ server: add sardine
  .changeset/forty-ads-lie.md
  .do/app.yaml
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/sardine.ts
  server/utils/createCredential.ts
  server/utils/sardine.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

⚗️ app: reconnect sender
  src/components/add-funds/Bridge.tsx
Owners: @dieguezguille, @franm91

🥅 server: improve weak pin error handling
  .changeset/wild-points-lose.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

feat: Extend Intercom JWT expiry to 24h and use account ID for `sub` and `user_id` claims.
  server/api/auth/authentication.ts
  server/test/api/auth/authentication.test.ts
  server/utils/createCredential.ts
Owners: @nfmelendez

🔧 server: update farcaster manifest images
  .changeset/real-insects-stay.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
