Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

👷 github: provision infra on server deploys
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

👷 github: match pulumi problems
  .github/matcher.json
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

🚀 infra: deploy testnet stacks
  infra/Pulumi.base-sepolia.yaml
  infra/Pulumi.sandbox.yaml
Owners: @cruzdanilo

✨ server: add hook worker
  .changeset/brave-otter-deliver.md
  infra/utils/modules.ts
  server/hooks/panda.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/panda.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/hook.test.ts
  server/test/workers/refund.test.ts
  server/workers/hook/bin.ts
  server/workers/hook/job.ts
  server/workers/hook/queue.ts
  server/workers/hook/worker.ts
  server/workers/refund/worker.ts
Owners: @cruzdanilo, @nfmelendez

👷 github: deploy base-sepolia from same name branch
  .github/workflows/server-base-sepolia.yaml
Owners: @cruzdanilo

📈 server: identify hook traces by cloud run service
  .changeset/public-vans-shine.md
  server/instrument.cjs
  server/test/instrument.test.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: build entrypoints for api and hooks
  .changeset/nice-days-deny.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade sentry
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

➕ server: add mastra dependencies
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement chat hook and worker
  .changeset/chubby-melons-look.md
  .changeset/lucky-parrots-chat.md
  infra/utils/modules.ts
  server/hooks/bin/chat.ts
  server/hooks/chat.ts
  server/instrument.cjs
  server/test/hooks/bin.test.ts
  server/test/hooks/chat.test.ts
  server/test/hooks/hook.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/chat.eval.ts
  server/test/workers/chat.test.ts
  server/workers/chat/bin.ts
  server/workers/chat/job.ts
  server/workers/chat/queue.ts
  server/workers/chat/worker.ts
Owners: @cruzdanilo, @nfmelendez

🔨 server: speed up docker builds
  server/Dockerfile
Owners: @nfmelendez

🔖 release: mobile@1.2.22
  .changeset/brave-moons-derive.md
  .changeset/bright-falcons-guard.md
  .changeset/brisk-hounds-vanish.md
  .changeset/calm-otters-wave.md
  .changeset/fruity-socks-stick.md
  .changeset/honest-rooms-sneeze.md
  .changeset/lucky-moons-wander.md
  .changeset/lucky-pandas-wonder.md
  .changeset/olive-buttons-repeat.md
  .changeset/quiet-otters-guard.md
  .changeset/small-bats-drive.md
  .changeset/stale-regions-cheat.md
  .changeset/swift-hounds-report.md
  .changeset/tidy-falcons-listen.md
  .changeset/tidy-melons-shave.md
  .changeset/tidy-pandas-shine.md
  .changeset/witty-heron-waves.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

✅ server: prevent activity receipt polling stalls
  .changeset/silent-carpets-rescue.md
  server/test/hooks/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: fix webauthn gas estimation
  .changeset/khaki-ravens-dream.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚀 server: deploy new app version
  .changeset/huge-colts-hang.md
Owners: @cruzdanilo

🔖 release: server@0.2.111, mobile@1.2.22
  .changeset/brave-moons-derive.md
  .changeset/bright-falcons-guard.md
  .changeset/brisk-hounds-vanish.md
  .changeset/calm-otters-wave.md
  .changeset/fruity-socks-stick.md
  .changeset/honest-rooms-sneeze.md
  .changeset/huge-colts-hang.md
  .changeset/khaki-ravens-dream.md
  .changeset/lucky-moons-wander.md
  .changeset/lucky-pandas-wonder.md
  .changeset/olive-buttons-repeat.md
  .changeset/quiet-otters-guard.md
  .changeset/silent-carpets-rescue.md
  .changeset/small-bats-drive.md
  .changeset/stale-regions-cheat.md
  .changeset/swift-hounds-report.md
  .changeset/tidy-falcons-listen.md
  .changeset/tidy-melons-shave.md
  .changeset/tidy-pandas-shine.md
  .changeset/witty-heron-waves.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

✅ server: prevent receipt watcher race in keeper test
  .changeset/khaki-experts-write.md
  server/test/utils/keeper.test.ts
Owners: @cruzdanilo, @nfmelendez

➕ app: install segment web sdk
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

📈 app: track page views with segment
  .changeset/witty-otters-observe.md
  src/app/_layout.tsx
  src/components/settings/Settings.tsx
  src/utils/accountClient.ts
  src/utils/segment.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ common: export app stack identifier
  .changeset/spicy-ideas-mix.md
  common/stack.js
Owners: @cruzdanilo

📈 server: use stack for sentry instrumentation
  .changeset/ten-planets-prove.md
  server/instrument.cjs
Owners: @cruzdanilo, @nfmelendez

🧱 server: use node entrypoint as docker argument
  server/Dockerfile
Owners: @nfmelendez

➕ server: add google cloud secret manager
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement google secret manager
  .changeset/bumpy-toes-jump.md
  server/test/utils/secret.test.ts
  server/utils/secret.ts
Owners: @cruzdanilo, @nfmelendez

🚚 server: rename keeper module to wallet
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/wallet.ts
Owners: @nfmelendez

➕ server: add google cloud kms dependencies
  cspell.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: create wallet client by account name
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/api/card.test.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/panda.ts
  server/utils/wallet.ts
Owners: @nfmelendez

✨ server: introduce shared worker primitives
  .changeset/all-stamps-taste.md
  cspell.json
  server/index.ts
  server/package.json
  server/supervise.ts
  server/test/e2e.ts
  server/test/mocks/sentry.ts
  server/test/supervise.test.ts
  server/test/utils/maturity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/worker.test.ts
  server/tsconfig.json
  server/utils/maturity.ts
  server/utils/redis.ts
  server/workers/queue.ts
  server/workers/worker.ts
Owners: @cruzdanilo, @nfmelendez

⚰️ server: remove unused panda detection
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/utils/panda.ts
Owners: @nfmelendez

👷 github: restrict build credential exposure
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-base.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-production.yaml
  .github/workflows/server-sandbox.yaml
  .github/workflows/substreams-build.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

👷 github: drop manual dispatch triggers
  .github/workflows/substreams-build.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

👷 github: replace release pat with github app token
  .changeset/version.sh
  .github/workflows/version.yaml
Owners: @cruzdanilo

👷 github: upgrade all actions
  .github/workflows/docs.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/substreams-build.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
Owners: @cruzdanilo

🎉 infra: create pulumi project
  AGENTS.md
  cspell.json
  infra/Pulumi.yaml
  infra/eslint.config.mjs
  infra/package.json
  infra/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

🧱 infra: introduce shared module primitives
  .changeset/proud-states-fold.md
  common/eslint/base.mjs
  cspell.json
  infra/index.ts
  infra/utils/modules.ts
  infra/utils/rejectSecrets.ts
Owners: @cruzdanilo

🧱 infra: setup meta infra for github automation
  .changeset/tender-geese-own.md
  .changeset/twenty-gifts-relax.md
  infra/Pulumi.meta.yaml
  infra/meta.ts
  infra/package.json
Owners: @cruzdanilo

✨ server: implement eip-7702 signing for gcp kms
  common/wagmi.config.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/wallet.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: automate panda refund withdrawal
  .changeset/olive-sheep-sink.md
  .changeset/short-radios-stand.md
  infra/utils/modules.ts
  server/hooks/panda.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/panda.ts
  server/test/utils/panda.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/refund.test.ts
  server/test/workers/worker.test.ts
  server/utils/panda.ts
  server/workers/refund/bin.ts
  server/workers/refund/job.ts
  server/workers/refund/queue.ts
  server/workers/refund/worker.ts
Owners: @cruzdanilo, @nfmelendez

👷 github: provision infra on server deploys
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

👷 github: match pulumi problems
  .github/matcher.json
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
