Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

➕ app: install expo-localization
  .ncurc
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚧 app: add translation hooks
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/CardLimits.tsx
  src/components/home/ExploreDeFi.tsx
  src/components/home/HomeActions.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Address.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Qr.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/settings/Settings.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/LatestActivity.tsx
  src/components/swaps/SwapDetails.tsx
  src/components/swaps/Swaps.tsx
Owners: @dieguezguille, @franm91

🚧 app: implement sign-in with ethereum
  src/components/onboarding/Passkeys.tsx
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🚧 server: signature script
  cspell.json
  server/script/signature.ts
Owners: @cruzdanilo, @nfmelendez

🚧 create connect sheet ui
  src/components/shared/ConnectSheet.tsx
Owners: @dieguezguille, @franm91

🚧 add connect sheet to onboarding section
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
Owners: @dieguezguille, @franm91

🚧 disconnect wagmi on logout
  src/components/settings/Settings.tsx
Owners: @dieguezguille, @franm91

🚧
  src/components/onboarding/Carousel.tsx
  src/utils/injectedConnector.ts
  src/utils/queryClient.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🚧 detect injected provider
  src/components/shared/ConnectSheet.tsx
Owners: @dieguezguille, @franm91

📈 server: instrument event and transaction ids
  .changeset/slick-eggs-boil.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add refund notification
  .changeset/new-knives-stay.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

💬 server: update text for receive funds and purchase notification
  .changeset/twelve-gifts-tie.md
  server/hooks/activity.ts
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🧪 server: flexibilize borrow test
  server/test/api/activity.test.ts
Owners: @nfmelendez

✨ server: include tokens information on swap activity
  .changeset/eight-experts-talk.md
  common/lifiTokens.ts
  contracts/test/mocks/Bob.s.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🚧 filter repay swaps
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @nfmelendez

🚧 collector set
  server/database/schema.ts
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 proposal manager set
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
Owners: @nfmelendez, @cruzdanilo

🚧 track proposed event
  server/database/schema.ts
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🥅 app: avoid reporting expected auth error
  .changeset/weak-buckets-jog.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: extract shared progress screens
  .changeset/tough-monkeys-invent.md
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: prefer shared progress components
  .changeset/tough-roses-dance.md
  src/components/pay-mode/Pay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: drop unused progress components
  .changeset/all-lies-lay.md
  src/components/pay-mode/Failure.tsx
  src/components/pay-mode/Pending.tsx
  src/components/pay-mode/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add loans svg
  .changeset/fluffy-eyes-heal.md
  src/assets/images/loans.svg
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement loans
  .changeset/ripe-cities-count.md
  src/app/(app)/(home)/_layout.tsx
  src/app/(app)/(home)/loans.tsx
  src/app/(app)/(home)/more.tsx
  src/app/(app)/loan/_layout.tsx
  src/app/(app)/loan/amount.tsx
  src/app/(app)/loan/index.tsx
  src/app/(app)/loan/installments.tsx
  src/app/(app)/loan/maturity.tsx
  src/app/(app)/loan/receiver.tsx
  src/app/(app)/loan/review.tsx
  src/components/loans/Amount.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/Installments.tsx
  src/components/loans/LoanActivity.tsx
  src/components/loans/Loans.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/more/More.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/TabBar.tsx
  src/components/shared/TransactionDetails.tsx
  src/i18n/en.json
  src/utils/queryClient.ts
  src/utils/useAsset.ts
  src/utils/useInstallments.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: remove modal presentation on loan flow
  .changeset/tough-ducks-draw.md
  src/app/(app)/loan/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix loans button color
  .changeset/tall-bees-dream.md
  src/components/loans/CreditLine.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add upcoming payments to loans screen
  .changeset/green-bananas-cover.md
  src/components/loans/Loans.tsx
  src/components/pay-mode/UpcomingPayments.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement new home design
  .changeset/six-bananas-run.md
  src/components/home/CardLimits.tsx
  src/components/home/CardStatus.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/more/More.tsx
  src/i18n/en.json
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add lifi api key
  src/app/_layout.tsx
Owners: @dieguezguille, @franm91

✨ app: implement swaps
  .changeset/nasty-dots-say.md
  src/app/(app)/swaps/index.tsx
  src/components/home/HomeActions.tsx
  src/components/swaps/Failure.tsx
  src/components/swaps/Pending.tsx
  src/components/swaps/SelectorModal.tsx
  src/components/swaps/Success.tsx
  src/components/swaps/SwapDetails.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/lifi.ts
  src/utils/useAccountAssets.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💬 app: update disclaimers
  .changeset/shiny-games-walk.md
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/home/HomeDisclaimer.tsx
  src/components/home/Portfolio.tsx
  src/components/loans/Loans.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/swaps/Swaps.tsx
  src/utils/useIntercom.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: create gradient scroll view component
  .changeset/legal-fans-stop.md
  src/components/shared/GradientScrollView.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: prefer gradient scroll view on activity details
  .changeset/spotty-foxes-jump.md
  src/components/activity/details/ActivityDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix progress screens scroll on web
  .changeset/shaky-ducks-jump.md
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor loan review screen
  .changeset/cruel-pugs-wink.md
  src/components/loans/Review.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: update send funds ui
  .changeset/open-sheep-brush.md
  src/components/send-funds/Address.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Failure.tsx
  src/components/send-funds/Pending.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/send-funds/Success.tsx
  src/components/send-funds/Withdraw.tsx
  src/components/shared/TransactionDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: unify asset logo
  .changeset/beige-monkeys-rescue.md
  src/components/home/AssetList.tsx
  src/components/send-funds/Failure.tsx
  src/components/send-funds/Pending.tsx
  src/components/send-funds/Review.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/send-funds/Success.tsx
  src/components/send-funds/Values.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swap asset logo border radius
  .changeset/sweet-monkeys-double.md
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: create styled button
  .changeset/bright-parks-move.md
  src/components/shared/StyledButton.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: update loans ui
  .changeset/old-falcons-rule.md
  src/components/home/HomeActions.tsx
  src/components/loans/Amount.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/Installments.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91
