Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✅ e2e: implement anvil balance setter
  .maestro/src/anvil.ts
  .maestro/src/script/setBalance.ts
  .maestro/src/server.ts
Owners: @cruzdanilo

✅ e2e: mint usdc to test account
  .maestro/flows/local.yaml
  .maestro/src/anvil.ts
  .maestro/src/script/mint.ts
Owners: @cruzdanilo

✅ e2e: implement flow for sending assets
  .maestro/flows/local.yaml
  .maestro/src/script/hookProposals.ts
  .maestro/src/server.ts
  .maestro/subflows/sendAsset.yaml
Owners: @cruzdanilo

✅ e2e: implement kyc flow
  .maestro/flows/local.yaml
  .maestro/src/script/approveKYC.ts
  .maestro/src/server.ts
  .maestro/subflows/verifyIdentity.yaml
Owners: @cruzdanilo

🤡 contracts: deal eth from test account
  contracts/test/mocks/Bob.s.sol
Owners: @itofarina

🐛 app: fix card upgrade banner render condition
  .changeset/small-toys-crash.md
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swap failure close button behavior
  .changeset/twelve-insects-rule.md
  src/components/swaps/Failure.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix send funds close button behavior
  .changeset/seven-flowers-greet.md
  .maestro/subflows/sendAsset.yaml
  src/components/send-funds/Amount.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🧑‍💻 e2e: use environment variable for development check
  .maestro/subflows/hideDevtools.yaml
Owners: @cruzdanilo

🔨 e2e: extract frontend coverage
  .maestro/flows/local.yaml
  .maestro/subflows/storeCoverage.yaml
  server/test/e2e.ts
  src/components/settings/Settings.tsx
  src/utils/e2e.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🚸 app: remember notifications dismissal
  .changeset/eleven-baths-like.md
  .maestro/flows/local.yaml
  common/onesignalAppId.ts
  src/app/(main)/(home)/_layout.tsx
  src/utils/onesignal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🤡 server: close mock database after all tests
  server/test/mocks/database.ts
Owners: @nfmelendez

⬆️ server: upgrade sentry
  pnpm-lock.yaml
  server/package.json
  server/test/mocks/sentry.ts
Owners: @cruzdanilo, @nfmelendez

👷 nx: setup prepare script dependencies
  common/package.json
  common/wagmi.config.ts
  contracts/package.json
  nx.json
  package.json
  server/package.json
Owners: @cruzdanilo, @itofarina, @nfmelendez

🔨 e2e: allow custom owner mnemonic
  .maestro/flows/local.yaml
  .maestro/src/script/getAccount.ts
  .maestro/subflows/sendAsset.yaml
  .maestro/subflows/signIn.yaml
  .maestro/subflows/verifyIdentity.yaml
  server/test/anvil.ts
  src/utils/e2e.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

📝 server: document card api
  .changeset/six-ideas-go.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: improve api documentation
  .changeset/cute-rules-write.md
  docs/src/content/docs/index.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/script/openapi.ts
Owners: @cruzdanilo, @nfmelendez

📝 add cancel card documentation
  .changeset/few-moles-push.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 gemini: setup rules and mcp
  .gemini/AGENTS.md
  .gemini/settings.json
Owners: @cruzdanilo

⬆️ dependencies: upgrade nodejs
  .github/workflows/docs.yaml
  .github/workflows/mobile-beta.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  Dockerfile
  common/package.json
  eas.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 eas: setup beta build and submit profile
  eas.json
Owners: @cruzdanilo

🔧 eas: setup e2e build profile
  eas.json
Owners: @cruzdanilo

➕ app: install expo-image
  .ncurc.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

⚡️ app: implement asset logo caching
  .changeset/flat-books-mix.md
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/WeightedRate.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

👷 eas: setup e2e workflow
  .eas/workflows/local.yaml
  .eas/workflows/production.yaml
  cspell.json
Owners: @cruzdanilo

feat(nx-cloud): setup nx cloud workspace
  nx.json
Owners: @cruzdanilo

🩹 server: handle delayed proposal timeout
  .changeset/forty-views-beam.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

⬇️ dependencies: upgrade spotlight
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔨 global: setup orchestration with nx
  .github/workflows/docs.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  .gitignore
  Dockerfile
  app.config.ts
  common/package.json
  common/wagmi.config.ts
  contracts/package.json
  docs/package.json
  nx.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @itofarina, @nfmelendez

➕ dependencies: add gitmoji
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🙈 app: ignore builds
  .gitignore
Owners: @cruzdanilo

🧑‍💻 app: disable lifi on anvil network
  src/app/_layout.tsx
  src/utils/lifi.ts
  src/utils/useAccountAssets.ts
Owners: @dieguezguille, @franm91

🧑‍💻 server: enable sentry console for development
  server/instrument.cjs
Owners: @nfmelendez

✅ server: remove codegen dependency from anvil setup
  server/test/anvil.ts
Owners: @nfmelendez

🧑‍💻 server: handle localhost authentication
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/utils/createCredential.ts
Owners: @nfmelendez

🧑‍💻 server: make empty object optional
  server/hooks/activity.ts
Owners: @nfmelendez

🧑‍💻 server: handle anvil events from alchemy
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

🤡 contracts: deploy missing previewers for mock protocol
  contracts/.gas-snapshot
  contracts/test/mocks/Protocol.s.sol
  server/test/anvil.ts
Owners: @itofarina, @nfmelendez

✅ contracts: setup anvil deployment
  contracts/deploy.json
Owners: @itofarina

🔨 contracts: implement chain-specific json lib
  contracts/.gas-snapshot
  contracts/script/JSON.sol
  contracts/test/Fork.t.sol
Owners: @itofarina
