Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

➕ server: install better auth
  .changeset/pretty-chicken-hang.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: add microdeposit push notification
  .changeset/bright-foxes-leap.md
  cspell.json
  server/hooks/bridge.ts
  server/test/hooks/bridge.test.ts
Owners: @cruzdanilo, @nfmelendez

🛂 server: add org auth middleware
  .changeset/brisk-otter-glides.md
  server/middleware/org.ts
  server/test/middleware/org.test.ts
Owners: @cruzdanilo, @nfmelendez

🛂 server: setup better auth
  .changeset/rare-pears-sort.md
  docs/astro.config.ts
  docs/src/content/docs/organization-authentication.md
  server/api/index.ts
  server/database/index.ts
  server/index.ts
  server/script/openapi.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add source database table
  server/database/schema.ts
Owners: @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade hono and dompurify
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🐛 server: add missing stellar memo deposit field
  .changeset/qyul-qxpu-ikas.md
  server/api/ramp.ts
  server/test/api/ramp.test.ts
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add webhook api
  .changeset/olive-onions-tan.md
  docs/src/content/docs/organization-authentication.md
  server/api/index.ts
  server/api/webhook.ts
  server/hooks/panda.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add merchant category code to webhooks
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add transaction receipt to webhook
  .changeset/quick-ants-write.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix webhook retries
  .changeset/long-moons-brake.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add card webhook routing
  server/hooks/panda.ts
Owners: @nfmelendez

🐛 server: fix user webhook routing
  .changeset/loud-shoes-visit.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: verify member cannot access webhooks
  server/test/api/webhook.test.ts
Owners: @nfmelendez

🐛 server: fix update card webhook schema
  .changeset/dry-peas-ring.md
  docs/src/content/docs/webhooks.md
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: fix webhook markdown from pr review feedback
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🐛 server: fix webhook logging for text response
  .changeset/fifty-friends-bet.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward exchange rate to webhooks
  .changeset/shy-foxes-trade.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: send webhooks only to public destinations
  server/api/webhook.ts
  server/hooks/panda.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/test/utils/webhook.test.ts
  server/utils/webhook.ts
Owners: @nfmelendez

🔊 server: fix multiline webhook log
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @nfmelendez

➕ server: install canonicalize
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/e2e.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: update kyc status code
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez

✨ server: add encrypted kyc submission
  cspell.json
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: improve nonce usage for encrypted kyc
  .changeset/cuddly-streets-like.md
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add role to organization database table
  .changeset/sharp-squids-push.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: improve kyc application response validation
  server/api/kyc.ts
Owners: @nfmelendez

⚰️ server: drop kyc error in favor of service error
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @nfmelendez

✨ server: add kyc role to organizations
  .changeset/upset-seas-sink.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add kyc permissions requirement in organization guide
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

🔒️ server: strip siwe from panda application
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @nfmelendez

🔥 server: drop header from encrypted kyc
  .changeset/calm-tigers-stop.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: support multi-chain account creation in activity webhook
  .changeset/new-koi-curl.md
  server/hooks/activity.ts
  server/test/hooks/activity.test.ts
  server/utils/alchemy.ts
  server/utils/keeper.ts
  server/utils/traceClient.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add card limit case update
  .changeset/clear-cobras-sip.md
  server/api/card.ts
  server/api/kyc.ts
  server/hooks/persona.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/hooks/persona.test.ts
  server/test/utils/persona.test.ts
  server/utils/panda.ts
  server/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: add card limit kyc flow
  src/components/card/SpendingLimits.tsx
  src/utils/persona.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🔧 cspell: match spanish i18n files in any directory
  cspell.json
Owners: @cruzdanilo

🌐 server: translate notifications to spanish and portuguese
  .changeset/thin-bananas-arrive.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/api/card.ts
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/bridge.ts
  server/hooks/manteca.ts
  server/hooks/panda.ts
  server/i18n/en.json
  server/i18n/es.json
  server/i18n/index.ts
  server/i18n/pt.json
  server/package.json
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/bridge.test.ts
  server/test/hooks/manteca.test.ts
  server/test/hooks/panda.test.ts
  server/test/utils/i18n.test.ts
  server/tsconfig.json
Owners: @cruzdanilo, @nfmelendez

✨ app: add wallet provisioning
  .changeset/chilly-suns-dress.md
  .changeset/gentle-cases-fold.md
  .changeset/rich-months-double.md
  .npmrc
  app.config.ts
  babel.config.js
  common/eslint/base.mjs
  cspell.json
  package.json
  pnpm-lock.yaml
  server/api/card.ts
  server/utils/panda.ts
  src/assets/mea_config
  src/components/card/CardDetails.tsx
  src/components/card/WalletButtons.tsx
  src/components/card/WalletButtons.web.tsx
  src/components/card/useWalletProvisioning.ts
  src/utils/accountClient.ts
  src/utils/server.ts
  src/utils/wagmi/capabilities.ts
  src/utils/wagmi/exa.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
