Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

📝 docs: add phase3 memory, fix markdownlint in memory files
  .agent/memory/android-emulator-crash-phase2.md
  .agent/memory/android-emulator-screenshot-phase3.md
Owners: @cruzdanilo

🐛 eas: replace xvfb-run with direct Xvfb to fix hang
  .eas/workflows/local.yaml
Owners: @cruzdanilo

✨ server: support manteca inquiry
  .changeset/wide-colts-wonder.md
  cspell.json
  server/api/index.ts
  server/api/kyc.ts
  server/api/onramp.ts
  server/api/ramp.ts
  server/hooks/manteca.ts
  server/index.ts
  server/test/api/kyc.test.ts
  server/test/api/ramp.test.ts
  server/test/hooks/manteca.test.ts
  server/test/utils/manteca.test.ts
  server/test/utils/persona.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/utils/ramps/shared.ts
Owners: @cruzdanilo, @nfmelendez

🐛 eas: remove xvfb, use setsid for emulator detachment
  .agent/memory/android-emulator-screenshot-phase3.md
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🚧
  src/app/(main)/add-funds/_layout.tsx
  src/app/(main)/add-funds/ramp-details.tsx
  src/app/(main)/add-funds/ramp-onboarding.tsx
  src/app/(main)/add-funds/verification-status.tsx
  src/assets/images/ars-usdc.svg
  src/assets/images/denied.svg
  src/assets/images/face-id.svg
  src/components/add-funds/AddFiatButton.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/RampDetails.tsx
  src/components/add-funds/RampOnBoarding.tsx
  src/components/add-funds/VerificationStatus.tsx
  src/components/home/HomeActions.tsx
  src/i18n/es.json
  src/utils/persona.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

⚗️ eas: try android-32 google_apis for screenshot support
  .agent/memory/android-emulator-resolution.md
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🔥 eas: remove redundant emulator config
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🚧 server: use gcp kms for allower
  .changeset/lucky-jokes-change.md
  .do/app.yaml
  cspell.json
  pnpm-lock.yaml
  server/.gitignore
  server/hooks/persona.ts
  server/index.ts
  server/package.json
  server/test/hooks/persona.test.ts
  server/test/utils/allower.test.ts
  server/utils/allower.ts
  server/utils/gcp.ts
  server/utils/keeper.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🚧 server: use gcp kms for allower
  .changeset/lucky-jokes-change.md
  .do/app.yaml
  cspell.json
  pnpm-lock.yaml
  server/.gitignore
  server/hooks/persona.ts
  server/index.ts
  server/package.json
  server/test/hooks/persona.test.ts
  server/test/utils/allower.test.ts
  server/utils/allower.ts
  server/utils/gcp.ts
  server/utils/keeper.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🔥 eas: phase 2 emulator cleanup
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🔥 eas: remove adb restart, cores/partition flags
  .eas/workflows/local.yaml
Owners: @cruzdanilo

⚗️ add more instrumentation to statement processing
  server/api/activity.ts
Owners: @nfmelendez

⬆️ dependencies: upgrade vulnerable tar
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

👷 eas: use android-32, drop stabilization workarounds
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🔨 contracts: map chain id 1
  contracts/test/Fork.t.sol
Owners: @itofarina

🔨 contracts: allow optional protocol chain id
  contracts/test/Fork.t.sol
Owners: @itofarina

🚧
  contracts/deploy.json
  contracts/foundry.toml
  contracts/script/SerialProxier.s.sol
  contracts/test/Fork.t.sol
  contracts/test/SerialProxier.t.sol
Owners: @itofarina

🩹 app: make paymaster service optional
  .changeset/curly-maps-cheat.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: remove unused account assets hook
  src/utils/useAccountAssets.ts
Owners: @dieguezguille, @franm91

♻️ app: use dynamic chain logo component
  src/assets/images/optimism.svg
  src/components/activity/details/TransactionDetails.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/Bridge.tsx
  src/components/shared/AddressDialog.tsx
  src/components/shared/ChainLogo.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/TransactionDetails.tsx
  src/components/swaps/TokenInput.tsx
Owners: @dieguezguille, @franm91

🔥 app: remove unused token logo component
  src/components/add-funds/TokenLogo.tsx
Owners: @dieguezguille, @franm91

⬆️ dependencies: upgrade vulnerable tar
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ app: extend portfolio hook
  src/components/home/Home.tsx
  src/components/home/Portfolio.tsx
  src/components/home/PortfolioSummary.tsx
  src/utils/usePortfolio.ts
Owners: @dieguezguille, @franm91

♻️ app: use dynamic asset logos
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AssetSelectSheet.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/WeightedRate.tsx
  src/components/swaps/Failure.tsx
  src/components/swaps/Pending.tsx
  src/components/swaps/SelectorModal.tsx
  src/components/swaps/Success.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/assetLogos.ts
Owners: @dieguezguille, @franm91

👷 eas: use android-32, drop stabilization workarounds
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🐛 app: allow eth transfers
  .changeset/quick-berries-train.md
  src/components/send-funds/Amount.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⚡️ app: optimize use asset hook
  .changeset/spotty-lions-dance.md
  src/utils/useAsset.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: migrate components to portfolio hook
  src/components/home/AssetList.tsx
  src/components/pay-mode/Pay.tsx
  src/components/shared/AssetSelector.tsx
  src/components/swaps/SelectorModal.tsx
  src/components/swaps/Swaps.tsx
Owners: @dieguezguille, @franm91

✨ server: support manteca inquiry
  .changeset/wide-colts-wonder.md
  cspell.json
  server/api/index.ts
  server/api/kyc.ts
  server/api/onramp.ts
  server/api/ramp.ts
  server/hooks/manteca.ts
  server/index.ts
  server/test/api/kyc.test.ts
  server/test/api/ramp.test.ts
  server/test/hooks/manteca.test.ts
  server/test/utils/manteca.test.ts
  server/test/utils/persona.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/utils/ramps/shared.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.52, mobile@1.1.4
  .changeset/curly-maps-cheat.md
  .changeset/lazy-bridges-wait.md
  .changeset/quick-berries-train.md
  .changeset/spotty-lions-dance.md
  .changeset/wide-colts-wonder.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

👷 eas: add concurrency to cancel outdated workflow runs
  .eas/workflows/local.yaml
  .eas/workflows/production.yaml
Owners: @cruzdanilo

✨️ server: add activity and push notification on card decline
  .changeset/honest-peas-stand.md
  server/api/activity.ts
  server/hooks/panda.ts
  server/test/api/activity.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix key typo
  .changeset/six-dancers-hang.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

⚰️ server: remove template id param
  .changeset/swift-pigs-know.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ eas: no build, no ios
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🩹 app: wait for onesignal sdk init before iam trigger
  .agent/memory/2026-01-28-android-e2e-onesignal-iam.md
  .changeset/silent-eyes-beg.md
  src/utils/onesignal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨️ server: add activity and push notification on card decline
  .changeset/honest-peas-stand.md
  server/api/activity.ts
  server/hooks/panda.ts
  server/test/api/activity.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix key typo
  .changeset/six-dancers-hang.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: replace null with undefined on icon
  server/api/activity.ts
Owners: @nfmelendez

💄 app: fix defi screen top padding
  .changeset/green-adults-drop.md
  src/components/defi/DeFi.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91
