Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

✨ app: add card limit kyc flow
  src/components/card/SpendingLimits.tsx
  src/utils/persona.ts
Owners: @dieguezguille, @franm91

✨ server: add card limit case update
  .changeset/clear-cobras-sip.md
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
  server/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: adopt new react jsx transformer
  common/eslint/react.mjs
  server/eslint.config.mjs
  server/tsconfig.json
  server/utils/Statement.tsx
Owners: @cruzdanilo, @nfmelendez

🥅 server: handle expected bridge pairing errors
  .changeset/calm-panda-handle.md
  server/hooks/bridge.ts
  server/test/hooks/bridge.test.ts
Owners: @cruzdanilo, @nfmelendez

🩹 global: fix eslint plugin re-registration conflict
  common/eslint/base.mjs
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ server: add wallet provisioning endpoint
  .changeset/chilly-suns-dress.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

➕ global: add meawallet private registry credentials
  .npmrc
Owners: @cruzdanilo

✨ app: add native wallet provisioning feature
  .changeset/gentle-cases-fold.md
  app.config.ts
  cspell.json
  src/components/card/CardDetails.tsx
  src/components/card/WalletButtons.tsx
  src/components/card/WalletButtons.web.tsx
  src/components/card/useWalletProvisioning.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ dependencies: add meawallet mpp sdk
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🍱 app: add meawallet config assets
  .changeset/rich-months-double.md
  src/assets/mea_config
Owners: @cruzdanilo, @dieguezguille, @franm91

🤡 server: update sentry mock
  server/test/mocks/sentry.ts
Owners: @nfmelendez

🤡 server: extend alchemy webhook mock
  server/test/mocks/alchemy.ts
Owners: @nfmelendez

✨ server: migrate webhook subscription to queue
  .changeset/plain-pumas-relax.md
  cspell.json
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/index.ts
  server/test/api/auth.test.ts
  server/test/hooks/activity.test.ts
  server/test/mocks/alchemy.ts
  server/test/mocks/redis.ts
  server/test/utils/createCredential.test.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ server: add debug logging for webhook init
  server/hooks/activity.ts
Owners: @nfmelendez

💄 app: restructure swap state screen layouts
  .changeset/bright-foxes-swim.md
  src/components/swaps/Failure.tsx
  src/components/swaps/Pending.tsx
  src/components/swaps/Success.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: decouple swap input state from route result
  .changeset/khaki-pens-post.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: align user cancellations to native behavior
  src/utils/accountClient.ts
  src/utils/reportError.ts
Owners: @dieguezguille, @franm91

🐛 app: fix pay simulation pending state
  .changeset/funny-aliens-mix.md
  src/components/pay/Repay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: forward chain id in account client
  .changeset/cool-icons-grow.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor auth cancellation handling
  src/components/add-funds/Bridge.tsx
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay/Repay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/swaps/Swaps.tsx
  src/utils/accountClient.ts
  src/utils/reportError.ts
  src/utils/server.ts
  src/utils/useAuth.ts
Owners: @dieguezguille, @franm91

🐛 app: improve repay disabled button condition
  .changeset/clever-toes-beam.md
  src/components/pay/Repay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swaps query invalidation
  .changeset/cyan-flies-camp.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ e2e: harden activate card flow navigation
  .maestro/subflows/activateCard.yaml
Owners: @cruzdanilo

♻️ app: migrate remaining flows to send calls
  .changeset/loose-papers-take.md
  src/components/pay/Repay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: pass chain id to bridge calls
  .changeset/great-dryers-kick.md
  src/components/add-funds/Bridge.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: disable retries in custom transport
  .changeset/fuzzy-adults-tease.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: pass explicit chain id to read hooks
  .changeset/wide-cats-hug.md
  src/components/card/Card.tsx
  src/components/defi/DeFi.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Amount.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay/OverduePayments.tsx
  src/components/pay/Pay.tsx
  src/components/pay/PaymentSheet.tsx
  src/components/pay/Repay.tsx
  src/components/pay/UpcomingPayments.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PluginUpgrade.tsx
  src/components/shared/Success.tsx
  src/components/swaps/Swaps.tsx
  src/utils/useMarkets.ts
  src/utils/usePendingOperations.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: pass explicit chain id to send calls hooks
  .changeset/humble-cities-drop.md
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay/Repay.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/PluginUpgrade.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ server: verify locale-aware push notification content
  server/test/hooks/manteca.test.ts
  server/test/hooks/panda.test.ts
  server/test/i18n.test.ts
Owners: @nfmelendez

🩹 server: simple fallback for missing asset symbol
  server/test/hooks/activity.test.ts
Owners: @nfmelendez

🌐 server: translate push notifications to spanish
  .changeset/tough-houses-wave.md
  server/api/card.ts
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/bridge.ts
  server/hooks/manteca.ts
  server/hooks/panda.ts
  server/i18n/en.json
  server/i18n/es.json
  server/i18n/index.ts
  server/test/hooks/block.test.ts
  server/test/hooks/bridge.test.ts
  server/test/hooks/manteca.test.ts
  server/tsconfig.json
Owners: @cruzdanilo, @nfmelendez

➕ server: add i18next
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: add maturity check and worker
  .changeset/dull-candies-cheer.md
  cspell.json
  server/i18n/es.json
  server/index.ts
  server/test/utils/maturity.test.ts
  server/utils/maturity.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: add tests for notifications translations
  server/test/hooks/block.test.ts
  server/test/hooks/manteca.test.ts
Owners: @nfmelendez

⚗️ server: add debug logging for webhook init
  server/hooks/activity.ts
Owners: @nfmelendez

🤡 server: extend alchemy webhook mock
  server/test/mocks/alchemy.ts
Owners: @nfmelendez

✨ server: migrate webhook subscription to queue
  .changeset/plain-pumas-relax.md
  cspell.json
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/index.ts
  server/test/api/auth.test.ts
  server/test/hooks/activity.test.ts
  server/test/mocks/alchemy.ts
  server/test/mocks/redis.ts
  server/test/utils/createCredential.test.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add maturity check and worker
  .changeset/dull-candies-cheer.md
  cspell.json
  server/i18n/es.json
  server/index.ts
  server/test/utils/maturity.test.ts
  server/utils/maturity.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add webhook api
  .changeset/olive-onions-tan.md
  docs/src/content/docs/organization-authentication.md
  server/api/index.ts
  server/api/webhook.ts
  server/hooks/panda.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
