Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✨ server: normalize auth responses
  .changeset/happy-guests-push.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: validate card session id
  .changeset/loud-mice-cry.md
  server/api/card.ts
  server/test/api/card.test.ts
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🥅 server: recover from missing sent transaction
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @nfmelendez

🐛 server: fix panda card name
  .changeset/chatty-nails-wonder.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ app: mitigate ref warnings on web
  src/components/activity/Activity.tsx
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/pay-mode/PayMode.tsx
Owners: @dieguezguille, @franm91

✨ server: add rollover activity
  .changeset/free-boxes-doubt.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/anvil.ts
  server/test/api/activity.test.ts
  server/test/mocks/deployments.ts
  wagmi.config.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

♻️ server: filter repay caller locally
  server/api/activity.ts
Owners: @nfmelendez

✨ server: add liquidation activity
  .changeset/late-shoes-raise.md
  contracts/src/IExaAccount.sol
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/MockPriceFeed.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

♻️ server: always return objects, improve status codes
  .changeset/silver-coins-dance.md
  server/api/activity.ts
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/card.ts
  server/api/kyc.ts
  server/api/passkey.ts
  server/hooks/cryptomate.ts
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/index.ts
  server/middleware/auth.ts
  server/test/api/activity.test.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/auth.ts
  server/utils/alchemy.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: set card pin
  .changeset/soft-knives-camp.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: card pin
  .changeset/green-masks-eat.md
  src/components/card/CardDetails.tsx
  src/utils/panda.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 server: improve PIN code style and structure
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
  src/components/card/CardDetails.tsx
  src/utils/panda.ts
Owners: @nfmelendez, @dieguezguille, @franm91

🎨 server: extract borrow activity and export type
  server/api/activity.ts
Owners: @nfmelendez

✨ app: implement rollover activity
  .changeset/slimy-lies-hunt.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/activity/details/RolloverActivity.tsx
  src/components/activity/details/RolloverDetails.tsx
  src/components/shared/LatestActivity.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement card pin
  .changeset/sweet-hounds-argue.md
  src/components/card/Card.tsx
  src/components/card/CardDetails.tsx
  src/components/card/CardPIN.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor latest activity component
  .changeset/sour-wombats-relax.md
  src/components/activity/Activity.tsx
  src/components/activity/ActivityItem.tsx
  src/components/card/Card.tsx
  src/components/home/InfoCard.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/shared/LatestActivity.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: change web cursor on interactable components
  .changeset/chubby-squids-create.md
  src/components/activity/ActivityItem.tsx
  src/components/card/Card.tsx
  src/components/home/PortfolioSummary.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🩹 app: disable repay simulations after sending operation
  src/components/pay-mode/Pay.tsx
Owners: @dieguezguille, @franm91

🚧
  contracts/script/AdHoc.s.sol
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/utils/useAccountAssets.ts
  src/utils/useAsset.ts
  src/utils/useSimulateProposal.ts
Owners: @itofarina, @dieguezguille, @franm91

✨ server: implement sign-in with ethereum
  .changeset/wild-cobras-cross.md
  cspell.json
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/utils/decodePublicKey.ts
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

✨ server: auto register on siwe authentication
  .changeset/modern-teeth-glow.md
  common/deriveAddress.ts
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: normalize auth responses
  .changeset/happy-guests-push.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: validate card session id
  .changeset/loud-mice-cry.md
  server/api/card.ts
  server/test/api/card.test.ts
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🐛 server: fix panda card name
  .changeset/chatty-nails-wonder.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: always return objects, improve status codes
  .changeset/silver-coins-dance.md
  server/api/activity.ts
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/card.ts
  server/api/kyc.ts
  server/api/passkey.ts
  server/hooks/cryptomate.ts
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/index.ts
  server/middleware/auth.ts
  server/test/api/activity.test.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/auth.ts
  server/utils/alchemy.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: set card pin
  .changeset/soft-knives-camp.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: implement card pin api integration
  .changeset/green-masks-eat.md
  src/utils/panda.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement card pin
  .changeset/sweet-hounds-argue.md
  src/components/card/Card.tsx
  src/components/card/CardDetails.tsx
  src/components/card/CardPIN.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: update overdue payments ui
  .changeset/three-games-flash.md
  src/components/home/Home.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/pay-mode/UpcomingPayments.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: drop unused component
  .changeset/olive-chefs-lay.md
  src/components/home/InfoCard.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: redirect to pay mode on card limits component press
  .changeset/bitter-socks-invent.md
  src/components/home/CardLimits.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor latest activity component
  .changeset/sour-wombats-relax.md
  src/components/activity/Activity.tsx
  src/components/activity/ActivityItem.tsx
  src/components/card/Card.tsx
  src/components/shared/LatestActivity.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix tamagui sheet scrolling on web
  .changeset/every-monkeys-agree.md
  src/components/card/CardDisclaimer.tsx
  src/components/card/CardPIN.tsx
  src/components/card/SpendingLimits.tsx
  src/components/card/VerificationFailure.tsx
  src/components/home/card-upgrade/CardUpgradeSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: add usdc logo on pay now mode
  .changeset/long-lions-cheat.md
  src/components/home/CardLimits.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: link intercom article on payment details title
  .changeset/all-places-fall.md
  src/components/activity/details/PaymentDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: change web cursor on interactable components
  .changeset/chubby-squids-create.md
  src/components/activity/ActivityItem.tsx
  src/components/card/Card.tsx
  src/components/home/PortfolioSummary.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: sort assets by usdc first on repay screen
  .changeset/honest-baboons-wish.md
  src/components/pay-mode/AssetSelectionSheet.tsx
  src/components/pay-mode/Pay.tsx
  src/components/shared/AssetSelector.tsx
  src/utils/useAccountAssets.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: display processing balance under spending limits
  .changeset/loud-rocks-wink.md
  src/components/home/CardLimits.tsx
  src/components/shared/ProcessingBalance.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement new spending limits modal
  .changeset/ten-terms-take.md
  src/components/home/CardLimits.tsx
  src/components/home/Home.tsx
  src/components/home/SpendingLimitsSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 server: remove cryptomate card details
  .changeset/some-moons-bet.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez
