Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

✅ server: stabilize activity tests during transaction tracing
  server/test/hooks/activity.test.ts
Owners: @nfmelendez

✅ server: tolerate delayed activity traces
  server/test/hooks/activity.test.ts
Owners: @nfmelendez

✨ common: export app stack identifier
  .changeset/spicy-ideas-mix.md
  common/stack.js
Owners: @cruzdanilo

📈 server: use stack for sentry instrumentation
  .changeset/ten-planets-prove.md
  server/instrument.cjs
Owners: @cruzdanilo, @nfmelendez

🧱 server: use node entrypoint as docker argument
  server/Dockerfile
Owners: @nfmelendez

➕ server: add google cloud secret manager
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement google secret manager
  .changeset/bumpy-toes-jump.md
  server/test/utils/secret.test.ts
  server/utils/secret.ts
Owners: @cruzdanilo, @nfmelendez

🚚 server: rename keeper module to wallet
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/wallet.ts
Owners: @nfmelendez

➕ server: add google cloud kms dependencies
  cspell.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: create wallet client by account name
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/api/card.test.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/panda.ts
  server/utils/wallet.ts
Owners: @nfmelendez

✨ server: introduce shared worker primitives
  cspell.json
  server/index.ts
  server/package.json
  server/supervise.ts
  server/test/e2e.ts
  server/test/mocks/sentry.ts
  server/test/supervise.test.ts
  server/test/utils/maturity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/worker.test.ts
  server/tsconfig.json
  server/utils/maturity.ts
  server/utils/redis.ts
  server/workers/queue.ts
  server/workers/worker.ts
Owners: @cruzdanilo, @nfmelendez

⚰️ server: remove unused panda detection
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/utils/panda.ts
Owners: @nfmelendez

👷 github: restrict build credential exposure
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-base.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-production.yaml
  .github/workflows/server-sandbox.yaml
  .github/workflows/substreams-build.yaml
Owners: @cruzdanilo

👷 github: drop manual dispatch triggers
  .github/workflows/substreams-build.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

👷 github: replace release pat with github app token
  .changeset/version.sh
  .github/workflows/version.yaml
Owners: @cruzdanilo

👷 github: upgrade all actions
  .github/workflows/docs.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/substreams-build.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
Owners: @cruzdanilo

🎉 infra: create pulumi project
  AGENTS.md
  cspell.json
  infra/Pulumi.yaml
  infra/eslint.config.mjs
  infra/package.json
  infra/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

🧱 infra: introduce shared module primitives
  .changeset/proud-states-fold.md
  cspell.json
  infra/index.ts
  infra/utils/modules.ts
  infra/utils/rejectSecrets.ts
Owners: @cruzdanilo

🧱 infra: setup meta infra for github automation
  .changeset/tender-geese-own.md
  .changeset/twenty-gifts-relax.md
  infra/Pulumi.meta.yaml
  infra/meta.ts
  infra/package.json
Owners: @cruzdanilo

✨ server: implement eip-7702 signing for gcp kms
  common/wagmi.config.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/wallet.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: automate panda refund withdrawal
  .changeset/olive-sheep-sink.md
  .changeset/short-radios-stand.md
  infra/utils/modules.ts
  server/hooks/panda.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/panda.ts
  server/test/utils/panda.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/refund.test.ts
  server/test/workers/worker.test.ts
  server/utils/panda.ts
  server/workers/refund/bin.ts
  server/workers/refund/job.ts
  server/workers/refund/queue.ts
  server/workers/refund/worker.ts
Owners: @cruzdanilo, @nfmelendez

👷 github: provision infra on server deploys
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

👷 github: match pulumi problems
  .github/matcher.json
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

🚀 infra: deploy testnet stacks
  infra/Pulumi.base-sepolia.yaml
  infra/Pulumi.sandbox.yaml
Owners: @cruzdanilo

✨ server: migrate webhook subscription to queue
  .changeset/large-candies-brake.md
  .changeset/plain-pumas-relax.md
  infra/Pulumi.base-sepolia.yaml
  infra/Pulumi.sandbox.yaml
  infra/utils/modules.ts
  server/api/index.ts
  server/test/api/api.test.ts
  server/test/api/auth.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/utils/alchemy.test.ts
  server/test/utils/createCredential.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/subscribe.test.ts
  server/utils/createCredential.ts
  server/workers/subscribe/bin.ts
  server/workers/subscribe/job.ts
  server/workers/subscribe/queue.ts
  server/workers/subscribe/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: process auto-credit in worker
  .changeset/afraid-mangos-follow.md
  .changeset/tender-foxes-feel.md
  infra/utils/modules.ts
  server/api/card.ts
  server/api/index.ts
  server/hooks/activity.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/test/api/api.test.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/credit.test.ts
  server/utils/panda.ts
  server/workers/credit/bin.ts
  server/workers/credit/job.ts
  server/workers/credit/queue.ts
  server/workers/credit/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: process poke in worker
  .changeset/bumpy-regions-read.md
  .changeset/proud-tools-sneeze.md
  infra/utils/modules.ts
  server/hooks/activity.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/poke.test.ts
  server/workers/credit/queue.ts
  server/workers/poke/bin.ts
  server/workers/poke/job.ts
  server/workers/poke/queue.ts
  server/workers/poke/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: automate firewall allow after kyc approval
  .changeset/blue-bottles-wave.md
  .changeset/free-lamps-pump.md
  infra/utils/modules.ts
  server/hooks/persona.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/deployments.ts
  server/test/workers/allow.test.ts
  server/test/workers/bin.test.ts
  server/workers/allow/bin.ts
  server/workers/allow/job.ts
  server/workers/allow/queue.ts
  server/workers/allow/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add runtime entrypoints for api and hooks
  .changeset/brown-ties-create.md
  .changeset/yellow-corners-bet.md
  infra/utils/modules.ts
  server/api/bin.ts
  server/hooks/bin/activity.ts
  server/hooks/bin/block.ts
  server/hooks/bin/bridge.ts
  server/hooks/bin/manteca.ts
  server/hooks/bin/panda.ts
  server/hooks/bin/persona.ts
  server/package.json
  server/test/api/bin.test.ts
  server/test/hooks/bin.test.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add whatsapp id column to credentials
  server/database/schema.ts
Owners: @nfmelendez

✨ server: add chat association endpoint
  .changeset/warm-otters-associate.md
  infra/utils/modules.ts
  server/api/bin.ts
  server/api/chat.ts
  server/api/index.ts
  server/index.ts
  server/script/openapi.ts
  server/test/api/api.test.ts
  server/test/api/chat.test.ts
  server/test/utils/chat.test.ts
  server/utils/chat.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade sentry
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

➕ server: add mastra dependencies
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🚧 server: add chat hook
  cspell.json
  infra/utils/modules.ts
  server/api/bin.ts
  server/api/chat.ts
  server/api/index.ts
  server/hooks/bin/chat.ts
  server/hooks/chat.ts
  server/index.ts
  server/instrument.cjs
  server/package.json
  server/script/openapi.ts
  server/test/api/api.test.ts
  server/test/api/bin.test.ts
  server/test/api/chat.test.ts
  server/test/evals/chat.eval.ts
  server/test/hooks/chat.test.ts
  server/test/hooks/hook.test.ts
  server/test/utils/assistant.test.ts
  server/test/utils/chat.test.ts
  server/utils/assistant.ts
  server/utils/chat.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🍱 app: add chat association assets
  src/assets/images/isotype.svg
  src/assets/images/whatsapp.svg
Owners: @dieguezguille, @franm91

🚧 app: associate account to whatsapp id
  cspell.json
  src/app/(main)/whatsapp.tsx
  src/components/whatsapp/Whatsapp.tsx
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⚗️ github: build base-sepolia from infra branch
  .github/workflows/server-base-sepolia.yaml
Owners: @cruzdanilo

🚧 dan
  CONTEXT.md
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/script/Allower.s.sol
  contracts/script/Mint.s.sol
  docs/adr/0001-publish-stack-images-publicly.md
  docs/adr/0002-self-host-pulumi-state-in-google-cloud-storage.md
  docs/adr/0003-drive-pulumi-updates-from-git-promotion-signals.md
  docs/adr/0004-use-github-api-commits-for-changesets-releases.md
  research/alchemy-custom-webhook-api.md
  research/base-app-notifications.md
  research/cloud-run-auto-rollback.md
  research/gcp-crema-bullmq.md
  research/gcp-hybrid-privilege-topology.md
  research/gcp-worker-costs.md
  research/non-gcp-worker-costs.md
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/api/ramp.test.ts
  server/test/hooks/bridge.test.ts
  server/test/hooks/persona.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🚧 server: execute
  .changeset/bright-executors-work.md
  .changeset/quiet-proposals-run.md
  .maestro/src/script/hookProposals.ts
  infra/utils/modules.ts
  server/hooks/block.ts
  server/test/e2e.ts
  server/test/hooks/block.test.ts
  server/test/workers/bin.test.ts
  server/workers/execute/bin.ts
  server/workers/execute/job.ts
  server/workers/execute/queue.ts
  server/workers/execute/worker.ts
  server/workers/queue.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: add passkey help to onboarding
  .changeset/witty-heron-waves.md
  src/components/auth/Auth.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
