Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🐛 server: fix quote short-circuit missing usd
  .changeset/quick-foxes-leap.md
  server/test/utils/bridge.test.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: track onramp completion on processed instead of submitted
  .changeset/warm-eagles-rest.md
  server/hooks/bridge.ts
  server/test/hooks/bridge.test.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.82
  .changeset/bright-eagle-swim.md
  .changeset/cohk-ogyn-nhcy.md
  .changeset/quick-foxes-leap.md
  .changeset/ready-groups-beam.md
  .changeset/red-rat-pet.md
  .changeset/spotty-tigers-tease.md
  .changeset/warm-eagles-rest.md
  .changeset/wise-sites-add.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

💄 app: add vertical frame to styled button
  .changeset/salty-fans-mate.md
  src/components/shared/StyledButton.tsx
  tamagui.config.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: replace fonts
  .changeset/little-hoops-train.md
  app.config.ts
  cspell.json
  src/app/_layout.tsx
  src/assets/fonts/BDOGrotesk-DemiBold.otf
  src/assets/fonts/BDOGrotesk-Regular.otf
  src/assets/fonts/IBMPlexMono-Medm.otf
  src/assets/fonts/SplineSans-Regular.otf
  src/assets/fonts/SplineSans-SemiBold.otf
  src/assets/fonts/SplineSansMono-Medium.otf
  src/components/add-funds/AddCrypto.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/card/CardDetails.tsx
  src/components/card/CardPIN.tsx
  src/components/home/Portfolio.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Contact.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Input.tsx
  src/components/shared/ProfileHeader.tsx
  src/components/shared/Text.tsx
  src/components/shared/TransactionDetails.tsx
  src/components/swaps/TokenInput.tsx
  tamagui.config.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: adjust tamagui tokens
  .changeset/clear-trains-move.md
  tamagui.config.ts
Owners: @cruzdanilo

💄 app: apply tamagui spacing tokens
  .changeset/khaki-queens-smash.md
  src/components/activity/Activity.tsx
  src/components/activity/PendingProposals.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/Onboard.tsx
  src/components/add-funds/Ramp.tsx
  src/components/add-funds/Status.tsx
  src/components/card/Card.tsx
  src/components/card/SpendingLimit.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/AssetList.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/Portfolio.tsx
  src/components/loans/Amount.tsx
  src/components/loans/Asset.tsx
  src/components/loans/Installments.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/pay-mode/PaymentsActions.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Receiver.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/LiquidationAlert.tsx
  src/components/shared/ProfileHeader.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💫 app: unify animation parameters
  .changeset/soft-beans-grow.md
  src/components/auth/Auth.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/card/Card.tsx
  src/components/card/exa-card/CardContents.tsx
  src/components/home/CardStatus.tsx
  src/components/home/GettingStarted.tsx
  src/components/shared/ModalSheet.tsx
  tamagui.config.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: refine benefits carousel
  .changeset/lazy-planes-dance.md
  .maestro/flows/local.yaml
  .maestro/subflows/assertBenefits.yaml
  src/components/benefits/BenefitCard.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/home/Home.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restyle card status component
  .changeset/curly-waves-yell.md
  .maestro/flows/local.yaml
  .maestro/subflows/activateCard.yaml
  .maestro/subflows/assertHome.yaml
  .maestro/subflows/repay.yaml
  .maestro/subflows/rollover.yaml
  .maestro/subflows/scrollTo.yaml
  src/components/benefits/BenefitSheet.tsx
  src/components/home/CardLimits.tsx
  src/components/home/CardStatus.tsx
  src/components/home/CreditLimitSheet.tsx
  src/components/home/Home.tsx
  src/components/home/InstallmentsSheet.tsx
  src/components/home/InstallmentsSpotlight.tsx
  src/components/home/PayModeSheet.tsx
  src/components/home/Portfolio.tsx
  src/components/home/SpendingLimitSheet.tsx
  src/components/home/SpendingLimitsSheet.tsx
  src/i18n/es.json
  src/utils/queryClient.ts
  src/utils/useInstallmentRates.ts
  src/utils/useInstallments.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add home card images
  src/assets/images/card-bg.svg
  src/assets/images/exa.svg
Owners: @dieguezguille, @franm91

💄 app: adjust scroll view gaps
  .changeset/giant-parrots-enter.md
  src/components/card/Card.tsx
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restructure sheets layout
  .changeset/frank-schools-clap.md
  src/components/defi/ConnectionSheet.tsx
  src/components/defi/IntroSheet.tsx
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restyle portfolio summary
  .changeset/spicy-doodles-give.md
  .maestro/subflows/borrow.yaml
  .maestro/subflows/copyAria.yaml
  .maestro/subflows/dismissNotifications.yaml
  .maestro/subflows/readPortfolio.yaml
  src/components/add-funds/AddFundsOption.tsx
  src/components/home/Home.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/shared/Amount.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🌐 app: unify apr translation key to rate
  src/components/home/InstallmentsSheet.tsx
  src/components/pay-mode/PaySelector.tsx
  src/i18n/es.json
Owners: @dieguezguille, @franm91

💄 app: restyle action buttons
  .changeset/easy-snails-brake.md
  src/components/home/HomeActions.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♿ app: compose limits as text for accessibility
  src/components/home/CardStatus.tsx
Owners: @dieguezguille, @franm91

⬆️ dependencies: upgrade vulnerable h3
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ app: add installments calculator
  .changeset/purple-lizards-run.md
  .maestro/subflows/activateCard.yaml
  src/app/(main)/calculator.tsx
  src/components/home/Home.tsx
  src/components/home/InstallmentsSheet.tsx
  src/components/pay-mode/Calculator.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: unify card mode mutation
  .changeset/jolly-radios-poke.md
  src/components/home/Home.tsx
  src/components/pay-mode/PaySelector.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: update tab bar ui
  .changeset/cold-poems-end.md
  src/app/(main)/(home)/_layout.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restyle overdue and upcoming payments
  .changeset/shiny-badgers-sleep.md
  .maestro/subflows/repay.yaml
  .maestro/subflows/rollover.yaml
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: prevent stale nested modal in payment sheet
  .changeset/nine-pugs-change.md
  src/components/pay/PaymentSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: simplify installment selection
  .changeset/tall-clubs-accept.md
  src/components/home/Home.tsx
  src/components/home/InstallmentsSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement new pay screen
  .changeset/green-weeks-care.md
  .maestro/flows/local.yaml
  .maestro/subflows/assertPayments.yaml
  .maestro/subflows/repay.yaml
  .maestro/subflows/rollover.yaml
  src/app/(main)/(home)/pay-mode.tsx
  src/app/(main)/calculator.tsx
  src/app/(main)/pay/index.tsx
  src/components/home/Home.tsx
  src/components/loans/Loans.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/pay-mode/PaymentsActions.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/pay/AssetSelectionSheet.tsx
  src/components/pay/Calculator.tsx
  src/components/pay/Empty.tsx
  src/components/pay/ManualRepaymentSheet.tsx
  src/components/pay/OverduePayments.tsx
  src/components/pay/Pay.tsx
  src/components/pay/PaymentSheet.tsx
  src/components/pay/Repay.tsx
  src/components/pay/RepayAmountSelector.tsx
  src/components/pay/RolloverIntroSheet.tsx
  src/components/pay/UpcomingPayments.tsx
  src/components/shared/InfoSheet.tsx
  src/i18n/en.json
  src/i18n/es.json
  src/utils/usePendingOperations.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: guard against division by zero
  .changeset/bright-donkeys-lay.md
  src/utils/useInstallmentRates.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🌐 app: update spanish translation for statements
  .changeset/stale-islands-carry.md
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: polish contact list layout
  .changeset/bright-pandas-polish.md
  src/components/send-funds/Contact.tsx
  src/components/send-funds/Receiver.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: widen limit info hit area to full row
  .changeset/cold-garlics-pull.md
  .maestro/subflows/activateCard.yaml
  src/components/home/CardStatus.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix text visibility in sheets
  .changeset/plain-laws-open.md
  src/components/defi/ConnectionSheet.tsx
  src/components/defi/IntroSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: update credit line component button
  .changeset/metal-rules-lose.md
  src/components/loans/CreditLine.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: display card details in home screen
  .changeset/sunny-wolves-warn.md
  src/components/home/CardStatus.tsx
  src/components/home/Home.tsx
  src/components/loans/Loans.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ e2e: load account before asserting address
  .maestro/subflows/assertHome.yaml
Owners: @cruzdanilo

🩹 app: sync display maturity while sheet is visible
  .changeset/social-radios-wear.md
  src/components/pay/PaymentSheet.tsx
  src/components/pay/RolloverIntroSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: skip zero amount positions in payment lists
  .changeset/hot-seas-crash.md
  src/components/pay/OverduePayments.tsx
  src/components/pay/UpcomingPayments.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♿️ app: label payment info buttons and extend e2e coverage
  .changeset/forty-horses-win.md
  .maestro/subflows/activateCard.yaml
  .maestro/subflows/assertPayments.yaml
  src/components/pay/Pay.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🌐 server: add spanish translations for notifications
  .changeset/tough-houses-wave.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/api/card.ts
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/manteca.ts
  server/hooks/panda.ts
  server/i18n/en.json
  server/i18n/es.json
  server/i18n/index.ts
  server/package.json
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/manteca.test.ts
  server/test/hooks/panda.test.ts
  server/test/i18n.test.ts
  server/tsconfig.json
Owners: @cruzdanilo, @nfmelendez

✨ server: add card limit case update
  .changeset/clear-cobras-sip.md
  server/api/kyc.ts
  server/hooks/persona.ts
  server/test/api/kyc.test.ts
  server/test/hooks/persona.test.ts
  server/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez

🔧 cspell: match spanish i18n files in any directory
  cspell.json
Owners: @cruzdanilo

✨ app: add card limit kyc flow
  server/api/kyc.ts
  src/components/card/SpendingLimits.tsx
  src/utils/persona.ts
  src/utils/server.ts
Owners: @nfmelendez, @dieguezguille, @franm91
