Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

♻️ app: refactor use installments hook
  .changeset/hungry-buses-bathe.md
  src/utils/useInstallments.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: prefer market constant
  .changeset/brown-seals-grow.md
  src/components/roll-debt/RollDebt.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: drop unused progress components
  .changeset/all-lies-lay.md
  src/components/pay-mode/Failure.tsx
  src/components/pay-mode/Pending.tsx
  src/components/pay-mode/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix value change function on asset selector
  .changeset/loose-keys-happen.md
  src/components/shared/AssetSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: improve pending proposals back action
  .changeset/two-roses-love.md
  src/components/activity/PendingProposals.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: fix installment button check color
  .changeset/petite-symbols-pump.md
  src/components/pay-mode/PaySelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: change threshold for displaying discount
  .changeset/dirty-tables-like.md
  src/components/pay-mode/UpcomingPayments.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add loans svg
  .changeset/fluffy-eyes-heal.md
  src/assets/images/loans.svg
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add loans banner svg
  .changeset/eighty-bars-sin.md
  src/assets/images/loans-banner.svg
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: improve danger button variant
  .changeset/brave-cycles-happen.md
  src/components/shared/Button.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement loans
  .changeset/ripe-cities-count.md
  src/app/(app)/(home)/_layout.tsx
  src/app/(app)/(home)/loans.tsx
  src/app/(app)/(home)/more.tsx
  src/app/(app)/loan/_layout.tsx
  src/app/(app)/loan/amount.tsx
  src/app/(app)/loan/index.tsx
  src/app/(app)/loan/installments.tsx
  src/app/(app)/loan/maturity.tsx
  src/app/(app)/loan/receiver.tsx
  src/app/(app)/loan/review.tsx
  src/components/loans/Amount.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/GetALoan.tsx
  src/components/loans/Installments.tsx
  src/components/loans/LoanActivity.tsx
  src/components/loans/Loans.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/more/More.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/TabBar.tsx
  src/components/shared/TransactionDetails.tsx
  src/i18n/en.json
  src/utils/queryClient.ts
  src/utils/useAsset.ts
  src/utils/useInstallments.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: remove modal presentation on loan flow
  .changeset/tough-ducks-draw.md
  src/app/(app)/loan/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix loans button color
  .changeset/tall-bees-dream.md
  src/components/loans/CreditLine.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix logout function
  .changeset/poor-swans-add.md
  src/components/settings/Settings.tsx
  src/utils/useIntercom.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add upcoming payments to loans screen
  .changeset/green-bananas-cover.md
  src/components/loans/Loans.tsx
  src/components/pay-mode/UpcomingPayments.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement new home design
  .changeset/six-bananas-run.md
  src/components/home/CardLimits.tsx
  src/components/home/CardStatus.tsx
  src/components/home/ExploreLoans.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/more/More.tsx
  src/i18n/en.json
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: prefer color scheme hook
  .changeset/smart-poems-hammer.md
  src/components/card/CardDetails.tsx
  src/components/card/CardPIN.tsx
  src/components/context/ThemeProvider.tsx
  src/components/home/AssetList.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/InstallmentSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor skeleton theme
  .changeset/fine-eyes-create.md
  src/components/card/CardDetails.tsx
  src/components/card/CardPIN.tsx
  src/components/home/AssetList.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/Skeleton.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⚗️ app: add lifi api key
  src/app/_layout.tsx
Owners: @dieguezguille, @franm91

✨ app: implement swaps
  .changeset/nasty-dots-say.md
  src/app/(app)/swaps/index.tsx
  src/components/home/HomeActions.tsx
  src/components/swaps/Failure.tsx
  src/components/swaps/Pending.tsx
  src/components/swaps/SelectorModal.tsx
  src/components/swaps/Success.tsx
  src/components/swaps/SwapDetails.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/lifi.ts
  src/utils/useAccountAssets.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 server: recover from missing sent transaction
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @nfmelendez

🚧 server: fault tolerance
  server/utils/keeper.ts
Owners: @nfmelendez

💩 app: bump dev version
  package.json
Owners: @cruzdanilo

✨ server: include loans in activity endpoint
  .changeset/pretty-chairs-jog.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🤡 contracts: emit lifi event on mock swap
  contracts/test/mocks/MockSwapper.sol
Owners: @itofarina

🎨 app: format status indicator code
  .changeset/eight-worlds-warn.md
  src/components/shared/StatusIndicator.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: extract exa card disclaimer
  .changeset/eleven-cameras-search.md
  src/components/card/Card.tsx
  src/components/card/CardDisclaimer.tsx
  src/components/home/card-upgrade/ActivateCard.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/shared/ExaCardDisclaimer.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: create details wrapper
  .changeset/legal-fans-stop.md
  src/components/shared/DetailsWrapper.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: prefer details wrapper on activity details
  .changeset/spotty-foxes-jump.md
  src/components/activity/details/ActivityDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix progress screens scroll on web
  .changeset/shaky-ducks-jump.md
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor loan review screen
  .changeset/cruel-pugs-wink.md
  src/components/loans/Review.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: update send funds ui
  .changeset/open-sheep-brush.md
  src/components/send-funds/Address.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Failure.tsx
  src/components/send-funds/Pending.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/send-funds/Success.tsx
  src/components/shared/TransactionDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 swap activity
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/api/aux.swapperAbi.ts
  server/test/api/activity.test.ts
Owners: @itofarina, @nfmelendez

♻️ app: unify asset logo
  .changeset/beige-monkeys-rescue.md
  src/components/home/AssetList.tsx
  src/components/send-funds/Failure.tsx
  src/components/send-funds/Pending.tsx
  src/components/send-funds/Review.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/send-funds/Success.tsx
  src/components/send-funds/Values.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swap asset logo border radius
  .changeset/sweet-monkeys-double.md
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

📝 readme: add foundry requirement
  README.md
Owners: @cruzdanilo

🥅 server: recover from missing sent transaction
  .changeset/tidy-cities-laugh.md
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: report transaction sending error
  .changeset/mighty-plums-pump.md
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.4
  .changeset/mighty-plums-pump.md
  .changeset/tidy-cities-laugh.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🤡 contracts: emit lifi event on mock swap
  contracts/.gas-snapshot
  contracts/test/mocks/MockSwapper.sol
Owners: @itofarina
