Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🗃️ server: setup better-auth database tables
  .changeset/cool-snakes-reply.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: return card id
  .changeset/wicked-lies-invent.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: improve create organization example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

🐛 server: fix webhook retries
  .changeset/long-moons-brake.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix update card webhook schema
  .changeset/dry-peas-ring.md
  docs/src/content/docs/webhooks.md
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: assess transaction risk
  .changeset/wet-games-relate.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: consume iterator once
  .changeset/upset-eels-ask.md
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

⚡️ app: defer lifi sdk initialization
  .changeset/lazy-bridges-wait.md
  src/app/_layout.tsx
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⚡️ app: prefetch lifi data at startup
  src/app/_layout.tsx
  src/utils/lifi.ts
Owners: @dieguezguille, @franm91

✨ app: add lifi query options
  src/utils/lifi.ts
  src/utils/queryClient.ts
Owners: @dieguezguille, @franm91

✨ server: add queue on user creation
  .changeset/short-cars-return.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/hooks/activity.ts
  server/index.ts
  server/queues/alchemyQueue.ts
  server/queues/constants.ts
  server/test/mocks/redis.ts
  server/test/mocks/sentry.ts
  server/test/queues/alchemyQueue.test.ts
  server/test/utils/createCredential.test.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ eas: dump config.ini before/after sed for gpu diagnosis
  .eas/workflows/local.yaml
Owners: @cruzdanilo

⚗️ eas: switch to angle_indirect renderer
  .agent/memory/android-emulator-crash-phase2.md
  .eas/workflows/local.yaml
Owners: @cruzdanilo

⚗️ eas: google_atd image, revert to swiftshader_indirect
  .agent/memory/android-emulator-crash-phase2.md
  .eas/workflows/local.yaml
Owners: @cruzdanilo

⚗️ eas: diagnose atd availability, disprove svg hypothesis
  .agent/memory/android-emulator-crash-phase2.md
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🐛 eas: fix stuck job after maestro completes
  .agent/memory/android-emulator-crash-phase2.md
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🧑‍💻 agents: emulator crash FIXED with google_atd image
  .agent/memory/android-emulator-crash-phase2.md
Owners: @cruzdanilo

⏪ eas: re-enable gpu for screencap
  .eas/workflows/local.yaml
Owners: @cruzdanilo

⚗️ eas: switch to google_apis with vulkan disabled for screenshots
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🩹 app: make paymaster service optional
  .changeset/curly-maps-cheat.md
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: migrate components to portfolio hook
  src/components/home/AssetList.tsx
  src/components/pay-mode/Pay.tsx
  src/components/shared/AssetSelector.tsx
  src/components/swaps/SelectorModal.tsx
  src/components/swaps/Swaps.tsx
Owners: @dieguezguille, @franm91

♻️ app: use dynamic asset logos
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AssetSelectSheet.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/WeightedRate.tsx
  src/components/swaps/Failure.tsx
  src/components/swaps/Pending.tsx
  src/components/swaps/SelectorModal.tsx
  src/components/swaps/Success.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/assetLogos.ts
Owners: @dieguezguille, @franm91

🔥 app: remove unused account assets hook
  src/utils/useAccountAssets.ts
Owners: @dieguezguille, @franm91

⚡️ app: optimize use asset hook
  .changeset/spotty-lions-dance.md
  src/utils/useAsset.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: allow eth transfers
  .changeset/quick-berries-train.md
  src/components/send-funds/Amount.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: remove unused token logo component
  src/components/add-funds/TokenLogo.tsx
Owners: @dieguezguille, @franm91

♻️ app: use dynamic chain logo component
  src/assets/images/optimism.svg
  src/components/activity/details/TransactionDetails.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/Bridge.tsx
  src/components/shared/AddressDialog.tsx
  src/components/shared/ChainLogo.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/TransactionDetails.tsx
  src/components/swaps/TokenInput.tsx
Owners: @dieguezguille, @franm91

✨ app: extend portfolio hook
  src/components/home/Home.tsx
  src/components/home/Portfolio.tsx
  src/components/home/PortfolioSummary.tsx
  src/utils/usePortfolio.ts
Owners: @dieguezguille, @franm91

⚗️ eas: google_atd with gpu enabled for screenshots
  .eas/workflows/local.yaml
Owners: @cruzdanilo

⚗️ eas: try -gpu swiftshader instead of swiftshader_indirect
  .eas/workflows/local.yaml
Owners: @cruzdanilo

✨ server: add pax for platinum to signature card upgrades
  .changeset/wise-comics-know.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/mocks/pax.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ eas: use Xvfb virtual display for proper framebuffer screenshots
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🐛 eas: install xvfb before using it
  .eas/workflows/local.yaml
Owners: @cruzdanilo

✨ server: poke account after kyc
  .changeset/silly-yaks-divide.md
  server/hooks/activity.ts
  server/hooks/persona.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
  server/utils/persona.ts
  src/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🐛 eas: pass DISPLAY to emulator via env prefix, add sleep for xvfb
  .eas/workflows/local.yaml
Owners: @cruzdanilo

⚗️ eas: use xvfb-run instead of manual Xvfb for socket handling
  .eas/workflows/local.yaml
Owners: @cruzdanilo

⚗️ app: fix web viewport width
  src/app/+html.tsx
Owners: @dieguezguille, @franm91

🐛 server: use view in statement
  server/utils/Statement.tsx
Owners: @nfmelendez

✨ server: poke account after kyc
  .changeset/silly-yaks-divide.md
  server/hooks/activity.ts
  server/hooks/persona.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
  server/utils/persona.ts
  src/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🐛 eas: use nohup to properly background xvfb-run + emulator
  .eas/workflows/local.yaml
Owners: @cruzdanilo

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
