Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🧱 infra: introduce shared worker primitives
  cspell.json
  infra/index.ts
  infra/utils/rejectSecrets.ts
  infra/utils/resources.ts
Owners: @cruzdanilo

🧱 infra: setup meta infra for github automation
  .changeset/tender-geese-own.md
  .changeset/twenty-gifts-relax.md
  infra/Pulumi.meta.yaml
  infra/meta.ts
  infra/package.json
Owners: @cruzdanilo

✨ server: automate panda refund withdrawal
  .changeset/olive-sheep-sink.md
  .changeset/short-radios-stand.md
  infra/utils/resources.ts
  server/hooks/panda.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/panda.test.ts
  server/test/workers/refund.test.ts
  server/workers/refund/bin.ts
  server/workers/refund/job.ts
  server/workers/refund/queue.ts
  server/workers/refund/worker.ts
Owners: @cruzdanilo, @nfmelendez

👷 github: provision infra on server deploys
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

🚀 infra: deploy base-sepolia stack
  infra/Pulumi.base-sepolia.yaml
Owners: @cruzdanilo

✨ server: migrate webhook subscription to queue
  .changeset/large-candies-brake.md
  .changeset/plain-pumas-relax.md
  infra/Pulumi.base-sepolia.yaml
  infra/utils/resources.ts
  server/hooks/activity.ts
  server/hooks/block.ts
  server/index.ts
  server/test/api/auth.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/mocks/alchemy.ts
  server/test/utils/alchemy.test.ts
  server/test/utils/createCredential.test.ts
  server/test/utils/secret.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/subscribe.test.ts
  server/test/workers/worker.test.ts
  server/utils/activityWebhook.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
  server/workers/subscribe/bin.ts
  server/workers/subscribe/job.ts
  server/workers/subscribe/queue.ts
  server/workers/subscribe/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: process auto-credit in worker
  .changeset/afraid-mangos-follow.md
  .changeset/tender-foxes-feel.md
  infra/utils/resources.ts
  server/api/card.ts
  server/hooks/activity.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/credit.test.ts
  server/utils/onesignal.ts
  server/utils/panda.ts
  server/workers/credit/bin.ts
  server/workers/credit/job.ts
  server/workers/credit/queue.ts
  server/workers/credit/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: process poke in worker
  .changeset/bumpy-regions-read.md
  .changeset/proud-tools-sneeze.md
  infra/utils/resources.ts
  server/hooks/activity.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/poke.test.ts
  server/workers/poke/bin.ts
  server/workers/poke/job.ts
  server/workers/poke/queue.ts
  server/workers/poke/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: automate firewall allow after kyc approval
  .changeset/blue-bottles-wave.md
  .changeset/free-lamps-pump.md
  infra/utils/resources.ts
  server/hooks/persona.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/persona.test.ts
  server/test/workers/allow.test.ts
  server/test/workers/bin.test.ts
  server/workers/allow/bin.ts
  server/workers/allow/job.ts
  server/workers/allow/queue.ts
  server/workers/allow/worker.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ github: build base-sepolia from infra branch
  .github/workflows/server-base-sepolia.yaml
Owners: @cruzdanilo

🚧 infra: preflight checks
  .github/workflows/server-deploy.yaml
  server/supervise.ts
  server/test/supervise.test.ts
  server/test/workers/worker.test.ts
  server/workers/worker.ts
Owners: @cruzdanilo, @nfmelendez

🚧 server: refactors
  server/hooks/activity.ts
  server/hooks/bin/activity.ts
  server/index.ts
  server/package.json
  server/test/hooks/activity.test.ts
  server/test/hooks/bin.test.ts
  server/test/hooks/hook.test.ts
  server/test/mocks/alchemy.ts
  server/test/workers/allow.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/poke.test.ts
  server/workers/allow/worker.ts
  server/workers/poke/queue.ts
Owners: @nfmelendez

🚧 dan
  CONTEXT.md
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/script/Allower.s.sol
  contracts/script/Mint.s.sol
  docs/adr/0001-publish-stack-images-publicly.md
  docs/adr/0002-self-host-pulumi-state-in-google-cloud-storage.md
  docs/adr/0003-drive-pulumi-updates-from-git-promotion-signals.md
  docs/adr/0004-use-github-api-commits-for-changesets-releases.md
  research/base-app-notifications.md
  research/cloud-run-auto-rollback.md
  research/gcp-crema-bullmq.md
  research/gcp-hybrid-privilege-topology.md
  research/gcp-worker-costs.md
  research/non-gcp-worker-costs.md
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/api/ramp.test.ts
  server/test/hooks/bridge.test.ts
  server/test/hooks/persona.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🚧 server: hooks refactor
  server/hooks/activity.ts
  server/hooks/bin/block.ts
  server/hooks/bin/bridge.ts
  server/hooks/bin/manteca.ts
  server/hooks/bin/panda.ts
  server/hooks/bin/persona.ts
  server/hooks/block.ts
  server/hooks/bridge.ts
  server/hooks/manteca.ts
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/index.ts
  server/test/hooks/bin.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/bridge.test.ts
  server/test/hooks/hook.test.ts
  server/test/hooks/manteca.test.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/bridge.ts
  server/test/mocks/manteca.ts
  server/test/mocks/panda.ts
  server/test/mocks/pax.ts
  server/test/mocks/persona.ts
  server/test/mocks/sardine.ts
  server/test/mocks/segment.ts
  server/test/workers/allow.test.ts
  server/test/workers/refund.test.ts
  server/utils/panda.ts
  server/utils/pax.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/utils/sardine.ts
  server/utils/segment.ts
  server/workers/allow/queue.ts
  server/workers/refund/queue.ts
Owners: @nfmelendez

🚧 infra: refactors
  infra/index.ts
  infra/meta.ts
  infra/utils/modules.ts
  infra/utils/resources.ts
Owners: @cruzdanilo

🚧 wallet refactor
  infra/meta.ts
  infra/utils/modules.ts
  server/hooks/bin/block.ts
  server/hooks/bin/panda.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/index.ts
  server/supervise.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/bin.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/wallet.ts
  server/test/supervise.test.ts
  server/test/utils/wallet.test.ts
  server/test/utils/walletAccount.test.ts
  server/test/workers/allow.test.ts
  server/test/workers/poke.test.ts
  server/test/workers/refund.test.ts
  server/utils/wallet.ts
  server/workers/allow/worker.ts
  server/workers/poke/worker.ts
  server/workers/refund/worker.ts
Owners: @cruzdanilo, @nfmelendez

🚧 server: queues refactor
  server/hooks/activity.ts
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/test/api/auth.test.ts
  server/test/api/card.test.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
  server/test/utils/createCredential.test.ts
  server/test/workers/allow.test.ts
  server/test/workers/credit.test.ts
  server/test/workers/poke.test.ts
  server/test/workers/refund.test.ts
  server/workers/allow/queue.ts
  server/workers/allow/worker.ts
  server/workers/credit/queue.ts
  server/workers/poke/queue.ts
  server/workers/poke/worker.ts
  server/workers/refund/queue.ts
  server/workers/subscribe/queue.ts
Owners: @nfmelendez

⬆️ dependencies: upgrade vulnerable dompurify
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ app: support offramp transfer reference
  .changeset/common-weeks-laugh.md
  src/components/send-funds/MissingTransferSheet.tsx
  src/components/send-funds/NewRecipient.tsx
  src/components/send-funds/Review.tsx
  src/components/send-funds/SendAmount.tsx
  src/components/send-funds/TransferTypeSheet.tsx
  src/components/send-funds/recipientForm.tsx
  src/components/shared/ModalSheet.tsx
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/currencies.ts
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 dependencies: ignore image-size and nanoid vulnerabilities
  pnpm-workspace.yaml
Owners: @cruzdanilo

✨ common: export app stack identifier
  .changeset/spicy-ideas-mix.md
  common/stack.js
Owners: @cruzdanilo

📈 server: use stack for sentry instrumentation
  .changeset/ten-planets-prove.md
  server/instrument.cjs
Owners: @cruzdanilo, @nfmelendez

🧱 server: use node entrypoint as docker argument
  server/Dockerfile
Owners: @nfmelendez

➕ server: add google cloud secret manager
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement google secret manager
  .changeset/bumpy-toes-jump.md
  server/test/utils/secret.test.ts
  server/utils/secret.ts
Owners: @cruzdanilo, @nfmelendez

🚚 server: rename keeper module to wallet
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/wallet.ts
Owners: @nfmelendez

➕ server: add google cloud kms dependencies
  cspell.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: create wallet client by account name
  server/hooks/activity.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/api/card.test.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/wallet.ts
  server/test/utils/wallet.test.ts
  server/utils/wallet.ts
Owners: @nfmelendez

✨ server: introduce shared worker primitives
  cspell.json
  server/index.ts
  server/package.json
  server/supervise.ts
  server/test/e2e.ts
  server/test/mocks/sentry.ts
  server/test/supervise.test.ts
  server/test/utils/maturity.test.ts
  server/tsconfig.json
  server/utils/maturity.ts
  server/utils/redis.ts
  server/workers/queue.ts
  server/workers/worker.ts
Owners: @cruzdanilo, @nfmelendez

👷 github: restrict build credential exposure
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-base.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-production.yaml
  .github/workflows/server-sandbox.yaml
Owners: @cruzdanilo

👷 github: drop manual dispatch triggers
  .github/workflows/substreams-build.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

👷 github: replace release pat with github app token
  .changeset/version.sh
  .github/workflows/version.yaml
Owners: @cruzdanilo

🎉 infra: create pulumi project
  AGENTS.md
  cspell.json
  infra/Pulumi.yaml
  infra/eslint.config.mjs
  infra/package.json
  infra/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

🧱 infra: introduce shared worker primitives
  cspell.json
  infra/index.ts
  infra/utils/rejectSecrets.ts
  infra/utils/resources.ts
Owners: @cruzdanilo

🧱 infra: setup meta infra for github automation
  .changeset/tender-geese-own.md
  .changeset/twenty-gifts-relax.md
  infra/Pulumi.meta.yaml
  infra/meta.ts
  infra/package.json
Owners: @cruzdanilo

✨ server: automate panda refund withdrawal
  .changeset/olive-sheep-sink.md
  .changeset/short-radios-stand.md
  infra/utils/resources.ts
  server/hooks/panda.ts
  server/index.ts
  server/test/e2e.ts
  server/test/hooks/panda.test.ts
  server/test/workers/refund.test.ts
  server/workers/refund/bin.ts
  server/workers/refund/job.ts
  server/workers/refund/queue.ts
  server/workers/refund/worker.ts
Owners: @cruzdanilo, @nfmelendez

👷 github: provision infra on server deploys
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

🚀 infra: deploy base-sepolia stack
  infra/Pulumi.base-sepolia.yaml
Owners: @cruzdanilo

✨ server: migrate webhook subscription to queue
  .changeset/large-candies-brake.md
  .changeset/plain-pumas-relax.md
  infra/Pulumi.base-sepolia.yaml
  infra/utils/resources.ts
  server/hooks/activity.ts
  server/hooks/block.ts
  server/index.ts
  server/test/api/auth.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/mocks/alchemy.ts
  server/test/utils/alchemy.test.ts
  server/test/utils/createCredential.test.ts
  server/test/utils/secret.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/subscribe.test.ts
  server/test/workers/worker.test.ts
  server/utils/activityWebhook.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
  server/workers/subscribe/bin.ts
  server/workers/subscribe/job.ts
  server/workers/subscribe/queue.ts
  server/workers/subscribe/worker.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: process auto-credit in worker
  .changeset/afraid-mangos-follow.md
  .changeset/tender-foxes-feel.md
  infra/utils/resources.ts
  server/api/card.ts
  server/hooks/activity.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/workers/bin.test.ts
  server/test/workers/credit.test.ts
  server/utils/onesignal.ts
  server/utils/panda.ts
  server/workers/credit/bin.ts
  server/workers/credit/job.ts
  server/workers/credit/queue.ts
  server/workers/credit/worker.ts
Owners: @cruzdanilo, @nfmelendez
