Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🔥 app: remove redundant props from layouts
  .changeset/loud-eels-bake.md
  src/app/(app)/_layout.tsx
  src/app/(app)/activity-details/_layout.tsx
  src/app/(app)/add-funds/_layout.tsx
  src/app/(app)/getting-started/_layout.tsx
  src/app/(app)/loan/_layout.tsx
  src/app/(app)/pay/_layout.tsx
  src/app/(app)/roll-debt/_layout.tsx
  src/app/(app)/send-funds/_layout.tsx
  src/app/_layout.tsx
  src/app/onboarding/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⚗️ app: add eruda for frame debugging
  src/app/+html.tsx
Owners: @dieguezguille, @franm91

⚗️ app: add mini app manifest
  public/.well-known/farcaster.json
Owners: @cruzdanilo

🚧 app: handle multiple connectors
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🚧 app: improve web media queries
  src/app/+html.tsx
Owners: @dieguezguille, @franm91

🚧 app: fix web sheets not rendering correctly
  src/components/shared/ConnectSheet.tsx
Owners: @dieguezguille, @franm91

🚧 app: abstract sheet component
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/card/CardDetails.tsx
  src/components/card/CardDisclaimer.tsx
  src/components/card/CardPIN.tsx
  src/components/card/SpendingLimits.tsx
  src/components/card/VerificationFailure.tsx
  src/components/defi/AboutDefiSheet.tsx
  src/components/defi/ConnectionSheet.tsx
  src/components/defi/DisconnectSheet.tsx
  src/components/defi/IntroSheet.tsx
  src/components/home/SpendingLimitsSheet.tsx
  src/components/home/card-upgrade/CardUpgradeSheet.tsx
  src/components/pay-mode/AssetSelectionSheet.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/ConnectSheet.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/ModalSheet.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/swaps/SelectorModal.tsx
Owners: @dieguezguille, @franm91

🚧 app: remove redundant conversions
  src/components/defi/DeFi.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/Failure.tsx
  src/components/shared/GradientScrollView.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @dieguezguille, @franm91

🚧 app: replace navigator
  src/app/(app)/(home)/_layout.tsx
  src/app/(app)/_layout.tsx
  src/app/_layout.tsx
  src/app/onboarding/_layout.tsx
  src/components/activity/PendingProposals.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AddFiat.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/HomeActions.tsx
  src/components/home/Portfolio.tsx
  src/components/onboarding/Carousel.tsx
  src/components/send-funds/Address.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Qr.tsx
  src/components/settings/Settings.tsx
  src/components/shared/ProfileHeader.tsx
Owners: @dieguezguille, @franm91

🔨 server: add integration example
  server/script/example.ts
Owners: @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: implement sign-in with ethereum
  .changeset/thin-breads-look.md
  src/components/onboarding/Passkeys.tsx
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ server: fix bad transaction test
  server/test/api/activity.test.ts
Owners: @nfmelendez

📝 docs: document server webhooks
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🚧 app: detect injected provider
  src/components/shared/ConnectSheet.tsx
Owners: @dieguezguille, @franm91

✨ app: add auth ui to onboarding
  .changeset/vast-actors-guess.md
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: handle selected auth method
  .changeset/tiny-toys-heal.md
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
  src/components/shared/ConnectSheet.tsx
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/queryClient.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: unify error handling for auth
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
Owners: @dieguezguille, @franm91

🚧 app: extract auth to a hook
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
  src/utils/useAuthentication.ts
Owners: @dieguezguille, @franm91

🚚 app: rename passkey to credential
  .changeset/fancy-grapes-double.md
  common/validation.ts
  server/api/auth/authentication.ts
  server/api/passkey.ts
  src/app/(app)/_layout.tsx
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/card-upgrade/VerifyIdentity.tsx
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
  src/utils/accountClient.ts
  src/utils/alchemyConnector.ts
  src/utils/injectedConnector.ts
  src/utils/persona.ts
  src/utils/queryClient.ts
  src/utils/server.ts
  src/utils/useIntercom.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🚧 docs: support mermaid diagrams
  docs/astro.config.ts
  docs/package.json
  docs/src/content/docs/webhooks.md
  pnpm-lock.yaml
Owners: @cruzdanilo

🔥 app: remove redundant props from layouts
  .changeset/loud-eels-bake.md
  src/app/(app)/_layout.tsx
  src/app/(app)/activity-details/_layout.tsx
  src/app/(app)/add-funds/_layout.tsx
  src/app/(app)/getting-started/_layout.tsx
  src/app/(app)/loan/_layout.tsx
  src/app/(app)/pay/_layout.tsx
  src/app/(app)/roll-debt/_layout.tsx
  src/app/(app)/send-funds/_layout.tsx
  src/app/_layout.tsx
  src/app/onboarding/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⚗️ app: add eruda for frame debugging
  src/app/+html.tsx
Owners: @dieguezguille, @franm91

⚗️ app: add mini app manifest
  public/.well-known/farcaster.json
Owners: @cruzdanilo

🐛 app: open persona kyc in a new tab
  .changeset/clean-parrots-walk.md
  src/utils/persona.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: remove manual connection
  .changeset/neat-times-listen.md
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 server: verify siwe message onchain
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @nfmelendez

💄 app: display checksummed shortened address
  .changeset/puny-candles-change.md
  cspell.json
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⬆️ docs: upgrade vulnerable astro
  docs/package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

📸 contracts: update snapshot with latest foundry
  contracts/.gas-snapshot
Owners: @itofarina

✅ contracts: remove duplicated import
  contracts/test/ExaPlugin.t.sol
Owners: @itofarina

⬆️ contracts: upgrade solady and forge-std
  contracts/.gas-snapshot
  contracts/package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

🐛 contracts: consume weth withdraw proposal
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/src/ProposalManager.sol
  contracts/test/ExaPlugin.t.sol
Owners: @itofarina

✅ contracts: add deposit and withdraw at maturity tests
  contracts/src/IExaAccount.sol
  contracts/test/ExaPlugin.t.sol
Owners: @itofarina

⬆️ contracts: upgrade webauthn-owner-plugin
  contracts/package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

⬆️ dependencies: upgrade exactly protocol
  contracts/.gas-snapshot
  contracts/package.json
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

🔧 contracts: setup base for foundry
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/foundry.toml
  contracts/test/Fork.t.sol
Owners: @itofarina

🔨 contracts: allow optional protocol deployments
  contracts/.gas-snapshot
  contracts/test/Fork.t.sol
Owners: @itofarina

🔨 contracts: handle missing protocol deployments
  contracts/script/ProposalManager.s.sol
Owners: @itofarina

🚀 contracts: deploy all contracts to base-sepolia
  contracts/.gas-snapshot
  contracts/broadcast/ExaPlugin.s.sol/84532/run-latest.json
  contracts/broadcast/ExaPreviewer.s.sol/84532/run-latest.json
  contracts/broadcast/IssuerChecker.s.sol/84532/run-latest.json
  contracts/broadcast/Mocks.s.sol/84532/run-latest.json
  contracts/broadcast/ProposalManager.s.sol/84532/run-latest.json
  contracts/broadcast/Refunder.s.sol/84532/run-latest.json
  contracts/deploy.json
Owners: @itofarina
