Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✨ server: add kyc role to organizations
  .changeset/upset-seas-sink.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

🛂 server: add auth trusted origins
  server/utils/auth.ts
Owners: @nfmelendez

🐛 server: fix webhook retries
  .changeset/long-moons-brake.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ wagmi: use exa factory v1.0 on base sepolia
  common/wagmi.config.ts
Owners: @cruzdanilo

🦺 server: standardize card status
  .changeset/fresh-kings-buy.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: add create card docs
  .changeset/soft-eggs-count.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: improve weak pin error handling
  .changeset/wild-points-lose.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove redundant type check
  server/hooks/panda.ts
Owners: @nfmelendez

🐛 server: fix panda sandbox url check
  server/utils/panda.ts
Owners: @nfmelendez

✨ server: add sardine
  .changeset/forty-ads-lie.md
  .do/app.yaml
  server/script/openapi.ts
  server/test/hooks/persona.test.ts
  server/utils/sardine.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: assess transaction risk
  .changeset/wet-games-relate.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: add benefits section
  .changeset/chubby-comics-mix.md
  package.json
  pnpm-lock.yaml
  src/assets/images/airalo.svg
  src/assets/images/pax.svg
  src/assets/images/visa.svg
  src/components/benefits/BenefitCard.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/home/Home.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 server: use gcp kms for allower
  .do/app.yaml
  pnpm-lock.yaml
  server/.gitignore
  server/hooks/persona.ts
  server/index.ts
  server/package.json
  server/utils/allower.ts
  server/utils/initGCP.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add queue on user creation
  .changeset/short-cars-return.md
  server/queues/alchemyQueue.ts
  server/queues/constants.ts
  server/script/openapi.ts
  server/test/queues/alchemyQueue.test.ts
  server/test/utils/createCredential.test.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: consume iterator once
  .changeset/upset-eels-ask.md
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix update card webhook schema
  .changeset/dry-peas-ring.md
  docs/src/content/docs/webhooks.md
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🔧
  pnpm-lock.yaml
  server/package.json
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/panda.test.ts
  server/test/utils/keeper.test.ts
  server/test/utils/persona.test.ts
  server/utils/sardine.ts
  src/components/benefits/BenefitSheet.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

✨ server: support pax's assistance
  .changeset/tame-times-warn.md
  server/api/index.ts
  server/api/kyc.ts
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/utils/pax.test.ts
  server/test/utils/persona.test.ts
  server/utils/pax.ts
  server/utils/ramps/bridge.ts
Owners: @cruzdanilo, @nfmelendez

✨️ server: add activity and push notification on card decline
  .changeset/honest-peas-stand.md
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

💚 server: force firehose short block number notation
  server/test/database.ts
Owners: @nfmelendez

⬆️ dependencies: upgrade nodejs
  .github/workflows/docs.yaml
  .github/workflows/mobile-beta.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  common/package.json
  eas.json
  package.json
  pnpm-lock.yaml
  server/Dockerfile
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 app: setup environment variables in fingerprint
  app.config.ts
  fingerprint.config.cjs
Owners: @cruzdanilo

🔧 app: allow http calls to localhost on android
  app.config.ts
Owners: @cruzdanilo

🔧 eas: setup beta build and submit profile
  eas.json
Owners: @cruzdanilo

🔧 eas: setup e2e build profile
  eas.json
Owners: @cruzdanilo

➕ app: install expo-image
  .ncurc.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

⚡️ app: implement asset logo caching
  .changeset/flat-books-mix.md
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/WeightedRate.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔨 e2e: setup root development target
  .maestro/esbuild.config.cjs
  .maestro/package.json
  package.json
Owners: @cruzdanilo

✅ e2e: setup production flow
  .maestro/flows/production.yaml
Owners: @cruzdanilo

👷 eas: setup e2e workflows
  .eas/workflows/local.yaml
  .eas/workflows/production.yaml
Owners: @cruzdanilo

⚡️ app: implement asset logo caching
  .changeset/flat-books-mix.md
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/WeightedRate.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ e2e: setup production flow
  .maestro/flows/production.yaml
Owners: @cruzdanilo

👷 eas: setup e2e workflows
  .eas/workflows/local.yaml
  .eas/workflows/production.yaml
Owners: @cruzdanilo

🔨 e2e: setup root development target
  .maestro/esbuild.config.cjs
  .maestro/package.json
  package.json
Owners: @cruzdanilo

🔧 dependencies: ignore elliptic vulnerability
  package.json
Owners: @cruzdanilo

⬆️ dependencies: upgrade nodejs
  .github/workflows/docs.yaml
  .github/workflows/mobile-beta.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  common/package.json
  eas.json
  package.json
  pnpm-lock.yaml
  server/Dockerfile
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 app: setup environment variables in fingerprint
  app.config.ts
  fingerprint.config.cjs
Owners: @cruzdanilo

🔧 app: allow http calls to localhost on android
  app.config.ts
Owners: @cruzdanilo

🔧 eas: setup beta build and submit profile
  eas.json
Owners: @cruzdanilo

🔧 eas: setup e2e build profile
  eas.json
Owners: @cruzdanilo
