Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

♻️ server: inline card status
  server/utils/panda.ts
Owners: @nfmelendez

🍱 app: add google wallet assets
  src/assets/images/google-wallet-button-es.svg
  src/assets/images/google-wallet-button-pt.svg
  src/assets/images/google-wallet-button.svg
Owners: @dieguezguille, @franm91

🐛 server: make card creation idempotent
  .changeset/swift-pandas-reconcile.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/test/e2e.ts
  server/test/utils/panda.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🚧 upgrades
  .eas/workflows/local.yaml
  .eas/workflows/production.yaml
  .github/workflows/docs.yaml
  .github/workflows/mobile-expo.yaml
  .github/workflows/test.yaml
  .gitignore
  .maestro/package.json
  .ncurc.json
  common/package.json
  contracts/.gas-snapshot
  contracts/foundry.toml
  contracts/package.json
  cspell.json
  docs/package.json
  eas.json
  package.json
  patches/embedded-postgres.patch
  patches/react-native-svg-transformer.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/Dockerfile
  server/package.json
  substreams/Dockerfile
  substreams/package.json
Owners: @cruzdanilo, @itofarina, @nfmelendez

🚧
  common/eslint/base.mjs
  common/eslint/node.mjs
  common/eslint/react.mjs
  server/eslint.config.mjs
  server/hooks/panda.ts
  server/script/firehose.ts
  server/test/api/activity.test.ts
  server/test/api/auth.test.ts
  server/test/api/kyc.test.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
  server/utils/alchemy.ts
  server/utils/panda.ts
  server/utils/pax.ts
  src/components/activity/Activity.tsx
  src/components/add-funds/Bridge.tsx
  src/components/auth/Auth.tsx
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/home/InstallmentsSheet.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Receiver.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/AmountSelector.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
  src/utils/lifi.ts
  src/utils/panda.ts
  src/utils/persona.ts
  src/utils/server.ts
  src/utils/useAsset.ts
  src/utils/useMarkets.ts
  src/utils/usePendingOperations.ts
  src/utils/useTabPress.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

✨ app: send client platform header
  .changeset/clever-ravens-send.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: add wallet extension auth
  .changeset/brave-otters-serve.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/middleware/card-auth.ts
  server/script/openapi.ts
  server/test/api/auth.test.ts
  server/test/api/card-better-auth.test.ts
  server/test/api/card-wallet-extension.test.ts
  server/test/middleware/card-auth.test.ts
  server/test/mocks/auth.ts
  server/utils/walletExtension.ts
Owners: @cruzdanilo, @nfmelendez

🔨 contracts: extract hyperlane deploy script
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/script/HypEXA.s.sol
  contracts/script/Redeployer.s.sol
  contracts/test/HypEXA.t.sol
  cspell.json
Owners: @itofarina, @cruzdanilo

✨ server: add debt maturity reminders
  .changeset/dull-candies-cheer.md
  cspell.json
  server/hooks/activity.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/test/hooks/activity.test.ts
  server/test/utils/maturity.test.ts
  server/utils/maturity.ts
Owners: @cruzdanilo, @nfmelendez

🔨 contracts: make exa deployment idempotent
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
Owners: @itofarina

✅ server: test unknown card update
  server/test/api/card.test.ts
Owners: @nfmelendez

📝 server: add create card docs
  .changeset/soft-eggs-count.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

🔨 contracts: assert pausable owners in hyperlane module deploy
  contracts/.gas-snapshot
  contracts/script/HypEXA.s.sol
  cspell.json
Owners: @itofarina, @cruzdanilo

🔧 server: set card art for sandbox
  .changeset/hungry-impalas-sing.md
  server/test/utils/panda.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add maturity check and worker
  .changeset/dull-candies-cheer.md
  cspell.json
  server/i18n/es.json
  server/i18n/pt.json
  server/index.ts
  server/test/utils/maturity.test.ts
  server/utils/maturity.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: improve weak pin error handling
  .changeset/wild-points-lose.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable joi and shell-quote
  pnpm-lock.yaml
Owners: @cruzdanilo

📝 docs: add sandbox dedicated ips
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

📝 docs: improve create organization example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

📝 docs: add configuration resources
  .changeset/cute-buttons-roll.md
  docs/astro.config.ts
  docs/src/content/docs/resources.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🔧 wagmi: use exa factory v1.0 on base sepolia
  common/wagmi.config.ts
Owners: @cruzdanilo

🔧 wagmi: remove hardcoded exa factory for base sepolia
  common/wagmi.config.ts
Owners: @cruzdanilo

🔧 common: map base domains to panda certificates
  common/pandaCertificate.ts
Owners: @cruzdanilo

🥅 server: add expected to siwe statement error
  server/api/kyc.ts
Owners: @nfmelendez

🦺 server: make auth query param optional
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @nfmelendez

✨ server: support factory selection in credential creation
  .changeset/brave-foxes-beam.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/test/api/auth.test.ts
  server/utils/createCredential.ts
  server/utils/validFactories.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: set farcaster manifest signature for base
  server/index.ts
Owners: @nfmelendez

🐛 server: fix onesignal app resolution
  server/utils/onesignal.ts
Owners: @nfmelendez

📝 docs: add sandbox dedicated ips
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

👷 github: set base workflow trigger to base branch
  .github/workflows/server-base.yaml
Owners: @cruzdanilo

🐛 app: fix swaps query invalidation
  .changeset/cyan-flies-camp.md
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 app: add base app id meta tag
  src/app/+html.tsx
Owners: @dieguezguille, @franm91

➕ server: install gcp dependencies
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: poke account after kyc
  .changeset/silly-yaks-divide.md
  server/hooks/persona.ts
  server/i18n/es.json
  server/i18n/pt.json
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: use gcp kms for allower
  .changeset/lucky-jokes-change.md
  .do/app.yaml
  cspell.json
  server/hooks/activity.ts
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/anvil.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/keeper.ts
  server/test/utils/gcp.test.ts
  server/utils/gcp.ts
  server/utils/keeper.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🥅 server: retry trace on resource not found
  .changeset/bright-eagle-catch.md
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: retry poke calls on error
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
Owners: @nfmelendez

📝 docs: add webhook api migration guide
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

🚩 server: show declined transactions activity
  .changeset/small-bees-invite.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez
