Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🔖 release: server@0.2.19
  .changeset/shaky-showers-fold.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🛂 server: setup intercom frontend content security policy
  .changeset/wise-coats-send.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🛂 server: forbid frontend inline script attributes
  .changeset/yellow-poems-do.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: set farcaster sharing app name
  src/app/+html.tsx
Owners: @dieguezguille, @franm91

✅ contracts: add deposit and withdraw at maturity tests
  contracts/src/IExaAccount.sol
  contracts/test/ExaPlugin.t.sol
Owners: @itofarina

🐛 contracts: consume weth withdraw proposal
  .changeset/fuzzy-guests-share.md
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/src/ProposalManager.sol
  contracts/test/ExaPlugin.t.sol
Owners: @cruzdanilo, @itofarina

👔 contracts: avoid failing deposits
  .changeset/twelve-peas-mate.md
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/src/IExaAccount.sol
  contracts/test/ExaPlugin.t.sol
Owners: @cruzdanilo, @itofarina

🔥 contracts: remove unnecessary cast
  .changeset/slow-lines-tap.md
  contracts/src/ExaPlugin.sol
Owners: @cruzdanilo, @itofarina

♻️ contracts: extract exa plugin extension
  .changeset/true-lies-end.md
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/src/ExaPluginExtension.sol
  contracts/src/IExaAccount.sol
Owners: @cruzdanilo, @itofarina

🐛 contracts: allow borrows from any market
  .changeset/ripe-shoes-stay.md
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/test/ExaPlugin.t.sol
Owners: @cruzdanilo, @itofarina

🦺 contracts: prevent none type proposals
  .changeset/smart-actors-wink.md
  .changeset/ten-weeks-speak.md
  contracts/.gas-snapshot
  contracts/src/IExaAccount.sol
  contracts/src/ProposalManager.sol
  contracts/test/ExaPlugin.t.sol
Owners: @cruzdanilo, @itofarina

✨ contracts: allow cross repay to any market
  .changeset/ripe-apes-take.md
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/src/IExaAccount.sol
  contracts/test/ExaPlugin.t.sol
  contracts/test/mocks/Bob.s.sol
Owners: @cruzdanilo, @itofarina

✨ contracts: allow multiple proposals execution
  .changeset/fine-meals-change.md
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/src/IExaAccount.sol
  contracts/test/ExaPlugin.t.sol
Owners: @cruzdanilo, @itofarina

🔧 app: update farcaster sharing manifest
  src/app/+html.tsx
Owners: @dieguezguille, @franm91

🔧 server: update farcaster manifest images
  .changeset/silly-pets-stop.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.20
  .changeset/silly-pets-stop.md
  .changeset/wise-coats-send.md
  .changeset/yellow-poems-do.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🛂 server: allow frontend base frame ancestors
  .changeset/new-ways-play.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade hono packages
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.21
  .changeset/new-ways-play.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🛂 server: disable frontend content security policy
  .changeset/red-games-report.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.22
  .changeset/red-games-report.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: document card api
  .changeset/six-ideas-go.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: improve api documentation
  .changeset/cute-rules-write.md
  docs/src/content/docs/index.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add cancel card
  .changeset/few-moles-push.md
  server/api/card.ts
  server/utils/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: add react pdf renderer
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: enable react tsx
  server/tsconfig.json
Owners: @nfmelendez

✨ server: add card statement
  .changeset/stale-owls-work.md
  server/api/activity.ts
  server/utils/Statement.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🩹 server: return correct card status
  .changeset/gold-ties-tan.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: add sandbox dedicated ips
  .changeset/long-nails-doubt.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add auto credit mode
  .changeset/better-dogs-open.md
  server/api/card.ts
  server/hooks/activity.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add manteca onramp
  .changeset/loose-seas-agree.md
  .do/app.yaml
  cspell.json
  server/api/index.ts
  server/api/kyc.ts
  server/api/onramp.ts
  server/hooks/manteca.ts
  server/index.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/utils/persona.ts
  server/utils/ramps/manteca.ts
  server/utils/ramps/shared.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add bridge id
  .changeset/fluffy-boxes-wear.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

⚗️ app: debug injected account mismatch
  src/utils/injectedConnector.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

⚗️ app: allow multiple kyc attempts
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/card-upgrade/VerifyIdentity.tsx
  src/utils/server.ts
Owners: @nfmelendez, @dieguezguille, @franm91

🐛 contracts: consume weth withdraw proposal
  .changeset/fuzzy-guests-share.md
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/src/ProposalManager.sol
  contracts/test/ExaPlugin.t.sol
  contracts/test/mocks/BobExecute.s.sol
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

✅ contracts: add deposit and withdraw at maturity tests
  contracts/src/IExaAccount.sol
  contracts/test/ExaPlugin.t.sol
Owners: @itofarina

🐛 contracts: allow borrows from any market
  .changeset/ripe-shoes-stay.md
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/test/ExaPlugin.t.sol
Owners: @cruzdanilo, @itofarina

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
