Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🔥 server: remove redundant type check
  server/hooks/panda.ts
Owners: @nfmelendez

🥅 server: improve weak pin error handling
  .changeset/wild-points-lose.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: prefix svg ids
  .changeset/ten-boats-talk.md
Owners: @cruzdanilo

🚧 server: persona account refactor
  server/api/kyc.ts
  server/test/utils/persona.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
Owners: @nfmelendez

♿️ app: add accessibility label to some icon buttons
  .changeset/free-colts-attend.md
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Receiver.tsx
  src/components/settings/Settings.tsx
  src/components/shared/ProfileHeader.tsx
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎉 e2e: create maestro project
  .maestro/.gitignore
  .maestro/config.yaml
  .maestro/flows/local.yaml
  .maestro/package.json
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

🔧 eslint: setup maestro project
  .eslintrc.cjs
Owners: @cruzdanilo

🔨 e2e: setup build system
  .maestro/esbuild.config.cjs
  .maestro/maestro.d.ts
  .maestro/package.json
  .maestro/src/polyfill.ts
  .maestro/src/script/approveKYC.ts
  .maestro/tsconfig.json
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔨 e2e: setup development scripts
  .maestro/package.json
  package.json
Owners: @cruzdanilo

🧑‍💻 e2e: hide expo devtools
  .maestro/flows/local.yaml
  .maestro/subflows/hideDevtools.yaml
Owners: @cruzdanilo

✅ server: run inside vitest for e2e mode
  pnpm-lock.yaml
  server/.gitignore
  server/index.ts
  server/package.json
  server/script/e2e.ts
  server/test/anvil.ts
  server/test/e2e.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✅ e2e: implement sign-in flow
  .maestro/flows/local.yaml
  .maestro/subflows/signIn.yaml
Owners: @cruzdanilo

✅ e2e: read portfolio value from home screen
  .maestro/flows/local.yaml
  .maestro/subflows/readPortfolio.yaml
Owners: @cruzdanilo

✅ e2e: implement anvil balance setter
  .maestro/src/anvil.ts
  .maestro/src/script/setBalance.ts
  .maestro/src/server.ts
Owners: @cruzdanilo

✅ e2e: mint usdc to test account
  .maestro/flows/local.yaml
  .maestro/src/anvil.ts
  .maestro/src/script/mint.ts
Owners: @cruzdanilo

✅ e2e: implement flow for sending assets
  .maestro/flows/local.yaml
  .maestro/src/script/hookProposals.ts
  .maestro/src/server.ts
  .maestro/subflows/sendAsset.yaml
Owners: @cruzdanilo

✅ e2e: implement kyc flow
  .maestro/flows/local.yaml
  .maestro/src/script/approveKYC.ts
  .maestro/src/server.ts
  .maestro/subflows/verifyIdentity.yaml
Owners: @cruzdanilo

🚸 app: remember notifications dismissal
  .changeset/eleven-baths-like.md
  .maestro/flows/local.yaml
  common/onesignalAppId.ts
  src/app/(main)/(home)/_layout.tsx
  src/utils/onesignal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🤡 contracts: deal eth from test account
  contracts/test/mocks/Bob.s.sol
Owners: @itofarina

🐛 app: fix card upgrade banner render condition
  .changeset/small-toys-crash.md
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix swap failure close button behavior
  .changeset/twelve-insects-rule.md
  src/components/swaps/Failure.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix send funds close button behavior
  .changeset/seven-flowers-greet.md
  .maestro/subflows/sendAsset.yaml
  src/components/send-funds/Amount.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🧑‍💻 e2e: use environment variable for development check
  .maestro/subflows/hideDevtools.yaml
Owners: @cruzdanilo

🔨 e2e: extract frontend coverage
  .maestro/flows/local.yaml
  .maestro/subflows/storeCoverage.yaml
  server/test/e2e.ts
  src/components/settings/Settings.tsx
  src/utils/e2e.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

👷 nx: setup prepare script dependencies
  common/package.json
  common/wagmi.config.ts
  contracts/package.json
  nx.json
  package.json
  server/package.json
Owners: @cruzdanilo, @itofarina, @nfmelendez

🧑‍💻 gemini: setup rules and mcp
  .gemini/AGENTS.md
  .gemini/settings.json
Owners: @cruzdanilo

⬆️ dependencies: upgrade nodejs
  .github/workflows/docs.yaml
  .github/workflows/mobile-beta.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/test.yaml
  .github/workflows/version.yaml
  Dockerfile
  common/package.json
  eas.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 eas: setup beta build and submit profile
  eas.json
Owners: @cruzdanilo

🔧 eas: setup e2e build profile
  eas.json
Owners: @cruzdanilo

➕ app: install expo-image
  .ncurc.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

⚡️ app: implement asset logo caching
  .changeset/flat-books-mix.md
  src/components/activity/details/ReceivedActivity.tsx
  src/components/activity/details/RepayActivity.tsx
  src/components/activity/details/SentActivity.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/AssetList.tsx
  src/components/home/CardLimits.tsx
  src/components/loans/AmountSelector.tsx
  src/components/loans/Asset.tsx
  src/components/loans/CreditLine.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/AssetLogo.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/Failure.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/shared/WeightedRate.tsx
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

👷 eas: setup e2e workflow
  .eas/workflows/local.yaml
  .eas/workflows/production.yaml
  cspell.json
Owners: @cruzdanilo

🚧 e2e: fix build
  .maestro/esbuild.config.cjs
  .maestro/package.json
Owners: @cruzdanilo

🚧
  src/components/swaps/Swaps.tsx
  src/components/swaps/TokenInput.tsx
Owners: @dieguezguille, @franm91

🔨 e2e: setup build system
  .maestro/esbuild.config.cjs
  .maestro/maestro.d.ts
  .maestro/package.json
  .maestro/src/polyfill.ts
  .maestro/src/script/approveKYC.ts
  .maestro/tsconfig.json
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔨 e2e: setup development scripts
  .maestro/package.json
  package.json
Owners: @cruzdanilo

🧑‍💻 e2e: hide expo devtools
  .maestro/flows/local.yaml
  .maestro/subflows/hideDevtools.yaml
Owners: @cruzdanilo

✅ server: run inside vitest for e2e mode
  pnpm-lock.yaml
  server/.gitignore
  server/index.ts
  server/package.json
  server/script/e2e.ts
  server/test/anvil.ts
  server/test/e2e.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✅ e2e: implement sign-in flow
  .maestro/flows/local.yaml
  .maestro/subflows/signIn.yaml
Owners: @cruzdanilo

✅ e2e: read portfolio value from home screen
  .maestro/flows/local.yaml
  .maestro/subflows/readPortfolio.yaml
Owners: @cruzdanilo
