Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🚧 substreams
  .gemini/settings.json
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/database/schema.ts
  server/package.json
  server/test/anvil.ts
  server/test/api/activity.test.ts
  server/test/api/auth/authentication.test.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/database.ts
  server/test/e2e.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/database.ts
  server/vitest.config.mts
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/src/pb/.last_generated_hash
  substreams/substreams.yaml
Owners: @cruzdanilo, @itofarina, @nfmelendez

🚧 embedded-postgres
  pnpm-lock.yaml
  server/.gitignore
  server/database/index.ts
  server/index.ts
  server/package.json
  server/test/database.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: kyc refactor
  .changeset/common-carrots-think.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/test/utils/persona.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/utils/ramps/shared.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: support Pax's assistance
  .changeset/slick-hairs-relax.md
  .changeset/tame-times-warn.md
  .do/app.yaml
  server/api/index.ts
  server/api/pax.ts
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/api/pax.test.ts
  server/test/hooks/persona.test.ts
  server/test/utils/deriveAssociateId.test.ts
  server/test/utils/pax.test.ts
  server/utils/deriveAssociateId.ts
  server/utils/pax.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🚧
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/utils/pax.ts
Owners: @nfmelendez

✨ server: add queue on user creation
  .changeset/short-cars-return.md
  server/queues/alchemyQueue.ts
  server/queues/constants.ts
  server/script/openapi.ts
  server/test/queues/alchemyQueue.test.ts
  server/test/utils/createCredential.test.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🔧
  server/api/pax.ts
  server/test/api/pax.test.ts
Owners: @nfmelendez

✨ server: support Pax's assistance
  .changeset/slick-hairs-relax.md
  .changeset/tame-times-warn.md
  .do/app.yaml
  server/api/index.ts
  server/api/pax.ts
  server/hooks/persona.ts
  server/script/backfillPax.ts
  server/script/openapi.ts
  server/test/api/pax.test.ts
  server/test/hooks/persona.test.ts
  server/test/script/backfillPax.test.ts
  server/test/utils/deriveAssociateId.test.ts
  server/test/utils/pax.test.ts
  server/utils/deriveAssociateId.ts
  server/utils/pax.ts
  server/utils/paxAssociateIdSecret.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: allow gemini access to logs
  .geminiignore
Owners: @cruzdanilo

🧑‍💻 agents: allow gemini access to logs
  .geminiignore
Owners: @cruzdanilo

♻️ server: extract panda schema
  .changeset/shaggy-bugs-live.md
  server/hooks/persona.ts
Owners: @cruzdanilo, @nfmelendez

🚧 server: add account update webhook
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
Owners: @nfmelendez

🚧
  server/script/e2e.ts
  server/test/api/activity.test.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/database.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
Owners: @nfmelendez

🚑 app: fix cross-repay
  .changeset/smart-nails-clap.md
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧
  server/api/pax.ts
  server/test/api/pax.test.ts
Owners: @nfmelendez

✨ server: add queue on user creation
  .changeset/short-cars-return.md
  server/queues/alchemyQueue.ts
  server/queues/constants.ts
  server/script/openapi.ts
  server/test/queues/alchemyQueue.test.ts
  server/test/utils/createCredential.test.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: fix changeset style
  .agent/rules/style.md
  .cursor/rules/style.mdc
Owners: @cruzdanilo

🔨 wagmi: remove duplicate anvil script call
  common/wagmi.config.ts
Owners: @cruzdanilo

🚚 server: move openapi spec to generated
  docs/astro.config.ts
  server/.gitignore
  server/package.json
  server/script/openapi.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vitest eslint plugin
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔧 eslint: use recommended vitest config
  .eslintrc.cjs
Owners: @cruzdanilo

🚨 server: remove unnecessary eslint annotations
  server/test/e2e.ts
  server/test/utils/validatorHook.test.ts
Owners: @nfmelendez

🚨 server: fix new vitest eslint rule
  server/test/api/activity.test.ts
  server/test/hooks/persona.test.ts
Owners: @nfmelendez

🔧 contracts: setup solhint script and test exceptions
  contracts/script/.solhint.json
  contracts/script/ExaAccountFactory.s.sol
  contracts/script/JSON.sol
  contracts/test/ExaAccountFactory.t.sol
  contracts/test/ExaPlugin.t.sol
  contracts/test/ExaPreviewer.t.sol
  contracts/test/mocks/MockSwapper.sol
  contracts/test/mocks/MockVelodromeFactory.sol
Owners: @itofarina

🧑‍💻 agents: fix function style
  .agent/rules/style.md
  .cursor/rules/style.mdc
Owners: @cruzdanilo

♻️ app: refactor send funds amount screen
  .changeset/tough-seals-jog.md
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement blockies
  .changeset/five-bobcats-turn.md
  cspell.json
  src/components/send-funds/Contact.tsx
  src/components/shared/Blocky.tsx
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement blockies
  .changeset/five-bobcats-turn.md
  cspell.json
  src/components/send-funds/Contact.tsx
  src/components/shared/Blocky.tsx
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: refactor send funds amount screen
  .changeset/tough-seals-jog.md
  src/components/send-funds/Amount.tsx
  src/components/send-funds/ReviewSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ server: fix mutex test flakyness
  server/test/hooks/panda.test.ts
Owners: @nfmelendez

✨ app: use blockies as user icons
  .changeset/silent-poets-wonder.md
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/ReviewSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: update pax integration
  .do/app.yaml
  server/api/index.ts
  server/hooks/persona.ts
  server/script/backfillPax.ts
  server/script/openapi.ts
  server/test/api/pax.test.ts
  server/test/hooks/persona.test.ts
  server/test/script/backfillPax.test.ts
  server/test/utils/deriveAssociateId.test.ts
  server/utils/deriveAssociateId.ts
  server/utils/pax.ts
  server/utils/paxAssociateIdSecret.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: disable gemini telemetry
  .gemini/settings.json
Owners: @cruzdanilo

🧑‍💻 agents: enable gemini preview features
  .gemini/settings.json
Owners: @cruzdanilo

🧑‍💻 agents: enable gemini sandbox
  .gemini/settings.json
Owners: @cruzdanilo

🧑‍💻 agents: enable gemini checkpointing
  .gemini/settings.json
  cspell.json
Owners: @cruzdanilo

✨ app: add benefits section
  .changeset/chubby-comics-mix.md
  package.json
  src/assets/images/airalo.svg
  src/assets/images/pax.svg
  src/assets/images/visa.svg
  src/components/benefits/BenefitCard.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/home/Home.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: assess transaction risk
  .changeset/wet-games-relate.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: extract panda schema
  .changeset/shaggy-bugs-live.md
  server/hooks/persona.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add document account update
  .changeset/fuzzy-wasps-run.md
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
  server/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
