Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

🛂 server: setup frontend secure headers
  .changeset/puny-oranges-travel.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: add close button to proposal screens
  .changeset/old-crabs-begin.md
  src/components/loans/Review.tsx
  src/components/pay-mode/Pay.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
  src/components/swaps/Failure.tsx
  src/components/swaps/Pending.tsx
  src/components/swaps/Success.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🛂 server: allow frontend connection to onesignal cdn
  .changeset/clever-hotels-try.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.14
  .changeset/clever-hotels-try.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🚑 app: handle undefined user agent
  .changeset/beige-taxes-chew.md
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 app: update android target sdk
  app.config.ts
Owners: @cruzdanilo

🔖 release: mobile@1.0.23
  .changeset/beige-taxes-chew.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

🛂 server: allow frontend images from google storage
  .changeset/weak-oranges-act.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🛂 server: allow frontend styles from onesignal
  .changeset/floppy-parents-smoke.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🛂 server: allow frontend assets from intercom
  .changeset/yummy-parents-ask.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.15
  .changeset/floppy-parents-smoke.md
  .changeset/weak-oranges-act.md
  .changeset/yummy-parents-ask.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🚚 app: rename adaptive icon
  app.config.ts
  src/assets/icon-adaptive.png
Owners: @cruzdanilo, @dieguezguille, @franm91

🚚 app: rename default icon
  app.config.ts
  src/assets/icon.png
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 server: update manifest icons
  .changeset/free-clocks-drive.md
  public/manifest.json
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🛂 server: allow frontend token images
  .changeset/sour-ads-wear.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.16
  .changeset/free-clocks-drive.md
  .changeset/sour-ads-wear.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🛂 server: fix etherscan frontend image source
  .changeset/clean-months-juggle.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.17
  .changeset/clean-months-juggle.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: setup farcaster base builder
  .changeset/ten-dragons-drop.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: update borrow activity ui
  .changeset/lazy-rules-write.md
  src/components/activity/details/BorrowActivity.tsx
  src/components/activity/details/BorrowDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement loans activity
  .changeset/rotten-candies-invent.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/activity/details/BorrowActivity.tsx
  src/components/activity/details/BorrowDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 contracts: setup base for foundry
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/foundry.toml
  contracts/test/Fork.t.sol
Owners: @itofarina

🔨 contracts: allow optional protocol deployments
  contracts/.gas-snapshot
  contracts/test/Fork.t.sol
Owners: @itofarina

🔨 contracts: handle missing protocol deployments
  contracts/script/ProposalManager.s.sol
Owners: @itofarina

🔧 contracts: ignore unused parameter warnings
  contracts/foundry.toml
Owners: @itofarina

🔧 wagmi: setup base networks
  wagmi.config.ts
Owners: @cruzdanilo

⬆️ contracts: upgrade solady and forge-std
  contracts/.gas-snapshot
  contracts/package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

⬆️ contracts: upgrade webauthn-owner-plugin
  contracts/package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

⬆️ dependencies: upgrade exactly protocol
  contracts/.gas-snapshot
  contracts/package.json
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

🚀 contracts: deploy all contracts to base-sepolia
  contracts/.gas-snapshot
  contracts/broadcast/ExaPlugin.s.sol/84532/run-latest.json
  contracts/broadcast/ExaPreviewer.s.sol/84532/run-latest.json
  contracts/broadcast/IssuerChecker.s.sol/84532/run-latest.json
  contracts/broadcast/Mocks.s.sol/84532/run-latest.json
  contracts/broadcast/ProposalManager.s.sol/84532/run-latest.json
  contracts/broadcast/Refunder.s.sol/84532/run-latest.json
  contracts/deploy.json
Owners: @itofarina

✨ app: call authentication for siwe
  .changeset/witty-roses-design.md
  src/components/auth/Auth.tsx
  src/components/auth/Passkeys.tsx
  src/utils/useAuth.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: fix styled button color variants
  .changeset/poor-ends-try.md
  src/components/shared/StyledButton.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: replace auth button with styled button
  .changeset/nasty-moles-cross.md
  src/components/auth/Auth.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix auth button loading state
  .changeset/cyan-poems-repair.md
  src/components/auth/Auth.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: set farcaster sharing meta tag
  .changeset/forty-trains-joke.md
  src/app/+html.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: redirect to farcaster universal links
  .changeset/flat-kiwis-stick.md
  src/utils/persona.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: trigger add mini app upon sign in
  .changeset/tired-papayas-chew.md
  src/components/auth/Auth.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: server@0.2.18, mobile@1.0.24
  .changeset/cyan-poems-repair.md
  .changeset/flat-kiwis-stick.md
  .changeset/forty-trains-joke.md
  .changeset/nasty-moles-cross.md
  .changeset/poor-ends-try.md
  .changeset/ten-dragons-drop.md
  .changeset/tired-papayas-chew.md
  .changeset/witty-roses-design.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

⬆️ dependencies: upgrade vulnerable axios
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🛂 server: allow cross-origin for frontend assets
  .changeset/shaky-showers-fold.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
