Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

📈 server: fix sentry operation and set declined description
  .changeset/eighty-cars-enter.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔧 wagmi: setup base networks
  wagmi.config.ts
Owners: @cruzdanilo

🐛 app: prevent click event propagation on defi banner
  .changeset/itchy-carrots-hope.md
  src/components/home/ExploreDeFi.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement loans activity
  .changeset/rotten-candies-invent.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/activity/details/BorrowActivity.tsx
  src/components/activity/details/BorrowDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: add missing condition to getting started banner
  .changeset/fair-dodos-dance.md
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: update borrow activity ui
  .changeset/lazy-rules-write.md
  src/components/activity/details/BorrowActivity.tsx
  src/components/activity/details/BorrowDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 contracts: allow borrows from any market
  .changeset/deep-jokes-pick.md
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/test/ExaPlugin.t.sol
Owners: @cruzdanilo, @itofarina

🦺 contracts: prevent none type proposals
  .changeset/ten-weeks-speak.md
  contracts/.gas-snapshot
  contracts/src/IExaAccount.sol
  contracts/src/ProposalManager.sol
  contracts/test/ExaPlugin.t.sol
Owners: @cruzdanilo, @itofarina

🔥 contracts: remove unnecessary cast
  contracts/src/ExaPlugin.sol
Owners: @itofarina

✨ contracts: allow cross repay to any market
  .changeset/ripe-books-float.md
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/src/IExaAccount.sol
  contracts/test/ExaPlugin.t.sol
  contracts/test/mocks/Bob.s.sol
Owners: @cruzdanilo, @itofarina

🐛 app: fix text alignment on token selection modal
  .changeset/stupid-beds-grow.md
  src/components/swaps/SelectorModal.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: fix web sheets not rendering correctly
  src/components/shared/ConnectSheet.tsx
Owners: @dieguezguille, @franm91

🚧 app: fix gradient scroll view on web
  src/components/shared/GradientScrollView.tsx
Owners: @dieguezguille, @franm91

🚧 app: abstract sheet component
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/card/CardDetails.tsx
  src/components/card/CardDisclaimer.tsx
  src/components/card/CardPIN.tsx
  src/components/card/SpendingLimits.tsx
  src/components/card/VerificationFailure.tsx
  src/components/defi/AboutDefiSheet.tsx
  src/components/defi/ConnectionSheet.tsx
  src/components/defi/DisconnectSheet.tsx
  src/components/defi/IntroSheet.tsx
  src/components/home/SpendingLimitsSheet.tsx
  src/components/home/card-upgrade/CardUpgradeSheet.tsx
  src/components/pay-mode/AssetSelectionSheet.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/ConnectSheet.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/ModalSheet.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/swaps/SelectorModal.tsx
Owners: @dieguezguille, @franm91

🚧 app: filter out duplicated contacts
  src/components/send-funds/RecentContacts.tsx
Owners: @dieguezguille, @franm91

🚧 app: improve web media queries
  src/app/+html.tsx
Owners: @dieguezguille, @franm91

🚧 app: remove redundant conversions
  src/components/defi/DeFi.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/Failure.tsx
  src/components/shared/GradientScrollView.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @dieguezguille, @franm91

🚧 app: handle multiple connectors
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🚧 contracts: avoid failing deposits
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/src/IExaAccount.sol
  contracts/test/ExaPlugin.t.sol
Owners: @itofarina

🚧 app: drop unused routes
  src/app/(app)/(home)/more.tsx
  src/app/(app)/add-funds/_layout.tsx
  src/app/(app)/add-funds/add-crypto-about.tsx
  src/app/(app)/add-funds/add-fiat.tsx
  src/app/(app)/send-funds/_layout.tsx
  src/app/(app)/send-funds/processing.tsx
  src/app/(app)/send-funds/review.tsx
  src/app/(app)/send-funds/withdraw.tsx
  src/app/(app)/settings/beta/index.tsx
Owners: @dieguezguille, @franm91

🐛 app: fix gradient scroll view padding
  .changeset/every-loops-begin.md
  src/components/shared/GradientScrollView.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: drop unused components
  src/components/add-funds/AddCryptoAbout.tsx
  src/components/add-funds/AddFiat.tsx
  src/components/add-funds/AddFiatButton.tsx
  src/components/home/Processing.tsx
  src/components/more/More.tsx
  src/components/settings/Beta.tsx
  src/components/settings/ContractUtils.tsx
  src/components/settings/WalletUtils.tsx
Owners: @dieguezguille, @franm91

🚧 app: add use open browser hook
  src/components/activity/details/OperationDetails.tsx
  src/components/activity/details/TransactionDetails.tsx
  src/components/card/Card.tsx
  src/components/defi/AboutDefiSheet.tsx
  src/components/defi/DeFi.tsx
  src/components/home/HomeDisclaimer.tsx
  src/components/home/Portfolio.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/send-funds/Details.tsx
  src/components/shared/Error.tsx
  src/components/shared/TransactionDetails.tsx
  src/components/swaps/Swaps.tsx
  src/utils/useIntercom.ts
  src/utils/useOpenBrowser.ts
Owners: @dieguezguille, @franm91

🚧
  src/app/(app)/_layout.tsx
  src/app/_layout.tsx
  src/components/onboarding/Carousel.tsx
Owners: @dieguezguille, @franm91

⬆️ dependencies: upgrade vulnerable devalue
  pnpm-lock.yaml
Owners: @cruzdanilo

🐛 app: prevent click event propagation on defi banner
  .changeset/itchy-carrots-hope.md
  src/components/home/ExploreDeFi.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 wagmi: move balancer vault address to common
  wagmi.config.ts
Owners: @cruzdanilo

💄 app: display checksummed shortened address
  .changeset/puny-candles-change.md
  cspell.json
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: disconnect wagmi on logout
  .changeset/fluffy-insects-battle.md
  src/components/settings/Settings.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: verify siwe message onchain
  .changeset/gold-toys-spend.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @cruzdanilo, @nfmelendez

➕ docs: install mermaid dependencies
  docs/package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🐛 app: fix send funds qr screen
  .changeset/smooth-pumas-count.md
  src/app/(app)/send-funds/_layout.tsx
  src/components/send-funds/Qr.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⬆️ dependencies: upgrade exactly protocol and lib
  contracts/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @itofarina, @cruzdanilo, @nfmelendez

🔧 wagmi: setup integration previewer codegen
  wagmi.config.ts
Owners: @cruzdanilo

✅ server: fix gas estimation concurrency
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
Owners: @nfmelendez

✨ server: return card limit
  .changeset/lemon-suits-search.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: fix bad transaction test
  server/test/api/activity.test.ts
Owners: @nfmelendez

🔧 docs: support mermaid diagrams
  .changeset/bumpy-bears-accept.md
  docs/astro.config.ts
Owners: @cruzdanilo

✨ app: create auth selection component
  .changeset/grumpy-mails-crash.md
  src/components/shared/ConnectSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement sign-in with ethereum
  .changeset/thin-breads-look.md
  src/components/onboarding/Passkeys.tsx
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
