Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🔧 server: enable react tsx
  server/tsconfig.json
Owners: @nfmelendez

✨ server: add card statement
  .changeset/stale-owls-work.md
  server/api/activity.ts
  server/utils/Statement.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🩹 server: return correct card status
  .changeset/gold-ties-tan.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: add sandbox dedicated ips
  .changeset/long-nails-doubt.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

➕ server: install better-auth
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: add webhook api
  .changeset/olive-onions-tan.md
  docs/astro.config.ts
  docs/src/content/docs/organization-authentication.md
  server/api/index.ts
  server/api/kyc.ts
  server/api/webhook.ts
  server/database/index.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/index.ts
  server/middleware/auth.ts
  server/script/openapi.ts
  server/test/api/kyc.test.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/test/mocks/database.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add encrypted kyc submission
  cspell.json
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add invite and accept invite examples
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: allow better auth users to change email
  server/utils/auth.ts
Owners: @nfmelendez

📝 docs: update siwe authentication example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: return card id
  .changeset/wicked-lies-invent.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: update kyc status code
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez

🐛 server: fix patch response validation
  .changeset/tidy-worms-sin.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade exactly protocol
  contracts/.gas-snapshot
  contracts/package.json
  contracts/remappings.txt
  contracts/test/mocks/Protocol.s.sol
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

🚀 contracts: deploy all contracts to base-sepolia
  contracts/.gas-snapshot
  contracts/broadcast/ExaPlugin.s.sol/84532/run-latest.json
  contracts/broadcast/ExaPreviewer.s.sol/84532/run-latest.json
  contracts/broadcast/IssuerChecker.s.sol/84532/run-latest.json
  contracts/broadcast/Mocks.s.sol/84532/run-latest.json
  contracts/broadcast/ProposalManager.s.sol/84532/run-latest.json
  contracts/broadcast/Refunder.s.sol/84532/run-latest.json
  contracts/deploy.json
Owners: @itofarina

👷 github: deploy sandbox server to base-sepolia
  .github/workflows/server-sandbox.yaml
Owners: @cruzdanilo

🔧 common: setup alchemy for base-sepolia
  .changeset/light-otters-report.md
  common/alchemyAPIKey.ts
  common/alchemyGasPolicyId.ts
Owners: @cruzdanilo

🔧 server: setup alchemy for base networks
  .changeset/silent-walls-relax.md
  server/hooks/activity.ts
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: create alchemy's block hook automatically
  .changeset/weak-bottles-allow.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

⚡️ server: skip empty alchemy blocks
  .changeset/easy-things-start.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: extract alchemy api headers
  server/hooks/block.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @nfmelendez

♻️ server: extract alchemy webhook finder
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

♻️ server: extract alchemy webhook creator
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

✨ server: create alchemy's activity hook automatically
  .changeset/polite-animals-slide.md
  server/hooks/activity.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: prevent array overlap errors when no hashes
  .changeset/wise-knives-glow.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: setup sentry for base networks
  server/instrument.cjs
Owners: @nfmelendez

🦺 server: improve kyc application response validation
  server/api/kyc.ts
Owners: @nfmelendez

📝 docs: improve create organization example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

🔖 release: server@0.2.27, mobile@1.0.30
  .changeset/all-feet-obey.md
  .changeset/deep-needles-think.md
  .changeset/gentle-boats-wait.md
  .changeset/late-experts-repeat.md
  .changeset/puny-dancers-itch.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

⚡️ server: avoid persona calls when panda
  .changeset/better-planets-cover.md
  server/api/card.ts
  server/api/kyc.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
Owners: @cruzdanilo, @nfmelendez

⚡️ app: use asset logos with caching headers
  .changeset/clear-pillows-jog.md
  src/utils/assetLogos.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.0.31, server@0.2.28
  .changeset/better-planets-cover.md
  .changeset/clear-pillows-jog.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

✨ app: implement weighted apr
  .changeset/rude-bushes-switch.md
  src/components/home/Home.tsx
  src/components/home/PortfolioSummary.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ app: add walletconnect dependencies
  babel.config.cjs
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ app: implement partial repays
  .changeset/chatty-words-sit.md
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
  src/components/shared/Failure.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

⬇️ server: downgrade sentry libraries
  .changeset/new-horses-trade.md
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✅ server: fix nonce reset flaky test
  server/test/utils/keeper.test.ts
Owners: @nfmelendez

✨ server: improve nonce usage for encrypted kyc
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/database/schema.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

⬇️ server: downgrade sentry libraries
  .changeset/new-horses-trade.md
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✅ server: fix nonce reset flaky test
  server/test/utils/keeper.test.ts
Owners: @nfmelendez
