Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

⬆️ dependencies: upgrade hono
  package.json
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade astro
  docs/package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🐛 server: prefer latest document for manteca
  .changeset/petite-days-ring.md
  server/test/utils/persona.test.ts
  server/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez

🥅 app: name and fingerprint warning-level reports
  .changeset/cozy-weeks-change.md
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 server: name and fingerprint warning-level exceptions
  .changeset/sharp-trees-run.md
  server/api/card.ts
  server/hooks/activity.ts
  server/hooks/panda.ts
  server/test/hooks/activity.test.ts
  server/utils/ramps/manteca.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: fallback error fingerprint to raw body string
  server/index.ts
Owners: @nfmelendez

🔧 server: split redis connections for bullmq compatibility
  .changeset/tidy-humans-train.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/hooks/block.ts
  server/test/api/auth.test.ts
  server/test/mocks/redis.ts
  server/utils/redis.ts
Owners: @cruzdanilo, @nfmelendez

✅ server: modify sentry's mock file
  .changeset/silent-parks-flash.md
  server/test/mocks/sentry.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add maturity check and worker
  .changeset/dull-candies-cheer.md
  server/index.ts
  server/queues/maturityQueue.ts
  server/test/queues/maturityQueue.test.ts
  server/test/utils/hasMaturity.test.ts
  server/utils/hasMaturity.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: migrate webhook subscription to queue
  .changeset/dark-regions-count.md
  server/api/auth/registration.ts
  server/test/mocks/alchemy.ts
  server/test/utils/createCredential.test.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: handle webhook not ready error
  server/api/auth/authentication.ts
Owners: @nfmelendez

🐛 server: add debug logging for webhook initialization
  .changeset/vast-geckos-punch.md
  server/hooks/activity.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add alchemy job queue infrastructure
  .changeset/plain-pumas-relax.md
  server/index.ts
  server/queues/alchemyQueue.ts
  server/test/api/auth.test.ts
  server/test/queues/alchemyQueue.test.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade vulnerable devalue
  pnpm-lock.yaml
Owners: @cruzdanilo

🔖 release: mobile@1.1.19, server@0.2.69
  .changeset/brave-falcon-retry.md
  .changeset/calm-eagles-warn.md
  .changeset/cozy-weeks-change.md
  .changeset/petite-days-ring.md
  .changeset/sharp-trees-run.md
  .changeset/six-dancers-hang.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🙈 docker: fix hidden-files pattern excluding root directory
  .dockerignore
Owners: @cruzdanilo

👷 github: clean up server build image tagging
  .github/workflows/server-build.yaml
Owners: @cruzdanilo

✨ server: implement bridge onramp
  .changeset/bumpy-deer-lead.md
  server/api/kyc.ts
  server/api/ramp.ts
  server/test/api/ramp.test.ts
  server/test/utils/bridge.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/shared.ts
Owners: @cruzdanilo, @nfmelendez

👷 eas: use maestro native junit output
  .eas/workflows/local.yaml
Owners: @cruzdanilo

👷 github: use maestro native junit output
  .github/workflows/test.yaml
Owners: @cruzdanilo

✅ server: split flaky proposal assertions
  .changeset/eleven-seals-open.md
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: make auth query param optional
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @nfmelendez

✨ server: use gcp kms for allower
  .changeset/lucky-jokes-change.md
  .do/app.yaml
  cspell.json
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
  server/test/utils/gcp.test.ts
  server/utils/allower.ts
  server/utils/baseExtender.ts
  server/utils/gcp.ts
  server/utils/keeper.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

♻️ server: use hoisted redis mock
  server/test/api/auth.test.ts
Owners: @nfmelendez

🧑‍💻 agents: strengthen commit message presentation rule
  .agents/skills/commit/SKILL.md
Owners: @cruzdanilo

➕ app: install pix qr code library
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

➕ app: install react native qr code styled library
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ app: add qr code for pix
  .changeset/warm-bees-allow.md
  src/components/add-funds/Ramp.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: handle invalid id flow
  .changeset/sparkly-pugs-accept.md
  src/components/add-funds/KYC.tsx
  src/components/add-funds/Onboard.tsx
  src/components/add-funds/Status.tsx
  src/i18n/es.json
  src/utils/completeOnboarding.ts
  src/utils/persona.ts
  src/utils/queryClient.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.1.20
  .changeset/eleven-seals-open.md
  .changeset/sparkly-pugs-accept.md
  .changeset/warm-bees-allow.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

➕ server: add react pdf renderer
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: enable react tsx
  server/tsconfig.json
Owners: @nfmelendez

🔧 server: apply react lint rules
  server/eslint.config.mjs
Owners: @nfmelendez

👷 github: broaden server artifact uploads
  .github/workflows/test.yaml
Owners: @cruzdanilo

👷 eas: broaden server artifact uploads
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🤡 server: mock allower for e2e tests
  server/test/e2e.ts
Owners: @nfmelendez

✨ server: add card statement
  .changeset/stale-owls-work.md
  server/api/activity.ts
  server/test/api/activity.test.ts
  server/utils/Statement.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

✅ server: test card statement rendering
  server/test/utils/statement.test.ts
Owners: @nfmelendez

✅ server: persist statement pdf to runtime artifacts
  server/test/api/activity.test.ts
Owners: @nfmelendez

✅ server: test card statement content
  server/test/utils/statement.test.ts
  server/utils/Statement.tsx
Owners: @nfmelendez
