Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

✅ app: fix onesignal e2e init race condition
  src/utils/onesignal.ts
Owners: @dieguezguille, @franm91

♿️ app: add aria label to loan amount selector
  .changeset/tender-sloths-judge.md
  src/components/loans/AmountSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ server: start e2e vitest instance in watch mode
  server/script/e2e.ts
Owners: @nfmelendez

✅ app: support eip-5792 in e2e wallet
  src/utils/e2e.ts
Owners: @dieguezguille, @franm91

✅ e2e: fix transaction waiting
  .maestro/flows/local.yaml
  .maestro/flows/production.yaml
Owners: @cruzdanilo

🔧 common: setup all onesignal domains
  common/onesignalAppId.ts
Owners: @cruzdanilo

🤡 server: mock all persona methods for e2e
  server/test/e2e.ts
Owners: @nfmelendez

🚧 e2e: borrow
  .maestro/flows/local.yaml
  .maestro/subflows/borrowAsset.yaml
Owners: @cruzdanilo

💫 app: improve carousel transitions
  .changeset/grumpy-candies-return.md
  src/components/auth/Auth.tsx
  src/components/auth/ListItem.tsx
  src/components/auth/Pagination.tsx
  src/components/benefits/BenefitsSection.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

👷 github: trigger e2e on app releases
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🔖 release: server@0.2.53, mobile@1.1.5
  .changeset/chilly-islands-leave.md
  .changeset/fancy-ends-tan.md
  .changeset/fresh-tires-itch.md
  .changeset/gentle-streets-attack.md
  .changeset/green-adults-drop.md
  .changeset/grumpy-candies-return.md
  .changeset/new-pots-shave.md
  .changeset/olive-eggs-share.md
  .changeset/pretty-badgers-cheat.md
  .changeset/real-fans-tan.md
  .changeset/shaggy-cars-like.md
  .changeset/silent-eyes-beg.md
  .changeset/swift-pigs-know.md
  .changeset/tiny-facts-taste.md
  .changeset/wise-cities-jam.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

♿️ app: add aria label to loan amount selector
  .changeset/tender-sloths-judge.md
  src/components/loans/AmountSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ server: start e2e vitest instance in watch mode
  server/script/e2e.ts
Owners: @nfmelendez

✅ app: support eip-5792 in e2e wallet
  src/utils/e2e.ts
Owners: @dieguezguille, @franm91

✅ e2e: fix transaction waiting
  .maestro/flows/local.yaml
  .maestro/flows/production.yaml
Owners: @cruzdanilo

🔧 common: setup all onesignal domains
  common/onesignalAppId.ts
Owners: @cruzdanilo

✅ app: fix onesignal e2e init race condition
  src/utils/onesignal.ts
Owners: @dieguezguille, @franm91

✅ app: attach onesignal listener before async check
  .agent/memory/2026-01-28-android-e2e-onesignal-iam.md
  src/utils/onesignal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧
  contracts/deploy.json
  contracts/script/SerialProxier.s.sol
  contracts/test/SerialProxier.t.sol
Owners: @itofarina

🔨 contracts: allow optional chain id
  contracts/test/Fork.t.sol
Owners: @itofarina

invert default accounts
  contracts/deploy.json
Owners: @itofarina

🔧 contracts: setup mainnet for foundry
  contracts/deploy.json
  contracts/foundry.toml
  contracts/test/Fork.t.sol
Owners: @itofarina

simplify
  contracts/script/SerialProxier.s.sol
  contracts/test/SerialProxier.t.sol
Owners: @itofarina

🚧 polygon exa account
  contracts/foundry.toml
  contracts/script/SerialProxier.s.sol
  contracts/test/SerialProxier.t.sol
Owners: @itofarina

🐛 server: select valid document when multiple same-class ids exist
  .changeset/ripe-oranges-vanish.md
  server/test/utils/persona.test.ts
  server/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez

🚸 app: improve getting started component
  .changeset/chatty-regions-smoke.md
  src/components/home/GettingStarted.tsx
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💫 app: animate card component
  .changeset/ten-bugs-try.md
  src/components/home/CardStatus.tsx
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🩹 app: fix worklet gesture warning
  .changeset/fancy-oranges-sniff.md
  cspell.json
  src/components/benefits/BenefitCard.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: server@0.2.54
  .changeset/ripe-oranges-vanish.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ app: implement manteca ramp
  .changeset/shiny-points-eat.md
  src/app/(main)/add-funds/_layout.tsx
  src/app/(main)/add-funds/kyc.tsx
  src/app/(main)/add-funds/onboard.tsx
  src/app/(main)/add-funds/ramp.tsx
  src/app/(main)/add-funds/status.tsx
  src/assets/images/ars-usdc.svg
  src/assets/images/brl-usdc.svg
  src/assets/images/denied.svg
  src/assets/images/face-id.svg
  src/assets/images/usd-usdc.svg
  src/components/add-funds/AddFiatButton.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/Kyc.tsx
  src/components/add-funds/Onboard.tsx
  src/components/add-funds/Ramp.tsx
  src/components/add-funds/Status.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/i18n/es.json
  src/utils/currencies.ts
  src/utils/persona.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🩹 app: fix worklet gesture warning
  .changeset/fancy-oranges-sniff.md
  cspell.json
  src/components/benefits/BenefitCard.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

♿️ app: add aria label to loan amount selector
  .changeset/tender-sloths-judge.md
  src/components/loans/AmountSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ server: start e2e vitest instance in watch mode
  server/script/e2e.ts
Owners: @nfmelendez

✅ app: support eip-5792 in e2e wallet
  src/utils/e2e.ts
Owners: @dieguezguille, @franm91

✅ e2e: fix transaction waiting
  .maestro/flows/local.yaml
  .maestro/flows/production.yaml
Owners: @cruzdanilo

✅ e2e: fix transaction waiting
  .maestro/flows/local.yaml
  .maestro/flows/production.yaml
Owners: @cruzdanilo

🔧 eslint: allow db and ref abbreviations
  common/eslint/base.mjs
Owners: @cruzdanilo

🧑‍💻 agents: refine style guide
  .agent/rules/dev.md
  .agent/rules/style.md
  AGENTS.md
Owners: @cruzdanilo

🧑‍💻 agents: consolidate cross-agent style rules
  .agent/rules/app.md
  .agent/rules/contracts.md
  .agent/rules/dev.md
  .agent/rules/docs.md
  .agent/rules/git.md
  .agent/rules/markdown.md
  .agent/rules/nx.md
  .agent/rules/server.md
  .agent/rules/style.md
  .agent/rules/typescript.md
  .changeset/many-kids-push.md
  .cursor/rules
  .cursor/rules/app.mdc
  .cursor/rules/contracts.mdc
  .cursor/rules/dev.mdc
  .cursor/rules/docs.mdc
  .cursor/rules/git.mdc
  .cursor/rules/markdown.mdc
  .cursor/rules/server.mdc
  .cursor/rules/style.mdc
  .gemini/settings.json
  AGENTS.md
  cspell.json
  package.json
Owners: @cruzdanilo

🧑‍💻 agents: add return type inference guideline
  .agent/rules/typescript.md
Owners: @cruzdanilo

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
