Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✨ app: configure language detector
  .changeset/fruity-dingos-behave.md
  src/app/_layout.tsx
  src/utils/languageDetector.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: add translation hooks
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/CardLimits.tsx
  src/components/home/ExploreDeFi.tsx
  src/components/home/HomeActions.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Address.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Qr.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/settings/Settings.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/LatestActivity.tsx
  src/components/swaps/SwapDetails.tsx
  src/components/swaps/Swaps.tsx
Owners: @dieguezguille, @franm91

🚧 app: add spanish translation file
  src/i18n/es.json
Owners: @dieguezguille, @franm91

🚧 debug
  src/utils/injectedConnector.ts
Owners: @dieguezguille, @franm91

🚧 track missing plugin events
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
Owners: @nfmelendez, @cruzdanilo

🚸 app: add spending limit support
  .changeset/neat-gifts-tease.md
  src/components/card/SpendingLimit.tsx
  src/components/card/SpendingLimits.tsx
  src/utils/useIntercom.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix token logos in swap screen
  .changeset/huge-flowers-shave.md
  src/components/shared/AssetLogo.tsx
  src/components/swaps/SelectorModal.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add statements link
  .changeset/long-ducks-cross.md
  src/components/pay-mode/PaymentSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

👔 common: increment max installments
  .changeset/public-carrots-laugh.md
  common/MAX_INSTALLMENTS.ts
Owners: @cruzdanilo

💬 app: convert lifi name to uppercase
  .changeset/happy-hoops-occur.md
  src/components/defi/DeFi.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix token input layout
  .changeset/chubby-pillows-allow.md
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: update borrow activity ui
  .changeset/lazy-rules-write.md
  src/components/activity/details/BorrowActivity.tsx
  src/components/activity/details/BorrowDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix amount input height
  .changeset/eleven-days-rhyme.md
  src/components/loans/AmountSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: implement loans activity
  .changeset/rotten-candies-invent.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/activity/details/BorrowActivity.tsx
  src/components/activity/details/BorrowDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: submit kyc
  .changeset/four-numbers-worry.md
  package.json
  pnpm-lock.yaml
  server/api/card.ts
  server/api/kyc.ts
  server/package.json
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

✅
  contracts/src/IExaAccount.sol
  contracts/test/ExaPlugin.t.sol
Owners: @itofarina

🚧 server: replace request utility
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
Owners: @nfmelendez

🐛 app: fix token logos in swap screen
  .changeset/huge-flowers-shave.md
  src/components/shared/AssetLogo.tsx
  src/components/swaps/SelectorModal.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

👔 common: increment max installments
  .changeset/public-carrots-laugh.md
  common/MAX_INSTALLMENTS.ts
Owners: @cruzdanilo

💬 app: convert lifi name to uppercase
  .changeset/happy-hoops-occur.md
  src/components/defi/DeFi.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix token input layout
  .changeset/chubby-pillows-allow.md
  src/components/swaps/TokenInput.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix amount input height
  .changeset/eleven-days-rhyme.md
  src/components/loans/AmountSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

📈 server: use short error message for analytics
  .changeset/lovely-pots-smash.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.11, mobile@1.0.20
  .changeset/chubby-pillows-allow.md
  .changeset/eleven-days-rhyme.md
  .changeset/happy-hoops-occur.md
  .changeset/huge-flowers-shave.md
  .changeset/lovely-pots-smash.md
  .changeset/neat-gifts-tease.md
  .changeset/public-carrots-laugh.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

✨ app: add statements link
  .changeset/long-ducks-cross.md
  src/components/pay-mode/PaymentSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: submit kyc
  .changeset/four-numbers-worry.md
  package.json
  pnpm-lock.yaml
  server/api/card.ts
  server/api/kyc.ts
  server/package.json
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: create auth selection component
  .changeset/grumpy-mails-crash.md
  src/components/shared/ConnectSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 rename passkey to credential
  common/validation.ts
  server/api/auth/authentication.ts
  server/api/passkey.ts
  src/app/(app)/_layout.tsx
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/card-upgrade/VerifyIdentity.tsx
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
  src/utils/accountClient.ts
  src/utils/alchemyConnector.ts
  src/utils/injectedConnector.ts
  src/utils/persona.ts
  src/utils/queryClient.ts
  src/utils/server.ts
  src/utils/useIntercom.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

✨ app: add auth ui to onboarding
  .changeset/vast-actors-guess.md
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 server: signature script
  cspell.json
  server/script/signature.ts
Owners: @cruzdanilo, @nfmelendez

🚧 unify error handling for auth
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
Owners: @dieguezguille, @franm91

🚧 extract auth to a hook
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
  src/utils/useAuthentication.ts
Owners: @dieguezguille, @franm91

🚧 handle selected auth method
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
  src/components/shared/ConnectSheet.tsx
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/queryClient.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🚧 app: implement sign-in with ethereum
  src/components/onboarding/Passkeys.tsx
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🚧 detect injected provider
  src/components/shared/ConnectSheet.tsx
Owners: @dieguezguille, @franm91

🐛 app: disconnect wagmi on logout
  .changeset/fluffy-insects-battle.md
  src/components/settings/Settings.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ app: install farcaster frame-sdk
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔧 babel: patch mini apps module resolution
  babel.config.cjs
Owners: @cruzdanilo

🚧 add miniapp connector
  src/utils/injectedConnector.ts
Owners: @dieguezguille, @franm91

🚧 add farcaster sdk callback
  src/app/(app)/_layout.tsx
Owners: @dieguezguille, @franm91
