Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

💩 app: patch meawallet podspec
  app.config.ts
  package.json
  patches/@meawallet__react-native-mpp.patch
Owners: @cruzdanilo

🍱 app: add meawallet config assets
  .changeset/rich-months-double.md
  eas.json
  src/assets/mea_config
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add google wallet button
  src/assets/images/google-wallet-button.svg
Owners: @dieguezguille, @franm91

🚸 app: handle expired siwe wallet sessions
  src/app/(main)/_layout.tsx
  src/utils/reportError.ts
  src/utils/server.ts
  src/utils/useAuth.ts
Owners: @dieguezguille, @franm91

🐛 app: cache lifi tokens by chain in bridge sources
  .changeset/tame-gifts-float.md
  src/components/add-funds/Bridge.tsx
  src/components/shared/AssetLogo.tsx
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: surface lifi token errors
  .changeset/five-schools-go.md
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: provision alchemy rpc urls across lifi chains
  .changeset/bright-llamas-provision.md
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: scope bridge destinations to current chain
  .changeset/metal-suits-strive.md
  src/components/add-funds/Bridge.tsx
  src/utils/lifi.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🗃️ server: add source database table
  server/database/schema.ts
Owners: @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add transaction receipt to webhook
  .changeset/quick-ants-write.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add webhook api
  .changeset/olive-onions-tan.md
  docs/src/content/docs/organization-authentication.md
  server/api/index.ts
  server/api/webhook.ts
  server/hooks/panda.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add merchant category code to webhooks
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add card webhook routing
  server/hooks/panda.ts
Owners: @nfmelendez

🐛 server: fix user webhook routing
  .changeset/loud-shoes-visit.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix webhook retries
  .changeset/long-moons-brake.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix update card webhook schema
  .changeset/dry-peas-ring.md
  docs/src/content/docs/webhooks.md
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix webhook logging for text response
  .changeset/fifty-friends-bet.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: fix webhook markdown from pr review feedback
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✅ server: verify member cannot access webhooks
  server/test/api/webhook.test.ts
Owners: @nfmelendez

🦺 server: send webhooks only to public destinations
  server/api/webhook.ts
  server/hooks/panda.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/test/utils/webhook.test.ts
  server/utils/webhook.ts
Owners: @nfmelendez

✨ server: forward exchange rate to webhooks
  .changeset/shy-foxes-trade.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🔊 server: fix multiline webhook log
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @nfmelendez

✨ app: add card limit kyc flow
  src/components/card/SpendingLimits.tsx
  src/components/home/Home.tsx
  src/components/shared/InfoAlert.tsx
  src/i18n/es-AR.json
  src/i18n/es.json
  src/i18n/pt.json
  src/utils/persona.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

✨ server: enhance webhook crud
  .changeset/brave-tigers-spin.md
  docs/src/content/docs/organization-authentication.md
  server/api/webhook.ts
  server/hooks/panda.ts
  server/test/api/webhook.test.ts
  server/test/hooks/panda.test.ts
  server/test/utils/webhook.test.ts
  server/utils/auth.ts
  server/utils/webhook.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward declined transaction webhook
  .changeset/bright-panda-decline.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: install canonicalize
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ server: implement kyc data submiss
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/test/e2e.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: improve kyc application response validation
  server/api/kyc.ts
Owners: @nfmelendez

📝 server: update kyc status
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez

✨ server: add encrypted kyc submission
  cspell.json
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add role to organization database table
  .changeset/sharp-squids-push.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add kyc role to organizations
  .changeset/upset-seas-sink.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: improve nonce usage for encrypted kyc
  .changeset/cuddly-streets-like.md
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔒️ server: strip siwe from panda application
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @nfmelendez

⚰️ server: drop kyc error in favor of service error
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @nfmelendez

🔥 server: drop header from encrypted kyc
  .changeset/calm-tigers-stop.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add kyc permissions requirement in organization guide
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✅ server: use configured domain in kyc tests
  server/test/api/kyc.test.ts
Owners: @nfmelendez
