Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

🚧 app: add translation hooks
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/CardLimits.tsx
  src/components/home/ExploreDeFi.tsx
  src/components/home/HomeActions.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/send-funds/Address.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Qr.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/settings/Settings.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/LatestActivity.tsx
  src/components/swaps/SwapDetails.tsx
  src/components/swaps/Swaps.tsx
Owners: @dieguezguille, @franm91

✨ app: configure language detector
  .changeset/fruity-dingos-behave.md
  src/app/_layout.tsx
  src/utils/languageDetector.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 server: schedule maturity jobs
  .changeset/slick-spoons-cross.md
  server/index.ts
  server/script/scheduler.ts
  server/utils/redis.ts
Owners: @cruzdanilo, @nfmelendez

🚑️ server: disable user on failed force capture
  .changeset/tangy-moments-poke.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📈 server: add http code for insufficient account liquidity
  .changeset/khaki-clocks-return.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📈 server: instrument declined reason
  .changeset/shaggy-flowers-accept.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: link to protocol app for card statement
  .changeset/long-ducks-cross.md
  src/components/pay-mode/PaymentSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix merchant icon
  .changeset/fancy-lights-add.md
  src/components/activity/ActivityItem.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: display remaining weekly limit
  .changeset/red-ideas-sip.md
  src/components/card/Card.tsx
  src/components/card/SpendingLimit.tsx
  src/components/card/SpendingLimits.tsx
  src/components/card/exa-card/CardContents.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: display repayment acknowledgment modal
  .changeset/light-snails-behave.md
  src/components/pay-mode/ManualRepaymentSheet.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix unresponsive defi banner button
  .changeset/short-humans-leave.md
  src/components/home/ExploreDeFi.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix portfolio number conversion
  .changeset/metal-steaks-attack.md
  src/components/home/AssetList.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: improve auth error reporting
  .changeset/small-times-wink.md
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: server@0.2.12, mobile@1.0.21
  .changeset/fancy-lights-add.md
  .changeset/khaki-clocks-return.md
  .changeset/light-snails-behave.md
  .changeset/long-ducks-cross.md
  .changeset/metal-steaks-attack.md
  .changeset/red-ideas-sip.md
  .changeset/shaggy-flowers-accept.md
  .changeset/short-humans-leave.md
  .changeset/small-times-wink.md
  .changeset/tangy-moments-poke.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

✨ server: return card balances
  .changeset/lemon-suits-search.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  package.json
  pnpm-lock.yaml
  server/api/card.ts
  server/api/kyc.ts
  server/package.json
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: disconnect wagmi on logout
  .changeset/fluffy-insects-battle.md
  src/components/settings/Settings.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: create auth selection component
  .changeset/grumpy-mails-crash.md
  src/components/shared/ConnectSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

📝 server: document card api
  .changeset/six-ideas-go.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: improve api documentation
  .changeset/cute-rules-write.md
  docs/src/content/docs/index.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✅ server: fix bad transaction test
  server/test/api/activity.test.ts
Owners: @nfmelendez

✨ app: implement sign-in with ethereum
  .changeset/thin-breads-look.md
  src/components/onboarding/Passkeys.tsx
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add auth ui to onboarding
  .changeset/vast-actors-guess.md
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: detect injected provider
  src/components/shared/ConnectSheet.tsx
Owners: @dieguezguille, @franm91

🚚 app: rename passkey to credential
  .changeset/fancy-grapes-double.md
  common/validation.ts
  server/api/auth/authentication.ts
  server/api/passkey.ts
  src/app/(app)/_layout.tsx
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/card-upgrade/VerifyIdentity.tsx
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
  src/utils/accountClient.ts
  src/utils/alchemyConnector.ts
  src/utils/injectedConnector.ts
  src/utils/persona.ts
  src/utils/queryClient.ts
  src/utils/server.ts
  src/utils/useIntercom.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

✨ app: handle selected auth method
  .changeset/tiny-toys-heal.md
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
  src/components/shared/ConnectSheet.tsx
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/queryClient.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 app: extract auth to a hook
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
  src/utils/useAuthentication.ts
Owners: @dieguezguille, @franm91

🚧 app: unify error handling for auth
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
Owners: @dieguezguille, @franm91

➕ app: install miniapp dependencies
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🔧 babel: patch mini apps module resolution
  babel.config.cjs
Owners: @cruzdanilo

🛂 server: update cookie settings
  .changeset/swift-oranges-wonder.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🚸 app: add app loading state component
  .changeset/many-beers-shop.md
  src/app/(app)/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add mini app connector
  .changeset/mighty-hotels-repeat.md
  src/utils/injectedConnector.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add farcaster sdk callback
  .changeset/good-readers-joke.md
  src/app/(app)/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add safe area insets in mini app
  .changeset/fifty-rocks-tap.md
  src/components/shared/SafeView.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 app: public hoist react-navigation packages
  .changeset/brown-poems-notice.md
  .npmrc
Owners: @cruzdanilo

🐛 app: open persona kyc in a new tab
  .changeset/clean-parrots-walk.md
  src/utils/persona.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: remove manual connection
  .changeset/neat-times-listen.md
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91
