Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

✅ server: fix activity hook flake
  .changeset/mighty-readers-punch.md
  server/test/hooks/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

🔨 contracts: allow optional chain id
  contracts/.gas-snapshot
  contracts/test/Fork.t.sol
Owners: @itofarina

🔧 contracts: setup ethereum for foundry
  contracts/.gas-snapshot
  contracts/foundry.toml
  contracts/test/Fork.t.sol
Owners: @itofarina

🔧 contracts: use production accounts as default
  contracts/.gas-snapshot
  contracts/deploy.json
Owners: @itofarina

✅ contracts: exa account recovery on polygon
  contracts/.gas-snapshot
  contracts/foundry.toml
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔧 contracts: disable block gas limit
  contracts/foundry.toml
Owners: @itofarina

🔨 contracts: add create3 factory deployment to redeployer
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

👷 github: set missing rpc urls
  .github/workflows/test.yaml
Owners: @cruzdanilo

🔨 contracts: read allowlist from config on redeployer
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/script/Redeployer.s.sol
Owners: @itofarina

🔨 contracts: add redeployer script
  .changeset/tender-rules-worry.md
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
  cspell.json
Owners: @cruzdanilo, @itofarina

✅ contracts: test native eth recover on secondary network
  contracts/.gas-snapshot
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: add swapper to redeployer allowlist
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🐛 server: require identity-validation completion for ramp tracking
  .changeset/ready-groups-beam.md
  server/hooks/manteca.ts
  server/test/hooks/manteca.test.ts
  server/utils/ramps/manteca.ts
Owners: @cruzdanilo, @nfmelendez

🚨 contracts: annotate forge lint exceptions
  contracts/script/IssuerChecker.s.sol
  contracts/script/ProposalManager.s.sol
  contracts/script/Redeployer.s.sol
  contracts/src/IssuerChecker.sol
  contracts/src/Refunder.sol
  cspell.json
Owners: @itofarina, @cruzdanilo

🔧 contracts: stricten foundry lint threshold
  contracts/foundry.toml
Owners: @itofarina

⬆️ dependencies: upgrade vulnerable bn.js
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

♿️ app: prefer aria label on close button
  .changeset/lemon-pots-film.md
  src/components/swaps/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: drop redundant account parameter from portfolio hook
  .changeset/green-nights-pay.md
  src/components/home/Home.tsx
  src/components/home/Portfolio.tsx
  src/components/pay-mode/Pay.tsx
  src/components/shared/AssetSelector.tsx
  src/utils/usePortfolio.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: unify add funds gap value
  .changeset/spicy-dragons-raise.md
  src/components/add-funds/AddFunds.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🌐 app: capitalize spanish translations
  .changeset/easy-parts-poke.md
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix protocol asset logos
  .changeset/quick-mangos-rescue.md
  src/components/shared/AssetSelector.tsx
  src/utils/usePortfolio.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: replace fonts
  .changeset/little-hoops-train.md
  app.config.ts
  cspell.json
  src/app/_layout.tsx
  src/assets/fonts/BDOGrotesk-DemiBold.otf
  src/assets/fonts/BDOGrotesk-Regular.otf
  src/assets/fonts/IBMPlexMono-Medm.otf
  src/assets/fonts/SplineSans-Regular.otf
  src/assets/fonts/SplineSans-SemiBold.otf
  src/components/add-funds/AddCrypto.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/card/CardDetails.tsx
  src/components/card/CardPIN.tsx
  src/components/home/Portfolio.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Contact.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/ProfileHeader.tsx
  src/components/shared/Text.tsx
  src/components/shared/TransactionDetails.tsx
  src/components/swaps/TokenInput.tsx
  tamagui.config.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: refine benefits carousel
  .changeset/lazy-planes-dance.md
  src/components/benefits/BenefitCard.tsx
  src/components/benefits/BenefitSheet.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: add vertical frame to styled button
  .changeset/salty-fans-mate.md
  src/components/shared/StyledButton.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: apply tamagui spacing tokens
  .changeset/khaki-queens-smash.md
  src/components/activity/Activity.tsx
  src/components/activity/PendingProposals.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/Bridge.tsx
  src/components/add-funds/Onboard.tsx
  src/components/add-funds/Ramp.tsx
  src/components/add-funds/Status.tsx
  src/components/card/Card.tsx
  src/components/card/SpendingLimit.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/AssetList.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/Portfolio.tsx
  src/components/loans/Amount.tsx
  src/components/loans/Asset.tsx
  src/components/loans/Installments.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Receiver.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/pay-mode/PaymentsActions.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/send-funds/Amount.tsx
  src/components/send-funds/Asset.tsx
  src/components/send-funds/Receiver.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/InstallmentSelector.tsx
  src/components/shared/LiquidationAlert.tsx
  src/components/shared/ProfileHeader.tsx
  src/components/swaps/Swaps.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: adjust tamagui tokens
  .changeset/clear-trains-move.md
  tamagui.config.ts
Owners: @cruzdanilo

💫 app: unify animation parameters
  .changeset/soft-beans-grow.md
  src/components/auth/Auth.tsx
  src/components/benefits/BenefitsSection.tsx
  src/components/card/Card.tsx
  src/components/card/exa-card/CardContents.tsx
  src/components/home/CardStatus.tsx
  src/components/home/GettingStarted.tsx
  src/components/shared/ModalSheet.tsx
  tamagui.config.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restyle action buttons
  .changeset/easy-snails-brake.md
  src/components/home/HomeActions.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: add home card images
  src/assets/images/card-bg.svg
  src/assets/images/exa.svg
Owners: @dieguezguille, @franm91

💄 app: restyle portfolio summary
  .changeset/spicy-doodles-give.md
  .maestro/subflows/copyAria.yaml
  .maestro/subflows/dismissNotifications.yaml
  .maestro/subflows/readPortfolio.yaml
  src/components/add-funds/AddFundsOption.tsx
  src/components/home/Home.tsx
  src/components/home/PortfolioSummary.tsx
  src/components/shared/Amount.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🩹 app: guard against invalid markets
  .changeset/slow-jeans-call.md
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/UpcomingPayments.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: adjust scroll view gaps
  .changeset/giant-parrots-enter.md
  src/components/card/Card.tsx
  src/components/home/Home.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: drop redundant props
  .changeset/warm-parrots-write.md
  src/components/pay-mode/Empty.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: restyle card status component
  .changeset/curly-waves-yell.md
  .maestro/flows/local.yaml
  .maestro/subflows/activateCard.yaml
  .maestro/subflows/readBenefits.yaml
  .maestro/subflows/readHome.yaml
  .maestro/subflows/verifyIdentity.yaml
  src/components/benefits/BenefitSheet.tsx
  src/components/home/CardLimits.tsx
  src/components/home/CardStatus.tsx
  src/components/home/CreditLimitSheet.tsx
  src/components/home/Home.tsx
  src/components/home/InstallmentsSheet.tsx
  src/components/home/InstallmentsSpotlight.tsx
  src/components/home/PayModeSheet.tsx
  src/components/home/SpendingLimitSheet.tsx
  src/components/home/SpendingLimitsSheet.tsx
  src/i18n/es.json
  src/utils/queryClient.ts
  src/utils/useInstallmentRates.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

📌 dependencies: deduplicate viem collapsing zod mismatch
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚚 common: extract revert reason for cross-package reuse
  .changeset/raw-gnu-fly.md
  common/revertReason.ts
  server/hooks/block.ts
  server/hooks/panda.ts
  server/utils/keeper.ts
  server/utils/revertFingerprint.ts
Owners: @cruzdanilo, @nfmelendez

♻️ app: unify activity data fetching
  .changeset/famous-spiders-carry.md
  src/app/_layout.tsx
  src/components/activity/Activity.tsx
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/loans/Loans.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/shared/LatestActivity.tsx
  src/utils/queryClient.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

♻️ app: unify processing balance data fetching
  src/components/home/PortfolioSummary.tsx
  src/components/shared/ProcessingBalance.tsx
  src/components/shared/ProcessingBalanceBanner.tsx
  src/utils/isProcessing.ts
Owners: @dieguezguille, @franm91

🥅 app: distinguish contract reverts by route and reason
  .changeset/sour-rat-pet.md
  src/app/_layout.tsx
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 app: stabilize error fingerprints and titles
  .changeset/gold-emu-try.md
  src/utils/reportError.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
