Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

⚗️
  server/utils/sardine.ts
Owners: @nfmelendez

♻️ server: kyc refactor
  .changeset/common-carrots-think.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/test/utils/persona.test.ts
  server/utils/persona.ts
  server/utils/ramps/bridge.ts
  server/utils/ramps/manteca.ts
  server/utils/ramps/shared.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: support pax assistance
  .changeset/slick-hairs-relax.md
  .do/app.yaml
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/hooks/persona.test.ts
  server/test/utils/pax.test.ts
  server/utils/pax.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🚧 server: kyc account migration
  server/script/kyc-migration.ts
  server/utils/persona.ts
Owners: @nfmelendez

🔨 wagmi: remove duplicate anvil script call
  common/wagmi.config.ts
Owners: @cruzdanilo

🎉 substreams: create substreams project
  .changeset/giant-flowers-like.md
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  substreams/.cargo/config.toml
  substreams/.gitignore
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/buf.gen.yaml
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/rust-toolchain.toml
  substreams/rustfmt.toml
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

🔨 server: generate database schema sql script
  server/package.json
Owners: @nfmelendez

➕ substreams: install handlebars
  package.json
  pnpm-lock.yaml
  substreams/package.json
Owners: @cruzdanilo

➕ substreams: install typescript
  pnpm-lock.yaml
  substreams/package.json
Owners: @cruzdanilo

🔧 substreams: setup typescript
  substreams/tsconfig.json
Owners: @cruzdanilo

🔧 eslint: setup substreams
  .eslintrc.cjs
Owners: @cruzdanilo

🔨 substreams: generate manifest from template
  substreams/.gitignore
  substreams/substreams.ts
  substreams/substreams.yaml.hbs
Owners: @cruzdanilo

🔨 substreams: generate manifest on prepare
  substreams/package.json
Owners: @cruzdanilo

🔨 substreams: generate abi for lifi event
  substreams/build.rs
Owners: @cruzdanilo

🔨 substreams: build before testing
  substreams/package.json
Owners: @cruzdanilo

👷 github: install substreams cli for test
  .github/workflows/test.yaml
Owners: @cruzdanilo

🚚 server: move dockerfile to server
  .github/workflows/server-build.yaml
  server/Dockerfile
Owners: @cruzdanilo, @nfmelendez

👷 github: match rust problems
  .github/matcher.json
  cspell.json
Owners: @cruzdanilo

🚧 substreams: swaps and sink
  server/database/schema.ts
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 substreams: contracts, github, docker, digitalocean, sql
  .do/app.yaml
  .dockerignore
  .github/workflows/substreams-deploy.yaml
  .github/workflows/substreams-production.yaml
  .github/workflows/substreams-sandbox.yaml
  cspell.json
  pnpm-lock.yaml
  server/database/schema.ts
  substreams/.gitignore
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/Dockerfile
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/rustfmt.toml
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @cruzdanilo, @nfmelendez

🚧 substreams: market updates
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 substreams: market state
  .do/app.yaml
  .github/workflows/substreams-deploy.yaml
  .github/workflows/substreams-sandbox.yaml
  cspell.json
  server/database/schema.ts
  server/drizzle.config.ts
  substreams/Dockerfile
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @cruzdanilo, @nfmelendez

🚧 borrow shares
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 fixed borrows
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 helper script
  contracts/script/Ninja.s.sol
  contracts/src/Ninja.sol
  substreams/substreams.yaml.hbs
Owners: @itofarina, @cruzdanilo

🚧 track market enters
  contracts/src/Ninja.sol
  server/database/schema.ts
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @itofarina, @nfmelendez, @cruzdanilo

🚧 price tracking
  contracts/test/mocks/MockPriceFeed.sol
  cspell.json
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
Owners: @itofarina, @cruzdanilo

🚧 substreams: store initialized accounts by factory
  server/database/schema.ts
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 collector set
  server/database/schema.ts
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 proposal manager set
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
Owners: @nfmelendez, @cruzdanilo

🚧 track proposed event
  server/database/schema.ts
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 track proposal nonce set
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
Owners: @nfmelendez, @cruzdanilo

🚧 track delay set and target allowed events
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 track missing plugin events
  server/database/schema.ts
  substreams/proto/exa.proto
  substreams/src/lib.rs
Owners: @nfmelendez, @cruzdanilo

🚧 substreams: wip
  .vscode/extensions.json
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/src/pb/.last_generated_hash
Owners: @cruzdanilo

🚧 substreams: docker fix
  substreams/Dockerfile
Owners: @cruzdanilo

🚧 substreams: fix omit price feed events
  substreams/build.rs
  substreams/src/lib.rs
Owners: @cruzdanilo

🚧 substreams: test
  .do/app.yaml
  contracts/test/mocks/BobExecute.s.sol
  cspell.json
  pnpm-lock.yaml
  server/.gitignore
  server/package.json
  server/script/firehose.ts
  server/test/anvil.ts
  server/test/mocks/database.ts
  substreams/.gitignore
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/Dockerfile
  substreams/buf.gen.yaml
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/src/pb/.last_generated_hash
  substreams/substreams.yaml.hbs
  substreams/tsconfig.json
Owners: @cruzdanilo, @itofarina, @nfmelendez

🚧 gemini: rules and settings
  .agent/rules/dev.md
  .agent/rules/git.md
  .agent/rules/nx.md
  .agent/rules/style.md
  .gemini/settings.json
Owners: @cruzdanilo

🚧 substreams: add plugin dependency
  pnpm-lock.yaml
  substreams/build.rs
  substreams/package.json
Owners: @cruzdanilo

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
