Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91

🦺 server: forbid access to ignored results
  server/api/activity.ts
Owners: @nfmelendez

✨ app: implement merchant icons
  .changeset/rare-bars-drop.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/CardActivity.tsx
  src/components/shared/Image.tsx
  src/components/shared/LatestActivity.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

👷 github: skip mobile build if no changeset
  .github/workflows/mobile-preview.yaml
Owners: @cruzdanilo

💄 app: set web root background color
  .changeset/small-toes-tickle.md
  src/app/+html.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: remove repay interest field
  .changeset/common-vans-smash.md
  src/components/pay-mode/Pay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.0.2, server@0.1.6
  .changeset/clear-socks-switch.md
  .changeset/common-vans-smash.md
  .changeset/long-bikes-raise.md
  .changeset/rare-bars-drop.md
  .changeset/small-toes-tickle.md
  .changeset/smooth-tomatoes-call.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🥅 server: recover from missing sent transaction
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @nfmelendez

🐛 server: fix panda card name
  .changeset/chatty-nails-wonder.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔧 wagmi: generate proposal manager hooks
  wagmi.config.ts
Owners: @cruzdanilo

✨ app: add proposal simulation hook
  .changeset/lovely-horses-dress.md
  src/utils/useSimulateProposal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧 server: add rollover activity
  server/api/activity.ts
  wagmi.config.ts
Owners: @nfmelendez, @cruzdanilo

🚧 roll last maturity debt
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
Owners: @itofarina

🐛 server: fix app route redirect without slash
  .changeset/afraid-papayas-heal.md
  server/index.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: recover from missing sent transaction
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @nfmelendez

🐛 server: fix panda card name
  .changeset/chatty-nails-wonder.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔧 wagmi: generate proposal manager hooks
  wagmi.config.ts
Owners: @cruzdanilo

✨ app: add proposal simulation hook
  .changeset/lovely-horses-dress.md
  src/utils/useSimulateProposal.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ server: add rollover activity
  .changeset/free-boxes-doubt.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/anvil.ts
  server/test/api/activity.test.ts
  server/test/mocks/deployments.ts
  wagmi.config.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

⚗️ app: safari
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🚧 app: fix aspect ratio on web
  src/app/+html.tsx
  src/components/card/CardDetails.tsx
  src/components/card/CardDisclaimer.tsx
  src/components/card/SpendingLimits.tsx
  src/components/card/VerificationFailure.tsx
  src/components/home/card-upgrade/CardUpgradeSheet.tsx
  src/components/onboarding/ListItem.tsx
  src/components/pay-mode/AssetSelectionSheet.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/shared/AddressDialog.tsx
  src/utils/aspectRatio.ts
Owners: @dieguezguille, @franm91

⚗️ server: rewrite request
  server/index.ts
Owners: @nfmelendez

🚧
  src/utils/useSimulateProposal.ts
  wagmi.config.ts
Owners: @dieguezguille, @franm91, @cruzdanilo

🚑 server: use current factory to create account
  .changeset/tough-walls-search.md
  server/api/auth/registration.ts
Owners: @cruzdanilo, @nfmelendez

💄 app: improve home action buttons
  .changeset/some-chicken-hang.md
  src/components/home/HomeActions.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix aspect ratio on web
  .changeset/angry-bobcats-send.md
  src/app/+html.tsx
  src/components/card/CardDetails.tsx
  src/components/card/CardDisclaimer.tsx
  src/components/card/SpendingLimits.tsx
  src/components/card/VerificationFailure.tsx
  src/components/home/card-upgrade/CardUpgradeSheet.tsx
  src/components/onboarding/ListItem.tsx
  src/components/pay-mode/AssetSelectionSheet.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/shared/AddressDialog.tsx
  src/utils/useAspectRatio.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 eslint: skip no-raw-text on title tags
  .eslintrc.cjs
Owners: @cruzdanilo

✨ app: add title and description tags to web
  .changeset/bitter-trains-thank.md
  src/app/(app)/(home)/_layout.tsx
  src/app/+html.tsx
  src/app/onboarding/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: improve card details
  .changeset/good-bats-ring.md
  src/components/card/CardDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: avoid head rendering on native
  .changeset/polite-ends-teach.md
  src/app/(app)/(home)/_layout.tsx
  src/app/onboarding/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: server@0.1.7, mobile@1.0.3
  .changeset/angry-bobcats-send.md
  .changeset/bitter-trains-thank.md
  .changeset/good-bats-ring.md
  .changeset/polite-ends-teach.md
  .changeset/some-chicken-hang.md
  .changeset/tough-walls-search.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

➕ server: install openapi dependencies
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔨 server: add script to generate openapi spec
  server/.gitignore
  server/package.json
  server/script/openapi.ts
  server/tsconfig.json
Owners: @nfmelendez

🔨 server: test openai spec generation
  server/package.json
Owners: @nfmelendez

🎉 docs: create documentation project
  .eslintrc.cjs
  docs/.gitignore
  docs/astro.config.ts
  docs/package.json
  docs/src/content.config.ts
  docs/src/content/docs/index.md
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @cruzdanilo

✨ docs: generate server api content
  .changeset/silly-points-jump.md
  docs/astro.config.ts
  docs/package.json
Owners: @cruzdanilo

👷 github: relese to sentry before final deploy step
  .github/workflows/server-deploy.yaml
Owners: @cruzdanilo

👷 github: deploy docs to github pages
  .github/workflows/docs.yaml
Owners: @cruzdanilo

🔨 docs: run astro sync on prepare
  docs/package.json
Owners: @cruzdanilo

🦺 server: spec auth and validate responses
  .changeset/honest-taxes-open.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/passkey.ts
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove unnecessary authentication query
  server/api/auth/authentication.ts
  src/utils/server.ts
Owners: @nfmelendez, @dieguezguille, @franm91
