Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✨ server: add queue on user creation
  .changeset/short-cars-return.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/hooks/activity.ts
  server/index.ts
  server/queues/alchemyQueue.ts
  server/test/api/auth.test.ts
  server/test/api/registration.test.ts
  server/test/mocks/alchemy.ts
  server/test/mocks/redis.ts
  server/test/mocks/sentry.ts
  server/test/queues/alchemyQueue.test.ts
  server/test/utils/createCredential.test.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add maturity check and worker
  .changeset/dull-candies-cheer.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/index.ts
  server/queues/maturityQueue.ts
  server/test/api/auth.test.ts
  server/test/api/registration.test.ts
  server/test/queues/maturityQueue.test.ts
  server/test/utils/hasMaturity.test.ts
  server/utils/createCredential.ts
  server/utils/hasMaturity.ts
  server/utils/redis.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: skip sentry capture for expected liquidity errors
  .changeset/many-streets-travel.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

♻️ common: decouple factory address from account init calldata
  .changeset/puny-clouds-bow.md
  common/accountInit.ts
  common/accountInitCode.ts
  src/utils/accountClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 server: handle undeployed accounts with deployless read
  .changeset/three-meteors-judge.md
  cspell.json
  server/api/kyc.ts
Owners: @cruzdanilo, @nfmelendez

♻️ app: use deployless reads for undeployed accounts
  .changeset/rich-ravens-find.md
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/home/card-upgrade/UpgradeAccount.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/send-funds/Amount.tsx
  src/components/shared/PluginUpgrade.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🍱 app: use pax latest logo
  .changeset/sweet-papers-search.md
  src/assets/images/pax.svg
Owners: @cruzdanilo, @dieguezguille, @franm91

🌐 app: add locale parameter to pax url
  .changeset/rare-taxis-boil.md
  src/components/benefits/BenefitSheet.tsx
  src/components/benefits/BenefitsSection.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 server: fix key typo
  .changeset/six-dancers-hang.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

✨️ server: add activity and push notification on card decline
  .changeset/honest-peas-stand.md
  server/api/activity.ts
  server/hooks/panda.ts
  server/test/api/activity.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: flatten ramp providers response
  .changeset/open-clowns-listen.md
  server/api/ramp.ts
  server/test/api/ramp.test.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: implement manteca ramp
  .changeset/shiny-points-eat.md
  cspell.json
  src/app/(main)/add-funds/_layout.tsx
  src/app/(main)/add-funds/kyc.tsx
  src/app/(main)/add-funds/onboard.tsx
  src/app/(main)/add-funds/ramp.tsx
  src/app/(main)/add-funds/status.tsx
  src/assets/images/ars-usdc.svg
  src/assets/images/brl-usdc.svg
  src/assets/images/denied.svg
  src/assets/images/face-id.svg
  src/assets/images/usd-usdc.svg
  src/components/add-funds/AddFiatButton.tsx
  src/components/add-funds/AddFunds.tsx
  src/components/add-funds/AddFundsOption.tsx
  src/components/add-funds/KYC.tsx
  src/components/add-funds/MantecaDisclaimer.tsx
  src/components/add-funds/Onboard.tsx
  src/components/add-funds/Ramp.tsx
  src/components/add-funds/Status.tsx
  src/components/home/Home.tsx
  src/components/home/HomeActions.tsx
  src/components/shared/InfoAlert.tsx
  src/i18n/es.json
  src/utils/completeOnboarding.ts
  src/utils/currencies.ts
  src/utils/persona.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ e2e: wait for repay and rollover execution
  .maestro/subflows/repay.yaml
  .maestro/subflows/rollover.yaml
Owners: @cruzdanilo

🔖 release: common@0.0.12, server@0.2.57, mobile@1.1.8
  .changeset/good-monkeys-hunt.md
  .changeset/many-streets-travel.md
  .changeset/mighty-guests-knock.md
  .changeset/open-clowns-listen.md
  .changeset/puny-clouds-bow.md
  .changeset/rare-taxis-boil.md
  .changeset/rich-ravens-find.md
  .changeset/shiny-points-eat.md
  .changeset/sweet-papers-search.md
  .changeset/three-meteors-judge.md
  .changeset/true-cameras-design.md
  .maestro/package.json
  CHANGELOG.md
  common/CHANGELOG.md
  common/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🩹 server: set explicit cookie path for auth endpoints
  .changeset/odd-cats-play.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @cruzdanilo, @nfmelendez

📈 server: fingerprint validator errors by code
  .changeset/warm-foxes-leap.md
  server/test/utils/validatorHook.test.ts
  server/utils/validatorHook.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: fallback session delivery via response header
  .changeset/full-doves-bark.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/index.ts
Owners: @cruzdanilo, @nfmelendez

🩹 app: mirror session cookie as header in auth flow
  .changeset/thin-cats-draw.md
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔐 app: add intercom test workspace keys
  .changeset/violet-rabbits-appear.md
  app.config.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: extract commit rules into skill
  .agent/skills/commit/SKILL.md
  AGENTS.md
  cspell.json
Owners: @cruzdanilo

🐛 app: fix manteca onboarding routing
  .changeset/thirty-states-wonder.md
  src/utils/completeOnboarding.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix manteca button loading spinner
  .changeset/shaggy-buses-hear.md
  src/components/add-funds/KYC.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix spinner crash on android
  .changeset/witty-corners-reply.md
  src/components/add-funds/Onboard.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix translation key
  .changeset/tough-fans-doubt.md
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 app: enable android native debug symbols
  .changeset/brave-llama-dance.md
  app.config.ts
Owners: @cruzdanilo

🧑‍💻 agents: add dx gitmoji note and enforce 9 options
  .agent/skills/commit/SKILL.md
Owners: @cruzdanilo

🔖 release: server@0.2.58, mobile@1.1.9
  .changeset/brave-llama-dance.md
  .changeset/full-doves-bark.md
  .changeset/odd-cats-play.md
  .changeset/shaggy-buses-hear.md
  .changeset/thin-cats-draw.md
  .changeset/thirty-states-wonder.md
  .changeset/tough-fans-doubt.md
  .changeset/violet-rabbits-appear.md
  .changeset/warm-foxes-leap.md
  .changeset/witty-corners-reply.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🧑‍💻 agents: add digitalocean and figma mcp servers
  .codex/config.toml
  .gemini/settings.json
  .mcp.json
Owners: @cruzdanilo

🧑‍💻 agents: ensure 9 options via plain text output
  .agent/skills/commit/SKILL.md
Owners: @cruzdanilo

💚 eas: relax e2e health check timeout
  .eas/workflows/local.yaml
Owners: @cruzdanilo

🦺 server: handle panda card tokenization webhook
  .changeset/warm-foxes-swim.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: handle missing panda user in card endpoint
  .changeset/gentle-panda-catch.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: handle panda card tokenization webhook
  .changeset/warm-foxes-swim.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: handle missing panda user in card endpoint
  .changeset/gentle-panda-catch.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: enforce natural language casing in commit messages
  .agent/skills/commit/SKILL.md
Owners: @cruzdanilo

🧑‍💻 agents: add sentry mcp tool restrictions
  AGENTS.md
Owners: @cruzdanilo

🧑‍💻 agents: show commit emoji footnote only when needed
  .agent/skills/commit/SKILL.md
Owners: @cruzdanilo

🥅 app: deduplicate and fingerprint unknown passkey sentry reports
  .changeset/bright-falcon-catch.md
  src/utils/server.ts
  src/utils/useAuth.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🥅 server: enrich sentry fingerprint with revert reason
  .changeset/bright-falcon-glow.md
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/hooks/block.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.59, mobile@1.1.10
  .changeset/bright-falcon-catch.md
  .changeset/bright-falcon-glow.md
  .changeset/gentle-panda-catch.md
  .changeset/warm-foxes-swim.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez
