Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

✨ server: improve nonce usage for encrypted kyc
  .changeset/cuddly-streets-like.md
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: add configuration resources
  .changeset/cute-buttons-roll.md
  docs/astro.config.ts
  docs/src/content/docs/resources.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add transaction receipt to webhook
  .changeset/quick-ants-write.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add merchant category code to webhooks
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🗃️ server: add role to organization database table
  .changeset/sharp-squids-push.md
  server/database/schema.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add kyc role to organizations
  .changeset/upset-seas-sink.md
  server/api/kyc.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

🛂 server: add auth trusted origins
  server/utils/auth.ts
Owners: @nfmelendez

🐛 server: fix webhook retries
  .changeset/long-moons-brake.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔧 wagmi: use exa factory v1.0 on base sepolia
  common/wagmi.config.ts
Owners: @cruzdanilo

🦺 server: standardize card status
  .changeset/fresh-kings-buy.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix user webhook routing
  .changeset/loud-shoes-visit.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: add create card docs
  .changeset/soft-eggs-count.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: set card art for sandbox
  .changeset/hungry-impalas-sing.md
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: improve weak pin error handling
  .changeset/wild-points-lose.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

🔥 server: remove redundant type check
  .changeset/fast-trees-prove.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix update card webhook schema
  .changeset/dry-peas-ring.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🔧 common: map base domains to panda certificates
  common/pandaCertificate.ts
Owners: @cruzdanilo

✅ server: test card statement rendering
  server/test/utils/statement.test.ts
Owners: @nfmelendez

🔧 wagmi: remove hardcoded exa factory for base sepolia
  common/wagmi.config.ts
Owners: @cruzdanilo

🐛 server: fix statement date
  server/utils/Statement.tsx
Owners: @nfmelendez

➕ app: install comlink
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

✨ app: expose address and card status to miniapps
  src/app/(auth)/_layout.tsx
Owners: @dieguezguille, @franm91

📝 docs: add kyc permissions requirement in organization guide
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

🥅 server: add expected to siwe statement error
  server/api/kyc.ts
Owners: @nfmelendez

✅ server: fix flaky withdraw mock consumption
  server/test/hooks/block.test.ts
Owners: @nfmelendez

♿️ app: add aria accessibility to repay slider
  .changeset/wild-sloths-smile.md
  src/components/pay-mode/RepayAmountSelector.tsx
  src/i18n/es.json
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ e2e: test partial repay flow
  .maestro/flows/local.yaml
  .maestro/subflows/longPressAria.yaml
  .maestro/subflows/repay.yaml
  .maestro/subflows/rollover.yaml
Owners: @cruzdanilo

🔖 release: server@0.2.63, mobile@1.1.13
  .changeset/brave-eagle-filter.md
  .changeset/brave-foxes-camp.md
  .changeset/clear-donkeys-grow.md
  .changeset/puny-sides-like.md
  .changeset/wild-sloths-smile.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

✨ server: poke account after kyc
  .changeset/silly-yaks-divide.md
  server/hooks/activity.ts
  server/hooks/persona.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/persona.test.ts
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: handle no-proposal as success in proposal execution
  .changeset/brave-falcon-catch.md
  server/hooks/block.ts
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

🧵 server: guarantee nonce order in proposal execution
  .changeset/bright-foxes-race.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: use gcp kms for allower
  .changeset/lucky-jokes-change.md
  .do/app.yaml
  cspell.json
  server/hooks/persona.ts
  server/test/hooks/persona.test.ts
  server/test/utils/allower.test.ts
  server/test/utils/gcp.test.ts
  server/utils/allower.ts
  server/utils/baseExtender.ts
  server/utils/gcp.ts
  server/utils/keeper.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

➕ server: install gcp dependencies
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🚸 app: handle invalid id flow
  .changeset/sparkly-pugs-accept.md
  src/components/add-funds/KYC.tsx
  src/components/add-funds/Onboard.tsx
  src/components/add-funds/Status.tsx
  src/i18n/es.json
  src/utils/completeOnboarding.ts
  src/utils/persona.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✅ server: fix flaky withdraw mock consumption
  server/test/hooks/block.test.ts
Owners: @nfmelendez

✨ server: add source to segment events
  .changeset/lemon-mice-look.md
  server/api/card.ts
  server/hooks/activity.ts
  server/hooks/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: add react pdf renderer
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🔧 server: enable react tsx
  server/tsconfig.json
Owners: @nfmelendez

🔧 server: apply react lint rules
  server/eslint.config.mjs
Owners: @nfmelendez

✨ server: add card statement
  .changeset/stale-owls-work.md
  server/api/activity.ts
  server/test/api/activity.test.ts
  server/utils/Statement.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
