Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✨ server: add merchant category code to webhooks
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add transaction receipt to webhook
  .changeset/quick-ants-write.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add kyc role to organizations
  .changeset/upset-seas-sink.md
  server/api/kyc.ts
  server/database/schema.ts
  server/test/api/kyc.test.ts
  server/utils/auth.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: add panda base collector
  server/utils/panda.ts
Owners: @nfmelendez

✨ server: allow account on firewall
  server/hooks/persona.ts
Owners: @nfmelendez

🗃️ server: add card product id
  .changeset/neat-cooks-admire.md
Owners: @cruzdanilo

🔧 common: add panda constants
  .changeset/full-dolls-vanish.md
Owners: @cruzdanilo

🛂 app: disable webauthn on base
  src/components/auth/Auth.tsx
  src/components/shared/ConnectSheet.tsx
  src/utils/useAuth.ts
Owners: @dieguezguille, @franm91

⚰️ server: drop legacy persona variable
  .do/app.yaml
  server/script/openapi.ts
  server/utils/persona.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🦺 server: add panda merchant category code
  .changeset/quiet-bars-walk.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🛂 server: add auth trusted origins
  server/utils/auth.ts
Owners: @nfmelendez

👷 github: split server build and deploy
  .github/workflows/server-base-sepolia.yaml
  .github/workflows/server-build.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-sandbox.yaml
Owners: @cruzdanilo

👷 github: deploy sandbox server to base
  .github/workflows/server-base.yaml
Owners: @cruzdanilo

🧱 digitalocean: render app template
  .do/app.yaml
  .do/render.js
Owners: @cruzdanilo

⬆️ dependencies: upgrade drizzle kit
  .changeset/breezy-knives-begin.md
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez

⚗️ app: debug base app
  src/app/+html.tsx
  src/utils/accountClient.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

⚗️ wagmi: use exa factory v1.0 on base sepolia
  wagmi.config.ts
Owners: @cruzdanilo

🐛 server: fix webhook retries
  .changeset/long-moons-brake.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

🦺 server: standardize card status
  .changeset/fresh-kings-buy.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: create signature card
  .changeset/soft-eggs-count.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🍱 app: add visa signature migration assets
  src/assets/images/platinum-full.svg
  src/assets/images/signature-banner.png
Owners: @dieguezguille, @franm91

🔧 cspell: add ellipsize
  cspell.json
Owners: @cruzdanilo

⚗️ app: reconnect sender
  src/components/add-funds/Bridge.tsx
Owners: @dieguezguille, @franm91

✨ server: add sardine
  .changeset/forty-ads-lie.md
  .do/app.yaml
  server/hooks/panda.ts
  server/hooks/persona.ts
  server/script/openapi.ts
  server/test/hooks/panda.test.ts
  server/test/hooks/persona.test.ts
  server/test/mocks/sardine.ts
  server/utils/createCredential.ts
  server/utils/sardine.ts
  server/vitest.config.mts
Owners: @cruzdanilo, @nfmelendez

🐛 app: fix available balance text wrap
  .changeset/chatty-camels-leave.md
Owners: @cruzdanilo

✨ app: implement visa signature migration
  .changeset/shaky-taxes-drop.md
  src/components/home/Home.tsx
  src/components/home/VisaSignatureBanner.tsx
  src/components/home/VisaSignatureSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 dependencies: patch svg transformer
  package.json
  patches/react-native-svg-transformer.patch
  pnpm-lock.yaml
Owners: @cruzdanilo

➕ app: add svgr core
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🐛 dependencies: patch svg transformer
  package.json
  patches/react-native-svg-transformer.patch
  pnpm-lock.yaml
Owners: @cruzdanilo

🐛 app: prefix svg ids
  .changeset/ten-boats-talk.md
  svgr.config.mjs
Owners: @cruzdanilo

➕ app: add svgr core
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🐛 app: prefix svg ids
  .changeset/ten-boats-talk.md
  svgr.config.mjs
Owners: @cruzdanilo

🔖 release: server@0.2.42, mobile@1.0.40
  .changeset/ten-boats-talk.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

💄 app: improve card migration layout
  .changeset/poor-towns-roll.md
  src/components/home/VisaSignatureSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

📝 server: document card api
  .changeset/six-ideas-go.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

📝 server: improve api documentation
  .changeset/cute-rules-write.md
  docs/src/content/docs/index.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: add react pdf renderer
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez
