Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

👷 github: propagate maestro installer pipe failures
  .github/workflows/test.yaml
Owners: @cruzdanilo

🧑‍💻 agents: optimize commit skill token usage with prep subagent
  .agent/skills/commit/SKILL.md
Owners: @cruzdanilo

🚚 agents: agents: move canonical config
  .agent
  .agents/rules/app.md
  .agents/rules/contracts.md
  .agents/rules/docs.md
  .agents/rules/markdown.md
  .agents/rules/server.md
  .agents/rules/typescript.md
  .agents/rules/yaml.md
  .agents/skills/ask-questions-if-underspecified/SKILL.md
  .agents/skills/commit/SKILL.md
  .agents/skills/composition-patterns/SKILL.md
  .claude/rules
  .claude/skills
  .cursor/rules
  .gemini/settings.json
  AGENTS.md
  package.json
Owners: @cruzdanilo

🧑‍💻 agents: extend changeset consumer definition to external analysts
  .agents/skills/commit/SKILL.md
Owners: @cruzdanilo

🥅 server: decode external swap errors in proposal execution
  .changeset/red-tigers-accept.md
  server/hooks/block.ts
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: establish inlining and ordering code conventions
  AGENTS.md
Owners: @cruzdanilo

🔖 release: server@0.2.60
  .changeset/red-tigers-accept.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

👷 github: authenticate streamingfast release api calls
  .eas/workflows/local.yaml
  .github/workflows/test.yaml
Owners: @cruzdanilo

🥅 server: fingerprint keeper errors for sentry grouping
  .changeset/bright-foxes-catch.md
  server/hooks/block.ts
  server/hooks/panda.ts
  server/test/hooks/activity.test.ts
  server/test/hooks/panda.test.ts
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.60
  .changeset/bright-foxes-catch.md
  .changeset/red-tigers-accept.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: add test gitmoji usage note to commit skill
  .agents/skills/commit/SKILL.md
Owners: @cruzdanilo

✅ server: stabilize proposal error wait assertions
  server/test/hooks/block.test.ts
Owners: @nfmelendez

✅ server: cover panda side effects and untested webhook branches
  server/test/hooks/panda.test.ts
  server/test/mocks/onesignal.ts
  server/test/mocks/sardine.ts
Owners: @nfmelendez

✨ server: add maturity check and worker
  .changeset/dull-candies-cheer.md
  server/index.ts
  server/queues/maturityQueue.ts
  server/test/queues/maturityQueue.test.ts
  server/test/utils/hasMaturity.test.ts
  server/utils/hasMaturity.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: add queue on user creation
  .changeset/short-cars-return.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/hooks/activity.ts
  server/hooks/block.ts
  server/index.ts
  server/queues/alchemyQueue.ts
  server/test/api/auth.test.ts
  server/test/api/registration.test.ts
  server/test/mocks/alchemy.ts
  server/test/mocks/redis.ts
  server/test/mocks/sentry.ts
  server/test/queues/alchemyQueue.test.ts
  server/test/utils/createCredential.test.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
  server/utils/redis.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade nx
  common/package.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

⬆️ dependencies: upgrade vulnerable axios
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🥅 server: fingerprint poke errors in activity hook
  .changeset/warm-dogs-poke.md
  server/hooks/activity.ts
  server/test/hooks/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: fingerprint block hook errors
  .changeset/bright-falcon-hunt.md
  server/hooks/block.ts
  server/test/hooks/block.test.ts
Owners: @cruzdanilo, @nfmelendez

🥅 app: catch biometric error in passkey creation
  .changeset/honest-nails-relax.md
  cspell.json
  src/i18n/es.json
  src/utils/useAuth.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧
  src/components/add-funds/AddFiatButton.tsx
  src/components/add-funds/Onboard.tsx
  src/components/add-funds/Ramp.tsx
  src/components/add-funds/Status.tsx
  src/utils/completeOnboarding.ts
  src/utils/server.ts
Owners: @dieguezguille, @franm91

🦺 server: acknowledge panda dispute events
  .changeset/neat-eel-walk.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🧑‍💻 agents: clarify comment marker conventions
  AGENTS.md
Owners: @cruzdanilo

🔨 contracts: allow optional chain id
  contracts/.gas-snapshot
  contracts/test/Fork.t.sol
Owners: @itofarina

🔧 contracts: setup ethereum for foundry
  contracts/.gas-snapshot
  contracts/foundry.toml
  contracts/test/Fork.t.sol
Owners: @itofarina

✨ contracts: add redeployer script
  .changeset/sparkly-socks-grin.md
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
  cspell.json
Owners: @cruzdanilo, @itofarina

👷 github: set missing rpc urls
  .github/workflows/test.yaml
Owners: @cruzdanilo

🔧 contracts: use production accounts as default
  contracts/.gas-snapshot
  contracts/deploy.json
Owners: @itofarina

✅ contracts: exa account recovery on polygon
  contracts/.gas-snapshot
  contracts/foundry.toml
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔧 contracts: disable block gas limit
  contracts/foundry.toml
Owners: @itofarina

✅ contracts: test native eth recover on secondary network
  contracts/.gas-snapshot
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: read allowlist from config on serial proxier
  contracts/.gas-snapshot
  contracts/deploy.json
  contracts/script/Redeployer.s.sol
Owners: @itofarina

🔨 contracts: add create3 factory deployment to serial proxier
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🔨 contracts: add swapper to serial proxier allowlist
  contracts/.gas-snapshot
  contracts/script/Redeployer.s.sol
  contracts/test/Redeployer.t.sol
Owners: @itofarina

🥅 server: skip retries for replay reverts
  .changeset/silent-streets-jump.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: fix key typo
  .changeset/six-dancers-hang.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

✨️ server: add activity and push notification on card decline
  .changeset/honest-peas-stand.md
  server/api/activity.ts
  server/hooks/panda.ts
  server/test/api/activity.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🥅 server: skip retries for replay reverts
  .changeset/silent-streets-jump.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📈 server: normalize sentry event names
  .changeset/chatty-glasses-throw.md
  server/hooks/manteca.ts
Owners: @cruzdanilo, @nfmelendez

📈 server: track onramp and ramp account events
  .changeset/silent-trains-wear.md
  server/hooks/manteca.ts
  server/test/hooks/manteca.test.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso
