Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

👽️ app: remove card provider logic
  .changeset/shaky-donuts-create.md
  src/components/card/Card.tsx
  src/components/card/CardDetails.tsx
  src/components/card/CardPIN.tsx
  src/components/shared/PluginUpgrade.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: server@0.2.0, mobile@1.0.12
  .changeset/all-places-fall.md
  .changeset/angry-doodles-taste.md
  .changeset/beige-pianos-strive.md
  .changeset/bitter-socks-invent.md
  .changeset/calm-trams-feel.md
  .changeset/chatty-nails-wonder.md
  .changeset/chubby-squids-create.md
  .changeset/every-monkeys-agree.md
  .changeset/gentle-singers-refuse.md
  .changeset/green-masks-eat.md
  .changeset/happy-guests-push.md
  .changeset/honest-baboons-wish.md
  .changeset/long-lions-cheat.md
  .changeset/loud-mice-cry.md
  .changeset/loud-rocks-wink.md
  .changeset/modern-teeth-glow.md
  .changeset/nine-radios-vanish.md
  .changeset/olive-chefs-lay.md
  .changeset/ready-beans-poke.md
  .changeset/shaky-donuts-create.md
  .changeset/silver-coins-dance.md
  .changeset/small-ideas-worry.md
  .changeset/soft-knives-camp.md
  .changeset/some-moons-bet.md
  .changeset/sour-wombats-relax.md
  .changeset/sweet-hounds-argue.md
  .changeset/ten-terms-take.md
  .changeset/three-games-flash.md
  .changeset/wild-cobras-cross.md
  CHANGELOG.md
  docs/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🔧 app: ignore patches for fingerprint
  .changeset/easy-cases-eat.md
  fingerprint.config.cjs
Owners: @cruzdanilo

🚑️ server: fix set pin payload
  .changeset/plain-bags-hang.md
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.1, mobile@1.0.13
  .changeset/easy-cases-eat.md
  .changeset/plain-bags-hang.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🐛 app: fix portfolio scroll view on web
  .changeset/ripe-yaks-stay.md
  src/components/home/Portfolio.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix portfolio back behavior
  .changeset/salty-zebras-rest.md
  src/components/home/Portfolio.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚑 app: fix repay with usdc
  .changeset/chubby-dingos-lay.md
  src/components/pay-mode/Pay.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

👔 common: increment max installments
  .changeset/dry-pants-hear.md
  common/MAX_INSTALLMENTS.ts
Owners: @cruzdanilo

💬 app: prefer max installments constant
  .changeset/every-areas-tan.md
  src/components/pay-mode/PaySelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: update add funds ui
  .changeset/wide-memes-tell.md
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/home/SpendingLimitsSheet.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: server@0.2.2, common@0.0.5, mobile@1.0.14
  .changeset/chubby-dingos-lay.md
  .changeset/dry-pants-hear.md
  .changeset/every-areas-tan.md
  .changeset/ripe-yaks-stay.md
  .changeset/salty-zebras-rest.md
  .changeset/wide-memes-tell.md
  CHANGELOG.md
  common/CHANGELOG.md
  common/package.json
  package.json
  pnpm-lock.yaml
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @Mateo-Soso, @nfmelendez

🎉 substreams: create substreams project
  .changeset/giant-flowers-like.md
  cspell.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  substreams/.cargo/config.toml
  substreams/.gitignore
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/buf.gen.yaml
  substreams/build.rs
  substreams/package.json
  substreams/proto/exa.proto
  substreams/rust-toolchain.toml
  substreams/rustfmt.toml
  substreams/src/lib.rs
  substreams/substreams.yaml
Owners: @cruzdanilo

🔨 server: generate database schema sql script
  server/package.json
Owners: @nfmelendez

➕ substreams: install handlebars
  package.json
  pnpm-lock.yaml
  substreams/package.json
Owners: @cruzdanilo

➕ substreams: install typescript
  pnpm-lock.yaml
  substreams/package.json
Owners: @cruzdanilo

🔧 substreams: setup typescript
  substreams/tsconfig.json
Owners: @cruzdanilo

🔧 eslint: setup substreams
  .eslintrc.cjs
Owners: @cruzdanilo

🔨 substreams: generate manifest from template
  substreams/.gitignore
  substreams/substreams.ts
  substreams/substreams.yaml.hbs
Owners: @cruzdanilo

🔨 substreams: generate manifest on prepare
  substreams/package.json
Owners: @cruzdanilo

🤡 contracts: emit lifi event on mock swap
  contracts/.gas-snapshot
  contracts/test/mocks/MockSwapper.sol
Owners: @itofarina

🔨 substreams: generate abi for lifi event
  substreams/build.rs
Owners: @cruzdanilo

🔨 substreams: build before testing
  substreams/package.json
Owners: @cruzdanilo

👷 github: install substreams cli for test
  .github/workflows/test.yaml
Owners: @cruzdanilo

🚚 server: move dockerfile to server
  .github/workflows/server-deploy.yaml
  server/Dockerfile
Owners: @cruzdanilo, @nfmelendez

🥅 server: recover from missing sent transaction
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @nfmelendez

⚗️ app: mitigate ref warnings on web
  src/components/activity/Activity.tsx
  src/components/card/Card.tsx
  src/components/home/Home.tsx
  src/components/pay-mode/PayMode.tsx
Owners: @dieguezguille, @franm91

✨ server: add rollover activity
  .changeset/free-boxes-doubt.md
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/BobExecute.s.sol
  server/api/activity.ts
  server/test/anvil.ts
  server/test/api/activity.test.ts
  server/test/mocks/deployments.ts
  wagmi.config.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

♻️ server: filter repay caller locally
  server/api/activity.ts
Owners: @nfmelendez

✨ server: add liquidation activity
  .changeset/late-shoes-raise.md
  contracts/src/IExaAccount.sol
  contracts/test/mocks/Bob.s.sol
  contracts/test/mocks/MockPriceFeed.sol
  server/api/activity.ts
  server/test/api/activity.test.ts
Owners: @cruzdanilo, @itofarina, @nfmelendez

🎨 server: extract borrow activity and export type
  server/api/activity.ts
Owners: @nfmelendez

✨ app: implement rollover activity
  .changeset/slimy-lies-hunt.md
  src/components/activity/ActivityItem.tsx
  src/components/activity/details/ActivityDetails.tsx
  src/components/activity/details/RolloverActivity.tsx
  src/components/activity/details/RolloverDetails.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 server: remove duplicated merchant data
  server/api/activity.ts
  server/hooks/panda.ts
Owners: @nfmelendez

🔥 server: remove wrong health check
  server/hooks/panda.ts
Owners: @nfmelendez

✨ server: handle transaction complete event
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @nfmelendez

🚧 server: add settlement to card activity
  server/api/activity.ts
  server/test/api/activity.test.ts
  src/components/activity/details/PurchaseDetails.tsx
Owners: @nfmelendez, @dieguezguille, @franm91

🚧 substreams: swaps and sink
  server/database/schema.ts
  substreams/Cargo.lock
  substreams/Cargo.toml
  substreams/proto/exa.proto
  substreams/src/lib.rs
  substreams/substreams.yaml.hbs
Owners: @nfmelendez, @cruzdanilo

🚧 substreams
  .do/app.yaml
  .github/workflows/substreams-deploy.yaml
  .github/workflows/substreams-production.yaml
  .github/workflows/substreams-sandbox.yaml
  cspell.json
  substreams/Dockerfile
Owners: @cruzdanilo

🚧
  substreams/build.rs
  substreams/proto/exa.proto
  substreams/src/lib.rs
Owners: @cruzdanilo

💬 app: remove redundant network name
  .changeset/eleven-streets-share.md
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/shared/CopyAddressSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91
