Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✨ server: allow better auth users to change email
  server/utils/auth.ts
Owners: @nfmelendez

📝 docs: update siwe authentication example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

✨ server: return card id
  .changeset/wicked-lies-invent.md
  server/api/card.ts
  server/test/api/card.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: update kyc status code
  server/api/kyc.ts
  server/test/api/kyc.test.ts
Owners: @nfmelendez

🐛 server: fix patch response validation
  .changeset/tidy-worms-sin.md
  server/api/card.ts
Owners: @cruzdanilo, @nfmelendez

⬆️ dependencies: upgrade exactly protocol
  contracts/.gas-snapshot
  contracts/package.json
  contracts/remappings.txt
  contracts/test/mocks/Protocol.s.sol
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @itofarina, @cruzdanilo

🚀 contracts: deploy all contracts to base-sepolia
  contracts/.gas-snapshot
  contracts/broadcast/ExaPlugin.s.sol/84532/run-latest.json
  contracts/broadcast/ExaPreviewer.s.sol/84532/run-latest.json
  contracts/broadcast/IssuerChecker.s.sol/84532/run-latest.json
  contracts/broadcast/Mocks.s.sol/84532/run-latest.json
  contracts/broadcast/ProposalManager.s.sol/84532/run-latest.json
  contracts/broadcast/Refunder.s.sol/84532/run-latest.json
  contracts/deploy.json
Owners: @itofarina

👷 github: deploy sandbox server to base-sepolia
  .github/workflows/server-sandbox.yaml
Owners: @cruzdanilo

🔧 common: setup alchemy for base-sepolia
  .changeset/light-otters-report.md
  common/alchemyAPIKey.ts
  common/alchemyGasPolicyId.ts
Owners: @cruzdanilo

🔧 server: setup alchemy for base networks
  .changeset/silent-walls-relax.md
  server/hooks/activity.ts
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: create alchemy's block hook automatically
  .changeset/weak-bottles-allow.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

⚡️ server: skip empty alchemy blocks
  .changeset/easy-things-start.md
  server/hooks/block.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: extract alchemy api headers
  server/hooks/block.ts
  server/utils/alchemy.ts
  server/utils/createCredential.ts
Owners: @nfmelendez

♻️ server: extract alchemy webhook finder
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

♻️ server: extract alchemy webhook creator
  server/hooks/block.ts
  server/utils/alchemy.ts
Owners: @nfmelendez

✨ server: create alchemy's activity hook automatically
  .changeset/polite-animals-slide.md
  server/hooks/activity.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

🐛 server: prevent array overlap errors when no hashes
  .changeset/wise-knives-glow.md
  server/api/activity.ts
Owners: @cruzdanilo, @nfmelendez

🔧 server: setup sentry for base networks
  server/instrument.cjs
Owners: @nfmelendez

🦺 server: improve kyc application response validation
  server/api/kyc.ts
Owners: @nfmelendez

📝 docs: improve create organization example
  docs/src/content/docs/organization-authentication.md
Owners: @cruzdanilo

⬇️ server: downgrade sentry libraries
  .changeset/new-horses-trade.md
  pnpm-lock.yaml
Owners: @cruzdanilo

📝 docs: add configuration resources
  .changeset/cute-buttons-roll.md
  docs/astro.config.ts
  docs/src/content/docs/resources.md
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add transaction receipt to webhook
  .changeset/quick-ants-write.md
  docs/src/content/docs/webhooks.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
  server/utils/keeper.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: improve nonce usage for encrypted kyc
  docs/src/content/docs/organization-authentication.md
  server/api/kyc.ts
  server/database/schema.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

♻️ server: refactor example into a class
  server/script/example.ts
Owners: @nfmelendez

🔨 server: add integration example
  server/script/example.ts
Owners: @nfmelendez

🔨 server: add encrypted kyc to example
  server/script/example.ts
Owners: @nfmelendez

🚧 optimize lifi
  src/components/add-funds/Bridge.tsx
  src/utils/lifi.ts
Owners: @dieguezguille, @franm91

✨ server: deploy account for non-market assets
  .changeset/rotten-wasps-end.md
  server/hooks/activity.ts
  server/test/hooks/activity.test.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.2.34
  .changeset/rotten-wasps-end.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

✨ app: display swaps on account deploy
  .changeset/stale-things-listen.md
  src/components/defi/DeFi.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: unify usdc display value
  .changeset/wet-doors-fry.md
  src/components/home/CardLimits.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔖 release: mobile@1.0.34
  .changeset/stale-things-listen.md
  .changeset/wet-doors-fry.md
  CHANGELOG.md
  package.json
Owners: @cruzdanilo, @Mateo-Soso

✨ server: implement kyc data submission
  .changeset/four-numbers-worry.md
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/test/api/card.test.ts
  server/test/api/kyc.test.ts
  server/utils/kyc.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: document card api
  .changeset/six-ideas-go.md
  server/api/card.ts
  server/test/api/card.test.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

📝 server: improve api documentation
  .changeset/cute-rules-write.md
  docs/src/content/docs/index.md
  server/api/auth/authentication.ts
  server/api/card.ts
  server/api/kyc.ts
  server/script/openapi.ts
  server/utils/kyc.ts
Owners: @cruzdanilo, @nfmelendez

✨ server: forward webhooks to source
  .changeset/violet-plums-move.md
  cspell.json
  server/api/kyc.ts
  server/database/schema.ts
  server/hooks/panda.ts
  server/test/api/kyc.test.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

📝 docs: document server webhooks
  docs/astro.config.ts
  docs/src/content/docs/webhooks.md
Owners: @cruzdanilo

✨ server: add cancel card
  .changeset/few-moles-push.md
  server/api/card.ts
  server/utils/panda.ts
  server/utils/segment.ts
Owners: @cruzdanilo, @nfmelendez

➕ server: add react pdf renderer
  pnpm-lock.yaml
  server/package.json
Owners: @cruzdanilo, @nfmelendez
