Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91, @Mateo-Soso

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91
/CHANGELOG.md @Mateo-Soso

✨ app: add auth ui to onboarding
  .changeset/vast-actors-guess.md
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚚 app: rename passkey to credential
  .changeset/fancy-grapes-double.md
  common/validation.ts
  server/api/auth/authentication.ts
  server/api/passkey.ts
  src/app/(app)/_layout.tsx
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/card-upgrade/VerifyIdentity.tsx
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
  src/utils/accountClient.ts
  src/utils/alchemyConnector.ts
  src/utils/injectedConnector.ts
  src/utils/persona.ts
  src/utils/queryClient.ts
  src/utils/server.ts
  src/utils/useIntercom.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🚧 app: implement svg blockie
  src/components/shared/Blockie.tsx
  src/components/shared/ProfileHeader.tsx
Owners: @dieguezguille, @franm91

🚧 app: implement address qr code
  src/components/add-funds/AddCrypto.tsx
  src/components/add-funds/QrCodeSheet.tsx
Owners: @dieguezguille, @franm91

🚧 app: install react-native-qrcode-styled
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🚧
  src/components/pay-mode/Pay.tsx
Owners: @dieguezguille, @franm91

✨ app: implement partial repays
  .changeset/chatty-words-sit.md
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/RepayAmountSelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚧
  src/components/pay-mode/Pay.tsx
Owners: @dieguezguille, @franm91

✨ app: handle selected auth method
  .changeset/tiny-toys-heal.md
  src/components/onboarding/Carousel.tsx
  src/components/onboarding/Passkeys.tsx
  src/components/shared/ConnectSheet.tsx
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/queryClient.ts
  src/utils/server.ts
  src/utils/useAuth.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add mini app connector
  .changeset/mighty-hotels-repeat.md
  src/utils/injectedConnector.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 babel: patch mini apps module resolution
  babel.config.cjs
Owners: @cruzdanilo

✨ app: add farcaster sdk callback
  .changeset/good-readers-joke.md
  src/app/(app)/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚸 app: add app loading state component
  .changeset/many-beers-shop.md
  src/app/(app)/_layout.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

➕ app: install miniapp dependencies
  cspell.json
  package.json
  pnpm-lock.yaml
Owners: @cruzdanilo

🛂 server: allow auth cookie for other sites
  .changeset/swift-oranges-wonder.md
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/utils/createCredential.ts
Owners: @cruzdanilo, @nfmelendez

✨ app: set defaults for mini app query
  .changeset/good-papayas-give.md
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix text alignment on token selection modal
  .changeset/stupid-beds-grow.md
  src/components/swaps/SelectorModal.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: remove manual connection
  .changeset/neat-times-listen.md
  src/components/shared/ProfileHeader.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add use open browser hook
  .changeset/stupid-masks-draw.md
  src/utils/useOpenBrowser.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

⚰️ app: drop unused components
  src/components/add-funds/AddCryptoAbout.tsx
  src/components/add-funds/AddFiat.tsx
  src/components/add-funds/AddFiatButton.tsx
  src/components/home/Processing.tsx
  src/components/more/More.tsx
  src/components/send-funds/Values.tsx
  src/components/settings/Beta.tsx
  src/components/settings/ContractUtils.tsx
  src/components/settings/WalletUtils.tsx
Owners: @dieguezguille, @franm91

🎨 app: abstract sheet component
  .changeset/shaggy-times-repair.md
  src/components/add-funds/SupportedAssetsSheet.tsx
  src/components/card/CardDetails.tsx
  src/components/card/CardDisclaimer.tsx
  src/components/card/CardPIN.tsx
  src/components/card/SpendingLimits.tsx
  src/components/card/VerificationFailure.tsx
  src/components/defi/AboutDefiSheet.tsx
  src/components/defi/ConnectionSheet.tsx
  src/components/defi/DisconnectSheet.tsx
  src/components/defi/IntroSheet.tsx
  src/components/home/SpendingLimitsSheet.tsx
  src/components/home/card-upgrade/CardUpgradeSheet.tsx
  src/components/pay-mode/AssetSelectionSheet.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/send-funds/ReviewSheet.tsx
  src/components/shared/ConnectSheet.tsx
  src/components/shared/CopyAddressSheet.tsx
  src/components/shared/ModalSheet.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/swaps/SelectorModal.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix maturity validation on payment sheet
  .changeset/plenty-dodos-float.md
  src/components/pay-mode/PaymentSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix opening of external links in mini app
  .changeset/angry-keys-camp.md
  src/components/activity/details/OperationDetails.tsx
  src/components/activity/details/TransactionDetails.tsx
  src/components/card/Card.tsx
  src/components/defi/AboutDefiSheet.tsx
  src/components/defi/DeFi.tsx
  src/components/home/HomeDisclaimer.tsx
  src/components/home/Portfolio.tsx
  src/components/pay-mode/PayMode.tsx
  src/components/pay-mode/PaymentSheet.tsx
  src/components/send-funds/Details.tsx
  src/components/shared/Error.tsx
  src/components/shared/TransactionDetails.tsx
  src/components/swaps/Swaps.tsx
  src/utils/useIntercom.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🎨 app: remove redundant conversions
  .changeset/small-words-wonder.md
  src/components/defi/DeFi.tsx
  src/components/loans/LoanSummary.tsx
  src/components/loans/Maturity.tsx
  src/components/loans/Review.tsx
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/Pay.tsx
  src/components/pay-mode/PaySelector.tsx
  src/components/pay-mode/UpcomingPayments.tsx
  src/components/roll-debt/RollDebt.tsx
  src/components/shared/AssetSelector.tsx
  src/components/shared/Failure.tsx
  src/components/shared/GradientScrollView.tsx
  src/components/shared/PaymentScheduleSheet.tsx
  src/components/shared/Pending.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix web sheets not rendering
  .changeset/new-rivers-find.md
  src/app/+html.tsx
  src/components/shared/ConnectSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: drop unused routes
  .changeset/smart-ghosts-cross.md
  src/app/(app)/(home)/more.tsx
  src/app/(app)/add-funds/_layout.tsx
  src/app/(app)/add-funds/add-crypto-about.tsx
  src/app/(app)/add-funds/add-fiat.tsx
  src/app/(app)/send-funds/_layout.tsx
  src/app/(app)/send-funds/processing.tsx
  src/app/(app)/send-funds/review.tsx
  src/app/(app)/send-funds/withdraw.tsx
  src/app/(app)/settings/beta/index.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: update manual repayment sheet
  .changeset/red-trams-guess.md
  src/components/pay-mode/ManualRepaymentSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: fix pay selector input style
  .changeset/hot-places-think.md
  src/components/pay-mode/PaySelector.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

💄 app: align overdue and upcoming payments styles
  .changeset/six-vans-go.md
  src/components/pay-mode/OverduePayments.tsx
  src/components/pay-mode/UpcomingPayments.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix gradient scroll view on web
  .changeset/proud-garlics-pay.md
  src/components/shared/GradientScrollView.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: handle multiple connectors
  .changeset/legal-bananas-enjoy.md
  src/utils/accountClient.ts
  src/utils/injectedConnector.ts
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

✏️ app: remove extra space
  .changeset/full-hornets-press.md
  src/components/getting-started/GettingStarted.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix roll debt screen error state
  .changeset/brave-words-call.md
  src/components/roll-debt/RollDebt.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix gradient scroll view padding
  .changeset/every-loops-begin.md
  src/components/shared/GradientScrollView.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 app: public hoist react-navigation packages
  .npmrc
Owners: @cruzdanilo

🎨 app: prefer shorter parameter name
  src/components/pay-mode/PaySelector.tsx
Owners: @dieguezguille, @franm91

💄 app: fix shared progress screens styles
  .changeset/salty-loops-start.md
  src/components/shared/Failure.tsx
  src/components/shared/Success.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

✨ app: add safe area insets in mini app
  .changeset/fifty-rocks-tap.md
  .changeset/upset-seas-battle.md
  src/components/shared/SafeView.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: fix rollover intro state
  .changeset/witty-cats-smell.md
  src/components/pay-mode/PaymentSheet.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🐛 app: filter out duplicated contacts
  .changeset/cold-clouds-trade.md
  src/components/send-funds/RecentContacts.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91
