Repository exactly/exa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cruzdanilo, @itofarina, @nfmelendez, @dieguezguille, @franm91

.github/CODEOWNERS:

* @cruzdanilo
/contracts/ @itofarina
/server/ @nfmelendez
/src/ @dieguezguille @franm91

🐛 app: fix purchase simulator scrollview
  .changeset/long-teams-sleep.md
  src/components/pay-later/SimulatePurchase.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🚑 server: fix panda transaction type validation
  .changeset/brave-lamps-fail.md
  server/hooks/panda.ts
  server/test/hooks/panda.test.ts
Owners: @cruzdanilo, @nfmelendez

🐛 app: fix error reporter imports
  .changeset/eager-moles-check.md
  src/components/pay-later/PaymentSheet.tsx
  src/components/roll-debt/RollDebt.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

👽 app: adapt server endpoints to support object responses
  .changeset/lazy-rabbits-knock.md
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/card-upgrade/VerifyIdentity.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: drop code from api error handling
  .changeset/cute-buttons-search.md
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/components/home/card-upgrade/VerifyIdentity.tsx
  src/utils/queryClient.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 eslint: forbid global error reporter
  .eslintrc.cjs
Owners: @cruzdanilo

🔧 typescript: improve project boundaries
  server/tsconfig.json
  tsconfig.json
  tsconfig.node.json
Owners: @nfmelendez, @cruzdanilo

➖ dependencies: remove typedoc and config
  .gitignore
  package.json
  pnpm-lock.yaml
  typedoc.json
Owners: @cruzdanilo

🎨 server: extract api from root
  .changeset/tidy-tools-shine.md
  server/api/index.ts
  server/index.ts
  src/utils/server.ts
Owners: @cruzdanilo, @nfmelendez, @dieguezguille, @franm91

🦺 server: integrate auth into hono native validation
  server/api/activity.ts
  server/api/card.ts
  server/api/index.ts
  server/api/kyc.ts
  server/api/passkey.ts
  server/middleware/auth.ts
  server/test/mocks/auth.ts
Owners: @nfmelendez

🦺 server: improve session http-only cookie validation
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
Owners: @nfmelendez

👽 app: adapt server endpoints to support object responses
  .changeset/lazy-rabbits-knock.md
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
  src/utils/server.ts
Owners: @cruzdanilo, @dieguezguille, @franm91

🔥 app: drop code from api error handling
  .changeset/cute-buttons-search.md
  src/components/card/Card.tsx
  src/components/getting-started/GettingStarted.tsx
  src/components/home/GettingStarted.tsx
Owners: @cruzdanilo, @dieguezguille, @franm91

🔧 changesets: rename exa repo
  .changeset/config.json
Owners: @cruzdanilo

🔖 app: bump major version
  .changeset/grumpy-shrimps-act.md
Owners: @cruzdanilo

🔨 scripts: spellcheck changesets
  package.json
Owners: @cruzdanilo

✏️ changesets: fix typo
  .changeset/long-teams-sleep.md
Owners: @cruzdanilo

🔧 cspell: ignore foundry broadcasts
  cspell.json
Owners: @cruzdanilo

💚 server: rename sentry project
  server/package.json
Owners: @nfmelendez

🔖 server: bump minor version
  .changeset/fine-windows-rest.md
Owners: @cruzdanilo

🥅 server: recover from missing sent transaction
  server/test/utils/keeper.test.ts
  server/utils/keeper.ts
Owners: @nfmelendez

🚧 server: fault tolerance
  server/utils/keeper.ts
Owners: @nfmelendez

🚧
  server/test/anvilClient.ts
  server/test/mocks/publicClient.ts
  server/test/utils/keeper.test.ts
  server/test/utils/publicClient.test.ts
  server/utils/keeper.ts
  server/utils/publicClient.ts
Owners: @nfmelendez

🚧
  .changeset/quick-birds-dream.md
  .eslintrc.cjs
  server/test/hooks/panda.test.ts
  server/test/spanIt.ts
  server/test/taskName.ts
Owners: @cruzdanilo, @nfmelendez

🚑 server: increment nonce after weth withdraw
  .changeset/loud-dryers-lead.md
  server/hooks/block.ts
  server/test/hooks/block.test.ts
  server/test/mocks/deployments.ts
Owners: @cruzdanilo, @nfmelendez

🔖 release: server@0.1.1
  .changeset/loud-dryers-lead.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🚨 digitalocean: fix spellchecker errors
  .do/app.yaml
  cspell.json
Owners: @cruzdanilo

🔨 scripts: spellcheck dot files and directories
  package.json
Owners: @cruzdanilo

🚑 server: fix panda card month validation
  .changeset/violet-badgers-write.md
  server/hooks/panda.ts
  server/utils/panda.ts
Owners: @cruzdanilo, @nfmelendez

🔨 scripts: decrease git abbreviation length
  package.json
Owners: @cruzdanilo

🧱 docker: ignore scripts on pnpm deploy
  Dockerfile
Owners: @cruzdanilo

📈 server: enable traces in development
  server/instrument.cjs
Owners: @nfmelendez

📈 server: add persona validation issues to context
  .changeset/beige-crabs-feel.md
  cspell.json
  server/utils/persona.ts
Owners: @cruzdanilo, @nfmelendez

📈 server: add flatten issues to validation context
  server/api/auth/authentication.ts
  server/api/auth/registration.ts
  server/api/kyc.ts
  server/hooks/cryptomate.ts
  server/hooks/panda.ts
  server/hooks/persona.ts
Owners: @nfmelendez

🧱 docker: drop sentry release script
  Dockerfile
Owners: @cruzdanilo

🧱 docker: drop expo devtools argument
  Dockerfile
Owners: @cruzdanilo

🚚 github: rename version workflow
  .github/workflows/version.yaml
Owners: @cruzdanilo

👷 github: deploy server to digitalocean
  .do/app.yaml
  .github/workflows/deploy.yaml
  .github/workflows/production.yaml
  .github/workflows/sandbox.yaml
Owners: @cruzdanilo

🔖 release: server@0.1.2
  .changeset/beige-crabs-feel.md
  .changeset/violet-badgers-write.md
  server/CHANGELOG.md
  server/package.json
Owners: @cruzdanilo, @nfmelendez

🐛
  contracts/.gas-snapshot
  contracts/src/ExaPlugin.sol
  contracts/src/ProposalManager.sol
  contracts/test/ExaPlugin.t.sol
Owners: @itofarina
